[2016-11-08 12:53] davsclaus opened #212 "vertx-maven-plugin to easily package (and run) vertx application"
The examples I have seen for vert.x all uses maven shade plugin to package the application as a fat-jar. This plugin is very verbose / complex / confusing / and hard to use. You can easily make a type mistake and nobody on the planet can remember how to add it and have go look for some existing xml and copy/paste it.

All the other cool kids on the block like Spring Boot, WildFly-Swarm etc provide

[2016-11-08 13:28] pmlopes commented on #212
This is not an issue per se. Playing the _"devil's advocate here"_, if xml is verbose why not switch to other build tools? For example with `gradle` one can do:

[code]

Or with maven why not have a super pom with the shade plugin already configured? What benefits would it bring us to build another clone of `maven-shade-plugin` with a preset of defaults filled in so the xml is reduced?

On the oth

[2016-11-08 13:36] davsclaus commented on #212
Yes the example is for container apps and hence it has f-m-p also. Ideally all you need is maven compiler plugin (to set java 8) and then vertx.

[2016-11-08 13:41] davsclaus commented on #212
switching to other build tools is not a solution for everybody. Its nice that gradle can do something simpler, but there will be different build tools for different people.

Not all projects can inherit from your pom, projects have their own parent pom etc. The idea is to stay out of their lawn, and let them easily use vert.x. Not have to copy 50 lines of shade plugin that is total WTF for users.

[2016-11-08 13:43] davsclaus commented on #212
Also ideally you should not set those manifest entries at all. The vertx-maven-plugin can scan your project and auto detect that.

Make using and running vert.x first class experience for developers. You created your own vertx junit runner to run unit tests as shown in the guide: http://vertx.io/blog/my-first-vert-x-3-application/ but dont make it easy to run the app.

[2016-11-08 13:45] kameshsampath commented on #212
we can do something like what [felix maven bundle ](http://felix.apache.org/documentation/subprojects/apache-felix-maven-bundle-plugin-bnd.html)  plugin does to generate the OSGi JAR and Manifest

[2016-11-08 13:47] rhuss commented on #212
@pmlopes I wonder if you take the effort to implement and support a `org.apache.maven.plugins.shade.resource.AppendingTransformer` implementation `io.vertx.core.spi.VerticleFactory` why is that so much different than supporting a vertx-maven-plugin (or gradle-plugin to balance things) ?

It could be a simple as

[code]

This would:
- Select `io.vert.core.Launcher` as main class
- Checks fo a singl

[2016-11-08 14:04] cescoffier commented on #212
@rhuss I never thought about that, but it's a very good idea.

[2016-11-08 15:48] pmlopes commented on #212
`io.vertx.core.spi.VerticleFactory` is not related to `maven-shade-plugin`. It is a basic interface for a service loader and we're talking about choices. Fat jars can be made with maven shade and they can also be written with less xml:

[code]

And let's be honest here if you do [spring](https://spring.io/guides/gs/maven/) development, that is exactly the same xml you need to know for it (see [lin

[2016-11-08 16:11] davsclaus commented on #212
And then Spring created Spring Boot and it changed the landscape. SB users dont see all that dodgy shade plugin.

https://spring.io/guides/gs/spring-boot/

And their pom is as follows
https://github.com/spring-guides/gs-spring-boot/blob/master/complete/pom.xml

[2016-11-08 16:17] pmlopes commented on #212
I understand that, but i also understand that vert.x is not opionated, so having a plugin for maven can be a good idea **but** not the only way. For example users might want to deploy apps using the plain old classpath full of jars e.g.:

[code]

Or use other tools (but that is not the point here).

[2016-11-08 16:31] rhuss commented on #212
@pmlopes I agree completely, that such a plugin shouldn't not force users to use it as the only option. Of course you can even still use the maven-shade-plugin and all other techniques.  It's also not about changing a single line of vert.x code, but as an additional option. Same as Spring users have the option to package their Spring apps with various means.

Another advantage of such a plugin (or

[2016-11-08 16:35] pmlopes commented on #212
@rhuss I totally agree with your comment and of course you're free to make such plugin.

[2016-11-10 13:32] tleveque opened #213 "Events from vertx event bus to camel are not processed asynchronously"
When a Camel processor execute blocking code, the event loop is blocked.
The root cause is that camel processor process is not async but synchronous even if you use AsyncProcessorConverterHelper to convert the processor to async one as described by Javadoc of the AsyncProcessorConverterHelper class:

A simple converter that can convert any {@link Processor} to an {@link AsyncProcessor}.
Processing

[2016-11-10 14:51] pmlopes commented on #213
@tleveque would you mind to move this issue to: https://github.com/vert-x3/vertx-camel-bridge

[2016-11-10 17:43] tleveque commented on #213
@pmlopes sure, it is done.

[2016-11-11 13:04] cescoffier commented on #213
Issue opened there: https://github.com/vert-x3/vertx-camel-bridge/issues/18

[2016-11-11 13:05] #213 closed, assigned to nobody

[2016-11-16 12:12] pconway11 opened #214 "Web access logging"
I would like to see vertx web implement some kind of access logs, which most web developers will be used to using for debug purposes with other web servers e.g. apache / nginx

refs:
https://en.wikipedia.org/wiki/Common_Log_Format
https://gist.github.com/jbowes/1065230

[2016-11-16 12:19] pconway11 commented on #214
just found LoggerHandler ...

[2016-11-16 12:19] #214 closed, assigned to nobody

[2016-11-16 13:15] InfoSec812 commented on #211
Julien,

[code]

will certainly take a look, though I expect my ramp-up time will be drawn
out.

Deven

On Sun, Nov 6, 2016 at 9:46 AM, Julien Viet notifications@github.com
wrote:

[2016-11-17 08:11] kevinmonster911 opened #215 "how to intercept the RouteContext.response().end() method"

[2016-11-17 08:12] kevinmonster911 commented on #215
I just want to do something before the response has been sent

[2016-11-17 11:29] pmlopes commented on #215
If you're looking for support you should use the project forum:

https://groups.google.com/forum/#!forum/vertx

You're probably looking for this:

http://vertx.io/docs/apidocs/io/vertx/ext/web/RoutingContext.html#addHeadersEndHandler-io.vertx.core.Handler-

http://vertx.io/docs/apidocs/io/vertx/ext/web/RoutingContext.html#addBodyEndHandler-io.vertx.core.Handler-

[2016-11-17 11:29] #215 closed, assigned to nobody

[2016-11-18 01:08] kevinmonster911 commented on #215
tks @pmlopes

[2016-11-21 08:56] davsclaus commented on #212
There is a plugin at the fabric8 project
https://github.com/fabric8io/vertx-maven-plugin

Docs at
https://vmp.fabric8.io/

A release is going to maven central this week

[2016-11-21 09:35] cescoffier commented on #212
@davsclaus and it works pretty well.

[2016-11-23 13:24] pmlopes commented on #144
The remaining PR on web is still required

[2016-11-23 14:11] pmlopes commented on #208
We will need an extra method in the providers to validate token, of course this is different across providers so some work is needed here.

* google: https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=1/fFBGRNJru1FQd44AzqT3Zg
* keykloak: /realms/{YOUR_REALM_HERE}/protocol/openid-connect/token/introspect?token=access_token
* etc...

[2016-11-24 21:53] javadevmtl commented on #208
Here is more info if you like: https://keycloak.gitbooks.io/authorization-services-guide/content/topics/service/protection/token-introspection.html

[2016-11-28 09:21] #144 closed, assigned to pmlopes

[2016-11-28 19:15] pmlopes commented on #179
@skullcrasher I'm reading again the spec and from what I understand the implicit flow is a flow to be used by browser based applications or mobile applications. Since the entire source code is available to the browser, they cannot maintain the confidentiality of their client secret, so the secret is not used in this case.

If the application is running on a browser I'm asking myself what is the po

[2016-11-28 19:17] pmlopes commented on #179
Reference: https://tools.ietf.org/html/draft-ietf-oauth-v2-15#section-4.2
I'll mark this invalid, please reopen if you disagree.

[2016-11-28 19:17] #179 closed, assigned to nobody

[2016-12-06 01:49] snowballJiang opened #216 "Consult vert.x a multithreade problem"
The program starts with 3 threads, the thread pool is set to 2, but the result is only two threads.

Program code is as follows：

package org.snowball;
import io.vertx.core.DeploymentOptions;
import io.vertx.core.Vertx;
import io.vertx.core.VertxOptions;

public class App {
public static void main(String[] args) {
int MAX_WORKER_COUNT = 2;
System.out.println("Hello World!");
VertxOptions vopt = ne

[2016-12-12 16:15] chefhoobajoob opened #217 "Add polyglot support for service proxy stub implementations"
Please consider adding this capability, or some alternative to the ServiceProxy concept that enables polyglot implementations of services. We have a few event bus interfaces that can only be specified on paper because the implementations are javascript.

[2016-12-12 16:26] pmlopes commented on #217
Service Proxies leverage on the codegen project so they should work with all supported languages if i'm not mistaken.

[2016-12-12 16:29] pmlopes commented on #217
As a reference see:

https://github.com/pmlopes/kambi-2016/blob/master/data-storage-client/src/main/resources/Client.groovy
https://github.com/pmlopes/kambi-2016/blob/master/frontend/src/main/resources/server.js#L13

They are both Groovy and JS proxies of:

https://github.com/pmlopes/kambi-2016/blob/master/data-storage-service/src/main/java/io/vertx/workshop/data/DataStorageService.java

[2016-12-12 16:29] cescoffier commented on #217
@pmlopes the client yes, but not the implementation. Service proxies are based on Java interface. This concept does not really exist in some language such as ... JavaScript.

[2016-12-12 16:32] pmlopes commented on #217
@chefhoobajoob @cescoffier you're right I didn't read the issue properly.

[2016-12-13 07:25] MicSpring opened #218 "Problem while deploying mutiple verticles with VerticleFactory using Launcher"
I am trying to deploy multiple verticles using VerticleFactory.
But everytime only one verticle is getting deployed.

I found all my verticle factories are present in verticleFactories concurrenthashMap through verticleFactories() method of DeploymentManager.java.

Upon checking the source code I found that the doDeployVerticle() method in DeploymentManager.java have a "return" statement without a

[2016-12-13 07:28] cescoffier commented on #218
The launcher deploys only the 'main verticle', this verticle has to deploys the other verticles. A verticle matches a single verticle factory, meaning that when a matching factory is found it is deployed using this factory.

Maybe I miss something, can you provide a reproducer or give more details ?

[2016-12-13 13:20] MicSpring commented on #218
Thanks a lot for your response.

I was under the impression that doDeployVerticle() method in DeploymentManager.java will iterate though the Colection and deploy each verticle correspnding to its factory.

So I have one question here If the launcher deploys only the 'main verticle', and the main verticle has to deploy the other verticles then why we can register multiple verticle factories and hol

[2016-12-14 13:45] cescoffier commented on #218
The service factories let you support different type of verticle: java, groovy, js, RX…. A verticle can be deployed by only one factory.

[2016-12-14 16:15] luolong opened #219 "Async ReadStream implementation based on the database query resultset."
Currently, the JDBCClient has an ability to perform asynchronous queries and I can use query callback to parse the list of results returned from the database, but there are use cases where ReadStream is more natural way to process results from the database query.

For example, when polling database for additional data and sending it off to an EventBus for further processing (i.e. generating update

[2016-12-14 16:22] pmlopes commented on #219
This has just landed: https://github.com/vert-x3/vertx-sql-common/pull/31 I think it covers your issue.

[2016-12-15 09:46] yayj opened #220 "ServerWebSocket::reject cannot be invoked in handlers set by HttpServer::websocketHandler"
In my scenario, HTTP handshake comes in to trigger HttpServer::websocketHandler, and it's necessary to start some asynchronized operations to decide whether handshake should be rejected or not. The code might look like:

[code]

Unfortunately, `ServerWebSocket::reject` will be always failed because of handshake established immediately after `HttpServer::websocketHandler` returned.

[2016-12-15 09:58] pmlopes commented on #219
@luolong Can we close this issue then?

[2016-12-15 12:18] pmlopes commented on #157
Issue moved to [vert-x3/vertx-web #496](https://github.com/vert-x3/vertx-web/issues/496) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:18] #157 closed, assigned to nobody

[2016-12-15 12:19] pmlopes commented on #208
Issue moved to [vert-x3/vertx-auth #109](https://github.com/vert-x3/vertx-auth/issues/109) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:19] #208 closed, assigned to nobody

[2016-12-15 12:22] #210 closed, assigned to nobody

[2016-12-15 12:22] pmlopes commented on #210
Issue moved to [vert-x3/vertx-web #497](https://github.com/vert-x3/vertx-web/issues/497) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:23] pmlopes commented on #198
Issue moved to [vert-x3/vertx-web #498](https://github.com/vert-x3/vertx-web/issues/498) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:23] #198 closed, assigned to nobody

[2016-12-15 12:25] #207 closed, assigned to pmlopes

[2016-12-15 12:25] pmlopes commented on #207
Issue moved to [vert-x3/vertx-web #499](https://github.com/vert-x3/vertx-web/issues/499) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:27] timove opened #221 "vertx-web StaticHandler: add `setDefaultContentEncoding` method"
It's not unusual to have static text web resources (esp. html, css) encoded in UTF-8 regardless of the production system's settings. My local machine e.g. yields `windows-1252` for `Charset.defaultCharset().name()` but I prefer to have my html files UTF-8 encoded, so they don't rely on the environment. To have german umlauts and other characters render correctly, I need to change the `defaultConte

[2016-12-15 12:27] pmlopes commented on #185
This has been merged: https://github.com/vert-x3/vertx-configuration

[2016-12-15 12:27] #185 closed, assigned to nobody

[2016-12-15 12:34] pmlopes commented on #145
This has been fixed on sql-common and jdbc-client modules

[2016-12-15 12:34] #145 closed, assigned to nobody

[2016-12-15 12:38] pmlopes commented on #49
We have now kotlin bindings so this is not an issue.

[2016-12-15 12:38] #49 closed

[2016-12-15 12:40] pmlopes commented on #221
Issue moved to [vert-x3/vertx-web #500](https://github.com/vert-x3/vertx-web/issues/500) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-15 12:40] #221 closed, assigned to nobody

[2016-12-15 18:58] MicSpring commented on #218
Thanks again for your comments.

Following your suggestion I tried to deploy multiple Verticles using a Single Verticle (i.e. the master). The single master verticle is deployed using VerticleFactory and other verticles are deployed using master verticle. My intention is to use Google Guice for DI in Vertx app.

To achieve this I was following a project hosted in GitHub, but there has been only a

[2016-12-15 19:19] pmlopes commented on #220
You can solve this by running the reject in the next iteration of the event loop:

[code]

[2016-12-16 01:17] yayj commented on #220
It seems not working. Vertx still reports `java.lang.IllegalStateException: Cannot reject websocket, it has already been written to` and HTTP handshake has been already succeeded. I guess the implementation might be located in line 759-769 of `HttpServerImpl.java`:

[code]

[2016-12-16 09:37] luolong commented on #219
yes

[2016-12-16 09:37] #219 closed, assigned to nobody

[2016-12-19 08:24] cescoffier commented on #218
Looks good to me.

[2016-12-19 10:21] MicSpring commented on #218
Thanks a lot.

[2016-12-19 10:21] #218 closed, assigned to nobody

[2016-12-20 13:31] pmlopes commented on #216
@snowballJiang can you describe what the problem is and what your program tries to achieve?

[2016-12-21 09:00] andrewwh opened #222 "Vertx-web getWithRegex with named capture groups"
It would be nice to use getWithRegex with named capture groups such as `/(?<section>[^/]+)/?`. Such that you can use context.request().getParam("section") rather than context.request().getParam("param0").

[2016-12-21 09:14] tsegismont commented on #216
@pmlopes this one duplicates eclipse/vert.x#1731 which has been closed after invitation to the user forum (without further action from the reporter).

[2016-12-23 19:29] awaisraad opened #223 "Compose Future In Vertx Differently"
I don't like the way we compose Future, and AsyncHandler result in Vertx. If we could associate directly the callback to the operations success or failure, that will be much better. It should be similar to how they do ajax calls in Jquery, or Angular1.x.

`Future<String> future =`
       `new FutureBuilder<String>()`
          `.success(System.out::println)`
          `.failure(err -> {`

[2016-12-30 03:08] cinterloper opened #224 "Event Bus Bridge subscription propagation across the cluster"
I have a cluster of 3 Vert.X nodes

1 vertical on exactly 1 node opens an outbound web socket connection, receives a stream of messages, and forwards them to event bus channels (based on data in the messages).

all 3 nodes run protocol bridges (tcp, sockjs).

when i connect to one of the bridge interfaces with an external program (vertx3-eventbus-client.js for example) and subscribe to a channel n

[2016-12-30 03:32] torahmike opened #225 "Upgrade TLS Connection support (RFC 2817)"
It would be great to have the ability to detect incoming non-SSL connection requests when running in SSL mode and upgrade them to SSL.

RFC - https://tools.ietf.org/html/rfc2817

Apache supports this since version 2.1

[2017-01-02 14:59] alexlehm commented on #225
I wonder if that is used at all, most web pages use a 301 redirect to switch to https and the virtual ssl hosting is solved by creating subject alt names in the certificate

[2017-01-04 02:45] torahmike commented on #225
That would work only in situations where the default ports 80/443 are used. There's no way I know of to promote a connection on the same port within Vert.x, currently.

[2017-01-04 13:41] alexlehm commented on #225
Obviously its not possible on a single port but there is really no use case where a client connects to a http connection on a high port just to upgrade to ssl, either the connection has to be ssl where the client will connect with ssl first hand or it is optional in which case 2 ports are the preferred solution I would think.

[2017-01-04 21:41] jponge commented on #150
This should be done with TCP IMHO.

[2017-01-05 03:32] jaymine commented on #194
"TIME_OUT waiting for reply" means one of your handler was waiting and It didn't get the response.

[2017-01-05 03:37] abdlquadri commented on #150
Hi @vietj,

I am just seeing this requirement.

How far is this implementation away from the desired goal? https://github.com/abdlquadri/vertx-eventbus-java

I am willing to upgrade it to an acceptable level with proper guidance from you guys.

Thanks.

[2017-01-05 08:26] vietj opened #226 "Socket.io support"
From : https://github.com/eclipse/vert.x/issues/1436

[2017-01-05 10:03] vietj commented on #150
there is an existing implementation here https://github.com/abdlquadri/vertx-eventbus-java

[2017-01-05 10:03] vietj commented on #150
@abdlquadri great, that would be awesome

[2017-01-05 10:03] vietj commented on #150
@abdlquadri we can discuss it on vertx-dev google group, what do you think ?

[2017-01-05 11:31] abdlquadri commented on #150
@vietj, that's alright. Thanks.

[2017-01-07 08:10] #223 closed, assigned to nobody

[2017-01-07 08:24] vietj commented on #223
@awaisraad why don't you make this a library and share it in Vert.x Awesome ?

[2017-01-08 08:37] awaisraad commented on #223
Glad to hear from you.

Sure. But, could you take a look at the code again, all it has is just one class. The same can be achieved, up to some extent, with Future.compose(...). That's why I closed this issue.

[2017-01-08 09:22] gadieichhorn opened #227 "Cleaner OSGi support"
Would like to see better/cleaner support for OSGi.

* separation of API and implementation bundles

Thanks.

@vietj for your group post request for suggestions.
[https://groups.google.com/forum/#!topic/vertx/duFVIcSR0zg](url)

[2017-01-09 13:20] manish-panwar commented on #223
@awaisraad It would be great if we have it part of Verx or Vertx-awesome! Thanks @awaisraad for the implementation/suggestion!!!

[2017-01-09 19:22] pmlopes commented on #224
@cinterloper this does seem like a bug, since you already did so much work are you willing to make a pull request?

[2017-01-09 19:24] pmlopes commented on #227
Seperation of API and implementation is a topic that has popped up a few times, one thing to be careful is that this could break the semver API. This requires good thinking on how to do it with minimal impact if applicable to 3.x code base.

[2017-01-09 23:13] awaisraad commented on #223
Will do it soon. Thanks to you both.

[2017-01-10 07:25] gadieichhorn commented on #227
@pmlopes I agree, it is not an easy task.
it's a good practice for non OSGi projects too, I found it useful practice on other platforms and languages.

[2017-01-10 12:49] #216 closed, assigned to nobody

[2017-01-12 10:32] genofire opened #228 "Website vertx.io per HTTPS access able"

[2017-01-12 10:33] genofire opened #229 "Website vertx.io per IPv6 access able"
Without no words

[2017-01-12 10:54] pmlopes commented on #228
This is a limitation of our hosting (github.com) and we can't do anything about it for the moment.

[2017-01-12 10:55] #228 closed, assigned to nobody

[2017-01-12 12:24] genofire commented on #228
Why did not use the vert-x3.github.io domain or host it on his own.

[2017-01-12 18:16] alexlehm commented on #229
github, see #228

[2017-01-12 18:16] #229 closed, assigned to nobody

[2017-01-12 18:24] alexlehm commented on #228
Because its not portable (github.io) and because it costs money for hosting.

[2017-01-14 10:28] genofire commented on #228
https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/

Or should i host it? ^^

[2017-01-14 12:40] vietj commented on #228
Above everything, GitHub hosting is handy because you can interact with the web server files with git.

[2017-01-14 14:36] alexlehm commented on #228
Cloudflare would actually work, but I fail to see why this is even relevant, everything that is downloaded is hosted elsewhere, either on maven or on bintray.

[2017-01-14 14:37] alexlehm commented on #228
Cloudflare would actually work, but I fail to see why this is even relevant, everything that is downloaded is hosted elsewhere, either on maven or on bintray.

[2017-01-16 08:06] IonelDem opened #230 "Error while trying to call an URL when the port is omitted"
When using the `HttpClientRequest` like the following:

`HttpClientRequest request = wsClient.request(HttpMethod.GET, url.getPath());`

I have the following error:

`SEVERE: Unhandled exception
rx.exceptions.OnErrorNotImplementedException: port out of range:-1
	at rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.call(InternalObservableUtils.java:386)
	at rx.internal.util.Internal

[2017-01-16 08:38] genofire commented on #228
@vietj there are webserver which could handle files with git -> https://caddyserver.com/docs/git

@alexlehm
"Privacy by default" ^^ that disregard - bye

[2017-01-16 09:36] tsegismont commented on #230
Hi,

Can you post your question to the vertx forum ? Not everyone in the
community monitors GH repos.

Please add a bit more context as well (longer code snippet).

Thank you

2017-01-16 9:06 GMT+01:00 IonelDem <notifications@github.com>:

[2017-01-16 10:20] IonelDem commented on #230
By the vertx forum, you mean the Vertx developers group ?

[2017-01-16 10:39] tsegismont commented on #230
No, the Vert.x user group:
https://groups.google.com/forum/?fromgroups#!forum/vertx

See http://vertx.io/community/

2017-01-16 11:20 GMT+01:00 IonelDem <notifications@github.com>:

[2017-01-16 10:55] IonelDem commented on #230
Thank you. I will update the group with my issue.

Best regards

[2017-01-16 17:55] alexlehm commented on #230
@IonelDem how are you constructing your wsClient object? probably its missing the setDefaultPort property

edit: could you please post a reproducer to the vertx group? it will be easier to analyse with that

[2017-01-17 08:50] IonelDem commented on #230
Hello @alexlehm

Here is the complete code i use. It is simple.

[code]

The URL I want to reach is some time an HTTPS url or a simple HTTP in my intranet.
In every url I have the same error as displayed above and below in my previous post.

`rx.exceptions.OnErrorNotImplementedException: port out of range:-1`

For example, the following URL won't work:

This one will work:

[2017-01-17 13:20] IonelDem commented on #230
Probleme solved. Thank you all. See the group;
https://groups.google.com/forum/?fromgroups=#!topic/vertx/HCILTON4HY0

[2017-01-17 13:20] #230 closed, assigned to nobody

[2017-01-18 14:02] pmlopes commented on #212
Closing this issue since there is an external maven plugin now.

[2017-01-18 14:02] #212 closed, assigned to nobody

[2017-01-19 09:58] tsegismont commented on #16
Update the title as CLI help should list main options as well (e.g. `vertx run -help`)

[2017-01-22 17:23] elad-yosifon opened #231 "bug: HttpClient.getNow() does not handle exceptions or timeouts"
Vert.x version: v3.3.3

### how to reproduce:
[code]
### Expected:
response handler triggers the exceptionHandler.

### Actual:
vert.x throws an internal exception `SEVERE: io.netty.channel.ConnectTimeoutException: connection timed out: /169.254.169.254:80` which cannot be caught or handled.

[2017-01-22 17:45] alexlehm commented on #231
Yes, that is correct, please use get() if you want to register an exception handler.
Since the error happens during establishing of the connection, the handler for response is not called, so the handlers are not registered.

[2017-01-22 18:14] cescoffier commented on #231
When using `get`, don't forget to call `end` to emit the request.

[2017-01-22 18:30] vietj commented on #231
and soon use the web-client instead :-)

[2017-01-22 18:30] vietj commented on #231
can we close this issue ?

[2017-01-24 09:39] alasdairg opened #232 "Thread blocked in Vertx code enumerating network interfaces"
Ideally this code should be non-blocking?

io.vertx.core.VertxException: Thread blocked
	at java.net.NetworkInterface.getAll(Native Method)
	at java.net.NetworkInterface.getNetworkInterfaces(NetworkInterface.java:343)
	at io.netty.util.internal.MacAddressUtil.bestAvailableMac(MacAddressUtil.java:58)
	at io.netty.channel.DefaultChannelId.defaultMachineId(DefaultChannelId.java:127)
	at io.netty.chan

[2017-01-24 10:53] pmlopes commented on #217
I was thinkering on this and managed to get it working in a "hackish" way:

https://github.com/pmlopes/vertx3-nashorn.next/blob/master/services/src/main/resources/service.js

The interface defines the API and then the JS verticle implements it.

[2017-01-24 18:11] alexlehm commented on #232
which version of vert.x are you using? I think this was a netty issue that was fixed at some point.

[2017-01-24 18:19] alasdairg commented on #232
I believe it's version 3.3.3 ... (Certainly that is the artifact version in
my pom file)

On 24 Jan 2017 6:11 pm, "Alexander Lehmann" <notifications@github.com>
wrote:

[2017-01-24 23:07] alexlehm commented on #232
Sorry, I confused this with another issue.
The code is in a static initializer in the netty code for class DefaultChannelId, I don't think this can be changed on the level of vert.x.

On the plus side, it will only block once since in the initializer code :-)

[2017-01-25 07:23] vietj commented on #232
yes, this is rather a netty issue. you should investigate why it is slow and appears as blocking.

[2017-01-25 07:32] vietj commented on #232
well netty/jdk :-)

[2017-01-25 13:03] kjeremi opened #233 "NPE in vertx-consul-client"
consulClient.getValues fails with a Null Pointer Exception if one the values returned by consul is empty (to reproduce create an empty key withconsulUI)

Here is what is returned by consul:

The NPE is thrown in the decode method: io.vertx.ext.consul.impl.KVParser:
line 25 :

May I suggest to check the return of json.getString("Value") before passing it to the decoder ?

Thanks

Consul version :

[2017-01-25 13:07] ruslansennov commented on #233
thank you

[2017-01-25 19:55] javadevmtl commented on #151
+1 I had similar situation here: https://groups.google.com/forum/#!searchin/vertx/javadevmtl%7Csort:relevance/vertx/sPqBE79tx2U/EAkRgfhqEgAJ

Each user gets their own unique eventbus address. So even if you have common address like com.xxx.chat you also can have com.xxx.chat,user1-abcd, this allows to pub/sub eb messages to that specific user.

You have to rely on the browser to call unregister. F

[2017-01-25 21:32] ruslansennov commented on #233
@kjeremi please update your snapshot

[2017-01-26 09:00] kjeremi commented on #233
I confirm this is fixed. Thanks a lot for your reactivity !

[2017-01-26 09:03] #233 closed, assigned to nobody

[2017-01-27 13:01] pmlopes opened #234 "vertx-eventbus.js single location"
Currently the source code for the sockjs bus bridge client is maintained here:

https://github.com/vert-x3/vertx-web/tree/master/vertx-web/src/client

And then replicated here:

https://github.com/vert-x3/vertx-bus-bower

And copied here:

https://github.com/vert-x3/vertx-stack/tree/master/stack-npm/src/main/npm/client

We should align it to just one place

[2017-01-27 15:03] pmlopes commented on #227
Related to #139

[2017-01-27 17:29] cescoffier commented on #234
Actually, it's maintained on in https://github.com/vert-x3/vertx-web/tree/master/vertx-web/src/client.

In https://github.com/vert-x3/vertx-bus-bower, the file is copied during the release process but not maintained. (I should have a big warning in the README to say to user to not use the issue tracker).

In https://github.com/vert-x3/vertx-stack/tree/master/stack-npm/src/main/npm/client, it needs

[2017-02-01 15:50] dano commented on #189
I was thinking it might be worthwhile to switch to RxJava2 when I convert my project from using xyzObservable methods to RxXyz methods, but it seems the RxJava2 integration isn't quite ready. What's the status of the rxjava2 branch at this point?

[2017-02-01 21:01] BobbyBakes opened #235 "Misspelling in documentation"
￼http://vertx.io/docs/vertx-service-proxy/java/

The second method takes an instance of DeliveryOptions where you **con** configure the message delivery (such as the timeout).

[2017-02-01 21:03] tsegismont commented on #235
Thanks for the pointer. Would you like to contribute the fix?

2017-02-01 22:01 GMT+01:00 BobbyBakes <notifications@github.com>:

[2017-02-01 21:19] BobbyBakes commented on #235
Sure thing

[2017-02-01 21:22] dsetton commented on #125
Hi Paulo (@pmlopes),

I have a similar issue, with a maven project with several modules. Where should I run the npm command? I've tried a few possibilities, but none fixed the problem.

Thanks

[2017-02-02 04:30] BobbyBakes commented on #235
Where can i pull from?

[2017-02-02 07:43] cescoffier commented on #235
From there: https://github.com/vert-x3/vertx-service-proxy/blob/master/src/main/java/io/vertx/serviceproxy/package-info.java#L271

[2017-02-02 07:47] pmlopes commented on #125
assuming you're using maven and your source lives under `src/main/resouces` that's where you should install any npm related dependencies.

[2017-02-02 14:01] cescoffier commented on #166
Marked it as `wontfix` - understand `won't fix for now`

[2017-02-02 14:03] cescoffier commented on #221
I've set the `invalid` flag as it's tracked somewhere else.

[2017-02-02 14:06] cescoffier commented on #219
Set the invalid flag because the issue moved to another project.

[2017-02-02 14:08] cescoffier commented on #136
Issue marked as invalid just to avoid collecting it in the release notes.

[2017-02-02 14:09] cescoffier commented on #212
The vertx maven plugin is now available from Maven Central. 1.0.3 release freshly delivered!

[2017-02-02 14:11] davsclaus commented on #212
Yay good to hear

[2017-02-02 14:12] cescoffier commented on #198
Issue marked as invalid because it has been moved to the right project

[2017-02-02 14:13] cescoffier commented on #213
Issue moved to its project (that's why I set the invalid flag on it).

[2017-02-02 14:14] cescoffier commented on #207
Issue marked as invalid because it has been moved to another project.

[2017-02-02 14:15] cescoffier commented on #210
Issue marked as invalid because it has been moved to another project.

[2017-02-02 14:20] dsetton commented on #125
It was my first assumption. But it didn't work. I managed to get it working under `src/main`

[2017-02-06 07:13] cescoffier commented on #235
It has been fixed in the service proxy project.

[2017-02-06 07:13] #235 closed, assigned to nobody

[2017-02-06 07:16] cescoffier opened #236 "Mark the OSGi Import on kotlin packages as optional"
With the added support for Kotlin, it changes the modules metadata and imports Kotlin packages.  OSGi instructions need to be updated to mark this import as optional.

All modules with OSGi metadata needs to be fixed.

[2017-02-06 07:40] #231 closed, assigned to nobody

[2017-02-07 09:53] lukehutch opened #237 "Route annotation support for vertx-web"
In response to the message on the mailing list, "[What would you like to see in Vert.x](https://groups.google.com/forum/#!topic/vertx/duFVIcSR0zg)":

The most potentially useful thing missing from vertx-web right now is convenience annotation support for mapping handler classes to URL routes, etc.

[Vert.x Nubes](https://github.com/aesteve/nubes) has good support for this, and the code looks decen

[2017-02-07 19:51] cinterloper commented on #224
I must admit i dont yet understand why this is occurring, does the team have any gut suspicion of where i should start that investigation?

[2017-02-08 11:28] MrLoNee opened #238 "Service discovery custom service type implementation instructions wrong on web site"
Hi,

In the page about service discovery
http://vertx.io/docs/vertx-service-discovery/java/

section

the documentation instruction is to create a file to define a specific ServiceType

The service type has been refactored and the package is now

META-INF/services/io.vertx.**servicediscovery**.spi.ServiceType

[2017-02-08 17:32] cescoffier commented on #238
This will be fixed when we push the documentation alongside the next G.A. release. For now you can refer to http://vertx.io/docs/3.4.0.Beta1/vertx-service-discovery/java/

[2017-02-08 17:32] #238 closed, assigned to nobody

[2017-02-09 07:51] #75 closed

[2017-02-09 20:21] vietj opened #239 "Handle SLF4J issue"
during the release of the 3.4.0.Beta1 we noticed that in the vertx CLI version now is printed:

[code]

this is due to this commit in  https://github.com/netty/netty/commit/71efb0b39e4410001abb9d96c6a87316a567c16f

Short explanation: when Netty configured SLF4J logging it was replacing for the duration of the creation System.err, so this does not appear on the stderr. Somebody complained and now i

[2017-02-09 20:29] vietj commented on #239
Handling SLF4J could be:

- dependencies with an optional SLF4J dependency should have SLF4J excluded or in provided scope (for instance Thymeleaf)
- dependencies with a mandatory SLF4J dependency should declare SLF4J

The Vert.x Launcher class when it check if SFL4J is visible in its classloader and the class is not initialized, basically does the same than Netty. This is done in the `main(String

[2017-02-09 20:34] vietj commented on #239
About Netty logging, there are a few facts:

- configuring Vert.x logging (by settings the `vertx.logger-delegate-factory-class-name`) will configure Vert.x logging but Netty logging might go somewhere else. In addition Netty logging is not configurable via system properties and it a fallback mechanism that can be overridden programmatically. So in Vert.x CLI distribution it might be suitable that

[2017-02-10 10:11] tsegismont commented on #239
If we customize Logging in the launcher then it should be possible for the
user to override the default behavior.

2017-02-09 21:34 GMT+01:00 Julien Viet <notifications@github.com>:

[2017-02-10 10:15] tsegismont commented on #239
2017-02-09 21:29 GMT+01:00 Julien Viet <notifications@github.com>:

Shouldn't it be optional rather than provided?

+1

[2017-02-10 10:33] vietj commented on #239
@tsegismont optional/provided : either way :-)

[2017-02-11 14:30] Jotschi commented on #137
The raml-java-parser v2 does currently not provide any RamlEmitter. Thus it is currently not possible to generate RAML the same way as I did it within my PoC. The emitter would be needed to generate RAML 1.0 documents.
Related Issue: https://github.com/raml-org/raml-java-parser/issues/159

[2017-02-12 09:20] cescoffier commented on #239
I'm not sure it's going to work with "optional", as using optional when dealing with transitive dependencies can easily get wrong.

Actually, I'm still wondering what can we do on this issue. I also tried to avoid SLF4J, and mark it as provided everywhere - but I didn't take into account the Netty case.

If we provide a vert.x stack without SLF4J-API and binding, some of the components of the stac

[2017-02-12 14:29] cescoffier commented on #236
All projects with OSGi metadata have been updated.

[2017-02-12 14:29] #236 closed, assigned to nobody

[2017-02-15 23:40] vietj commented on #159
closing since no reproducer was provided.

[2017-02-15 23:40] #159 closed, assigned to nobody

[2017-02-28 20:21] rh78 commented on #224
I see the same problem :(

[2017-03-08 11:01] vietj opened #240 "Vert.x 3.4.1 umbrella"
This is an umbrella issue tracking the progress of the Vert.x 3.4.1 release.
It's a bug fix release only !

- [x] - [Vert.x 3.4.0 doesn't start with Netty 4.1.9.Final](https://github.com/eclipse/vert.x/issues/1872)
- [x] - [Handle HTTP/1.1 decode errors](https://github.com/eclipse/vert.x/issues/1862)
- [x] - [Web session can't be clustered in 3.4.0](https://github.com/vert-x3/vertx-web/issues/542)

[2017-03-08 19:44] greggwon commented on #239
I would prefer the use of java.util.logging since it is built into Java and works quite readily to provide handler implementations to goto whatever destination you need.  It has been around for quite some time, and removing the use of SLFJ from all code on the internet would ultimately be the best approach so that there is a single solution that is accessible to all parts of any application.   The

[2017-03-08 19:51] greggwon commented on #160
I have implemented a local VM version of topic based pub/sub.  It uses '*' (anything at this level) and '#' (everything below this level) with a '.' separated hierarchal namespace.  The problem I am running into during testing is that the EventBus is very much a work in progress.  It has lots of different paradigms for messaging all mushed into a single code flow that is in many ways just broken.

[2017-03-09 00:28] alexlehm commented on #240
added the HeaderParser issue (why don't have issues a changelog?)

[2017-03-10 10:01] ppatierno commented on #240
@vietj my MQTT additions are two new features (not bug fixes). Is it ok for you ?
Furthermore, the second one (client-id zero bytes) breaks the API regarding the endpointHandler method because I need an Handle<AsyncResult<MqttEndpoint>> there instead of a Handler<MqttEndpoint>. Need to handle a scenario when the endpoint can't be created due to protocol spec.

[2017-03-10 13:40] vietj commented on #240
small features ?

[2017-03-10 13:41] vietj commented on #240
ok to change, it's tech preview

[2017-03-10 13:41] vietj commented on #240
make sure the examples are not broken in vertx-examples repo

[2017-03-10 13:56] ppatierno commented on #240
@vietj I see that examples refer to 3.4.0 version for now, so nothing is broken. I'll change them when we decide to switch from examples with 3.4.0 to 3.4.1.

[2017-03-12 13:37] cescoffier commented on #240
Does it mean the changes you made breaks the examples ? (if I run the current set of examples using 3.4.1, does it work ?)

[2017-03-12 15:37] vietj commented on #240
@cescoffier I think indeed there is a change from Handler<T> -> Handler<AsyncResult<T>> in mqtt exmaples

[2017-03-13 08:45] mhstnsc commented on #240
Hi guys, a 3.4.1 release would be much appreciated given some serious bugs so do you think is necessary  to wait for the examples or "The release notes contain invalid issues"

[2017-03-13 09:05] cescoffier commented on #240
@mhstnsc don't worry, the release process has already been started. The last issue is fixed in //.

[2017-03-14 10:25] wpxdong opened #241 "vertx cluster error"
com.hazelcast.nio.serialization.HazelcastSerializationException: Problem while reading DataSerializable, namespace: 0, id: 0, class: 'io.vertx.spi.cluster.hazelcast.impl.HazelcastAsyncMap$DataSerializableHolder', exception: Failed to load class io.vertx.ext.web.sstore.impl.SessionImpl
	at com.hazelcast.internal.serialization.impl.DataSerializer.read(DataSerializer.java:130)
	at com.hazelcast.inter

[2017-03-14 10:36] pmlopes commented on #241
Duplicate: https://github.com/vert-x3/vertx-web/issues/549

[2017-03-14 10:36] #241 closed, assigned to nobody

[2017-03-15 02:56] wpxdong opened #242 "vertx ClusteredSession error"
vertx version:3.4.0
-------------code-------------
Vertx.clusteredVertx(options, res ->
            {
                if (res.succeeded())
                {
                    Vertx vertx = res.result();
                    runner.accept(vertx);
                }
                else
                {
                    res.cause().printStackTrace();
                }
            });

router.rou

[2017-03-15 07:16] vietj commented on #242
should be fixed in 3.4.1 released soon

[2017-03-15 07:16] #242 closed, assigned to nobody

[2017-03-15 19:41] thokari opened #243 "Allow to get the cause of a DecodeException"
Hi,
I noticed that the exception thrown by `Json.decodeValue(myJsonString, MyClass.class)` does return `null` when asked for its cause.

I would like to have simple POJOs as Models for my JsonObjects and validate them in the constructor.
See this example:
https://github.com/thokari/epages-app-kickstart/blob/master/src/main/java/de/thokari/epages/app/model/InstallationRequest.java

If the validate

[2017-03-16 00:24] thokari commented on #243
Did not notice https://github.com/eclipse/vert.x/pull/1792

[2017-03-16 00:24] #243 closed, assigned to nobody

[2017-03-16 12:52] DavidBLWest opened #244 "Simple HttpServer Thread Blocked"
Hi,

I am trying to learn vertx using Mac OSX and having tried both 3.4.0 and 3.4.1 I am stumbling already.

Using either  a TcpServer or HttpServer I get ThreadBlocked exception. For example the code below:

`public class HttpVert1 extends AbstractVerticle {

    @Override
    public void start() {
        System.out.println("HttpVert1 started");

        HttpServer server = vertx.createHttpServe

[2017-03-16 13:46] #234 closed, assigned to nobody

[2017-03-16 14:26] #240 closed, assigned to nobody

[2017-03-20 10:57] tsegismont commented on #244
You're probably hitting this https://thoeni.io/post/macos-sierra-java/

2017-03-16 13:52 GMT+01:00 DavidOumamar <notifications@github.com>:

[2017-03-20 12:37] DavidBLWest commented on #244
That was it, thank you so much!!!

[2017-03-20 13:02] #244 closed, assigned to nobody

[2017-03-21 08:29] shailender-arya-del opened #245 "Need Option to generate Yaml From the routes"
Hi Would like to have an option in vertx to generate the Swagger documentation from the routes of a running HTTP server.
It would be great to have this functionality in vertx and improve adaptability and discovery

[2017-03-21 08:43] pmlopes commented on #245
Duplicate of #137

[2017-03-21 08:43] #245 closed, assigned to nobody

[2017-03-22 05:23] zella commented on #220
Same problem (3.4.1). Can't reject in async manner, eg:

[code]

[2017-03-22 13:23] vietj commented on #220
one solution would be to use pause() / resume() and not accept immediately the websocket when the ws has been paused during the handler(ws) callback.

[2017-03-22 14:32] ryanlamore opened #246 "Any use of SSLHelper class is blocking (ie: HttpServer and HttpClient constructors)"
Noticed a bunch of io.vertx.core.impl.BlockedThreadChecker exceptions happening on start up that I traced down to [SSLHelper](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/SSLHelper.java#L109) .  If you follow that code path down all the way, you'll find

Anything using a BufferedInputStream to verify a jar is definitely a blocking call.  If you want to see the

[2017-03-22 14:39] ryanlamore commented on #246
One very simple fix could be to move [the code in the static{} block initializing DEFAULT_JDK_CIPHER_SUITE](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/SSLHelper.java#L104) to [createContext](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/SSLHelper.java#L265); which is the ONLY place DEFAULT_JDK_CIPHER_SUITE is used and is

[2017-03-23 19:43] jvz opened #247 "NullPointerException in KafkaProducerImpl"
Code snippet:

[code]

Using the first method calls the second method, and `handler` is null there, so it's an unconditional NPE. This is in version 3.4.1.

[2017-03-23 20:14] bckfnn opened #248 "Calling pause/resume in an AsyncFile's endHandler will cause a new call to the endHandler."
An AsyncFile opened for reading and paused in the endHandler will call the endHandler again when the ReadStream is resumed.

Tested behaviour detected in 3.3.3 and 3.4.1

reproducer:
https://github.com/bckfnn/vertx-file-stream-test

[2017-03-23 21:16] EmadAlblueshi commented on #226
+1

[2017-03-23 23:51] vietj commented on #248
https://github.com/eclipse/vert.x/issues/1890

[2017-03-27 00:41] ghost opened #249 "HttpClient timeout exceptions if there is delay in response handler"
[code]
If there is some delay in httpclient's(pool) response handler then it starts getting timeout exceptions. I am not blocking event loop i am handling responses on worker threads. Here is output

total = 20 (success = 20, failure = 0)
total = 40 (success = 40, failure = 0)
total = 60 (success = 60, failure = 0)
total = 80 (success = 80, failure = 0)
total = 100 (success = 100, failure = 0)
tot

[2017-03-27 08:43] vietj commented on #249
this happens because you are using worker and Thread.sleep in your verticle.

In such situations timers can introduce race conditions specially when combined with IO.

you should probably avoid to use Thread.sleep(20) and use instead also a timer.

that being said, the HttpClientRequest should not fire a timeout exception after the response has been received, so I consider this as a bug, although

[2017-03-27 08:52] ghost commented on #249
Thanks for the response bro, in real application i am not using Thread.sleep but there is time consuming work i am doing in response handler still getting timeouts. I used sleep to reproduce this issue. It appears that request timer get cancels after response handler finishes its work not before.

[2017-03-27 09:22] vietj commented on #249
yes this happens because how the timer is handled for workers, I'm contributing a fix

[2017-03-27 09:23] vietj commented on #249
meanwhile you should use something like a io.vertx.core.Future with tryComplete / tryFail operation and have a single callback on the future.setHandler to make sure only one operation is executed

[2017-03-27 09:49] vietj commented on #249
I've created this PR : https://github.com/eclipse/vert.x/pull/1900

[2017-03-27 09:55] ghost commented on #249
Am i doing it right the fix you propose?
[code]

[2017-03-27 09:58] vietj commented on #249
yes, or better use the new Vert.x Web Client http://vertx.io/docs/vertx-web-client/java/ it has a Future built-in to guarantee a single callback

[2017-03-27 10:52] ghost commented on #249
Thanks bro i will check it

[2017-03-28 14:25] ghost commented on #249
Hi bro i ran in to another problem. If i do some time consuming work before sending http requests i start getting timeout exceptions. Here is output

**total = 10 (success = 0, failure = 10)
total = 20 (success = 0, failure = 20)
total = 30 (success = 0, failure = 30)
total = 40 (success = 0, failure = 40)
total = 50 (success = 0, failure = 50)
total = 60 (success = 0, failure = 60)
total = 70 (su

[2017-03-28 16:12] ghost commented on #249
because of these timeout issues i moved to retrofit library. I just saw your library retrofit-vertx
http://www.julienviet.com/retrofit-vertx/guide/java/index.html
this is what i needed only problem is that i can't set request timeout. I don't have access to HttpClientRequest how can i add request timeout using your library?

[2017-03-28 16:42] vietj commented on #249
I think we should add this as an option of the `VertxCallFactory` that's quite easy to add, if you do a PR on the project I would review it and make a new release

[2017-03-28 16:44] vietj commented on #249
@farrukh-obaid note you can call setTimeout again on HttpClientRequest to re-set the timer to a new value.

[2017-03-28 16:48] vietj commented on #249
I'm fixing this issue as the corresponding core issue in vertx core has been merged.

[2017-03-28 16:48] #249 closed, assigned to nobody

[2017-03-28 17:34] ghost commented on #249
where should i add new setTimeout? I added setTimeout in response handler like this

`response.request().setTimeout(10000);`

still same problem

[2017-03-28 17:41] vietj commented on #249
I think that you should separate your HTTP client activities from your worker blocking interaction activities using the EventBus:

- all your HTTP operations encapsulated in an event loop verticle listening on the EventBus, perhaps using a Vert.x Service Proxy
- all your worker activities using workers and then do HTTP operations using the EventBus to communicate

[2017-03-29 06:43] yayj commented on #220
@vietj like this snippet?

[code]

I don't think it make sense, because `ServerWebSocket::pause` just prevents to read from `Channel` automatically.

And anyway, according to the code snippet in my last comment, Vertx will determine whether the HTTP handshake is succeeded or not right after the connection handler returns. It means the programmers cannot determine the HTTP handshake status in some

[2017-03-29 07:51] vietj commented on #220
yes, and if it shall be used, the websocket would be resumed first

[2017-03-29 07:52] vietj commented on #220
another way (that breaks compat) is to use a `Future` I think.

[2017-03-30 19:06] ghost opened #250 "WorkerExecutor executeBlocking doesn't check ordered variable"
WorkerExecutor's  executeBlocking method always run with ordered = true, there is not check for ordered=false and it only creates one thread no matter what pool size is.

`context.executeBlocking(null, blockingCodeHandler, asyncResultHandler, pool.executor(), context.orderedTasks, pool.metrics());`

while in vertx executeBlocking  method there is check for ordered variable and it works as expected

[2017-03-30 19:49] ghost commented on #249
Hi bro i created Vert.x Service Proxy as you suggested to handle http and i am handling http response in another WorkerExecutor pool to avoid vertx workers blocking. But there is problem in WorkerExecutor pool it creates only one thread if i call executeBlocking method with ordered=false i reported issue here #250
Is this a bug or i am doing it wrong?

[2017-03-30 20:45] jvz opened #251 "Add support for array column type in PostgreSQL client (Scala collection types)"
If I have a table like this:

[code]

Then when I query for rows, `Json.checkAndCopy()` throws an IllegalStateException because it doesn't know how to handle the class `scala.collection.mutable.ArrayBuffer`. Now I'm not super experienced with Scala at all, but it seems like this can be supported by adding generic support for `scala.collection.Seq[T]`, however, it might be nicer to support `Travers

[2017-03-31 06:10] vietj commented on #250
this is a known bug which has been fixed : https://github.com/eclipse/vert.x/issues/1887

[2017-03-31 06:11] #250 closed, assigned to nobody

[2017-03-31 06:11] vietj commented on #249
this bug has been fixed indeed : https://github.com/eclipse/vert.x/issues/1887

instead use Context#executeBlocking without using a WorkerExecutor

[2017-03-31 10:46] jgarcia241 opened #252 "How to pass a groovy closure where a handler is expected"
Hi,

Migrating from vertx 2 I found the following issue:

We have some places where when sending messages to the eventBus, we pass a closure as a handler. For example:

`eventBus.send(sqlAddress, json, closure )` (where `closure` is defined before, or in our passed passed as parameter)

This worked fine on vertx2. On vertx 3.4.1 this no longer works and I'm getting an error like:

`groovy.lang.Mis

[2017-03-31 11:25] ghost commented on #249
Hi I want to avoid running code inside vertx workers threads i need another thread pool is there any way to create another Context thread pool?

[2017-03-31 16:30] vietj commented on #249
I think then indeed you need to wait for Vert.x 3.4.2.

In the meantime you can use your own thread pool (as you don't need ordered) and use runOnContext to piggy back the result.

[2017-03-31 17:36] ghost commented on #249
yes i am planning to use rxjava to handle this. When will 3.4.2 is releasing?

[2017-03-31 17:39] jvz opened #253 "Add support for resolving files via Paths.get()"
The existing implementation for `FileSystem.open()` internally uses `FileResolver.resolveFile()` which returns a `File`. In my use case, I have custom NIO FileSystemProviders installed to handle remote file systems, so if I pass a URI like `s3:///bucket/key.pdf`, this would obviously fail due to be an unsupported URI scheme.

I don't know the ideal way to add support for this in the API, but what

[2017-03-31 18:06] vietj commented on #249
we are aiming around May

[2017-04-02 11:52] EmadAlblueshi commented on #251
Kindly take a look https://github.com/vert-x3/vertx-sql-common/issues/17

[2017-04-02 17:21] jvz commented on #251
I don't recall having a problem inserting the data (I inserted as a `List` instance using `queryWithParams`), but I had issues retrieving it since the JsonObject/JsonArray classes were unaware of how to convert a Scala collection into an appropriate type.

[2017-04-03 07:47] pmlopes commented on #251
Issue moved to [vert-x3/vertx-mysql-postgresql-client #73](https://github.com/vert-x3/vertx-mysql-postgresql-client/issues/73) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-03 07:47] #251 closed, assigned to nobody

[2017-04-03 07:49] pmlopes commented on #247
Issue moved to [vert-x3/vertx-kafka-client #32](https://github.com/vert-x3/vertx-kafka-client/issues/32) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-03 07:49] #247 closed, assigned to nobody

[2017-04-03 07:50] pmlopes commented on #222
Issue moved to [vert-x3/vertx-web #585](https://github.com/vert-x3/vertx-web/issues/585) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-03 07:50] #222 closed, assigned to nobody

[2017-04-03 07:51] pmlopes commented on #186
Issue moved to [vert-x3/vertx-web #586](https://github.com/vert-x3/vertx-web/issues/586) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-03 07:51] #186 closed, assigned to nobody

[2017-04-03 07:53] #82 closed

[2017-04-05 01:39] yayj commented on #220
@vietj I don't think any workaround can make it, because the source code of Vertx has already proved that HTTP handshake must be determined right after connection handler returns.

[2017-04-05 06:19] vietj commented on #220
@yayj I mean also that we would modify the source code to defer the handshake if he socket is paused

[2017-04-05 06:20] vietj commented on #220
perhaps using something with a future is cleaner though. an override with `reject(Future<Boolean>)`

[2017-04-07 06:41] drejc opened #254 "Chained handlers"
I have the following routes:

First one work as expected, both handlers are invoked:
[code]

**I have also tried this:**
[code]

but only the second handler gets invoked and the _CheckRoleHandler_ is skipped.

Don't know if this is by design, but one would expected that all handlers in a given chain are executed ?

[2017-04-07 06:49] pmlopes commented on #254
You can only add a handler to a route (this is by design but might need to be changed in the future) and there is no proper documentation either. We should for now atleast throw an exception stating that there is already an handler or log a warning at runtime

[2017-04-07 06:51] drejc commented on #254
Sure ... it took me at least 10min to find the problem ... was going with the second approach.

Would it be this hard to allow chaining? I think it could be useful in some cases ...

[2017-04-07 06:57] pmlopes commented on #254
For now it will be hard because we need to rework the internals of the route object. The reason is not just to allow multiple handlers but to correctly respond to content negotiation requests https://github.com/vert-x3/vertx-web/issues/456 and also to properly answer to https://github.com/vert-x3/vertx-web/issues/594.

[2017-04-07 06:58] pmlopes commented on #254
I'll add the exception as proposed above for the next point release and from there we'll start working on the overall issue as described above.

[2017-04-07 07:17] pmlopes commented on #254
The warning has been already raised to an exception: https://github.com/vert-x3/vertx-web/issues/434

[2017-04-07 07:18] pmlopes commented on #254
I'll close this since the fix is already on master and the remaining tasks will happen in their own issues.

[2017-04-07 07:18] #254 closed, assigned to nobody

[2017-04-07 09:29] amorozow42 opened #255 "Integrate Router into HttpServer"
In the preface for Vert.x Web is said:

"It’s the successor to Yoke in Vert.x 2.x, and takes inspiration from projects such as Express in the Node.js world and Sinatra in the Ruby world.".

Express is very convenient tool because we can use it like this:

[code]

So I was surprised that in Vert.x I can define routes only that way:

[code]

and can not do it the Express way:

[code]

Why we should

[2017-04-07 13:29] pmlopes commented on #255
express also has a different API if you want to use HTTPS or HTTP2 and in that case it becomes more like vertx-web. There are a couple of possible improvements such as make the router implement `Handler<HttpServerRequest>` so you can use it directly like:

[code]

[2017-04-08 07:50] amorozow42 commented on #255
Router is absolutely excess object in this case.
It should be an inner part of server to support routing, but not be exposed outside.

[2017-04-08 08:45] vietj commented on #255
@romero are you just saying that doing `Router.create()` is too complicated ?

[2017-04-08 11:10] amorozow42 commented on #255
@vietj Yes, I think it is redundant here and so code are looking more complicated then it could be.

[2017-04-13 08:34] mwolff86 opened #256 "Websocket under Chrome interrupt by RSV != 0"
Hi,

we are using Vertx with websocket and frameHandler for handling Websocket. Normally it works well, but on some operating systems of our customers this error message is thrown:

ERROR ConnectionBase:187 [vert.x-worker-thread-6] - io.netty.handler.codec.CorruptedFrameException: RSV != 0 and no extension negotiated, RSV:4
ERROR LoggerVerticle:87 [vert.x-worker-thread-2] - WebsocketServerVerticle

[2017-04-20 16:42] michaelpog opened #257 "Documentation missing example"
In the Vert.x WebClient documentation under the title "Reusing requests", the code snippet under the sentence " When you need to mutate a request, the copy returns a copy of the request" doesn't actually demonstrate the copy methods. It looks like the snippet is copy paste from the previous snippet.

[2017-04-23 15:43] sascha10000 opened #258 "References of a handler can't be parameterized in a scala manner"
When defining a handler-function like

[code]

You can't pass it to the route handler
[code]

caused by non matching types.
A workaround would be a nested call but this wouldn't be "Scala-Style".

An example is provided here (uncomment the line with the error and everything works fine):
https://gist.github.com/sascha10000/811159d48057a0e63cc5317afc1a6193#file-verticletest-scala

By providing an im

[2017-04-23 17:05] vietj commented on #258
ping @codepitbull

[2017-04-24 00:34] Narigo commented on #258
Could this be a workaround, @sascha10000?

[code]

@codepitbull could a definition of handler functions like `RoutingContext => _` instead of `RoutingContext => Unit` work in this case?

[2017-04-24 06:40] codepitbull commented on #258
I will try it tonight.

[2017-04-24 10:22] sascha10000 commented on #258
@Narigo I did try it that way in another place, didn't work. But that is not the thing here, because the interfered type is each way (RoutingContext) => Unit. Therefore explicit typing doesn't help...

[2017-04-24 16:29] wpxdong opened #259 "vertx Pressure fault"
version:3.41
pressure tool:wrk(https://github.com/wg/wrk)
------------------------------------------------
java code:
  public class Micro extends AbstractVerticle {
	public static void main(String[] args) {
	   Runner.runExample(Micro.class);
	  }
	@Override
	public void start() throws Exception {
		vertx.createHttpServer().requestHandler(req -> {
			req.response().putHeader("content-type", "text

[2017-04-24 20:19] codepitbull commented on #258
The problem is that Handler is a functional interface. A Function needs to be adapted to be usable in place of a functional interface.

You have to give Scala a hint what you want to do with the Function. In this case you have to specify the type explicitly and Scala will take care of it.

[code]

[2017-04-24 20:36] pmlopes commented on #259
You see that message when`wrk` finishes and abruptly kills the connection. It is a notification that your peer (the client) just closed the connection before the server sent any data.

[2017-04-24 20:48] sascha10000 commented on #258
Yes that's what I didn't see right away. I know about the functional interface... Okay so I will use a type for that purpose. Thanks.

[2017-04-24 20:50] #258 closed, assigned to codepitbull

[2017-04-25 01:18] wpxdong commented on #259
@pmlopes

5 connections into the 1, then no error
wrk -t1 -c1 -d10s http://localhost:8081/

[2017-04-28 16:17] LisiLisenok opened #260 "EventBus.LocalSender"
EventBus allows to register consumer which listens only local messages. What about producer which sends or publishes only to local consumers?

[2017-04-28 17:06] vietj commented on #260
it is not supported, you need to agree on an address that will be for local delivery only.

[2017-04-28 17:06] #260 closed, assigned to nobody

[2017-04-28 17:09] LisiLisenok commented on #260
@vietj that was enhancement idea for the next versions.

[2017-04-28 17:56] vietj commented on #260
please open an issue in the https://github.com/vert-x3/issues/issues repo with a tag whishlist

I thought it was a question, there are so many persons opening issues for asking questions...

[2017-04-28 18:51] LisiLisenok opened #261 "Whishlist: EventBus.localSender"
EventBus allows to register consumer which listens only local messages. It may be useful to implement a producer which sends or publishes only to local consumers.

[2017-05-03 09:14] chengenzhao opened #262 "Add sql connection reference into the operation result."
Hi there:

I would like to see some enhancements for sql connection since sql connection is a little bit different from other async api
it requires closing the connection  manually, so it makes fluent coding style messy when you compose some futures

e.g.

[code]

as we could see here, the 1st step is to get connection from the pool, then do some operations then close the connection, which means r

[2017-05-03 13:44] pmlopes commented on #262
Issue moved to [vert-x3/vertx-sql-common #47](https://github.com/vert-x3/vertx-sql-common/issues/47) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-03 13:44] #262 closed, assigned to nobody

[2017-05-03 13:53] pmlopes commented on #255
@romero HttpServer (as with node.js) is purely an HttpServer, it has no knowledge of routing, this is an high level feature. For example, when dealing with high performance you might not want a Router since you probably will only a accept a specific type or request and will not need to perform pattern matching and all the helper features the router does.

Router is as in your example the (express)

[2017-05-03 14:31] amorozow42 commented on #255
@pmlopes Ok, I understand your words.
Of course my initial question was about introducing some high level class with integrated routing, e.g. WebServer. And if you need more control you can use low level API.
In 99% of cases we don`t need high perfomance, so why should we always write this:

`server.requestHandler(router::accept);`

[2017-05-03 15:03] #255 closed, assigned to nobody

[2017-05-05 21:56] SELLAM opened #263 "JDBC Connection"
Hello,

i'm using vertx 3.4.1, i have a problem with JDBC Connection when the username or password of the data base is wrong, vertx try to reconnect every many time and that cause blocking the user compte by the data base.

can you help me please? Thanks

[2017-05-09 20:45] CarstenLeue opened #264 "DNS Resolution fail"
Using Vertx 3.4.1

I am experiencing the problem, that the DNS lookup to some domain names fails when using the built-in DNS resolver.

Testcode (using VertxInternal to produce the simplest possible test, the problem actually occurs when doing an HTTP request):

[code]

This produces the error message:
java.net.UnknownHostException: failed to resolve 'dx-marathon.rtp.raleigh.ibm.com'. Exceeded max

[2017-05-10 12:55] pmlopes commented on #263
when you call `getConnection()` I believe you should check if the result was an error, it should state what error it was (Bad Credentials for example) and you should handle it from there or stop your application.

[2017-05-10 12:59] pmlopes commented on #26
This is already added to the stack: https://github.com/vert-x3/vertx-stack/blob/master/stack-depchain/pom.xml

And present in the official documentation

[2017-05-10 12:59] #26 closed

[2017-05-10 13:49] kva1966 opened #265 "vert.x-Web Documentation Bug: Serving Static Resources"
The documentation at <http://vertx.io/docs/vertx-web/kotlin/#_serving_static_resources> says:

[code]

The paths in the examples are incorrect.

Given the route spec, `/static/*` maps to `/webroot/*`, **not** `/webroot/static/*`.

The doco should thus read:

Seems to have caused confusion where people have ended up missing the point and just changed the route to match more liberally, e.g. one of t

[2017-05-10 14:51] cazacugmihai commented on #192
Is there some activity on this?

[2017-05-11 05:59] axos88 opened #266 "vert.x - configuration abstraction"
Hello,

We should work on abstracting away the configuration of the modules, etc. to interfaces (which are now pure JSON objects). This would make it possible to use more advanced config libraries, such as typesafe-config, using wrapper implementations of those interfaces

[2017-05-11 06:07] cescoffier commented on #266
Are you referring to https://github.com/vert-x3/vertx-config ?

[2017-05-11 06:11] cescoffier commented on #266
BTW, we use json because it's a polyglot format. Every language can manipulate json object. It's not necessary the case with other formats.

[2017-05-11 06:16] axos88 commented on #266
That looks promising, I'll have to take a closer look. But the problem is not the parsing level, that can be done independently, but the way the verticles have access to a specific class instead of an abstract interface for interacting with the config object.

I suspect that even in case of vertx-config at some point the configuration is trasformed into a json object, which is passed down to the v

[2017-05-11 06:17] axos88 commented on #266
My biggest issue with the Json approach is that it is not immutable, as one would expect a configuration descriptor to be, and allows for dirty hacks, which could be avoided.

[2017-05-11 06:24] axos88 commented on #266
Well not with the Json approach per se, but the vert.x json implementation of json which is not immutable.

[2017-05-11 13:19] adamdickmeiss opened #267 "Missing blank after colon in thrown exception message"
Seems like in most places there is a separator/blank after colon when messages are generated.. But not for 2 of them:
[code]

[2017-05-11 14:35] tsegismont commented on #265
Fixed in vert-x3/vertx-web#618

2017-05-10 15:49 GMT+02:00 kva1966 <notifications@github.com>:

[2017-05-11 14:36] #265 closed, assigned to nobody

[2017-05-11 14:44] tsegismont commented on #267
Can you please open a PR in the corresponding project? Thanks

2017-05-11 15:19 GMT+02:00 Adam Dickmeiss <notifications@github.com>:

[2017-05-12 23:11] EmadAlblueshi commented on #183
+1

[2017-05-13 08:13] vietj commented on #183
Actually now we support to reuse the NetServer stuff with the NetServerBase, it's a bit internal but it works. So we support it enough to enable building on it, it will improve over the time hopefully.

[2017-05-13 08:13] #183 closed, assigned to nobody

[2017-05-14 13:52] bqueiroz opened #268 "Add support to Handler<AsyncResult<List<DataObject>>> to ProxyModel"
I don't understand why this is not supported by codegen, it seems pretty easy to implement though. Can you guys clarify why?

[2017-05-14 14:03] vietj commented on #268
hi, some support has been added step by step, so that might explain the restriction, i.e some parts have been restricted and then improved by permitting more types. It might be the case that the type you are citing can be supported to me.

[2017-05-15 07:43] cescoffier commented on #267
I've the file opened in my IDE, gonna fix it.

[2017-05-15 07:46] #267 closed, assigned to nobody

[2017-05-15 15:58] SELLAM commented on #263
this is my function getConnection:

[code]
i juste calling the getConnection of the vertex jdbc client.

in my case the information to connect to database comming when the user authentificate, the user using the database to connecte and the name/password of database.

so when the username or password wrong, JDBC essaye to connecting each many time.

[2017-05-15 16:38] tsegismont commented on #263
It is very unusual for each app user to get its own account in the
database. I would revisit this design, if possible.

If not possible, then I'd create a JDBC client for each request, with
maxPoolSize=1 and close the client after the request is processed (you
can't use true pooled connections if the underlying user changes all the
time).

2017-05-15 17:58 GMT+02:00 SELLAM <notifications@github.co

[2017-05-16 08:33] pavanshetty05 opened #269 "Resource not found"
Hi Team
        I am using below code and URL to hit . But it works some time and other time it thrown an error in UI as **Resource not found** . Will you please let me know what is missing ?
    Below is the URL which i am using. Validated that we are using below port 8080 only for this .
    localhost:8080/api/query/

public class WebEPICVerticle extends AbstractVerticle {

/** The logger. */
pr

[2017-05-16 08:43] tsegismont commented on #269
Hi,

It seems my previous comment was misleading. Please use the Vert.x forum
for questions (https://groups.google.com/forum/?fromgroups#!forum/vertx)
The community uses GH issues for actual problems.

Thanks

2017-05-16 10:33 GMT+02:00 pavanshetty05 <notifications@github.com>:

[2017-05-16 09:06] SELLAM commented on #263
i think i will not create a JDBC client for each request but for each session, when the user sign out that moment i will close the client.

[2017-05-16 09:45] #259 closed, assigned to nobody

[2017-05-16 09:45] #263 closed, assigned to nobody

[2017-05-18 13:40] #80 closed

[2017-05-18 19:11] pmlopes commented on #200
Since there's no feedback I'll close this question.

[2017-05-18 19:11] #200 closed, assigned to nobody

[2017-05-22 06:38] cescoffier commented on #269
Marking issue as invalid because it's a question.

[2017-05-22 06:39] #269 closed, assigned to nobody

[2017-05-23 09:27] oysterpack opened #270 "io.vertx.scala.ext.web.client.HttpResponse.statusCode always returns 0 via io.vertx.scala.ext.web.client.WebClient"
HttpResponse.statusCode always returns 0, but the status message reflects the correct status.

    scenario("GET / - check HTTP response status using WebClient") { implicit app =>
      assert(app.running)
      runApplicationTest(
        implicit injector => {
          val vertx = inject[Vertx]
          val options = WebClientOptions().setDefaultHost("localhost").setDefaultPort(ServerPort.HTTP

[2017-05-23 11:42] tsegismont commented on #270
Duplicates vert-x3/vertx-lang-scala#35

[2017-05-23 11:42] #270 closed, assigned to nobody

[2017-05-23 11:43] tsegismont commented on #270
@oysterpack this is fixed in master and will be released in 3.4.2

[2017-05-23 13:59] oysterpack commented on #270
Thank you for the quick response.

On Tue, May 23, 2017 at 7:43 AM, Thomas Segismont <notifications@github.com>
wrote:

[2017-06-07 16:41] #257 closed, assigned to tsegismont

[2017-06-07 18:07] michaelpog opened #271 "Failed to create a new channel from an accepted socket."
I've built a web service with Vert.x that listens on 40 ports.
It works fine most of the time but at some condition which I cannot reproduce I get this start getting this exception (in production)
[code]
Upon every request.

the HTTP server is very simple, it just returns a static json on every POST request.
I could not reproduce it on my laptop and there's nothing special in the environment that

[2017-06-07 18:25] vietj commented on #271
it does not seem to be a Vert.x or Netty issue, other users have reported this issue that might be related to native libraries, https://stackoverflow.com/questions/32293736/why-would-socketchannelimpldefaultoptionsholder-not-be-found

[2017-06-08 20:53] michaelpog commented on #271
I'm not using any native library, I'm just using vertx, I have 2 verticles that just listen on ports and that's it.

[2017-06-09 06:39] vietj commented on #271
can you provide a reproducer ?

[2017-06-09 17:52] michaelpog commented on #271
I cannot, that's the problem. All I notice is that I launch it, then leave it running for a day or two, and then suddenly I realize that all my requests time out, and when I look at the logs that's what I see.
Also looking at the stack trace it is in netty

[2017-06-09 21:13] vietj commented on #271
this seems to be a JVM issue to me

[2017-06-12 23:50] michaelpog commented on #271
I will run with  remote debugging flags and when it happens I'll attach and see what exactly is happening. I'll update as soon as I get the info

[2017-06-13 06:17] vietj commented on #271
thanks

[2017-06-16 15:27] ghost opened #272 "Access cluster manager from verticles written in JavaScript"
Hi!
I am writing an prototype of an application in vertx and  I need to access the cluster manager in a verticle written in javascript. it's possible? How can I do that?

[2017-06-21 17:54] junglie85 opened #273 "Is there a vertx-rx-java2 module? vertx-rx-java still using RxJava 1.2.7"
Is there a vertx-rx-java2 module? I see a RxJava2 branch in the GitHub repo, but I can;t find anything on jcenter or mavenCentral. I see it's been asked about a few times previously but there doesn't seem to be any update on the status of this project since before Feb. Is it going to be available any time soon? Thanks.

[2017-06-21 21:34] vietj commented on #273
@AshleyByeUK RxJava 2 support is expected for Vert.x 3.5.0, there is an rxjava2 branch in the vert-x3/rx-java project you can try

[2017-06-22 06:21] junglie85 commented on #273
That's great, thanks. Yes, I'd seen the branch in vert-x3/rx-java and wondered when it was going to hit the main release. Is 3.5.0 due any time soon? I see from the commit comments that a 3.5.0-SNAPSHOT was taken 6 days ago - looking forward to this being generally available.

[2017-06-22 06:46] vietj commented on #273
we aim to have GA by fall, but publish a beta or milestone over the summer. in the meantime you can subscribe to the vertx-dev list, where we'll share progress on this effort

[2017-06-22 06:48] sauthieg opened #274 "Extensible Metrics SPI"
I was looking for providing MQTT specific metrics to `vertx-mqtt-server` (such as number of messages, published messages, received messages, ...).

Seems that Vert.x provides a `Measured` interface and a `VertxMetrics`, but I couldn't find a way to extends Vert.x metrics with my own set of metrics without changing the `VertxMetrics`.

From a coupling PoV, if I could avoid having to declare MQTT re

[2017-06-22 11:22] vietj commented on #274
yes we cannot do that obviously.

either we can find a generic enough interfaces that MQTT can use (and other modules can reuse) or we need to elaborate on a generic solution.

that being said, we should have in vertx-core a QueueMetrics SPI (use cases are the pending requests on an http client keep alive connection)

[2017-06-22 12:58] tsegismont commented on #274
Do you use the Dropwizard metrics implementation? In this case you add your
own metrics to the registry.

2017-06-22 8:48 GMT+02:00 Guillaume Sauthier <notifications@github.com>:

[2017-06-22 13:52] vietj commented on #274
this is for the reporting metrics from within vertx modules such as mqtt-server

[2017-06-23 09:08] tsegismont commented on #274
I got it but the provided examples (number of messages, published messages,
received messages) make me think the user may solve the issue without
modifying internal code.

2017-06-22 15:52 GMT+02:00 Julien Viet <notifications@github.com>:

[2017-06-23 09:16] sauthieg commented on #274
Well, `vertx-mqtt-server` is part of the official Vert.x components, make sense to me to align the way this module provides its set of metrics with the "vert.x way".

So one way is to modify `VertxMetrics` interface, introduce `MqttServerMetrics` API in the core and then implement it in the `vertx-mqtt-server` module.

The other way is a to make the metrics system in Vert.x extensible so that any

[2017-06-23 11:00] vietj commented on #274
@sauthieg it is already the case a little with the actual `PoolMetrics` in the SPI

[2017-06-23 12:44] junglie85 commented on #273
Okay, thanks. I'll keep an eye out for it. Found the [roadmap](https://github.com/vert-x3/wiki/wiki/Vert.x-Roadmap) the other day, which will have answered most of my questions!

[2017-06-23 13:31] vietj commented on #273
@AshleyByeUK the rxjava2 branch has been just refreshed with a first push and you can try to give feedback

[2017-06-23 19:14] junglie85 commented on #273
Will do, many thanks.

[2017-06-23 20:29] junglie85 commented on #273
Fails `mvn clean install` with:

[code]

If I skip tests, builds without issue. I've got it in a project now so will try it out and give any feedback.

[2017-06-24 07:05] vietj commented on #273
you need to install this branch as well before https://github.com/vert-x3/vertx-codegen/tree/type-use-fix

[2017-06-25 12:12] vietj commented on #189
RxJava2 should be released in Vert.x 3.5, this branch https://github.com/vert-x3/vertx-rx/tree/rxjava2 contains the development of the feature and it should be usable as preview as it supports core api generation and verticle deployment

[2017-06-25 12:13] vietj commented on #273
duplicate of https://github.com/vert-x3/issues/issues/273, please continue conversation there

[2017-06-25 12:13] #273 closed, assigned to nobody

[2017-06-25 12:17] vietj commented on #189
See https://github.com/vert-x3/vertx-rx/issues/95 with all the infos

[2017-06-30 09:05] wpxdong opened #275 "HttpServerResponseImpl::end0()"
HttpServerResponseImpl.java endo() method
Whether the first if (! KeepAlive) {}, if the connection is broken, then do not have to write channel?

[2017-06-30 17:52] vietj commented on #275
can you elaborate more precisely ?

[2017-07-01 18:08] asanderson opened #276 "vertx-js/http_server_request~ HttpServerRequest.peerCertificateChain()"
Javascript API support for vertx-js/http_server_request~ HttpServerRequest.peerCertificateChain() the same as the Java API.

[2017-07-01 18:10] asanderson opened #277 "Scala API Support for HttpServerRequest.peerCertificateChain()"
Scala API support for io.vertx.scala.core.http.HttpServerRequest.peerCertificateChain() the same as the Java API.

[2017-07-03 19:57] #171 closed, assigned to nobody

[2017-07-04 13:18] tsegismont opened #278 "Non blocking JSON parsing support"
Jackson will soon get support for "non-blocking" parsing, see FasterXML/jackson-core#57

It would be nice to have at least a blog post to explain how to use it with Vert.x Web.

For simple case like JSON arrays it should be possible to provide a `ReadStream` of `JsonObject` from the HTTP request

This would be useful to data intensive apps.

[2017-07-04 15:57] vietj commented on #278
good idea! I think it could be handled in core, in a similar fashion than `RecordParser` as it does not require any new external dependency

[2017-07-07 08:46] #275 closed, assigned to nobody

[2017-07-10 12:08] king588 opened #279 "hi,I find issues in the Class vertx.SharedData.LocalMap"
The Method put(K key, V value) ,I think  if had put in Map Value ,so can not change it outside,  so example,
JsonObject jsonInfo=new JsonObject();
jsonInfo.put("name","myname");
localMap.put("info",jsonInfo);
After,
I change jsonInfo: jsonInfo.put("name","otherName");
So, I think the LocalMap jsonInfo was chaged,
i want you explain for me, thank you

[2017-07-10 12:19] tsegismont commented on #279
This is the contract of LocalMap: only immutable keys/values or certain objects which can be copied (like JsonObject).

[2017-07-10 12:19] tsegismont commented on #279
Please use the Vert.x forum for user questions (see vertx.io/community)

[2017-07-10 12:19] #279 closed, assigned to nobody

[2017-07-10 14:20] king588 commented on #279
Yes，i know，but in sources code，there no copy operate at  put method ，at get method i see  the copy ，so  i  think  put  method should copy the  object  value

[2017-07-11 09:44] gavinking opened #280 "API documentation for Vert.x"
A major project-wide usability problem with Vert.x is that API documentation (javadoc, ceylondoc, scaladoc, etc) is terrible to nonexistent.

API documentation is a critically important resource for users since:

- it is the only reasonable place to precisely document the semantics of operations, and
- it is understood by and quickly available in IDEs.

For example: if I'm in my IDE, and I want to

[2017-07-11 09:49] gavinking commented on #280
Haha, I just realized that someone has already reported the problem with `deployVerticle()` [here](https://github.com/vert-x3/vertx-lang-ceylon/issues/13), proof that it's not just me.

[2017-07-11 17:56] rodolfodpk opened #281 "JUnit 5 support"
http://junit.org/junit5/ is almost done and there are many new features and improvements. Vert.x tests should leverage it.

[2017-07-11 18:06] rodolfodpk opened #282 "Caffeine cache support"
http://vertx.io/docs/apidocs/io/vertx/rxjava/core/shareddata/LocalMap.html is great for local cache but it misses a lot of manageability that https://github.com/ben-manes/caffeine already has. It would be nice to have a Caffeine / Vertx integration in order to work with the cache within the event loop.

[2017-07-11 19:47] thiagogcm commented on #187
Any progress on this issue?

[2017-07-11 20:15] vietj commented on #187
no we don't have any contributor on this topic

[2017-07-13 10:43] rtv2222 commented on #187
I have read up on the RFC as well as looked up other open source implementations. However, I'd appreciate pointers on how to get started.

[2017-07-13 16:11] vietj commented on #187
do you mind sending a mail to the vertx-dev group to discuss this ?

[2017-07-14 09:42] codepitbull commented on #278
This would also solve vert-x3/vertx-lang-scala#25

[2017-07-14 09:46] michel-kraemer commented on #278
Just for your interest, I created a non-blocking JSON parser some time ago:
https://github.com/michel-kraemer/actson/

I also included an example for Vert.x:
https://github.com/michel-kraemer/actson/blob/master/examples/src/main/java/vertx/VertxExample.java

Anyway, I suppose if Jackson supports asynchronous parsing this will be the way to go for Vert.x. I just wanted to mention Actson in the hope

[2017-07-14 11:13] vietj commented on #278
@michel-kraemer why don't you blog about it on vertx.io/blog ?

[2017-07-20 14:10] JakePi3 commented on #232
Seeing this in 3.4.1 when invoking vertx.createHttpServer().listen()

Same stack trace at the top:

    at java.net.NetworkInterface.getAll(Native Method)

Taking up to 5 seconds to initialize the first server, then almost no overhead for additional ones after that. This is in a unit test so not sure how this is affecting separation.  When I shut down (vertx.close()) between tests I got a delay ea

[2017-07-20 19:43] sauthieg opened #283 "Add support for streaming ServiceEvent in ServiceDiscovery"
I would like to have a stream of `ServiceEvent` from a `ServiceDiscovery` instance.
That stream would be half cold / half hot: for each new subscriber, the set of existing `ServiceEvent` (probably for `UP` services only) would be emitted directly, and then all service annoucements would emit an event as well.

That would be useful to react to service arrival/departure/... taking into account easil

[2017-07-21 16:45] b-liberman opened #284 "Blocking unordered handlers are not executed in parallel"
Hi,

the code
[code]
is supposed to execute the requests concurrently.

However, the requests are still processed in the order or arrival but not in parallel.

Is it a bug or is the code wrong?

Thanks a lot

Boris

[2017-07-21 18:14] #284 closed, assigned to nobody

[2017-07-21 18:14] b-liberman commented on #284
sorry, I did not notice another handler for the same path that was synchronizing the calls.

[2017-07-29 19:07] gillbates opened #285 "Issues with vertx-mysql-postgresql-client & vertx-kafka-client and spark!"
I've attached the demo project organized by gradle to reproduce the issue.
In order to run this demo, we should have Spark setup locally.

The problem is:
When we use vertx and spark together, particularly with vertx-mysql-postgresql-client & vertx-kafka-client in our dependencies, we would have following exceptions when we run Simple.java

Exception in thread "main" java.lang.NoClassDefFoundError

[2017-07-31 13:58] gillbates commented on #285
Once we force the scala to be 2.11.8, its working. Thanks for all.

ext {
    scalaVersion = "2.11.8"
}

configurations.all {
    resolutionStrategy {
        force "org.scala-lang:scala-library:${scalaVersion}"
        force "org.scala-lang:scala-compiler:${scalaVersion}"
        force "org.scala-lang:scala-reflect:${scalaVersion}"
    }
}

[2017-07-31 13:58] #285 closed, assigned to nobody

[2017-08-01 08:11] #152 closed, assigned to nobody

[2017-08-04 08:31] SELLAM opened #286 "Vertx 3.4.2: receive a file using netSocket"
i'm trying to receive un file from a netSocketClient in vetrx 3.4.2, this is my code:

but i receive a decoped buffer.

my question is how i can get the end buffer of the file in a single buffer?

can someone help me please?

[2017-08-04 10:14] SELLAM commented on #286
I try this and it's working:

[2017-08-04 11:06] vietj commented on #286
you can try this:

[code]

however keep in mind you can get OOM using this.

[2017-08-05 21:36] rodolfodpk commented on #282
I noticed there is a way to  work with cache from event loop: http://vertx.io/docs/vertx-hazelcast/java/#_using_hazelcast_async_methods.

[2017-08-05 21:36] #282 closed, assigned to nobody

[2017-08-08 10:38] gillbates opened #287 "vertx-mongo: Max number of operations (maxWaitQueueSize) of 500 has been exceeded."
Hi all,

during the development with mongo and vertx, we happened to meet a problem by failed setting the value of maxWaitQueueSize.
i.e, it seemed the vertx-mongo hasnot utilize the pooling for the connections to mongo, which is implemented in the official mongo java driver.

[code]
Using the following code with mongo default setup, the vertx-mongo will throw

[code]

 we've attached a sample cod

[2017-08-10 14:19] michaelpog opened #288 "Getting java.lang.NoClassDefFoundError: io/vertx/core/file/FileSystemException"
Hi I wrote a simple http server in Groovy.
However I am having some unexpected behavior when  running the server with maven, and without.

This is the repo to reproduce everything I'm going to describe https://github.com/michaelpog/vertx-http-server-groovy (https://github.com/michaelpog/vertx-http-server-groovy.git)
First of all when I run the HTTP server using a maven plugin, I'm getting this sta

[2017-08-10 18:01] karianna commented on #287
See https://github.com/vert-x3/vertx-mongo-client/pull/98 as a semi related issue.  Can you open this as an issue over at https://github.com/vert-x3/vertx-mongo-client/ and we'll take a look

[2017-08-10 18:01] #287 closed, assigned to nobody

[2017-08-12 17:27] vitalif commented on #138
Hi, +1 to the issue / feature request.
The idea is in fact very simple - everyone wants modular webapps. I.e. everyone wants to just deploy 10 independent verticles and get a single web-server dispatching requests to all of them, with all verticles still having access to all vert.x-web features like cookies, sessions, file uploads and so on.
I.e. webserver (and router, and so on) should not be a p

[2017-08-12 22:16] manish-panwar commented on #138
@vitalif  I may be off the topic but if you are okay with using Spring with Vertx then I would recommend you to take a look at Vertx-Beans - https://github.com/rworsnop/vertx-beans It's a very sleek implementation allowing you to integrate with Spring and move away from Verticles (basically using Vertx as API along with Spring).

I know that's not what you are looking for but I want to make people

[2017-08-12 22:21] manish-panwar commented on #138
BTW, we use Vertx app as a proxy serving terabytes of data, and also the REST API part of same app. Only thing you will miss is, be able to use Vertx-Test API to test verticles/eventbus etc, but we are still able to test our app effortlessly.

[2017-08-13 08:18] pmlopes commented on #138
@vitalif if you are looking for deploying many verticles and have them as a single API server I guess you are looking for an API gateway. @manish-panwar true that you can use spring to glue everything but once you do that you end up with a monolith which is not a synonym of modularity per se. True for most users that is fine but for cases where scalability and high availability are paramount then

[2017-08-13 14:19] vitalif commented on #138
What do you mean by an api gateway? Do you mean a separate "proxy" that receives http requests and forwards them to the event bus? Ok, but in that case you have no access to vert.x web features inside your services. You can't use templating, sessions, cookies, file uploads, response headers and so on - unless you implement it yourself in your API gateway and pass it over your event bus.
Another co

[2017-08-13 20:27] manish-panwar commented on #138
@pmlopes - Maybe I didn't explain our usage clearly OR are you trying to say that using "Vertx as API" is monolith v/s using Vertx as platform? We use everything out of Vertx, that includes HTTP server, eventbus, almost everything...

[2017-08-17 09:54] timur-han opened #289 "Clojure Language Support"
Thanks for the contributions to the opensource community. Are you planning a clojure support for vert.x in the future? If no, why not?

[2017-08-17 10:42] vietj commented on #289
@timur-han it is not planned at the moment because there is no contributor otherwise it would be welcomed

[2017-08-17 16:03] michaelpog commented on #288
Has anyone had a chance to look into it?

[2017-08-17 16:56] vietj commented on #288
can someone provide a reproducer ? I would be happy fixing this :-)

[2017-08-17 16:56] vietj commented on #288
ah there is one linked :-)

[2017-08-17 16:56] vietj commented on #288
I will have a look

[2017-08-17 22:18] vietj commented on #288
this issue happens when the script ends when the JVM exits.

if you add a pause at the end of your script, it runs, for instance I've added:

[code]

it seems there is a classloading issue that prevents the shutdown hook to cleanup the cache dir. You can disable the cache dir with the _vertx.disableFileCPResolving_ property.

[2017-08-18 07:35] vietj commented on #288
The classloading issue may be related to the fact that it happens when the JVM shutdowns, perhaps that the ClassRealm class refuses to load some classes at this moment. If I set a reference to this class in the script it works ok.

[2017-08-18 07:36] vietj commented on #288
Also you can try close the Vert.x instance in a try/finally block of your script, that will eagerly delete the directory without the shutdown hook.

[2017-08-18 18:01] michaelpog commented on #288
@vietj thanks for looking into it, I'm trying to understand the suggestions that you provided:
1) vertx.disableFileCPResolving I am not sure where it's documented and how to use it. Thomas suggested -DdisableFileCPResolving you suggest  vertx.disableFileCPResolving, I just tried running with -Dvertx.disableFileCPResolving, doesn't seeem to make any difference. And I don't know how to even pass tha

[2017-08-19 04:51] cinterloper commented on #147
looks like it landed, please let me know if any issues arise.

[2017-08-19 04:51] #147 closed, assigned to nobody

[2017-08-19 06:21] vietj commented on #288
have you set a pause in your script ?

[2017-08-19 09:38] pmlopes commented on #147
:+1:

[2017-08-21 22:39] michaelpog commented on #288
Yes I did, and It doesn't make any difference.
[code]
So now when I run mvn install, it stops and then when I press any key, mvn continues and I see this
[code]

[2017-08-22 07:01] vietj commented on #288
what I mean is this happen when the JVM exits and if you don't have a pause your server will be shutdown.

have you tried to close the created Vertx instance in a finally block ?

[2017-08-22 12:01] #193 closed, assigned to pmlopes

[2017-08-22 18:56] michaelpog commented on #288
Ok that made some difference.
[code]
Now It works fine I don't see anything created  in the .vertx directory (not using any additional flags and maven doesn't dump that stack trace.
That's good progress however it's a solution since I need that System.in.read() to prevent from calling the finally and close the server right away, and mvn plugin is run by a Continuous Integration server and there's

[2017-08-23 08:50] vietj commented on #288
the `System.in` pause seems necessary because of the maven plugin. For instance if you look at this netty example you can see it blocks as well https://github.com/netty/netty/blob/4.0/example/src/main/java/io/netty/example/echo/EchoServer.java

[2017-08-24 15:26] dgoetsch opened #290 "Vertx websocket client doest not automatically send pong reply to server when ping is received"
I have been trying to use the vertx websocket client for a distributed load test against a websocket application.  I have configured my server to send Ping messages, and expect a response pong.  When I connect with a glassfish tyrus client, the ping/pong works, but not so with vert.x websocket client As far as I understand, the client should automatically respond with a PONG, but it doesn't not re

[2017-08-24 15:56] dgoetsch commented on #290
I found int he ClientHandler, where it receives the ping, but the call to

`chctx.writeAndFlush(new WebSocketFrameImpl(FrameType.PONG, frame.getBinaryData()))`

doest not appear to actually write the data out to the server.

[2017-08-24 17:02] vietj commented on #290
can you provide a reproducer test ?

[2017-08-24 17:41] dgoetsch commented on #290
I will, but I won't be able to get to it until at least mid next week.

[2017-08-25 17:41] michaelpog commented on #288
@vietj Thanks again for helping out with this.
I'm not sure I understand how we are expected to send anything into the standard input of an application ran by maven on a Continuous Integration server in an automated build context. And I also believe that we are not addressing the problem here.  Netty doesn't write anything to the Filesystem that the devs need to deal with.
Vert.x Does.

The proble

[2017-08-25 19:44] vietj commented on #288
@michaelpog I think there is confusion here.

I am just saying that if you don't add a pause, then your server will just not be launched because the groovy script will exit before the http server is started, making your integration test fail.

I said to use `System.in.read()` as pause but probably that in your case it should be a different pause (for instance until an event occurs), that prevents

[2017-08-25 19:50] vietj commented on #288
besides in your case, you should close the vertx instance in a finally block which will properly close the file system, because the JVM exit hook set by Vert.x seems to fail to execute properly due to what I suspect the shutdown procedure of the maven plugin / classloading.

that being said I have not said that there is no bug related to filesystem caching.

[2017-08-25 19:59] vietj commented on #288
the `enableCaching` flag does not control wether the `.vertx` directory is created or not. It control wether or not caching is using during file resolving.

the `.vertx` directory is used by the file cache and the classpath resolver (in `.vertx/file-cache-$UUID`). So to be sure that the `.vertx` dir is not created you should disable both caching and CP resolving

[2017-08-25 22:13] michaelpog commented on #288
Ok thank you @vietj I understand what you mean, and if I do want to use caching then I will have to figure out a way to shut down the server in the finally. And I am sure there's a bug because even when I'm not using maven, and I run the vertx server in the IDE and then shut it down, I see the .vertx directory still remains. I have it in production, and in all my verx git repos in the .gitignore b

[2017-08-26 06:33] vietj commented on #288
@michaelpog you should set the system property of the JVM : `vertx.disableFileCPResolving=true` and `vertx.disableFileCaching=true`, the later can also be set on the VertxOptions with `fileCachingEnabled=false`. Probably we should have something similar for the former.

Some other vertx projects uses the `.vertx` directory (like the http service factory).

I'm thinking that this directory should b

[2017-08-28 21:35] vitalif commented on #138
Tried using vert.x sessions with REST handlers distributed over the event bus - it's a real pain in the ass... Session is SO MUCH tied to the RoutingContext...

[2017-08-30 01:37] dgoetsch commented on #290
I made a little exemplar project to express the problem I've been running into: https://github.com/dgoetsch/vertx-web-socket-test

I recently ran into a problem where sustained web client sessions would stop working.  Somehow, the server and client had a brief network interruption that severed communications, and when the server would attempt to send a message to the client, it would block that th

[2017-08-30 13:11] zella commented on #290
I tired investigate issue and found that `WebSocketClientProtocolHandler` never instantiated in netty. But I may be wrong

Also I put breakpoint at `WebSocketProtocolHandler::decode` and it never breaks

[2017-08-30 13:41] dankristensen opened #291 "ClassCastException for Http2pool"
I get this Exception:

ERROR 2017-08-30 15:28:25,492 [vert.x-eventloop-thread-9] - : io.vertx.core.impl.ContextImpl - Unhandled exception
java.lang.ClassCastException: io.vertx.core.http.impl.Http2Pool cannot be cast to io.vertx.core.http.impl.Http1xPool
at io.vertx.core.http.impl.ConnectionManager$ConnQueue.lambda$http1xConnected$1(ConnectionManager.java:352)
at io.vertx.core.impl.ContextImpl.lam

[2017-08-30 14:43] vietj commented on #291
can you provide a reproducer ?

[2017-08-30 14:43] vietj commented on #291
does it happen with a particular server ?

[2017-08-31 03:04] dgoetsch commented on #290
I've created an MR, I'll have to figure out how to get rights and finish the MR.. for now I've fixed the client:
https://github.com/eclipse/vert.x/pull/2107

[2017-08-31 09:01] dankristensen commented on #291
I have 4 different verticle's, which all has their own HttpClient.

One of these are using ssl and only communicating over HTTP/2

Are the HttpClient's using the same Connection pool underneath, and mixing these somehow?

[2017-08-31 09:26] vietj commented on #291
@dankristensen no the pool is per client. It could be a bug in HttpClient, that's why I would like to have  a reproducer

[2017-08-31 09:27] vietj commented on #291
it happens that the pool can change, i.e you ask for an HTTP/2 connection but ALPN negotiates to HTTP/1.1 or ALPN is not supported on the server, then the pool becomes an HTTP/1.1 pool, so there may be a bug there.

[2017-08-31 09:58] dankristensen commented on #291
In the code marked here from master:

https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/http/impl/ConnectionManager.java#L522-L534

It looks like that if i am running ssl, it will always use a http1connection, if i am NOT using alpn.

Is this correct. Can i not use http/2 without ALPN?

[2017-08-31 10:08] vietj commented on #291
yes you cannot (per the spec), perhaps this should be checked in the options.

[2017-08-31 10:09] vietj commented on #291
From RFC :

```implementations that support HTTP/2 over TLS MUST use protocol negotiation in TLS [TLS-ALPN].```

[2017-08-31 10:16] dankristensen commented on #291
Thanx a lot for helping clarify this. I believe it should be checked, so others don't make the same mistake as me.

[2017-08-31 10:29] dankristensen commented on #291
You may close this issue, unless you want it to track the check in HttpClientOptions.

[2017-08-31 11:14] vietj commented on #291
I think it should be checked in the options and fails explicitly when it happens

[2017-08-31 11:15] vietj commented on #291
https://github.com/eclipse/vert.x/issues/2109

[2017-08-31 11:15] vietj commented on #291
closing this one

[2017-08-31 11:15] #291 closed, assigned to nobody

[2017-08-31 11:16] vietj commented on #291
thanks for investigating the issue in the source code

[2017-09-01 00:40] dgoetsch commented on #290
I believe I have fully resolved the issue in https://github.com/eclipse/vert.x/pull/2107

[2017-09-05 10:09] neal-eiger opened #292 "Duplicate Eventbus message received on v3.3.3 in non clustered mode"
I have observed what appears to be a duplicate message received by the eventbus MessageConsumer.handler method.  Our logs show only one message was sent but it was received and handled twice.  We will upgrade now to version 3.4.2, but has this been reported before?

[2017-09-05 10:44] tsegismont commented on #292
Did you use send or publish? How many receiver verticle instances do you
have?

Le 5 sept. 2017 12:09, "Neal OBrien" <notifications@github.com> a écrit :

[2017-09-05 11:11] neal-eiger commented on #292
Hi there!  Thank you, you are right, we published.  But as we normally have only a single receiver we have never seen this before.  It is possible there was mistakenly a second handler deployed.  I'll close this as it could well be our issue there.  Many thanks.

[2017-09-05 11:11] #292 closed, assigned to nobody

[2017-09-05 13:02] ylemoigne opened #293 "Invalid Handling of MaxHeaderListSize lead to ignore configuration value"
Hi,

On vertx 3.4.2
Using the configuration :
[code]

If headers exceed limit `10240`, then vertx fail :
[code]

After some investigation, it seem to come from `io.vertx.core.http.Http2Settings` where :
[code]

When this value is read by : `io.vertx.core.http.impl.HttpUtils`
[code]

They do not differ, so it's not updated. But by default, netty use `8192` as seen from `io.netty.handler.codec.http2

[2017-09-05 13:11] vietj commented on #293
can you contribte a test and fix for this ?

[2017-09-05 13:14] ylemoigne commented on #293
I can try.

[2017-09-05 14:05] vietj commented on #293
thanks

[2017-09-05 16:22] ylemoigne commented on #293
Done : https://github.com/eclipse/vert.x/pull/2114
It's seems there is an agreement to sign, and the commit have to be signed.... :(
If you can send me a link on the procedure to follow (if really needed)

[2017-09-14 21:47] michaelpog commented on #288
@vietj that worked. It would be great if this could be documented somewhere in your official documentation, and also it would be helpful if both could be set programatically.
Thank you for your help

[2017-09-14 21:47] #288 closed, assigned to nobody

[2017-09-15 06:56] mouse256 opened #294 "circuit-breaker always closes immediately on success() call"
[BreakerTest.txt](https://github.com/vert-x3/issues/files/1305524/BreakerTest.txt)
The problem we're seeing is that the circuit breaker opens immediately when calling success() on a future from the breaker handler. Even if the breaker was just closed moments before. This means it does not respect the closing timeout, nor does it pass trough the half-open state.

Our usecase:
In the circuit-breaker

[2017-09-15 06:57] mouse256 commented on #294
[BreakerTest.txt](https://github.com/vert-x3/issues/files/1305528/BreakerTest.txt)

[2017-09-15 07:53] vietj commented on #288
@michaelpog will address this

[2017-09-15 15:14] #290 closed, assigned to nobody

[2017-09-15 19:39] #248 closed, assigned to vietj

[2017-09-16 11:33] cescoffier commented on #294
Thanks for reporting this issue (and for the reproducer). I've fixed it in the circuit breaker master branch.

[2017-09-16 11:33] #294 closed, assigned to cescoffier

[2017-09-19 06:45] lpc0828 opened #295 "find DuplicateClasses when use vertx-web and vertx-web-client"
when I use vertx-web and vertx-web-client develop in my java web project;

pom.xml contain
`
        <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-web-client</artifactId>
            <version>3.4.2</version>
        </dependency>

        <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-web</artifactId>
            <version>3.4

[2017-09-22 02:21] xiaoxianqian opened #296 "ProxyHelper.createProxy call delay"
when i do pressure test, i get a delay problem of "ProxyHelper.createProxy ":

`DevServ serv = ProxyHelper.createProxy(DevServ.class, gVertx, MsgAddr.makeDevAddr(ccid));
serv.sendCmd(cmd, params, resultHandler);  // this line delay`

with hawtio to monitor vertx, workpoolsize should be enough. I set workpoolsize = 4000, and it has 3500 handlers more or less.

is the delay caused by event bus delay

[2017-09-22 07:54] vietj commented on #296
what is workpoolsize ?

[2017-09-22 07:58] xiaoxianqian commented on #296
new VertxOptions().setWorkerPoolSize(workerPoolSize)

[2017-09-22 08:20] xiaoxianqian commented on #296
I find the problem: I broken The Golden Rule - Don’t Block the Event Loop...

[2017-09-22 08:20] #296 closed, assigned to nobody

[2017-09-22 08:27] vietj commented on #296
3000 is a very huge size for the worker pool. The handlers on the event bus are by default handled by the event loop, if they are workers, then worker thread are shared from the pool between the handlers

[2017-09-25 19:58] WangHansen opened #297 "The close of Websocket returns a status code of 1005 instead of 1000"
From MDN docs, status code 1005 or 1006 should be used when the websocket abnormally closed (ref: https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent)

But calling the close method from the client results in a status code of 1005

Here is the client function:
[code]

And the server side function:
[code]

[2017-09-26 06:52] PennyYip commented on #203
What @b-liberman said is true (As of 3.4.2), only the maxWorkerExecuteTime being used is in VertxOption.

The maxWorkerExecuteTime in DeploymentOption is not used in any context except for the DeploymentOptionsConverter, which used to convert Json configurations.

[2017-09-26 09:23] b-liberman commented on #203
as the issue is verified by others, can it be re-opened, please?

[2017-09-26 22:20] ORESoftware commented on #113
Can someone just cite the pom dependency for `org.hsqldb.jdbcDriver`?

ok here
https://mvnrepository.com/artifact/org.hsqldb/hsqldb/2.3.2

[2017-10-03 07:35] developerworks opened #298 "About websocket client implementation."
Is there have a pure javascript websocket client impelementation that not depend on vertx?

[2017-10-03 08:52] pmlopes commented on #298
Websockets are not vertx specific you can use any node implementation you like, for example:

https://www.npmjs.com/package/ws

works fine as a client.

[2017-10-03 08:52] #298 closed, assigned to nobody

[2017-10-03 13:28] developerworks opened #299 "Error: vertx-web-js/bridge_event.js:82 TypeError: null is not a function"
JDK

[code]

Vert.x

[code]

OS: Mac OSX

My repo:

https://github.com/developerworks/vertx3-hello-console

Somebody can help me try this in your environment ?

client side html page is `index.html` in the project root. server side is `./src/bridge.js`, you can run server with `yarn bridge` or `npm run bridge`.

I see this: https://groups.google.com/forum/#!topic/vertx/NsbCIf9dTE8, but seems like

[2017-10-06 09:16] orre commented on #138
For what it's worth (and maybe somewhat out of context) I've been attempting to do modularization by "passing in" a Router to my verticle from the "main" program that creates the singular Router & HTTP server. My intention was to share the router between possibly several verticles. My conclusion: THIS LEADS TO GLOBAL MADNESS. DON'T DO IT. The guarantee that all handlers that you see in a verticle

[2017-10-09 09:50] #299 closed, assigned to nobody

[2017-10-09 13:24] ralleal opened #300 "TemplateEngine.render() is discarding first char of templateFileName parameter"
[Version 3.4.2]

Hi, I was using the depcretated TemplateEngine.render (HandlebarsTemplateEngine), so I changed to the other one with separated template folder and template name, like this:

            engine.render(ctx, "templates", "app.hbs", res -> {
                if (res.succeeded()) {
                    ctx.response().end(res.result());
                } else {
                    ctx.fai

[2017-10-09 15:51] tsegismont commented on #300
The TemplateEngine#render method says:

    NOTE if you call method directly (i.e. not using
io.vertx.ext.web.handler.TemplateHandler) make sure that templateFileName
is sanitized via io.vertx.ext.web.impl.Utils.normalizePath(String)

So in your case, the leading slash is missing. Try with:

    engine.render(ctx, "templates", "/app.hbs", res -> {

2017-10-09 15:24 GMT+02:00 ralleal <notifications

[2017-10-10 22:39] ralleal commented on #300
I haven't noticed the NOTE in TemplateEngine#render, and yes, I guess it works if I use a "/", but also with any other character (a space, "i", etc). I don't think it's the best behavior, but it it's not really seen as a bug, the issue may be ignored.

[2017-10-11 05:44] ghost opened #301 "During the redeploy period , the http server not working"
During the redeploy period,, the server can not be access.
[code]

[2017-10-11 06:01] vietj commented on #301
no it is not possible to achieve it with the redeployer.

can could achieve it by adding a proxy in front of the server or by moving your logic in a verticle accessed by the event bus and only re-deploying this verticle.

[2017-10-11 06:01] #301 closed, assigned to nobody

[2017-10-11 06:34] ghost commented on #301
Thanks. I am looking for smooth redeploy solution.
Currently seems playframework can do smoth redeploy

[2017-10-11 14:41] vietj commented on #301
Can you open an issue about supporting this in this repo (label it with whishlist ), so we can discuss its feasability ?

[2017-10-15 05:41] sandipsahoo2k2 opened #302 "javascript EventBus unregisterHandler doesn't send unregister event to server"
I could register events to my server with  registerHandler and even receiving messages nicely.

[code]

**But when I do unregister I am still getting incoming messages !**

[code]

I debugged the code and I found that in vertx-eventbus.js file

[code]

so code returns without sending the unregister event to the server !
Is there a fix for this ?

[2017-10-17 20:37] Sergey80 commented on #142
i guess it is time

[2017-10-17 22:08] vietj commented on #142
@Sergey80 wdym ?

[2017-10-17 22:36] Sergey80 commented on #142
I mean to provide official vertex support fir spring and junit 5. Say to be able to run unit/integration tests with @ExtendWith to use TestContext.

[2017-10-18 06:38] vietj commented on #142
@Sergey80 @jponge is currently investigating junit 5 support for Vert.x, I believe that running with Spring should be one of the requirements

[2017-10-18 07:49] jponge commented on #142
Indeed. I'm doing experiments, but I should be soon able to share a prototype.

[2017-10-19 13:39] FroMage opened #303 "Writing on HttpServerResponse does not throw when closed"
When the client closes the connection, I can keep on calling `HttpServerResponse.write` forever without any indication of an error, I don't even get an exception in my exception handler.

It would be better to throw something.

[2017-10-19 13:41] FroMage commented on #303
Wrong repo, moving to https://github.com/eclipse/vert.x/issues/2181, sorry.

[2017-10-19 13:41] #303 closed, assigned to nobody

[2017-10-23 07:41] jponge commented on #281
I have started investigations on this front. I will share a prototype soon.

[2017-10-23 18:36] michaelpog commented on #271
@vietj update on this problem.
I have been running the vertx based webserver with an open port for remote debugging. When the application became unresponsive, I attached the debugger, and I see that the acceptor thread disappeared as if it crashed at some point.  I do not see any error log message though.
How can I debug this issue? I think this is hitting some bug/edge case

[2017-10-23 20:49] vietj commented on #271
can you set an uncaught exception handler to related the acceptor handler thread crash ?  something like:

[code]

[2017-10-23 22:47] michaelpog commented on #271
Ok I set a break point and this is what I see in the variables
[code]

So in short the exception is ```java.lang.NoClassDefFoundError: ch/qos/logback/classic/spi/ThrowableProxy```
And no stack trace

[2017-10-24 08:14] vietj commented on #271
are you using logback logger ?

[2017-10-24 08:15] vietj commented on #271
you don't have stack trace yet because the stack trace has not been initialized, can you try to log the stack trace with err.printStackTrace() ?

[2017-10-25 18:56] michaelpog commented on #271
Looks like this is the stack trace
[code]
I am using logback.
It's a spring boot application, I have a logback.xml in its classpath that looks like this:
[code]

[2017-10-25 19:57] vietj commented on #271
can you provide a reproducer project ?

[2017-10-25 20:12] michaelpog commented on #271
Yes, will be ready in a few minutes.

[2017-10-25 20:25] michaelpog commented on #271
https://github.com/michaelpog/vert.x-webserver

[2017-10-26 08:19] neterium-dev opened #304 "JWT decode issue"
Hi !

I'm using the vertx JWT auth provider, but I'm behind an API gateway which does all the signature checks etc.... for me already. So I basically use the provider to further (re)check the token expiration and to receive my User which will then be used for the authorization (role checks).

I noticed in the JWT.class code that the decode could be 'secure' or 'unsecure'; well that's fine, I'm uns

[2017-10-26 12:56] scoolin commented on #203
@b-liberman is right.
in the DeploymentManager, line 468 (version 3.5.0):

`WorkerExecutorImpl workerExec = poolName != null ? vertx.createSharedWorkerExecutor(poolName, options.getWorkerPoolSize()) : null;`

Deploy new verticle dose not use the 3rd arg of createSharedWorkerExecutor(), so the VertxOptions.getMaxWorkerExecuteTime() will take effect.

[2017-10-26 20:29] pmlopes commented on #304
Issue moved to [vert-x3/vertx-auth #168](https://github.com/vert-x3/vertx-auth/issues/168) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-26 20:29] #304 closed, assigned to nobody

[2017-10-31 17:21] ugol opened #305 "sdkman update to 3.5"

[2017-11-01 04:01] vietj commented on #305
I think it has been updated, can you give a try now ?

[2017-11-01 17:45] ugol commented on #305
Yep, done, thx

[2017-11-01 17:45] #305 closed, assigned to nobody

[2017-11-02 08:24] yanivpl5 opened #306 "Native memory leak"
We are using Vertx 4.4.2 that uses netty 4.1.8
We experienced native memory leaks in Vertx that cause the process memory footprint to grow to several giga bytes beyond the usual.
After long investigation we found that netty is allocation native memory buffer which cause the leak.
The only way to limit netty is by adding -XX:MaxDirectMemorySize argument to the application startup script.
This worke

[2017-11-03 11:37] dimitardi opened #307 "A new project created with "sbt new" does not run out-of-the-box"
How to reproduce:
1. execute `sbt new vert-x3/vertx-scala.g8` and answer the questions (name, package)
2. open the new project in intelliJ by "File > New > Project from existing sources... > SBT"
3. execute in Terminal `sbt clean compile run`

Output:
[code]

[2017-11-03 12:23] codepitbull commented on #307
Sorry, this is currently not supported.
I will take a look to see how/if I can make this work but right now you can use:
- The sbt-built-in Scala-console
- the Fat-jar
- the Docker image

Take a look at the README, there you will find the examples.

[2017-11-03 12:25] codepitbull commented on #307
I opened a new issue in the appropriate project (https://github.com/vert-x3/vertx-scala.g8/issues/2)
Closing this and working on the other one.

[2017-11-03 12:25] #307 closed, assigned to nobody

[2017-11-03 18:15] michaelpog commented on #271
@vietj were you able to reproduce? Any thoughts on this?

[2017-11-03 19:13] vietj commented on #271
not yet,sorry

[2017-11-07 10:11] mscofy opened #308 "Vertx zookeeper error"
I am using vertx with zookeeper as my cluster manager. Suddenly I started getting this excpetion in my logs:

   ERROR io.vertx.spi.cluster.zookeeper.ZookeeperClusterManager - Failed to handle memberRemoved
io.vertx.core.VertxException: java.io.InvalidClassException: io.vertx.spi.cluster.zookeeper.impl.ZKSyncMap$KeyValue; local class incompatible: stream classdesc serialVersionUID = -4724870547734

[2017-11-07 10:19] cescoffier commented on #308
Can you open your issue on https://github.com/vert-x3/vertx-zookeeper

[2017-11-08 01:51] #308 closed, assigned to nobody

[2017-11-08 22:07] michaelpog commented on #271
Please let me know if I can do anything to debug on my end.
I'm about to migrate a major application to Vert.x in production and I'm really having concerns about this error.
I really appreciate you looking into it.

[2017-11-15 15:06] alfredlopez opened #309 "Possible Utils.pathOffset bug...."
It seems that the following line

    return prefixLen != 0 ? path.substring(prefixLen) : path;

should be

    return prefixLen != 0 ? path.substring(0, prefixLen) : path;

[2017-11-21 14:38] romnovi opened #310 "Render template without RoutingContext."
We have method:
TemplateEngine.render(RoutingContext context, String templateDirectory, String templateFileName, Handler<AsyncResult<Buffer>> handler)

Would be great have possibility for rendering without obligatory RoutingContext context

[2017-11-21 14:41] Maokei commented on #226
Socket.io let's work on that @pmlopes

[2017-11-22 16:17] jponge commented on #281
I have made solid progress here.

I will share a prototype at worst by next week, sooner hopefully :-)

[2017-11-27 08:53] SchoutenAtHxGN opened #311 "StaticHandlerImpl should send Status-Code 301"
StaticHandlerImpl should send Status-Code 301 Moved Permanently if the url points to an path but dosen't end with '/'.

Example:
The browser requests http://www.golem.de/specials/iphonex
The answer should be 301 with location /specials/iphonex/
The browser requests http://www.golem.de/specials/iphonex/
The index.html is delivered.

But currently the StaticHandlerImpl already delivers the content f

[2017-11-27 15:44] blandger commented on #281
@jponge It there any progress on this? Is there any sources available somewhere?
I would be good to have ability to initialize Spring dependencies wired to Vertx instance from Spring context. It's really helpful to wire up all in one test.
Have ability use Mockito in bundle also very desirable.

[2017-11-27 17:09] jponge commented on #281
Tonight or tomorrow, the code is ready :-)

On Mon, Nov 27, 2017 at 4:44 PM, Yuriy Larin <notifications@github.com>
wrote:

[2017-11-27 17:41] jponge commented on #281
https://github.com/jponge/vertx-junit5

[2017-11-28 08:32] blandger commented on #281
@jponge Seems very promising, I will check it this days.

I see error in unit test.
/vertx-junit5/src/test/java/io/vertx/ext/junit5/IntegrationTest.java
void start_and_request_http_server_with_checkpoints()
It fails because port = 8080  is busy by other started server.
If I change it to 8081 it works fine.

[2017-11-30 15:17] blandger commented on #281
@jponge I was able to do some checks.

I was able to run Vertx junit5 test with SpringExtention (for Spring 4.x) + VertxExtention together.
It wires up Spring beans ok and makes VertxTestContext available in test methods. The VertxTestContext interface has changed from previous junit4 version.

So all looks quite good. I suppose wiring up some stubs with MockitoExtention should work too.

[2017-11-30 16:45] jponge commented on #281
Awesome, thanks for your feedback!

On Thu, Nov 30, 2017 at 4:17 PM, Yuriy Larin <notifications@github.com>
wrote:

[2017-12-02 16:30] blandger commented on #268
It's possible to create:
Handler<AsyncResult<List< CustomObject >>>
where CustomObject is annotated by @DataObject and processed by codegen

[2017-12-04 21:49] michaelpog opened #312 "DNS client is not working"
Hi I have created a reproducer:
https://github.com/michaelpog/vertx-dns-resolver/blob/master/src/main/java/Main.java

All I'm getting is
{code}
io.vertx.core.VertxException: DNS query timeout for vertx.io
{code}
I've tried localhost instead of "10.0.0.1"
I've tried every possible hostname, I'm getting the same exception.
As I mentioned here https://groups.google.com/forum/?fromgroups#!topic/vertx/

[2017-12-05 10:07] vietj commented on #312
will have a try

[2017-12-05 10:09] vietj commented on #312
what is `10.0.0.1` ? your DNS resolver ?

[2017-12-05 10:24] vietj commented on #312
it sounds like a bug indeed, the datagram sent does not have the recursion desired flag set to true which leads to no answer

[2017-12-05 10:25] vietj commented on #312
can you open this issue in eclipse/vert-x repository instead ?

[2017-12-05 14:45] vietj commented on #312
fixed here https://github.com/eclipse/vert.x/issues/2232

[2017-12-05 14:45] #312 closed, assigned to nobody

[2017-12-05 14:46] vietj commented on #312
can you give a try ? and you should use a DNS server in your example (i.e not `10.0.0.1` which is a example), for instance `8.8.8.8` (Google's DNS server)

[2017-12-05 19:19] michaelpog commented on #312
Yes, I will give it a try.

[2017-12-05 19:24] michaelpog commented on #312
@vietj I'm not able to get the 3.5.1 dependency using maven and I don't see it in the releases

[2017-12-05 19:39] alexlehm commented on #312
@michaelpog its a snapshot version, you have to add the sonatype snapshot repo to the maven project

[2017-12-05 20:50] michaelpog commented on #312
Thanks @alexlehm.
@vietj  that worked with Google's DNS server (8.8.8.8:53)
When do you think the 3.5.1 will be out?

Also on a completely separate note.
I'm not very familiar with DNS.
What address should I use for the DnsClient to behave exactly like the internal DnsResolver the the HttpClient is using ( I believe it's netty's implementation)
As I described I'm using this DnsClient explicitly in

[2017-12-05 21:01] vietj commented on #312
we aim for 3.5.1 early 2017.

the `DnsClient` will behave differently than the `DnsResolver` because the resolver does more (it's a resolver with a different logic) than the client. You can use the `DnsResolver` directly you can use the internal API by casting `Vertx` to `VertxInternal` and use the `AddressResolver` provided. It's internal but given the logic is simple, it will not impact much you

[2017-12-05 22:12] michaelpog commented on #312
Ok if you think it's safe to use the VertxInternal AddressResolver then I will actually prefer to use that.
Is it possible to simply make the vertx.addressResolver part of the public API instead?
I don't want update to a future version of Vertx and end up breaking my code because that was a private API that I used.

Thank you!

[2017-12-05 23:17] alexlehm commented on #312
If you are sure your dns resolves everything you need, you do not need to use address resolver, this supports resolving from /etc/hosts, dns suffixes and some other stuff.
You have to figure out your dns ip from resolv.conf (and failover) though.

[2017-12-06 07:27] vietj commented on #312
@michaelpog thing is that it's more correct than just using a DNS client that will not perform resolution. I prefer keep it internal instead for the moment and think what is the best way to expose it.

[2017-12-06 17:44] michaelpog commented on #312
That's my point, to use DnsClient I need to explicitly figure out the dns ip address. which kind of ties my code to a particular infrastructure, but the implementation of the AddressResolver doesn't require you to know anything ( I haven't looked at the code to know how it does that).
It seems like it would be a good idea to have that functionality in the DnsClient that is exposed to the user rath

[2017-12-06 18:03] vietj commented on #312
I think we can safely expose the address of the DNS server used by the internal DNS resolver.

is that what you mean ? for instance : createDNSClient() without the server address that uses the resolver server address.

[2017-12-12 14:02] tsegismont commented on #203
Reopening. This test fails in master:

[code]

[2017-12-12 14:05] tsegismont commented on #203
As a workaround, create a `SharedWorkerExecutor` before deploying the verticle with `io.vertx.core.Vertx#createSharedWorkerExecutor(java.lang.String, int, long)`

[2017-12-13 15:41] #203 closed, assigned to tsegismont

[2017-12-13 15:42] tsegismont commented on #203
Will be fixed in 3.5.1

[2017-12-15 06:28] michaelpog commented on #312
Correct.

[2017-12-15 08:54] vietj commented on #312
that's something easily doable and that makes sense to me

[2017-12-15 08:55] vietj commented on #312
https://github.com/eclipse/vert.x/issues/2239

[2017-12-15 14:53] vkhomytskyi opened #313 "LocalMap computeIfPresent incorrect behaviour"
LocalMap's implementation of `io.vertx.core.shareddata.LocalMap#computeIfPresent` doesn't make it possible to remove entry by returning null in `remappingFunction` because of `io.vertx.core.shareddata.impl.Checker#checkType` that is being applied to check type of returning value

[2017-12-15 15:29] vietj commented on #313
have you checked if that behavior applies to other methods ?

[2017-12-15 15:37] vkhomytskyi commented on #313
The same applies to all methods with `remappingFunction`, like `computeIfAbsent`, `compute`, `merge`, etc.

[2017-12-18 13:49] tsegismont commented on #306
@yanivpl5 Have you tried with Vert.x 3.5? Could you provide a reproducer?

[2017-12-21 15:16] nheron opened #314 "vertx-stomp cannot send messages from the server to all clients that subscribed to a channel"
The examples you give  with vertx-stomp are all clients connect to a server
 if one client sends a message all others have the info
this is fine
 I would like that the server sends infos on its initiative to all subscribers
I do not see how to do that
Imagine you have an application that has to notify connected users , how could I do that ?
Thanks

[2017-12-27 08:15] yanivpl5 commented on #306
A little more info that I collected regarding the problem:

1. It happends on Linux servers (CentOS) and does not happen in Windows.
2. It leads to Netty consuming sometimes several Giga bytes of ram.
3. The scenario that cause this: is many client downloading large file from the server (about 24Mbyte).
4. The client issue https requests (the server uses open SSL) for the file download.
5. The ser

[2017-12-31 19:33] BornToRain opened #315 "Scala fat jar is too big"
Hello World Demo Project
in Java: fat.jar size 6.5MB
in Scala 1: fat.jar size 26MB
in Scala 2(set scala-compiler.scope = provided): fat.jar size 16MB

![image](https://user-images.githubusercontent.com/19318296/34463827-e7bb0a04-eea3-11e7-85ba-62aba6cf3e05.png)

Scala fat.jar can like Java？

[2018-01-02 21:58] Jotschi commented on #138
I created a small example which shows how I'm now handling my routers across multiple verticles.
https://github.com/Jotschi/vertx-router-example

I create a router for each verticle and use a dedicated class to make it possible to synchronize changes to the routers. (e.g.: rename a subrouter mount)

[2018-01-03 11:34] codepitbull commented on #315
There is dependency from vertx-lang-scala to vertx-lang-scala-on-the-fly which in turn pulls in the scala compiler, contributing those 10 mb to the overall size.
This is needed to allow verticles to be compiled "on-the-fly" from uncompiled Scala-code and for compiling the examples.
I will try to see if the dep can be removed using ignores in Maven without breaking something.

[2018-01-04 14:41] michalsida opened #316 "HazelcastClusterManager#getAsyncMultiMap memory leak"
Repeating call cause probably a memory leak. In this call is created a new one ```HazelcastAsyncMultiMap``` - a wrapper for Hazelcast MultiMap, it is stored into weak set and send it to the result handler. So if the result handler throw the reference away, it should be removed from weak set too.

But.

There is a call of ```com.hazelcast.core.MultiMap#addEntryListener(this, true)``` in the ```Haze

[2018-01-05 04:13] rpgayatri opened #317 "Converting object containing value of java.time.LocalDateTime Datatype to io.vertx.core.json.JsonObject gives complex Date/Time fields & values"
I created a map having one of the values of type java.time.LocalDateTime and converted it to Vertx JsonObject. The code is as below :

[code]

I get the following output :
`json::{"name":"test","time":{"year":2018,"monthValue":1,"month":"JANUARY","dayOfMonth":5,"dayOfYear":5,"dayOfWeek":"FRIDAY","hour":15,"minute":6,"second":45,"nano":53000000,"chronology":{"id":"ISO","calendarType":"iso8601"}}}
`

[2018-01-05 10:38] tsegismont commented on #317
@rpgayatri the only temporal type allowed in `JsonObject`/`JsonArray` is Java 8's `Instant` which is encoded to a ISODate String as per the JSON spec extension.

In your example you could simply convert the `time` object to an Instant.

Otherwise, if you map from custom classes (not just a map), you could use a custom serializer.

[2018-01-05 10:39] tsegismont commented on #317
Marking as invalid since this is a question, not a bug. Please use the user group for further questions (see http://vertx.io/community)

[2018-01-05 10:39] #317 closed, assigned to nobody

[2018-01-07 19:41] michel-kraemer commented on #278
@vietj Isn't this feature already included in Vert.x 3.5.0? I think the issue can be closed, right?

[2018-01-07 23:13] vietj commented on #278
indeed!!

[2018-01-08 05:51] #278 closed, assigned to nobody

[2018-01-08 11:33] vietj commented on #289
there seem to be the start of an implementation here https://github.com/chengenzhao/vertx-lang-clojure

[2018-01-08 12:03] vietj commented on #316
can you investigate @tsegismont ?

[2018-01-10 12:43] vietj commented on #192
we might revisit the attempt to have CompletableFuture or CompletionStage in Vert.x after 3.5.1 so we would rather focus on this instead

[2018-01-10 14:15] tsegismont commented on #316
@michalsida nice catch!

This is an area where we would like to improve the ClusterManager SPI. The SPI grew out of the initial Hazelcast implementation, and the `getAsyncMultiMap` leaked out to `ClusterManager` so that `ClusteredEventBus` can get one to store handler registrations. It wasn't intended as a user-facing method, but here it is now...

The good news is that `ClusteredEventBus` never c

[2018-01-10 14:20] michalsida commented on #316
I needed this method for some (a little dirty) hack of other project and I started to use it the same way (= call it only once).

[2018-01-10 14:59] tsegismont commented on #316
@vietj I sent a PR to core as well as HZ and ISPN cluster managers.
@michalsida please take a look as well

[2018-01-10 16:52] tsegismont commented on #309
The line looks good to me. And it's used by quite a lot of tests. Reopen if you have a test case showing a failure.

[2018-01-10 16:52] #309 closed, assigned to nobody

[2018-01-10 16:55] tsegismont commented on #310
Why not use the raw template engine classes directly instead? Vert.x Web
template engine classes are designed to render pages from a Vert.x Web
routing context.

2017-11-21 15:38 GMT+01:00 Roman Novikov <notifications@github.com>:

[2018-01-10 17:34] mhstnsc commented on #174
I backup @AdamMcM .
I currently had a performance issue with our app which had too many threads configured and then java took too much overhead to do the youngen collection.

It would be good to pass a max but vertx should create a new thread only if were actually needed. This way i don't have to keep testing and optimizing.

[2018-01-10 21:30] vietj commented on #313
@Sammers21 interested by this issue ?

[2018-01-10 21:33] #59 closed

[2018-01-10 21:36] vietj commented on #264
can you check with latest 3.5.1-SNAPSHOT and reopen if necessary ?

[2018-01-10 21:36] #264 closed, assigned to nobody

[2018-01-10 21:36] #116 closed

[2018-01-10 21:37] #61 closed

[2018-01-10 21:37] #65 closed

[2018-01-10 21:38] vietj commented on #92
what's the status on this @tsegismont ?

[2018-01-10 21:38] vietj commented on #102
please reopen in correct repo.

[2018-01-10 21:38] #102 closed

[2018-01-10 21:40] vietj commented on #106
this seems to be a recursive method

[2018-01-10 21:40] #106 closed

[2018-01-10 21:40] vietj commented on #123
should be

[2018-01-10 21:40] #131 closed

[2018-01-10 21:41] vietj commented on #140
yes

[2018-01-10 21:41] #140 closed, assigned to nobody

[2018-01-10 21:42] vietj commented on #187
anyone up to contribute this ?

[2018-01-11 02:01] derekjwashington opened #318 "future complete not called after reconnect in RabbitMQClientImpl.start"
When using docker-compose my app attempted to connect to RabbitMQ container before RabbitMQ was ready to accept connections. I have connectionRetries=3 so my app correctly tried again. On the second attempt connection succeeded but my app hung and the verticle didn't finishing starting. Looking at RabbitMQClientImpl start method, version 3.5.0 line 338, I noticed future.complete() not called.

Exc

[2018-01-11 07:45] vietj commented on #318
can you open this in the vertx-rabbitmq project ?

[2018-01-11 08:13] Sammers21 commented on #313
@vietj, sure, I will work on it.

[2018-01-11 08:33] vietj commented on #306
@yanivpl5 any news about this ?

[2018-01-11 08:56] tsegismont commented on #92
It's possible to use Hazelecast's async APIs. It's documented here: http://vertx.io/docs/vertx-hazelcast/java/#_using_hazelcast_async_methods

[2018-01-11 08:56] #92 closed

[2018-01-11 11:21] derekjwashington commented on #318
Done.

[2018-01-11 11:21] #318 closed, assigned to nobody

[2018-01-11 12:34] wu-lee opened #319 "io.vertx.core.http.HttpClient#websocketStream claims to be fluent, but is not"
I've noticed the javadoc for this family of functions all say:

Whereas they all return a `ReadStream<WebSocket>`.

Presumably this is a mistake in the documentation?

[2018-01-11 13:28] tsegismont commented on #319
@wu-lee nice catch. Yes probably a copy/paste... Would you mind to fix it?

[2018-01-11 13:54] vietj commented on #318
thanks

[2018-01-11 13:58] #97 closed

[2018-01-11 13:58] #96 closed

[2018-01-11 13:59] vietj commented on #13
@tsegismont what shall we do with this issue ?

[2018-01-11 14:10] tsegismont commented on #13
@vietj Hazelcast has a discovery SPI since 3.6. Users can include hazelcast-kubernetes jar in their project and configure as documented here https://github.com/hazelcast/hazelcast-kubernetes/blob/master/README.adoc

[2018-01-11 14:10] #13 closed

[2018-01-11 14:54] vietj commented on #13
thanks for closing it!

[2018-01-11 14:54] vietj commented on #13
should we link that in the current Vert.x HZ doc ?

[2018-01-11 15:02] wu-lee commented on #319
I'll have to track down which repository to check out, etc., but I might try.  Perhaps you could encourage me by giving me some information on the use case for method and its return value of `ReadStream<WebSocket>`? It is puzzling me. (I am a vertx newbie.)

[2018-01-11 16:27] tsegismont commented on #319
The repo is https://github.com/eclipse/vert.x

Just update the `io.vertx.core.http.HttpClient` Javadoc broken `@return` tags. The methods return a stream emitting a `WebSocket` event when the client connection has been upgraded to a websocket.

[2018-01-11 16:29] tsegismont commented on #13
I don't think this is mandatory. There are plenty of discovery plugins
which could be documented as well. If someone contributes it I would
certainly consider merging though.

2018-01-11 15:54 GMT+01:00 Julien Viet <notifications@github.com>:

[2018-01-11 18:09] vietj commented on #13
I think we should at least add a note to use specific discovery plugin in such env

[2018-01-11 18:57] michaelpog opened #320 "Address resolver gives only a single IP for a host name"
I'm currently using io.vertx.core.impl.AddressResolver provided by VertxImpl to do a DNS resolution on a host name.
However the addressResolver takes only a Handler<AsyncResult<InetAddress>> resultHandler instead of a Handler<AsyncResult<List<InetAddress>>> resultHandler
And the resolver calls resolve inside the resolveHostname instead of resolveAll.
It is desirable that this method would be able

[2018-01-12 06:56] vietj commented on #320
it's not planned to expose the address resolver at the moment, you can use the DnsClient to achieve a similar functionality.

[2018-01-12 08:15] cescoffier commented on #13
There is an official HZ support for kubernetes. The discovery implementation we did has been removed in favor of the official one.

[2018-01-12 08:26] vietj commented on #13
I just means that in such managed env, the doc could say to look at the related plugin for this env

[2018-01-12 10:55] jponge commented on #281
Marking this issue as resolved, although I'll do some Vert.x stack integration work next week.

[2018-01-12 10:55] #281 closed, assigned to jponge

[2018-01-15 11:44] shreychouhan opened #321 "Failed to deployed Vertx.clusteredVertx inside a docker container."
I'm trying to run a vert.x java app inside a docker container. The app connects to a zookeeper instance running on another host. Connectivity to the zookeeper instance has been tested from the host and container. The app runs fine when I run it directly on the host. However, when I try to run the jar file inside the container it throws an error stating the following:

[code]

#Here is my code that

[2018-01-16 09:39] vietj commented on #319
should have been merged

[2018-01-16 09:39] #319 closed, assigned to nobody

[2018-01-16 12:45] #313 closed, assigned to nobody

[2018-01-16 12:45] vietj commented on #313
thanks for the contribution @Sammers21

[2018-01-16 17:48] dhoffer opened #322 "Add SOAP server support ideally integrating with Apache CXF"
Add SOAP server support ideally integrating with CXF.  We are looking at converting a mixed technology stack application to use vert.x.  One of our wars exposes several SOAP endpoints and if we use vert.x it will have to support this in some way.  Currently it's not clear how I would integrate this with vert.x.

[2018-01-17 22:46] michaelpog opened #323 "NullPointerException log with no stack trace"
Hi,
I've deployed an application with webserver + web client based on Vert.x 3.5.0.
Shortly after it was put in production, I have observed NullPointerExceptions in the log in this form:
[code]
Intertwined with other exceptions that do not have a stack trace that I will create separate tickets for that also do not have a stack trace in the log.

When I attached Java Flight Recorder I was able to g

[2018-01-18 08:19] vietj commented on #323
can you try with vertx 3.5.1-SNAPSHOT ? the code has quite changed since we reworked the connection pool

[2018-01-18 21:50] yanivpl5 commented on #306
We understood that we need to limit the number of concurrent client that receive large data.
We implement throttling mechanism based on counter of the active clients being handled.
This was a tricky one and we understood that when the response committed using the response end() method, Netty is handling the sending of the response to the client asynchronously and we have no idea when Netty complet

[2018-01-19 09:45] vietj commented on #315
can we have it in two parts and have a different compiler jar ?

[2018-01-19 09:46] vietj commented on #315
taht's how Kotlin does

[2018-01-19 12:26] LaurentBERTHOLLE opened #324 "Tests sometimes failing with NullPointerException after 2 minutes."
public class GetCreativeHandlerIT {
    private Vertx vertx;

    @Before
    public void before(TestContext context) {
        vertx = Vertx.vertx();
        vertx.deployVerticle(new HttpServerVerticle(), context.asyncAssertSuccess());
    }

    @After
    public void after(TestContext context) {
        vertx.close(context.asyncAssertSuccess());
    }

    @Test
    public void test1(TestContex

[2018-01-19 19:20] michaelpog commented on #323
Hi @vietj, unfortunately I cannot do that since I've been able to get into this situation only in production and I obviously cannot test a non stable snapshot version in production. If you believe that that part is fixed then once 3.5.1 is released as stable I can migrate and see if it's gone

[2018-01-19 20:40] vietj commented on #323
I will try to understand what is going on and see how it goes with 3.5.1

[2018-01-19 20:44] vietj commented on #323
what is weird is that you should not see logging since:

[code]

ignores the exception

[2018-01-19 20:44] vietj commented on #323
I think that in 3.5.1, the code has been very improved and should not happen

[2018-01-19 20:45] vietj commented on #323
I'll close this issue after 3.5.1 when you report that it does not happen anymore

[2018-01-20 20:02] michaelpog commented on #323
Yes, I am as surprised, and it is actually possible that the exceptions I see in the log are different.
The thing is, I noticed the NullPointerExceptions in the log with no stack trace, so I had no way to really know where they come from so I attache Java Flight Recorder and I'm assuming that those exceptions I saw in the log are the same as what I see in JFR, but really I have no way of knowing t

[2018-01-22 13:35] tsegismont commented on #324
Without the stacktrace and the `HttpServerVerticle`, it's hard to do anything but wild guessing. Can you please post update your issue? Thanks

[2018-01-22 20:22] pratikpparikh commented on #137
@Jotschi I see that we now have an emitter as part of https://github.com/mulesoft-labs/raml-java-tools, can the progress be made here?

[2018-01-22 20:40] Jotschi commented on #137
@pratikpparikh Looks promising. I'm thinking about writing an additional/extended router / routes implementation which could support this. I'll take a look at this once my backlog allows it.

[2018-01-23 01:47] pratikpparikh commented on #137
@Jotschi Thank you.  So the plan is to support both RAML and swagger production based on extended router routes.   Just wanted to understand and was wondering what you were thinking.

[2018-01-23 10:54] InfoSec812 opened #325 "Provide a link to documentation for older versions of Vert.x"
I am working in Red Hat OpenShift Application Runtimes and thus limited to using certain APIs in version 3.4.2 and earlier. There does not appear to be a simple way to view the older versions of the Documentation from the Vert.x web site. It would be awesome if we could view documentation from older versions of Vert.x easily.

[2018-01-23 12:05] cescoffier commented on #325
This is plan. I'm going to work on a first attempt next week.

[2018-01-23 12:42] Jotschi commented on #137
@pratikpparikh I have not yet worked with Swagger/OpenAPI so I can't say much about it but I have an enhancement issue open for OpenAPI as well: https://github.com/gentics/mesh/issues/188

For Gentics Mesh I would love to support RAML and OpenAPI.

[2018-01-23 13:04] pratikpparikh commented on #137
@Jotschi since you are aware of what you need to do with RAML support, I am not an expert on either but i can try to pitch in to help add swagger support when you are done with RAML side of the equation.

[2018-01-23 20:59] pmlopes commented on #137
@pratikpparikh we already have support for swagger http://vertx.io/docs/vertx-web-api-contract/java/

[2018-01-23 21:04] Jotschi commented on #137
@pmlopes That approach requires a spec upfront (Design Driven). The other approach is to generate the spec from existing code.

[2018-01-24 07:07] laudylcp opened #326 "After used, NetSocket must close??"
2018-01-24 13:14:01.221 [vert.x-eventloop-thread-2] WARN  io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
java.io.IOException: Too many open files
	at sun.nio.ch.ServerSocketChannelImpl.accept0(Native Method) ~[?:1.8.0_152]
	at sun.nio.ch.Serve

[2018-01-24 14:39] tsegismont commented on #326
@laudylcp it's fine to keep long-lived TCP connections. But the OS has a limit on the number of opened file descriptors. It seems you reached yours. Google "too many open files" for your system and you will find how to increase that limit.

[2018-01-24 14:42] vietj commented on #326
@laudylcp it's your responsibility to close net sockets according to your protocol

[2018-01-24 14:42] #326 closed, assigned to nobody

[2018-01-30 13:37] MrTetrixx opened #327 "EventBus.send with large sendTimeout gets ignored?"
I ran across an issue with sendTimeout on EventBus.send().
If a very large sendTimeout is used it seems to be treated as no timeout and fails immediately.
I am using vertx 3.5.0. I saw this in more realistic code than the example code below but it seems to replicate it:

[code]
Running the above code immediately returns:
[code]

[2018-01-30 14:12] vietj commented on #327
this is because you are using an unrealistic timeout value that gets translated into a negative clock (overflow)  time, a more correct value would be:

[code]

but that an invalid timeout value by the JVM when Netty polls the selector:

[code]

[2018-01-30 14:13] vietj commented on #327
as the method is native, I don't know (yet) what would be the max value you can use...

what is your actual use case to set such kind of infinite timer ?

in this situation you should rather use the event bus differently and set a reply address yourself instead of using the request/reply paradigm.

[2018-01-30 14:23] MrTetrixx commented on #327
Yes, I know its a rather silly problem, Long.MAX_VALUE is rather silly.
But the signature of `sendTimeout` is a long and it goes all the way to its maximum value. I really like vertx and was a bit surprised that it acted a bit strange. If the long is too big maybe use something smaller or reject illegal ranges.

[2018-01-30 14:24] vietj commented on #327
yes we should do that, however the main issue here is that the selector upper bound rejection is not known and not explained in the javadoc of the method

[2018-01-30 14:25] vietj commented on #327
also netty should do a check (AbstractScheduledEventExecutor) :

[code]

the call to `ScheduledFutureTask.deadlineNanos(unit.toNanos(delay))` generates a negative value.

[2018-01-30 14:27] vietj commented on #327
perhaps we should have a max fixed value in Vert.x (like 10 days ?)

[2018-01-30 14:28] vietj commented on #327
10 days is unrealistic, specially if you send many messages regularly you may OOM due to the accumulation of timers and in this case request/response is not what you arel ooking for

[2018-01-30 14:29] vietj commented on #327
in this case you would rather have a shared address to reply to, that you send to in the request message and have all the contextual data part of the message

[2018-02-05 02:45] zb564739784 opened #328 "vertx core tcp socket"
When the NetServer service side write was not sent, there was no flush API, and I called the end method to close the connection before flush out.

[2018-02-05 06:40] vietj commented on #328
normally when you close the connection it iwll flush the remaining buffers, do you have a reproducer for this issue ?

[2018-02-08 20:53] michaelpog opened #329 "Found a bug : java.lang.StringIndexOutOfBoundsException: String index out of range: 0 in Http2ServerRequestImpl"
I found a bug in the HTTP server when the client is sending an H2C HTTP/2 request, and the HTTP server is using vertx-web

The scenario is when a request is sent without any relative URI:
for example http://localhost:6000
In that case the call to HTTP client is with:
[code]

In the HTTP Server I'm getting this exception:
[code]
and the request is never served by the HTTP server.

If I change the H

[2018-02-09 07:24] vietj commented on #329
can you investigate @pmlopes ?

[2018-02-20 19:49] ghost opened #330 "Using vertx as a reverse proxy causes memory leak"
Yesterday I pushed on my servers this code:

[code]

I'm using this to do a reverse proxy for image (jpg) serving.

After one day it ended up to consume all the 3GB of heap space I currently have allocated for the vertx instances

[2018-02-20 19:53] ghost commented on #330
Maybe this is a confirmation of https://github.com/vert-x3/issues/issues/306

[2018-02-20 21:25] vietj commented on #306
it's not clear wether you are consuming too much memory or if you have an effective leak, i.e memory which is not released after usage, can you clarify ?

[2018-02-21 08:18] dasantos opened #331 "WebClient response always executed in the main thread? (question)"
While testing in a really slow device, I got a **thread blocked warning** (using the default 2000 ms) when processing the response.

This code raises warnings and then io.vertx.core.VertxException: Thread blocked

    Future<Void> future = Future.future();
    vertx.executeBlocking(status -> {

        // mock
        final String endpoint = "endpoint";
        final short timeout = 30000;

[2018-02-21 14:13] vietj commented on #331
can you show the stack trace to give more context ?

[2018-02-21 14:37] dasantos commented on #331
Stacktrace:

Feb 20 17:14:31 xxx YYY[6797]: Feb 20, 2018 5:14:31 PM io.vertx.core.impl.BlockedThreadChecker
Feb 20 17:14:31 xxx YYY[6797]: WARNING: Thread Thread[vert.x-eventloop-thread-0,5,main] has been blocked for 2057 ms, time limit is 2000
Feb 20 17:14:32 xxx YYY[6797]: Feb 20, 2018 5:14:32 PM io.vertx.core.impl.BlockedThreadChecker
Feb 20 17:14:32 xxx YYY[6797]: WARNING: Thread Thread[vert.x

[2018-02-24 02:42] felix-laofan opened #332 "二月 24, 2018 10:39:22 上午 io.vertx.core.eventbus.impl.clustered.ConnectionHolder 警告: Connecting to server localhost:4857 failed io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: no further information: localhost/127.0.0.1:4857"
二月 24, 2018 10:39:22 上午 io.vertx.core.eventbus.impl.clustered.ConnectionHolder
警告: Connecting to server localhost:4857 failed
io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: no further information: localhost/127.0.0.1:4857
	at sun.nio.ch.SocketChannelImpl.checkConnect(Native Method)
	at sun.nio.ch.SocketChannelImpl.finishConnect(Unknown Source)
	at io.netty.channel.

[2018-02-25 08:10] yanivpl5 commented on #306
I found that our throttling mechanism that was supposed to limit the number of concurrent clients was buggy. There for we reached hundreds of clients downloading 12MByte file. This lead to Netty consuming large amount of memory eventually crashing the application. I don't think that we had memory leak we just didn't analzed the situation correctly.

[2018-02-25 10:36] vietj commented on #306
I'm assuming we can close this issue

[2018-02-25 10:36] #306 closed, assigned to nobody

[2018-02-26 10:55] vietj opened #333 "Use plain asciidoc files for polyglot components"

[2018-02-26 15:33] tsegismont commented on #332
@felix-laofan please use shorter issue sensible issue titles.

If you don't use the CLI or a fat-JAR with the `Launcher` main class, you must set the cluster host name with `io.vertx.core.VertxOptions#setClusterHost`. Otherwise it defaults to `localhost`

[2018-02-26 15:33] #332 closed, assigned to nobody

[2018-02-26 15:36] #333 closed, assigned to vietj

[2018-02-26 15:37] vietj opened #334 "Use plain asciidoc files for all components"
Polyglot build have been migrated to use plain asciidoc but remaining ones shall also be migrated

[2018-02-28 11:12] vietj opened #335 "Decouple Kotlin lang from stack components"

[2018-02-28 13:36] #335 closed, assigned to vietj

[2018-02-28 21:51] vietj opened #336 "Decouple Groovy lang from stack components"

[2018-02-28 22:51] michaelpog opened #337 "Bug in HTTP client request URI, adds trailing "=" in the end of request"
Given a request url in the following format:
http://hostname/xyz?param
The result request that HTTP client is producing is http://hostname?param=
The bug is in io.vertx.ext.web.client.impl.queryParams()
I see in the method that given a uri="/xyz?param", the following object is created:
[code]
Later
[code]
is called.
Inside io.netty.handler.codec.http.QueryStringDecoder
The parameters are being par

[2018-02-28 23:08] #336 closed, assigned to nobody

[2018-02-28 23:40] michaelpog commented on #329
Any progress on this? @vietj  @pmlopes ?

[2018-03-02 09:38] vietj opened #338 "Decouple JavaScript lang from stack components"

[2018-03-02 15:18] #338 closed, assigned to nobody

[2018-03-02 15:19] vietj opened #339 "Decouple Ruby lang from stack components"

[2018-03-02 17:08] #339 closed, assigned to nobody

[2018-03-07 11:00] pmlopes commented on #310
@mystdeim I'm looking at this and thinking, we probably could create a render method with a `Map` as the source of the template variables, however, the context has already a map for you and that is where the variables are extracted from.

What would be the benefit of this since this API is used inside `web` there is always a context. I don't see the use case, but feel free to tell more about it.

[2018-03-07 20:53] pentagon commented on #252
@underkin hi, any luck on this issue?

[2018-03-07 23:29] michaelpog opened #340 "io.vertx.ext.web.client.HttpRequest does not have any getters for testing"
The interface of io.vertx.ext.web.client.HttpRequest  does not have any getters that correspond to the setters it has.
So for example it would be very nice if for
[code]
it would also have a
[code]

For
[code]
if would also have
[code]

It is very useful for unit test purposes where you have a method that sets those parameters and returns an HttpRequest
and we can assert on every value that was se

[2018-03-08 09:19] vietj commented on #340
feel free to make a PR

[2018-03-08 10:30] jgarcia241 commented on #252
It is working for me with;

[code]

and with:

[code]

[2018-03-08 10:33] #252 closed, assigned to nobody

[2018-03-09 08:12] pentagon commented on #252
@underkin thank you very much, hopefully this solution gets its reflection in vertx docs :)

[2018-03-09 12:48] jponge opened #341 "Better documentation combining service proxies and RX-ification"
Service proxies provide a compelling way to define and consume functional units in a service.

It is also possible to use code generation to provide language-specific variants around the callback-based proxies. It is especially appealing to provide a _Reactive eXtension_ variant of a service proxy interface.

This is already present in the [Vert.x examples](https://github.com/vert-x3/vertx-example

[2018-03-13 20:28] #328 closed, assigned to nobody

[2018-03-14 08:24] vietj opened #342 "Osgi descriptor update"
motivation: the vertx polyglot support in the vertx stack has changed since Vert.x 3.5.1 with a new layout on the stack artifacts. Osgi descriptor are likely not up to date anymore.
change: osgi descriptors needs to be updated to reflect this new status.

[2018-03-14 08:27] cescoffier commented on #342
As an example, I've provided the OSGi metadata for the Vert.x Circuit Breaker a few days ago.

This task should also cover the OSGi metadata of the polyglot task themselves (and this is going to be the hardest part)

[2018-03-15 22:29] michaelpog commented on #340
Will do

[2018-03-15 23:11] michaelpog commented on #340
@vietj I created a branch with those additions.
I'm trying to push the branch and I'm getting a
[code]
Do I need to get permissions to push the feature branch to submit a pr?

[2018-03-16 08:23] vietj commented on #340
only vertx committers can push to these repo, you just need to make a  PR from your own fork

[2018-03-16 18:24] michaelpog commented on #340
Thank you @vietj here is the pr https://github.com/vert-x3/vertx-web/pull/867

[2018-03-19 16:21] michaelpog commented on #271
@vietj  I was not able to reproduce this in a while. If I do I can create a new issue. Feel free to close this if you'd like

[2018-03-19 16:47] #271 closed, assigned to nobody

[2018-03-19 20:50] dhoffer opened #343 "Make OpenAPI3RouterFactory Open API schema first web-services easier to use"
OpenAPI3RouterFactory is great at mapping the Open API schema to Vert.x routes but its way too tedious to do the rest of the work to implement the REST services.

What it needs is code generation for the following:
- Pojos for all the models specified in the schema.
- Code generation for all addHandlerByOperationId & addFailureHandlerByOperationId that match all the operationIds in the schema.  E.

[2018-03-21 11:06] slinkydeveloper commented on #343
Ok so the actual state of oas3 support is:
* Actually we have the tool https://github.com/pmlopes/slush-vertx that bootstrap the project but **don't create POJOs**, that of course need to be generated either when you are bootstrapping the project or at compile time. Or we implement the pojo generator in slush-vertx or we create a maven plugin that does that work starting from openapi spec (maybe f

[2018-03-21 14:23] dhoffer commented on #343
Thanks for the update/info, I was not aware of the tools you mentioned.  We are starting a major port of a Spring app to Vertx and it has a lot of REST services so I could really use these enhancements now so I don't have to change again.

I would like the code to be generated using a Maven plugin that reads the Open API spec.  It does seem that  http://www.jsonschema2pojo.org could be leveraged f

[2018-03-21 17:03] michaelpog commented on #340
I think we can close this one? @vietj

[2018-03-22 08:41] slinkydeveloper commented on #343
With http://www.jsonschema2pojo.org/ you can take the single schema from your oas and then translate it. A good practice is to externalise schemas outside openapi.yaml and then refer to it with `$ref`. So if you need to generate at compile time with maven the POJOs, use jsonschema2pojo maven plugin and place all schemas in separate files outside the openapi spec. At runtime the router factory will

[2018-03-27 02:07] kobe2000 opened #344 "refresh a file upload request in firefox cause vertx to print exception forever"
I wrote a simple html for file uploading:
[code]
and a simple embed http server:
[code]
The first time to submit the file upload form, everything is ok, but if I refresh the result page(F5) one exception will be printed infinitly:
[code]
Vertx version is 3.5.1
Firefox version is 59.0.1(Closing Firefox didn't stop the exception from printing)
IE is OK.

I can not figure it out, please help
Thanks

[2018-03-27 08:07] tsegismont commented on #344
Nice catch. I was able to reproduce. We will take a look.

[2018-03-27 18:22] LarsKrogJensen opened #345 "Web connection closed with endless stacktrace"
Issue created from a discussion in [vertx forum](https://groups.google.com/forum/#!topic/vertx/O4mBjz_B3Bc)

Vertx 3.5.1 and 3.5.0 using netty epoll native driver.

We see a huge, recursive stack trace, when an underlying web connections is closed(?) and the recursive pattern looks like:

[code]

This happens over and over again until a NPE is thrown in HttpServerMettricsImpl.

The issue only happ

[2018-03-28 09:21] vietj commented on #342
@cescoffier ping

[2018-03-28 17:32] cescoffier commented on #342
I know @vietj  but no time for now.

[2018-03-28 20:44] michaelpog opened #346 "Vert.x Groovy project cannot build with JDK 9 Illegal type in constant pool"
I have a maven project that uses Vert.x core in groovy.
I'm trying to build and run it with JDK 9.
Unfortunately that does not work.
Please see my reproducer here
https://github.com/michaelpog/vertx-groovy-jdk9-reproducer

I can build and run it just fine with JDK 8, however when I build it with JDK 9, and try to run it. I get this exception:
[code]

[2018-03-29 05:53] vietj commented on #346
when checking the stack with Java 9 we found out that Groovy support for 9 seems to be broken.

perhaps now it would work with a  more recent groovy version

[2018-03-29 10:23] vietj opened #347 "Upgrade Jackson to 2.9.5"

[2018-03-29 13:24] vietj commented on #347
done with

https://github.com/vert-x3/vertx-dependencies/commit/cc4b36efa021658e38ef4544f5fc855de62ef49c
https://github.com/vert-x3/vertx-codegen/commit/78ad357e35bbbe5603d14c844eed516fe5869593
https://github.com/vert-x3/vertx-config/commit/e6bf2bf7eaa6bf9e40b3c0f2427c5ef6cc3696bd
https://github.com/vert-x3/vertx-rx/commit/c6d09b531b4f62ab26211502834c7ddcaf6ecba9
https://github.com/vert-x3/vertx-s

[2018-03-29 13:24] #347 closed, assigned to vietj

[2018-03-29 15:17] dhoffer commented on #343
Okay I follow most of what your saying.

Regarding the first part regarding externalize schemas outside openapi.yaml and then refer to it with $ref this is what I am doing as I have many existing pojos (db entities for example) that the openapi.yaml must reference.  So I'm generating json schema for those pojos and then referencing those schema in openapi.yaml.  So an example of this is:

requestB

[2018-03-29 16:25] michaelpog commented on #346
@vietj Are you able to reproduce it, first of all? I am using the latest groovy version. 2.4.14. I've seen people complain about issues with groovy and JDK 9 on older versions and the errors I had with Groovy 2.4.12 were different. But I have not seen any issues people reported with this version of Groovy.
Do you know what the issue is though, and who is supposed to address it? Is it something in

[2018-03-29 18:13] vietj commented on #346
no I haven't been able to figure out as the moment I investigated it.

Can you try to force different groovy versions like 3 alpha ?

[2018-03-29 18:13] vietj commented on #346
is there an official support for Groovy with JDK9 ?

[2018-03-29 18:45] michaelpog commented on #346
I could not actually find any official claim that it supports JDK 9. However according to http://groovy-lang.org/download.html 2.4.14 works on JDK 7+. Which should include JDK 9.
I'll try to run with the 3 alpha version

[2018-03-30 07:40] spn opened #348 "Write to secure websocket using proxy server fails with UnsupportedMessageTypeException"
As of vert.x 3.5.1, connecting to secure websocket server using a proxy doesn't work.
After handshake, any attempt to send a websocket frame fails with:
[code]

The error itself is not visible (websocket just silently disconnects), I got the above stacktrace trying to debug the problem.

I'm still not sure if it's a vert.x or Netty issue (looking at https://github.com/netty/netty/issues/5201). Run

[2018-03-30 09:02] vietj commented on #348
can you create a test for reproducing the case ?

[2018-03-30 12:01] spn commented on #348
This one works for me.
When proxy is disabled, this works and implements simple echo test.
When proxy enabled, will fail with `UnsupportedMessageTypeException`.

The test is using locally-installed `tinyproxy` which is a proxy server supporting `CONNECT`.

[code]

[2018-03-31 15:27] slinkydeveloper commented on #343
Ok so, if you have particular problems with $ref, just open an issue in repo https://github.com/vert-x3/vertx-web with a reproducer, so i can give a deeper look at it. $ref should work but there are a lot of corner cases that are difficult to address. Also please note that refs usually have relative paths, for example if you have the openapi.yaml in resources folder and a schema in resources/schem

[2018-04-04 09:02] jacekmaza opened #349 "Handling DNS Resolution Errors"
# Bug Description

There seems to be a bug how the DNS resolution errors are handled.
The error happens only when using the java default/blocking name resolver (`vertx.disableDnsResolver=true`).
After the name is unresolved as many times as the size of the connection pool in the http client, the subsequent calls seem to hang.

This problem is a regression as running it against vertx `3.5.0` works

[2018-04-05 11:48] tsegismont commented on #349
Can you clarify what your expectation is? Also, the code works as you expect when you run with `3.5.0` but doesn't with `3.5.1`, correct?

[2018-04-05 12:56] jacekmaza commented on #349
Yes, it used to work fine with `3.5.0`.

In general the expectation is that the application is able to recover from temporary DNS errors.

When the name resolution fails, our application flow crashes with the `500` which is fine.  With the `3.5.1` however, the `clientRequest.exceptionHandler` is called only for the first few DNS failures (the number seems to be correlated to the connection pool si

[2018-04-06 13:50] tsegismont commented on #349
@jacekmaza thank you. I could reproduce. @vietj will take care of it

[2018-04-06 14:16] vietj commented on #349
I will open an issue on the vertx repository and link to this one. thanks for reporting.

[2018-04-06 14:22] vietj commented on #349
it seems to be related indeed to the blocking and synchronous resolver only

[2018-04-07 08:42] vietj commented on #349
fixed by https://github.com/eclipse/vert.x/issues/2370 - thanks for the reproducer

[2018-04-07 08:42] #349 closed, assigned to vietj

[2018-04-08 23:35] craigbensemann commented on #345
This looks like the same problem we are having. We are also unable to reproduce it locally. We upgraded from 3.4.1 to 3.5.1 and started seeing this issue.

My feeling is that this happens only once another error has occurred so normal requests are unaffected.

We did notice that io.vertx.core.http.impl.Http1xServerConnection normally checks for a non-null pendingResponse prior to using it but the

[2018-04-09 06:36] vietj commented on #345
@craigbensemann have you looked at https://github.com/eclipse/vert.x/issues/2365 ?

[2018-04-09 06:38] vietj commented on #345
I'm going to investigate

[2018-04-09 06:42] vietj commented on #345
I think that vertx-web is misbehaving but clearly vertx core has a bug.

I believe that currently the request exceptionHandler is called this way:

[code]

and I think it should be executed with a `runOnContext` like it happens for the response in `HttpServerResponseImpl#handleClosed()`

[2018-04-09 06:54] vietj commented on #345
I am able to reproduce with

[code]

[2018-04-09 07:10] vietj commented on #345
actually it's not exactly the same but I have the loop

[2018-04-09 08:15] vietj commented on #345
the loop should be fixed by https://github.com/eclipse/vert.x/issues/2373 in vertx core

[2018-04-09 21:36] michaelpog opened #350 "The HTTP client pool should manage per host connections with a configurable LIFO or FIFO strategy"
I'm using Vert.x 3.5.0 (Vertx Core 3)

Assuming I have a connection pool size of 2, I have noticed an undesirable behavior of how the connections are managed by the ConnectionManager.

Assuming two connections are already created in the connection pool (TCP stream 0 and TCP stream 1)
What I noticed is the following scenario:
My application sends a request to host:port on TCP stream 0 at time T
The

[2018-04-10 06:10] vietj commented on #350
@michaelpog I think we could make that configurable (AsyncHttpClient has a `PoolLeaseStrategy` with LIFO and FIFO values), but this would be done in master with the new pool.

[2018-04-10 06:15] vietj commented on #350
I've renamed the issue to reflect more the issue we want to address

[2018-04-10 08:13] jacekmaza commented on #349
@vietj, thanks for taking care of it.

Is there any workaround to get it working with the `3.5.1` or the only option is to wait for `3.6.0` release? By a workaround I mean for example registering an additional exception handler that would make sure the connection is not blocked in case of this particular error case.

[2018-04-10 08:27] vietj commented on #349
we are thinking doing a 3.5.2 with these bug fixes

[2018-04-10 08:27] vietj commented on #349
@jacekmaza you could try set a timeout on the `HttpClientRequest`

[2018-04-10 08:41] jacekmaza commented on #349
The timeout `HttpClientRequest` indeed triggers the error handler. I'll give it a try and see if we can use it for our use case before the bug fix is released.

[2018-04-10 16:03] michaelpog commented on #350
Yes @vietj that would be fantastic!
And it makes perfect sense to have that configurable. Different users may have different preferences.
And I appreciate you giving this ticket a much better title

[2018-04-10 16:06] dhoffer commented on #343
Okay I created 'vertx-web-api-contract fails to parse Open API with relative paths' https://github.com/vert-x3/vertx-web/issues/899 for the $ref bug.

Regarding operationId, no we are not using reflection to map to handlers but we do want a way to not have type type the operationId string in both the Open API spec and in our code.  Right now we auto generate a constants file for this, its not idea

[2018-04-10 16:17] dhoffer commented on #343
I created 'vertx-web-api-contract when parsing Open API can throw NPE' https://github.com/vert-x3/vertx-web/issues/900 for the NPE error.

[2018-04-10 16:56] dhoffer commented on #343
Also created https://github.com/vert-x3/vertx-web/issues/901 and https://github.com/vert-x3/vertx-web/issues/902 for other issues.

[2018-04-10 22:33] michaelpog commented on #350
@vietj please see my pull request https://github.com/eclipse/vert.x/pull/2383
I struggled with adding unit tests for that, the way ConnectionPoolTest is written, I could not find a good way to test it, but the change looks pretty straightforward

[2018-04-11 03:29] ryrun168 opened #351 "vert-x with api gateway"
Hi Team,

I have started using vert-x, does the vert-x can acting as reverse proxy (zuuls or Spring Cloud Gateway)?

Regards

[2018-04-11 05:47] vietj commented on #351
you can use Vert.x has a very scalable api gateway but you need to do it yourself with Vert.x Web and Vert.x Web Client

[2018-04-11 05:47] #351 closed, assigned to nobody

[2018-04-11 06:53] vietj opened #352 "Vert.x 3.5.2 umbrella issue"
List of back-ported bugs

- vertx-stack
   - [x] Jackson 2.9.5 upgrade
- vertx-core
  - [x] [Missing VertxGen annotation on JsonEventType](https://github.com/eclipse/vert.x/issues/2412)
  - [ ] [Native transport SO_REUSEPORT should be set on server bootstrap as option instead of child option](https://github.com/eclipse/vert.x/issues/2413)
  - [x] [Typo prevents configuration of EpollTransport](htt

[2018-04-11 08:57] codepitbull commented on #352
https://github.com/vert-x3/vertx-lang-scala/issues/65
https://github.com/vert-x3/vertx-lang-scala/issues/66

[2018-04-11 23:00] craigbensemann commented on #345
Thanks for the quick response. We've deployed a small test and it looks like the problem has gone away. We're deploying a larger number of instances today.

[2018-04-12 13:02] mitjabez commented on #344
https://github.com/eclipse/vert.x/issues/2380 fixes this issue.

[2018-04-12 13:18] tsegismont commented on #344
@kobe2000 looked into this again. I still can reproduce with Firefox 59.0.2. But when I tried with Chrome, it works fine. Which browser did you try? Can you try with another browser? Thanks

[2018-04-12 13:20] tsegismont commented on #344
@kobe2000 nevermind, I didn't notice the last part of your comments

[2018-04-12 13:44] tsegismont commented on #344
@chili1k I'm not sure eclipse/vert.x#2375 removes the exception in logs. But in master, it's definitely gone.

@kobe2000 @chili1k there's still definitely a bug in Firefox. Would be nice to report it

[2018-04-12 13:45] tsegismont commented on #344
Closing as fixed in master and happens only when refreshing Firefox after a POST request

[2018-04-12 13:45] #344 closed, assigned to nobody

[2018-04-12 15:29] brasseld commented on #351
@ryrun168 if you don't want to implement it by yourself, there is already an API Gateway based on Vert.x: https://github.com/gravitee-io/gravitee-gateway

[2018-04-13 01:36] ryrun168 commented on #351
@brasseld thanks for share.

[2018-04-13 08:46] yiming33 opened #353 "vertx-framework-mysql-postgresql question of LocalDateTime"
![image](https://user-images.githubusercontent.com/19584310/38725511-24860272-3f3a-11e8-90a1-b48fa67bfa55.png)

is ok

but
![image](https://user-images.githubusercontent.com/19584310/38725315-8f0bbcc8-3f39-11e8-8a23-5d1b39914d1d.png)

![image](https://user-images.githubusercontent.com/19584310/38725336-a115b9b4-3f39-11e8-8205-ae8880cb6f4f.png)

![image](https://user-images.githubusercontent.com/19

[2018-04-13 08:47] yiming33 commented on #353
Maybe there's a better way. Just I don't know

[2018-04-16 16:26] michaelpog commented on #346
@vietj ok I tried my reproducer with the new version of Groovy that just came out ```2.4.15``` looks like we're all good!

[2018-04-16 18:22] vietj commented on #346
awesome can you make a PR for this project ?

[2018-04-16 20:32] michaelpog commented on #346
I actually did not have to make any changes in Vert.x itself. And looks like https://github.com/vert-x3/vertx-lang-groovy/blob/master/vertx-lang-groovy/pom.xml#L31 is already on the right version.
And I think it was you who just upgraded it:)

[2018-04-17 07:05] davsclaus opened #354 "Jackson vulnerabilities CVE-2017-17485 & CVE-2018-7489"
Hi

We had a user report at Apache Camel about some recent security issues in Jackson. And because vertx uses Jackson as well I thought to report it to you guys as well

https://nvd.nist.gov/vuln/detail/CVE-2018-7489
https://nvd.nist.gov/vuln/detail/CVE-2018-7489

These are fixed in the latest version 2.9.5.
And vertx uses 2.9.0 in the latest 3.5.1 release.

[2018-04-17 08:48] vietj commented on #354
thanks @davsclaus

we have patched master to use 2.9.5 and shall use this version.

we're currently on a 3.5.2 release that will contain this backported patch

[2018-04-18 05:12] Anuj-Chauhan opened #355 "Typo in keys for shiro ldap provider documentation."
[https://vertx.io/docs/vertx-auth-shiro/java/](url)

The keys have **hyphens** instead of **underscores** in documentation.
Example: ldap-user-dn-template instead of ldap_user_dn_template.

Source LDAPProviderConstants.java in vertx-auth-shiro:3.5.1.

![image](https://user-images.githubusercontent.com/8949980/38912819-289dbb16-42f5-11e8-8302-c9a333dc66c5.png)

![image](https://user-images.githubus

[2018-04-18 06:33] mllrmat commented on #310
@pmlopes I would like to render emails with templates. In this case I do not have a routingcontext, so it would be handy to use the templateengine

[2018-04-18 06:34] vietj commented on #355
make a PR here https://github.com/vert-x3/vertx-auth/blob/master/vertx-auth-shiro/src/main/asciidoc/index.adoc

[2018-04-18 07:31] Anuj-Chauhan commented on #355
Thanks!
I see it is already fixed in the the above link only the official website [https://vertx.io/docs/vertx-auth-shiro/java/](url) is to be updated. :)

[2018-04-18 07:31] #355 closed, assigned to nobody

[2018-04-18 10:32] dangerLT opened #356 "reponse'status be closed before reponse.end() in httpServer"

[2018-04-18 17:05] #356 closed, assigned to nobody

[2018-04-21 10:52] cazacugmihai opened #357 "Feature - Provide a wrapping of an InputStream into a ReadStream<Buffer>"
This comes after [these](https://groups.google.com/forum/#!msg/vertx/XwgHFfC4vKI/yagj6jvRAgAJ) [discussions](https://groups.google.com/forum/?fromgroups#!searchin/vertx/inputstream$20pump%7Csort:date/vertx/x3VmUmtwIsQ/KRBZcWzTBAAJ).

@cescoffier already provided an implementation [here](https://github.com/wisdom-framework/wisdom/blob/master/core/wisdom-vertx-engine/src/main/java/org/wisdom/framewo

[2018-04-24 17:24] michaelpog commented on #346
@vietj would you like me to close this issue?

[2018-04-24 17:49] vietj commented on #346
I can close it, I will backport this to 3.5 branch so it's there in 3.5.2

[2018-04-24 17:53] #346 closed, assigned to nobody

[2018-04-24 18:47] michaelpog opened #358 "Don't capture stack trace for exception for connection close events"
When I upgraded my application from Vert.x 3.5.0 to 3.5.1. I have noticed a significant performance degradation. (It's na HTTP server and HTTP client application).

I've been investigating the root cause of the degradation  (much higher CPU usage) for a few days now, and I still can't find the definite root cause.

However when comparing Java Flight Recordings I noticed that in Vertx 3.5.1 there i

[2018-04-24 19:46] vietj commented on #358
I think we could create a NoStackTraceException which is cheaper to create in most place we need that

[2018-04-24 19:53] michaelpog commented on #358
Either way is fine, I'm just not sure why this exception is created there, in a high QPS it just adds an unnecessary garbage and overhead.
Thanks @vietj

[2018-04-24 20:02] vietj commented on #358
I think that wasn't an issue before 3.5.1 that close the connection when they are put back in the pool, I'll do a fix that will be in 3.5.2

[2018-04-24 20:02] michaelpog commented on #358
On a separate note, @vietj are there any known issues with 3.5.1 that may cause a performance degradation? Any large allocations that may have been introduced? Any issues with the connection pools? I get a very large number of timeouts in HTTP client. The CPU usage is very high. G1GC pause times have increased.
I'm going to test 3.6.0-SNAPSHOT..

[2018-04-24 20:05] manish-panwar commented on #358
We had to rollback our Prod from 3.5.1 to 3.5.0 within a day due to CPU spike. We were never able to reproduce CPU spike in our load test environment even though we simulated connection errors etc. Definitely something is wrong with 3.5.1, but we couldn't figure it out. See https://groups.google.com/forum/#!searchin/vertx/CPU%7Csort:date/vertx/FOFCDs4EZDc/NqkAGB6KBwAJ (in the post it's mentioned t

[2018-04-24 20:09] vietj commented on #358
@michaelpog there is also now 3.5.2-SNAPSHOT

@manish-panwar @michaelpog if you can use java flight recorder to provide a recording it would be great (that you can send me privately)

[2018-04-24 20:25] michaelpog commented on #358
@manish-panwar thanks for sharing. @vietj I will try to provide you JFR (I'll send it to your email). However I've been staring at those Java Flight Recordings for a few days already and I don't see the root cause.
In fact in many cases I can't even get the recording file because it's too big and JMC cannot open it.

[2018-04-24 20:30] manish-panwar commented on #358
@michaelpog - You can try recording just for 5-10 minutes. It's difficult for me to provide because issue only happens in Prod box and I will have to go through legal department.

[2018-04-24 20:32] vietj commented on #358
yes, only for a short period of time is enough

[2018-04-24 20:33] michaelpog commented on #358
@manish-panwar for some reason even 2 minutes becomes too much. Whenever I put my application on Vert.x 3.5.1 I just hardly get anything from Mission Control. I see very high CPU usage and the file I get is either broken, or JMC tells me it's too big and it was compressed, it tries to decompress and then it tells me it's still too big.So I always see a portion.
I'll try to provide something

[2018-04-24 20:35] vietj commented on #358
in what kind of workload and application do you observe that ?

[2018-04-24 20:38] #358 closed, assigned to nobody

[2018-04-24 20:52] vietj commented on #358
this issue has been fixed in vertx-core master and 3.5 branches

[2018-04-24 21:06] manish-panwar commented on #358
@michaelpog - In that case could you please try 3.5.2-SNAPSHOT if issue goes away? Since @vietj has marked it closed for 3.5.2, we want to make sure that it's indeed fixed. I can also try but issue only happens in Prod for us (I mean, only in customer's environment), so it's difficult for me to test the SNAPSHOT in prod. Thanks a lot for your help!!!

[2018-04-24 21:11] michaelpog commented on #358
I'll do my best @vietj @manish-panwar

[2018-04-24 21:19] vietj commented on #358
@michaelpog if you can describe your application and the workload I can try reproduce something in our performance lab as well

[2018-04-24 21:20] michaelpog commented on #358
It's a multiplexing HTTP proxy. It takes an HTTP request and transforms into 40 outbound requests downstream.
Some of them are going to timeout which is part of the stress test.
After ~200ms the application aggregates whatever response it got and sends back upstream

[2018-04-24 21:22] vietj commented on #358
what is the actual workload on the app ? perhaps you can share it for testing along with the client  (wrk ?)

[2018-04-24 21:37] michaelpog commented on #358
I'm sending 300 QPS inbound. the workload may contain sensitive information I cannot share, unfortunately but it's a json post request. (and the outbound requests are also post json requests and json responses)

[2018-04-24 21:45] vietj commented on #358
can you describe the inbound (server) and outbound (client) capacity ? i.e the number of connections / hosts

[2018-04-24 21:58] michaelpog commented on #358
Inbound, one server. outbound (I'm also using one server, but each request goes to a different port)
My connection pool is 60000, 8 vert.x threads. each one is an HTTP server and client.

[2018-04-24 22:04] michaelpog commented on #358
I'm having issues with my environment right now. So I'll continue updating once it's fixed.

[2018-04-25 06:23] Kusig commented on #352
Is there any timeframe known for 3.5.2? We got in really deep troubles with 3.5.1 due to the huge known performance problem (TCP Connection Close of the http client) and are currently stuck.  Cherry picking didn't work as there are too much dependencies encountered even to other vert.x modules. Therefore we would be really interested in any information about this.

[2018-04-25 07:51] vietj commented on #352
there is now a 3.5 branch in vertx-core you can try @Kusig it's also deployed as snapshot in sonatype oss repository.

we aim to release soon.

[2018-04-25 07:57] vietj commented on #358
so 60,000 * 8 possible outbound connections ?

[2018-04-25 11:31] vietj opened #359 "Break project dependencies cycle"
Currently we do have a cycle in our projects:

- `vertx-auth` (`vertx-auth-mongo`) depends on `vertx-mongo-client` (`vertx-mongo-client`)
- `vertx-mongo-client` (`vertx-mongo-service`) depends on `vertx-service-proxy`
- `vertx-service-proxy` depends on `vertx-auth` (`vertx-auth-jwt`)

which makes the stack impossible to build unless to use partial building of these projects.

to clarify it's not a

[2018-04-25 11:50] vietj commented on #359
one solution is to introduce a separate project for service proxies (vertx-mongo-service and vertx-mail-service) which break the cycle and would be dropped with 4.0

[2018-04-25 14:25] InfoSec812 commented on #325
PING - Is there anything I can do to help here? I have some cycles over the next 3 weeks.

[2018-04-25 14:32] michaelpog commented on #358
Yes, that's just a lab setting, for the stress test environment.

[2018-04-25 17:15] vietj commented on #325
you can download them from Bintray in the meantime.

[2018-04-25 17:36] michaelpog commented on #358
I'm testing 3.5.2-SNAPSHOT, so far it looks good actually, let me do more testing

[2018-04-25 17:51] InfoSec812 commented on #325
@vietj How do I find that... I searched bintray.com and only found the Maven artifacts

[2018-04-25 19:03] michaelpog commented on #358
@vietj @manish-panwar I have tested 3.5.2-SNAPSHOT, looks like everything is good there. Looks pretty stable, and the performance is as good as 3.5.0. I've shared JFRs with @vietj, I am still clueless why 3.5.1's performance is worse.

[2018-04-25 22:09] vietj commented on #325
https://bintray.com/vertx/downloads/distribution

[2018-04-25 22:09] vietj commented on #358
thanks, looking forward to hear from your feedback

[2018-04-25 22:37] michaelpog commented on #358
@manish-panwar. If it helps, I tested my application with a high  and increasing load, which takes a lot of HTTP requests and sends out a lot of HTTP request outbound.
At the peak it actually performed a bit better with 3.5.2-SNAPSHOT than 3.5.0.
All our metrics looked the same more or less when comparing 3.5.0 and 3.5.2-SNAPSHOT.
So I'm waiting for 3.5.2 to come out. Unfortunately I still have no

[2018-04-26 09:01] vietj commented on #358
I think the issue with 3.5.1 was the removal of keep-alive support.

Good news for the perf improvements you saw!

3.6.0 should even be better since it has other perf improvements.

[2018-04-26 17:08] michaelpog commented on #358
3.5.1 removed keep-alive? I am so curious to know why would that be removed? It's such an important feature. I have never worked with keep-alive turned off, and it's so counter intuitive as the property was still there in the HttpClientOptions and it was set to true.

[2018-04-26 18:11] vietj commented on #358
ah no, actually, with 3.5.1 connection keep alive was used but when a connection was put back in the pool with no outstanding requests, it was closed.

[2018-04-26 18:34] manish-panwar commented on #358
@michaelpog - Change was done part of this https://github.com/eclipse/vert.x/issues/2208, and when we reported this https://groups.google.com/forum/#!topic/vertx/edVHHS5J7wU then @vietj implemented a timeout for connection to remain in the pool.

Although if you do JFR, you won't know why CPU is high, but I assume "closing connection while putting back in pool" was causing the CPU spike.

[2018-04-26 18:48] michaelpog opened #360 "Vertx.eployVerticle(Verticle verticle, Handler<AsyncResult<String>> completionHandler) creates double the number of verticles"
I am on Vert.x 3.5.0.
I would like to create as many vertcle threads as cores.
So I run this code on startup:
[code]

I see threads = 8; And I expect to have 8 verticles in the end of this loop.

when I do not pass any handler like this:
[code]

The result is as expected.

However when I pass a handler:
[code]
I end up with 16 verticles.

I debugged it and found that the issue is in
io.vertx.core.

[2018-04-26 19:19] vietj commented on #358
I think the exception creation on close was the main culprit.

[2018-04-26 19:22] vietj commented on #360
did you count the number of verticle instances created ? (with a println for instance)

[2018-04-26 19:39] michaelpog commented on #360
I verified with multiple ways.
I put a System.out.println inside onDeployVerticleHandler, and inside a httpServerStarted() from this code :
[code]

When I put a breakpoint and System.out in httpServerStarted I am in 0-7 verticles and when I hit a breakpoint in onDeployVerticleHandler it's in 8-15th verticles.
Also if I don't pass the onDeployVerticleHandler I have only 8 verticles
I also see in th

[2018-04-26 20:44] vietj commented on #360
can you provide a full reproducer test ?

[2018-04-26 21:08] michaelpog commented on #360
here https://github.com/michaelpog/vertxdeploybugreproducer :)

[2018-04-26 21:38] michaelpog commented on #358
Oh interesting, so the one I reported in this issue?

[2018-04-26 21:54] vietj commented on #358
both and more

[2018-04-26 21:57] michaelpog commented on #358
Well, I'm glad it's all fixed. Thank you!

[2018-04-27 08:10] tsegismont commented on #360
This is is not a bug. There is no guarantee that the event loop assigned to your verticle will be used to invoke the `deploy()` callback.

There is, however a big problem in your code: you deploy 8 times the *same* verticle instance. This completely breaks the threading model, which is that a verticle instance should only be executed by a single thread.

If you want to use all cores, provide the n

[2018-04-27 08:29] vietj commented on #360
@tsegismont thomas is right, I was suspecting the same and that's why I asked a reproducer.

if you want to feel safe @michaelpog you can create vertx with less event loops too in VertxOptions

[2018-04-27 08:37] vietj commented on #359
done

[2018-04-27 08:37] #359 closed, assigned to pmlopes

[2018-04-27 16:24] michaelpog commented on #360
That is very interesting. I've being using Vert.x this way for sometime and it worked out fine. Until I came across this issue.
I'm using Spring so I created that vertical object as a singleton bean and then deployed it many times, and every time I deploy it, I got expected behavior in a sense that for every deployment, a new thread is created and the start method is called.
Is what I'm doing fund

[2018-04-27 17:04] michaelpog commented on #360
@vietj  @tsegismont , I changed the reproducer to deploy the verticles according to what you suggested.
And the bug is still there.
I am creating a NEW verticle object for every deploy and the deploy callback is still resulting in creation of more verticles.

So I still think it's a bug.

[2018-04-27 17:41] vietj commented on #360
if you are calling the method N times and gets N*2 verticle instances then it's a bug and you can give us a reproducer

[2018-04-27 17:41] vietj commented on #360
I will try the reproducer you provided

[2018-04-27 18:06] michaelpog commented on #360
@vietj it's the same one (I updated it ) https://github.com/michaelpog/vertxdeploybugreproducer yes I am getting 2*N verticles.

[2018-04-27 18:58] vietj commented on #360
ok thanks

[2018-04-27 19:01] vietj commented on #360
the output of your test makes me thing that it creates 8 verticles, since `Current Vertx Thread` is printed by the verticle and I can count only 8 lines

however 16 event loops are used.

[2018-04-27 19:01] #360 closed, assigned to nobody

[2018-04-27 19:48] michaelpog commented on #360
@vietj this is not the behavior I am exhibiting
![screen shot 2018-04-27 at 12 47 49 pm](https://user-images.githubusercontent.com/7913776/39382088-46d65de2-4a19-11e8-9773-3ccb7ee24321.png)
![screen shot 2018-04-27 at 12 48 06 pm](https://user-images.githubusercontent.com/7913776/39382089-46ee8bec-4a19-11e8-96ab-3ef5f90f3b0f.png)

I clearly see 16 verticles and 16 threads

Unless I misunderstood y

[2018-04-27 20:32] vietj commented on #360
I think your are misunderstanding two things:

- you create 8 instances of the verticles and there are 8 instances (counting the _Current thread_ lines)
- indeed 16 threads are created because Vert.x creates by default 2 * 8 event loops

the 16 threads are created because you are deploying each verticle separately (instead of using deployment options).

you can restrict the number of event loop th

[2018-04-27 20:59] michaelpog commented on #360
@vietj With what you've suggested I'm getting even stranger behavior
![screen shot 2018-04-27 at 1 57 07 pm](https://user-images.githubusercontent.com/7913776/39384813-e54fb83e-4a22-11e8-92b4-52fd6e543a23.png)

![screen shot 2018-04-27 at 1 57 34 pm](https://user-images.githubusercontent.com/7913776/39384833-f52073ca-4a22-11e8-8428-148c0241a82d.png)
the deploy callback is creating a new thread.

E

[2018-04-27 21:02] michaelpog commented on #360
Furthermore, if I remove the callback then I get only 8 threads.
But I get an exception (which I guess should have happened to begin with)
![screen shot 2018-04-27 at 2 00 42 pm](https://user-images.githubusercontent.com/7913776/39384966-63ba2aba-4a23-11e8-83a9-c95fed840a1b.png)

Something is not right here.

In addition, this form ```vertx.deployVerticle(WebServerStarter::new, new DeploymentOptio

[2018-05-02 03:33] AllenRay opened #361 "vertx3 grpc cant work native transport"
i have set vertx option  preferNativeTransport to true but deploy grpc VertxServer failed.
The stack as below
 java.io.IOException: Failed to bind
	at io.grpc.netty.NettyServer.start(NettyServer.java:206)
	at io.grpc.internal.ServerImpl.start(ServerImpl.java:151)
	at io.grpc.internal.ServerImpl.start(ServerImpl.java:75)
	at io.vertx.grpc.VertxServer$ActualServer.lambda$null$1(VertxServer.java:88)

[2018-05-02 20:25] michaelpog opened #362 "Allocate the body handler buffer with the body size when the content-length header is set"
Hi, It is not a bug but really a good optimization that I think needs to be put in place.
In  ```io.vertx.ext.web.handler.impl. BodyHandlerImpl``` a new BHandler is created for every incoming HTTP request.
However in that BHandler a new body buffer https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/BodyHandlerImpl.java#L113 is created with a size

[2018-05-02 20:49] vietj commented on #362
yes @michaelpog that's a good contribution I think, keep in mind you need to check the initial size does not exceed bodyLimit, also I think that we could fail fast in case the initial size exceeds the bodyLimit instead of waiting the buffers are received.

[2018-05-02 20:49] vietj commented on #362
I hope this is tested in the current tests otherwise it should be added.

[2018-05-02 20:50] vietj commented on #362
see line 181 : if we forget that it measn that vertx-web body handler is sensitive to attacks, so you need to come up with a test that sends an content-length with an insane size (like 10 gigas)

[2018-05-02 21:34] michaelpog commented on #362
Ok @vietj I will look into this

[2018-05-03 18:15] testn opened #363 "TrustOptions should either implement Cloneable or remove clone() method"
clone() method implies Cloneable interface but it does not implement Cloneable interface. This seems like a potential security issue as reported by findbugs.

[2018-05-03 18:16] testn commented on #352
Does it have netty dependency upgrade?

[2018-05-03 18:25] michaelpog commented on #362
https://github.com/vert-x3/vertx-web/pull/918

[2018-05-03 20:07] vietj commented on #363
can you elaborate why it's a security issue ?

[2018-05-03 20:08] vietj commented on #352
no because we can't upgrade grpc version and that would conflict.

perhaps we can test it with latest netty and if it works well (testsuite) then tell people to override the version.

[2018-05-03 20:45] luengnat opened #364 "Deadlock can occur with some methods are called from the worker thread"
This can actually block forever sometimes. I haven't dug down what happened.
[code]

[2018-05-03 20:53] testn commented on #363
https://sourceforge.net/p/findbugs/bugs/511/

[2018-05-03 20:57] vietj commented on #363
I think then we should rather rename the clone operation to "copy" instead.

that's what we use in other places like JsonObject and JsonArray

[2018-05-03 21:00] testn commented on #363
+1 and they should probably be a default method ?

[2018-05-03 21:01] vietj commented on #363
no, this interface is not intended to be implemented by users, it's more a conveniency for copying.

let's scope this issue for Vert.x 4 and rename the title to rename the clone method to copy

[2018-05-04 07:34] vietj commented on #364
can you should the other thread deadlocking with this one ?

[2018-05-04 07:57] luengnat commented on #364
The eventloop thread locks on Connection and then tries to lock on Router while FailureHandler locks on Router and then tries to lock on Connection.

[code]

[2018-05-04 08:01] vietj commented on #364
I can't see the lock here, can you provide info about the exact deadlock info of the two threads ? also a reproducer would be great

[2018-05-04 14:37] luengnat commented on #364
the deadlock is pretty clear here. Basically,
`io.vertx.core.http.impl.ServerConnection.handleMessage(Object) ServerConnection.java:131` takes a lock on `Connection` first and `io.vertx.ext.web.impl.RouteImpl.matches` takes a lock on `Route` second

while the event loop thread takes a lock in another order where `io.vertx.ext.web.impl.RouteImpl.handleFailure` takes a lock on `Route`  and then `io.

[2018-05-04 14:40] luengnat commented on #364
The general theme here happens in many code paths of Vert.x where `synchronized` block is used for thread synchronization. However, when starting to use across threads, it will be prone to deadlock as there are multiple locks being used.

[2018-05-05 07:02] vietj commented on #364
I would like to see side by side the two stack trace entirely of the deadlock thanks

[2018-05-07 14:20] laudylcp opened #365 "HikariCP connection pool, Connections is not closed???"
### Version

* vert.x core: 3.5.0
* vert.x jdbc-client: 3.5.0
* jdbc driver:
![default](https://user-images.githubusercontent.com/23287431/39686104-b8c1b860-51f9-11e8-95d6-71c9b02bbbba.png)

* RDBMS: Mysql 5.7

### General info

* What is your jdbc driver
![default](https://user-images.githubusercontent.com/23287431/39686108-c41c64e4-51f9-11e8-8897-087b68a72ca5.png)

* What is your RDBMS server
My

[2018-05-07 19:07] tsegismont commented on #365
The `autoReconnect=true`and `autoReconnectForPools=true` url params look suspicious to me.

Anyway, could you put together a small reproducer on GH to show the problem? Code in screenshots is impossible to work with. Thank you

[2018-05-08 02:31] laudylcp commented on #365
@tsegismont Occasionally this happens, and sometimes it doesn't take a whole day to run.

DeviceVehicleServiceImpl.java:

public class DeviceVehicleServiceImpl implements IDeviceVehicleService {

    private static final Logger logger = LoggerFactory.getLogger(DeviceVehicleServiceImpl.class);

    private static Vertx vertx;

    private RedisDeviceVehicleRepositoryImpl redisDeviceVehicleRepositor

[2018-05-08 09:02] laudylcp commented on #365
@tsegismont I find connection leak log, but I don't know how to solve the problem, please give me some help, thanks a lot!
The log is below:
2018-05-08 15:38:09.861 [HikariPool-1 housekeeper] WARN  com.zaxxer.hikari.pool.ProxyLeakTask - Connection leak detection triggered for com.mysql.cj.jdbc.ConnectionImpl@333b50f9 on thread vertx-jdbc-service-get-connection-thread, stack trace follows
java.lang