[2018-05-08 11:56] tsegismont commented on #365
As commented previously, the reconnect parameters in the JDBC url look
suspicious to me. Have you tried without them?

And when I talked about a reproducer, I was thinking about a small,
simplified project on GitHub which we can fork and run locally.

[2018-05-08 14:00] dhoffer opened #366 "OpenAPI3RouterFactoryImpl should support Vertx CORS handler"
We are using vertx-web-api-contract to create a schema first REST service.  However we also must support CORS and we are using the vertx-web CorsHandler for that.

The problem is there is no way to use both of the above.  OpenAPI3RouterFactoryImpl currently has no options for setting the CorsHandler instance.

We modified OpenAPI3RouterFactoryImpl to add a setter for CorsHandler and then in the ge

[2018-05-08 14:43] laudylcp commented on #365
@tsegismont There is no problem with local debugging, and the problem will occur in a few hours.

the reconnect parameters in the JDBC url had deleted, I have tried without them.

[2018-05-08 14:47] laudylcp commented on #365
/*
        This can block until a connection is free.
        We don't want to do that while running on a worker as we can enter a deadlock situation as the worker
        might have obtained a connection, and won't release it until it is run again
        There is a general principle here:
        *User code* should be executed on a worker and can potentially block, it's up to the *user* to deal

[2018-05-08 16:51] tsegismont commented on #365
We really need a small reproducer. It doesn't matter if the reproducer takes time to fail. The purpose is to reproduce. Without a reproducer it is hard to help as we can only do wild guessing.

[2018-05-09 02:12] laudylcp commented on #365
@tsegismont I have upload all code to github, please git clone from:

https://github.com/laudylcp/obdgateway.git

Thanks for your help!

[2018-05-09 15:35] vietj opened #367 "Remove MVEL from code generation"
Umbrella issue for the following tasks:

- [x] [Provide an MVEL agnostic generator](https://github.com/vert-x3/vertx-codegen/issues/176)
- [x] [Move the data object converter generator to codegen](https://github.com/eclipse/vert.x/issues/2436)
- [x] [Rewrite the data object converter generator without MVEL](https://github.com/vert-x3/vertx-codegen/issues/177)
- [x] [Rewrite the cheatsheet converte

[2018-05-09 23:18] michaelpog opened #368 "java.io.IOException in Vert.x 3.5.2-SNAPSHOT"
I've been experimenting with this version recently, and I see the following exception in the logs:
[code]

I am still not sure why this is happening.
But I see about 20/30 of them per minute.

Looking at another view in Java Mission Control
I see actually two places for the IOException:

One stack trace:
[code]

Unfortunately that's all the details I have

[2018-05-10 12:59] manish-panwar commented on #368
I assume you are using Vertx HTTP/Web client API to talk to remote server. It means you are receiving RST from remote - and I doubt that Vertx can do much here. Were you not seeing it in older version of Vertx?

[2018-05-10 14:43] michaelpog commented on #368
Yes.
I am using an HTTP Web client.
I have no see this error before. I've had Vert.x 3.5.0 in production for a few weeks and I have not seen this error there.

[2018-05-10 14:56] manish-panwar commented on #368
Prod environment network/service/firwall/etc might be setup differently than your Dev env (you said you are experimenting). Lets see what @vietj and teams says, but if I was you, I would try to deploy older version of Vertx in your Dev environment and see if you are able to reproduce. Stacktrace you posted above won't really help much. Also, another thing I would have tried is to point my WebClien

[2018-05-10 15:42] michaelpog commented on #368
@manish-panwar I've testing 3.5.0 in production and I did not see that issue.
I'm waiting for 3.5.2 to come out so I wanted to test the SNAPSHOT version. Every time I tried the 3.5.2-SNAPSHOT I saw this error. And in fact there are more issues with that version, but I am still investigating. This is the first thing I noticed

[2018-05-10 16:53] michaelpog commented on #368
But those errors are flooding our logs, and I had not seen them before in prod. There must be a better way to handle this

[2018-05-10 16:54] vietj commented on #368
Connection reset by peer are not specific to Vert.x @michaelpog

what I don't understand if why you are reporting two different stack traces (a short one and a long one) how are they related ?

[2018-05-10 16:58] vietj commented on #368
@michaelpog I think they were here before, but we did not print the stack trace before. We changed logging in vertx so now it prints the stack trace and before it was only the message:

https://github.com/eclipse/vert.x/commit/767ca490bffd51caccc17a0b7f502a9565e581c1#diff-0de507733eb75154b7ed71bf07a7ed61

You can avoid them by setting an exception handler on the `HttpConnection` instances and hand

[2018-05-10 17:17] michaelpog commented on #368
@vietj, sorry for the unorganized and non specific issue report, I should have done  a better job.
I know connection reset by peer is not specific to Vert.x of course.
While testing our application using Vert.x 3.5.2-SNAPSHOT in production, I observed those new Exceptions in the Java flight recorder as well as in the logs.
The first stack trace is from our logs, it floods our logs. I am having tro

[2018-05-10 17:55] manish-panwar commented on #368
In WebClient you can't attach the connection error handlers out of the box - see https://groups.google.com/forum/#!searchin/vertx/connection$20handler%7Csort:date/vertx/W57OyN1goj4/984xzEMGBQAJ

If you were using HttpClient then you can attach the handler.

Please be aware that Java will throw a generic IOException, so you will have to rely on error message(damn you Java/Oracle) to identify if you

[2018-05-10 18:37] michaelpog commented on #368
Oh I see. @manish-panwar  thank you! That is very useful.
So you're saying that other IOExceptions that maybe unrelated and which we WOULD like to log, we will also be caught here. So we have to check the actual message?
That makes sense.

[2018-05-10 18:51] manish-panwar commented on #368
Yes!

Actually you should be able to handle it with WebClient as well - try below code.

[2018-05-10 19:00] vietj commented on #368
I think by default having a stack trace can be quite scary, I commited this patch https://github.com/eclipse/vert.x/issues/2437 that only log the message like before and log the full trace when debug is on.

[2018-05-10 19:04] manish-panwar commented on #368
@vietj - Condition in your code change seems in reverse order than intended. Do you mind checking again?

[2018-05-10 19:25] vietj commented on #368
hum right, thanks for checking :-)

[2018-05-10 19:25] vietj commented on #368
it's quite complicated to test this kind of things (but not impossible)

[2018-05-10 20:01] manish-panwar commented on #368
cool!!!

@michaelpog - My suggestion for WebClient won't work because current version of Vertx will always logs as ERROR if no connection-error-handler was attached.

[2018-05-10 20:56] michaelpog commented on #368
And there's no way to set this exceptionHandler in anyway? through WebClient or a wrapped HttpClient?

[2018-05-10 21:06] manish-panwar commented on #368
In HttpClient you can always do as suggested in one of my post above. WebClient doesn't provide any handler unless you create your own wrapper around HttpClient as suggested by Julien [here](https://groups.google.com/forum/#!searchin/vertx/connection$20handler%7Csort:date/vertx/W57OyN1goj4/984xzEMGBQAJ)

[2018-05-11 13:44] vietj commented on #361
@AllenRay can you provide a project that reproduces this ?

[2018-05-11 13:45] #331 closed, assigned to nobody

[2018-05-11 18:44] michaelpog commented on #368
Sorry @manish-panwar  if I'm missing something really obviously, but I'm looking at   https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/http/HttpClient.java and I do not see a way to pass any exception handlers anywhere.
I can see a way to pass a connection handler for an HttpClientRequest created by the HttpClient https://github.com/eclipse/vert.x/blob/master/src/main/java

[2018-05-13 11:06] udaykale commented on #237
Came across this https://github.com/zandero/rest.vertx. It Provides JAX-RS annotation processor for vert.x. Its currently in beta and has good documentation.

[2018-05-13 11:43] lukehutch commented on #237
@udaykale that looks pretty good, thanks for the link.

[2018-05-14 18:35] michaelpog opened #369 "Vert.x 3.5.2-SNAPSHOT ERROR Unhandled exception java.lang.IllegalStateException: Response is closed"
I'm testing Vert.x 3.5.2-SNAPSHOT I see a lot of unhandled exceptions in the logs that look like this:
[code]
I've marked our internal classes which are irrelevant with XXXXXX

I understand that this exception is happening if an attempt to send a response is happening when the connection was already closed by the upstream client.
But:
Why is this exception unhandled?
It is a normal behavior for us

[2018-05-14 18:46] manish-panwar commented on #369
if (context.response().closed() || context.response().ended()) {
                LOGGER.warn("Connection with upstream client is closed or ended.");
            } else {
                // Handle the crazy error.
            }
        });

Just so you know, in older version of Vertx, it used to quietly suppress these errors, but now anymore - and definitely it makes sense for it to not do it quiet

[2018-05-14 18:51] vietj commented on #369
you can use `HttpServerResponse#ended()` to determine wether or not you can write the response

[2018-05-14 18:57] manish-panwar commented on #369
@vietj - I think #ended may never be set to true if you haven't called the response#end() method yet. I noticed that #ended is explicitly set to true if upstream connection is closed unexpectedly - thus making it more reliable to use???

[2018-05-14 19:03] vietj commented on #369
@manish-panwar good point it should be `!ended() && !closed()`

[2018-05-14 21:35] michaelpog commented on #369
Thank you @vietj  and @manish-panwar so just to clarify.
When I want to send a response I can simply check if
[code]
and if it's true then I don't do anything?
I just want to make sure I don't leave the httpServerResponse in some undefined hanging state

[2018-05-14 22:41] manish-panwar commented on #369
Yes - as long as you are executing this on request exception only - see above my sample code.

[2018-05-14 23:08] michaelpog commented on #369
Oh I see I missed that part. I thought I could just check if ```httpServerResponse.ended() || httpServerResponse.closed() `` is false first and then send the response.

It's a bit of a bummer that the Handler passed to the exceptionHandler takes a Throwable and not some object that would contain the httpServerResponse.
The way it is right now, it's forcing you to write it as a closure.
If I want t

[2018-05-14 23:15] michaelpog commented on #369
Actually @manish-panwar I'm not sure I am following how this exception handler is related.
looking here https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/http/impl/HttpServerResponseImpl.java#L198
And my stacktrace
Looks like this
[code]
Is what I need as I'm trying to avoid throwing the IllegalStateException to begin with, not not catch it

My question is should I put some

[2018-05-15 02:24] manish-panwar commented on #369
I meant to say, in case you have a generic exception handler:

            // At this point you don't know what happened.
Throwable throwable = context.getDelegate().failure();
        });

v/s

// Here we knows that error indeed happened in handling of request.
});

Vertx documentation isn't clear enough on what are mandatory things to do in connection/request errors, but so far I have seen no pr

[2018-05-15 06:47] vietj commented on #369
actually only `httpServerResponse.closed()` should be ok, because `ended()` will return a boolean that is set only with `end()`, since you are calling this method you don't need to test it.

[2018-05-15 12:04] mnuss opened #370 "Return null for JsonObject.mapFrom(null)"
Snippet:

// from EventBus handler: Message<JsonObject> message
Object r = null;
message.reply(JsonObject.mapFrom(r));

This results in the following exception on the receiving service:

18-May-15 08:02:28:086 ERROR vert.x-eventloop-thread-1 i.v.c.i.ContextImpl:162 - Unhandled exception
io.vertx.core.json.DecodeException: Failed to decode:null
	at io.vertx.core.json.Json.decodeValue(Json.java:167)

[2018-05-15 13:01] vietj commented on #370
is it specific to event bus or in general ?

[2018-05-15 13:12] mnuss commented on #370
Seems to be happening any time the JsonObjectMessageCodec is trying to decode from wire where the payload is mapped from a null object.

[2018-05-15 14:09] vietj commented on #370
fixed by https://github.com/eclipse/vert.x/issues/2450

[2018-05-15 14:09] #370 closed, assigned to nobody

[2018-05-15 18:11] michaelpog commented on #369
Thanks you guys.
@vietj anything you may add about whether I need to do any additional steps if the ```httpServerResponse.closed()``` returns true?

[2018-05-15 20:13] vietj commented on #369
I  think it should be fine with closed() (try it), I'm still thinking the best way to mitigate this in the future

[2018-05-15 20:27] michaelpog commented on #369
Sorry @vietj let me clarify my question:
[code]
Do I need to add anything in the else section to do additional clean up? Or nothing is fine?
I may have misunderstood your answer.

[2018-05-15 20:33] vietj commented on #369
I think it depends on your app but if you just received a buffer then there is nothing to do

[2018-05-17 20:27] michaelpog commented on #369
Ok I've tested it and it looks like I don't see this stack trace anymore.
I'll run for longer, but so far the solution looks promising

[2018-05-17 20:32] michaelpog commented on #368
I've tested the new version 3.5.2-SNAPSHOT
And I see a lot of those:
[code]
In the logs which is fine since I still don't understand how to attach the custom exception handler.

But
I do see one or two of these:
[code]

still .
Which is weird.
I wonder if there's another place in the code where that exception can be caught and logged with the stack trace.
I see that it is handled though, so it's d

[2018-05-17 21:07] manish-panwar commented on #368
I haven't seen this before. If you don't want Vertx to by default log these as errors, you will have to attach the connection error handler. I think given below code should work for you.

        clientRequest.connection().exceptionHandler(ex -> {
           if (ex != null && StringUtils.containsIgnoreCase(ex.getMessage(), "Connection reset by peer")) {
               LOGGER.warn("Connection reset

[2018-05-18 09:47] #354 closed, assigned to nobody

[2018-05-18 17:01] michaelpog commented on #368
@manish-panwar thank you. However this would not work with Web Client at all, there's absolutely no way to attach this exceptionHandler with WebClient in any way I can see.
I think this is something that needs to be fixed.

[2018-05-18 17:07] michaelpog commented on #368
@vietj would you mind elaborating on how by wrapping the HTTP client with Webclient I can add this exception handler?
If it's impossible right now and you don't see any blockers, I can try to find time and work on a pull request for that

[2018-05-21 17:09] michaelpog commented on #369
Ok I don't see any of this in our logs any more.
@vietj we can close this

[2018-05-21 17:11] michaelpog commented on #368
Here is another one that I think is related:
[code]

[2018-05-21 18:19] #369 closed, assigned to nobody

[2018-05-21 21:31] michaelpog commented on #323
I think it's still happening (3.5.2-SNAPSHOT)
I see
[code]
In the logs
I don't have the stack trace as it happens rarely.
I will try to take a very long JFR session and hopefully I'll catch it

[2018-05-21 21:43] vietj commented on #323
@michaelpog sure thanks

[2018-05-22 23:23] michaelpog commented on #368
@vietj  I made a pull request https://github.com/vert-x3/vertx-web/pull/925. Please see review

[2018-05-23 13:33] InfoSec812 opened #371 "Kubernetes ConfigMap config store never completes when API server is unreachable"
When a Vert.x application making use of Kubernetes ConfigMaps is unable to connect to the Kubernetes API master it will hang indefinitely without failing... There needs to be a mechanism for it to fail after a specified amount of time.

[code]

[2018-05-23 22:37] lfmunoz opened #372 "KeyStoreOptions not working when using OpenSslEngineOptions"
KeyStoreOptions not working when using OpenSslEngineOptions. When I don't use setOpenSslEngineOptions(new OpenSSLEngineOptions()) then everything works and I am able to connect.

[code]

I'm using tcnative 2.0.8 with vertx 3.5.1:
[code]

Log files attached of using setOpenSslEngineOptions and of not using it:

[jdk_ssl.txt](https://github.com/vert-x3/issues/files/2033090/jdk_ssl.txt)
[open_ssl.txt

[2018-05-24 06:00] cescoffier opened #373 "Write a testing guide"
This guide will explain the different approach to develop (and execute):

* unit tests (junit + await, vertx-unit, vertx-junit 5)
* integration tests
* ...

[2018-05-24 06:01] cescoffier commented on #371
This issue needs to be handled in vertx service discovery and vertx config. Do you know a way to reproduce it?

[2018-05-24 06:19] vietj commented on #372
OpenSSL only works with PEM files

[2018-05-24 06:19] vietj commented on #372
perhaps we should add a check for this in the code I think

[2018-05-24 06:19] vietj commented on #372
and fail explicitely

[2018-05-24 12:43] InfoSec812 commented on #371
The snipped above should reproduce it quite handily. Just run it WITH the `KUBERNETES_NAMESPACE` env var set, but somewhere that there is no Kube master reachable.

[2018-05-24 13:53] gadieichhorn opened #374 "Issue with OSGi karaf - osgi.wiring.package=io.vertx.ext.auth.impl"
I try to upgrade our vertx vertion from 3.4.2 to 3.5.1

I think I found an issue with the io.vertx.ext.auth.impl package, there is no bundle that exports this package and it is somewhere needed for Karaf to start

[code]

This line seemed to be blocking the export
https://github.com/vert-x3/vertx-auth/blob/9d563d6c65c0be5d8f6c2b598cbdf858b96f3e5e/vertx-auth-common/pom.xml#L80

Was this intentional

[2018-05-24 21:08] lfmunoz commented on #372
Thank you got it working by using setPemKeyCertOptions. Throwing an error would have been helpful.

[2018-05-24 21:08] #372 closed, assigned to nobody

[2018-05-25 00:06] michaelpog opened #375 "Http1xClientConnection holds unnecessary references to ended client request/response objects"
When an HTTP connection (Holder<C>) is recycled and put back into the Pool<C>, that connection still holds, indirectly a reference to the HttpClientRequestImpl object, and the entire context associated with that request. (ResponseHandler etc).
![screen shot 2018-05-24 at 10 58 08 am](https://user-images.githubusercontent.com/7913776/40519305-bdb66c80-5f73-11e8-82ea-c639d4ff1758.png)
In the below s

[2018-05-25 01:38] mscofy opened #376 "HA is not working with ZooKeeper"

[2018-05-25 06:14] vietj commented on #375
hi,

when the connection is evicted from the pool, the memory can be reclaimed.

so this is not a leak per se.

[2018-05-25 06:18] vietj commented on #375
The circular references you are describing : Holder - > Http1xClientConnetion -> ConnectionListener -> Holder are fine, since the holder reference itself and not another holder

[2018-05-25 06:36] vietj commented on #375
it seems that what you are observing is similar to a lambda capture that would occur in Pool#createConnection method when the connection listener is created.

The listener references the waiter passed to the method. With my JDK I don't have this:

<img width="850" alt="screen shot 2018-05-25 at 08 35 34" src="https://user-images.githubusercontent.com/225674/40529792-a237a978-5ff6-11e8-87a0-b6fc8a1

[2018-05-25 06:40] vietj commented on #375
actually I do have it as well on 3.5 but it's not in master.

[2018-05-25 07:11] vietj commented on #375
I will port this commit to 3.5 from master that removes the dependency of the ConnectionListener onto the waiter : https://github.com/eclipse/vert.x/commit/f894f4433c6aa86257412edd7af58ae2e5597b79#diff-f9568f2488b0f7e86b6a73c4120acf86

in short it removes from the ConnectionListener interface the connect callback and only this callback needs to reference the waiter.

[2018-05-25 07:27] vietj commented on #375
see https://github.com/eclipse/vert.x/issues/2477

[2018-05-25 17:29] michaelpog commented on #375
Thanks @vietj , looks like I used the wrong terminology, and you're right. It's not a memory leak, but it does keep the objects for longer than it should be, which puts pressure on GC, which is what I really meant to say. Thanks for the correction.
The pr looks good. I don't see past that line of code https://github.com/eclipse/vert.x/commit/f894f4433c6aa86257412edd7af58ae2e5597b79#diff-3ffe38f201

[2018-05-25 18:36] vietj commented on #375
@michaelpog it has been merged in 3.5.x branch so you can try it, it shall be released within a couple of days in a CR3

[2018-05-25 20:08] michaelpog commented on #375
Is it in the 3.5.2-SNAPSHOT already? Or 3.5.2.CR2? Or just 3.5.1/3.5.0?

[2018-05-26 05:15] vietj commented on #375
it is in 3.5.2-SNAPSHOT

[2018-05-26 15:49] willks commented on #332
@tsegismont Thanks for this. I was debugging this for 5 hours on Kubernetes cluster, and one of our devs removed the "setClusterHost" and everything was going to localhost. The dev did it to make it work on local environment... but ******** up our UAT clustered bus!

[2018-05-29 15:29] morganmcc opened #377 "FailedFuture uses NoStackTraceThrowable when created with simple error message"
The FailedFuture implementation creates a failed future with a NoStackTraceThrowable error when created with a simple string message. I think this is bad practice, because Throwables should only be used for egregious non-recoverable errors.

I ran into this because I was using the awaitResult construct in a Kotlin co-routine to make a call to connect to a Stomp server. The implementation of awaitR

[2018-05-29 16:08] vietj commented on #377
@morganmcc creating a throwable with a stack trace is very expensive (and also it messes with the JVM JIT) and that's the main reason why creating an future with a message does not capture the stack trace. I think instead the Stomp server should create a failed future with its own stack trace instead and you should open an issue there.

[2018-05-29 17:19] morganmcc commented on #377
Fair enough. Thanks. I'll open against the Stomp client.

[2018-05-29 19:15] #377 closed, assigned to nobody

[2018-05-30 13:08] InfoSec812 opened #378 "WebClient API improvements"
Recently, while using the RxJava2 implementation of WebClient, I noticed something which is not intuitive.

[code]

When the client gets a `4XX` or a `5XX` response from the server, that error does NOT trigger the `onErrorReturn` path. I think I understand this to be because of it being generated code which is not "smart" enough to understand that a `4XX` or `5XX` is an error. Instead, I had to cr

[2018-05-30 13:35] vietj commented on #378
good point, I've actually proposed a new feature for the web client "expectations" that would be something like:

[code]

that produces an error if the code is not 200

there could be other expectations (around content type, etc...)

[2018-05-30 14:30] InfoSec812 commented on #378
@vietj I like the basic concept, but I'm not sure about that specific implementation. Perhaps static methods on a WebClientMappers class? Something like:

[code]

And then you could do something like:

[code]

[2018-05-30 14:45] vietj commented on #378
that would be on HttpRequest itself so you use it before hte map.

your code is incorrect because it should contains an rxSend call, so it would rather be:

[code]

[2018-05-30 14:54] InfoSec812 commented on #378
@vietj OK, you're right. I missed the call to `rxSend`. It should be:

[code]

[2018-05-30 14:58] InfoSec812 commented on #378
@vietj Thinking  about the approach you are suggesting, perhaps something like:

[code]

Thoughts?

[2018-05-30 15:04] vietj commented on #378
yes that seems fine, I did not have intention for body expectations first but why not ? it can help unit testing I guess.

[2018-05-30 15:13] InfoSec812 commented on #378
Oh, wait... On the headers... We would need to support `MultiMap`, right?

[2018-05-30 16:03] vietj commented on #378
I think we can support rather per header checking, I don't think MultiMap support is needed.

[2018-05-31 13:59] JuKu opened #379 "MessageCodec for NetServer"
Currently, MessageCodec is only available for eventbus.
Is there an alternative to use for NetSocket?

[2018-05-31 14:49] vietj commented on #379
@JuKu what do you want to achieve ?

[2018-05-31 14:54] michaelpog commented on #375
@vietj an update. I've tested and that issue looks to be fixed. But unfortunately that did not fix the high GC pauses. I've gone back to metrics we had from the time I deployed our application with 3.5.0 and I did not see the same GC pause issues. I'm investigating further. I'll keep you posted. The heap dump does not show any "leaks" at the moment, which is good news.

The symptom is still the sa

[2018-05-31 14:58] vietj commented on #375
ok.

can you describe the typical workload you have with the client ?

can you also describe your GC pauses ?

[2018-05-31 15:01] michaelpog commented on #375
Let me share more details with you via email

[2018-05-31 18:25] JuKu commented on #379
@vietj I try to implement a own network protocol and want to use layers.
But my real problem is another: TCP Fragmenting
Because of TCP Fragments i receive incomplete packages and have to merge them / split them up and wait for the rest of the expected message. And so i search for a solution to do this in a nice way.

[2018-05-31 19:02] vietj commented on #379
@JuKu I see

it is possible to use Netty codec with Vert.x NetServer and NetClient, they provide support for ByteToMessageCodec that takes care of this task.

it is an internal feature (stable, used by other parts of Vert.x) but it is very convenient if you know to use Netty.

[2018-05-31 19:57] JuKu commented on #379
@vietj Thanks for your fast answer!
I have found another solution in your examples:
https://github.com/vert-x3/vertx-examples/blob/master/core-examples/src/main/java/io/vertx/example/core/net/stream/BatchStream.java

Class `RecordParser` does already what i wanted to do.

[2018-05-31 20:43] vietj commented on #379
oh right indeed!!!! you mentionned "codec" which lead me to the wrong track

[2018-05-31 20:43] #379 closed, assigned to nobody

[2018-06-04 13:45] tsegismont commented on #365
@laudylcp the repository contains a lot of code, no instructions to setup the database, ... etc. Please provide a reproducer (small piece of code with, ideally, an automated test, at least instructions to reproduce manually).

[2018-06-05 05:55] #375 closed, assigned to nobody

[2018-06-05 05:57] #368 closed, assigned to nobody

[2018-06-06 01:28] laudylcp commented on #365
@tsegismont Thanks, I had changed Data Access Layer to mybatis, The problem had resolved. thanks for your reply!

[2018-06-06 13:33] xeus2001 opened #380 "Bug in params() method / automatic URL component decode"
At the moment **HttpServerRequestImpl** and **Http2ServerRequestImpl** are both automatically decoding the query string values. This leads to the issue that the following URIs are equivalent:
[code]
However, following [RFC-3986 section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2) they are not:
[code]
This is an issue we experience currently when adding semantics to reserved characters, th

[2018-06-08 06:59] #352 closed, assigned to nobody

[2018-06-11 16:35] vietj opened #381 "Upgrade stack to Guava 20.0"
the following modules are using Guava:

- io.vertx:vertx-zookeeper:jar
- io.vertx:vertx-web-api-contract:jar
- io.vertx:vertx-web-templ-pebble:jar:shaded
- io.vertx:vertx-sync:jar
- io.vertx:vertx-service-discovery-bridge-docker:jar
- io.vertx:vertx-config-zookeeper:jar
- io.vertx:vertx-grpc:jar

[2018-06-11 17:07] #381 closed, assigned to vietj

[2018-06-15 07:12] leolux opened #382 "Add support for cache-control immutable"
It would be nice if we could add **cache-control immutable** to the StaticHandler. This is a relative new feature and increases the performance of media rich websites.

It seems to be supported in major browsers already: https://stackoverflow.com/questions/41936772/which-browsers-support-cache-control-immutable

[2018-06-15 16:53] pmlopes commented on #382
This should be a flag as it can affect the case where changes at the file system level cause an invalidation

[2018-06-15 19:30] beginner opened #383 "Vertx webclient unable to resolve host"
i am getting UnknownHostException in webclient, but i do not think its a host problem as I can resolve it fine via terminal.

Future{cause=failed to resolve 'myhost.com'. Exceeded max queries per resolve 4 }

I'm using vertx-web

3.5.0

Here is my code :

[code]

[2018-06-15 21:58] vietj commented on #383
use `http://myhost.com` instead

[2018-06-15 21:58] #383 closed, assigned to nobody

[2018-06-15 23:16] beginner commented on #383
Why shall I use http when the remote server is https?

[2018-06-17 11:09] leolux commented on #382
I don't understand what you mean by "flag" in this context. What does it mean?

[2018-06-17 12:38] pmlopes commented on #382
I mean that users could either enable or disable it.

[2018-06-17 13:26] leolux commented on #382
Ok, thanks!

Assuming the flag would be called `immutable` then this flag should only take effect when the base flag `cachingEnabled` is enabled. If `immutable` is enabled it should be combined in the header with `maxAgeSeconds` to produce something like `Cache-Control: max-age=365000000, immutable` . As far as I can remember the combination of multiple HTTP response header values is managed by th

[2018-06-17 19:35] pmlopes commented on #382
You can also concatenate the header when it is generated

[2018-06-19 20:26] vietj opened #384 "Vert.x 3.5.3 umbrella issue"
List of back-ported bugs:

- vertx-core
  - [x] [HttpClient must use the http scheme for non SSL connections](https://github.com/eclipse/vert.x/issues/2533)
  - [x] [HttpClient idle state handler should be added first when the connection is borrowed from the pool](https://github.com/eclipse/vert.x/issues/2532)
  - [x] [HttpServer does not clean the channel pipeline after HTTP/1 upgrade to H2C](htt

[2018-06-19 22:04] leolux commented on #382
We could or should also add flags for `must-revalidate` and `proxy-revalidate`.

[2018-06-20 16:30] jo5ef commented on #361
The following test reproduces this issue:

[code]
This test uses the Greeter proto from the vertx-grpc tests (add the native dependencies to the pom if you run it there).

[2018-06-20 18:37] vietj commented on #361
do you know if netty-grpc can support native transport, i.e can it use a native event loop and bootstrap ?

[2018-06-21 09:46] jo5ef commented on #361
Yes, grpc-java supports native netty event loops but doesn't detect them automatically ([grpc-java issue 3473](https://github.com/grpc/grpc-java/issues/3473)). But the ELG can be passed to the `NettyServerBuilder`. I've done that in [this PR](https://github.com/vert-x3/vertx-grpc/pull/30) and it works.

[2018-06-22 14:07] #361 closed, assigned to nobody

[2018-06-23 06:54] IdanFridman commented on #246
anything new with the issue? we still experience this.  it doesnt occurs only on startups

[2018-06-23 07:28] vietj commented on #246
can you show a stack trace @IdanFridman ? it looks like the fix suggested by @ryanlamore has been applied (load the default cipher suite in a static block), so it is not clear what happens with you.

[2018-06-23 10:21] IdanFridman commented on #246
Julien,
Iam attaching stack trace. This wasnt happening during startup. It happens once in a while

Stacktrace:

2018-06-22 07:58:48,054 WARN  io.vertx.core.impl.BlockedThreadChecker - Thread Thread[vert.x-eventloop-thread-0,5,main] has been blocked for 1126 ms, time limit is 1000
io.vertx.core.VertxException: Thread blocked
	at java.lang.ClassLoader.findBootstrapClass(Native Method)
	at java.lang

[2018-06-26 10:53] loginin opened #385 "when log4j2.xml has custom plugin config in vertx root-fat.jar, log4j2 do not work"
I write one vertx project and use log4j2 as my log framework.
and I use custom log4j2 plugin to configure my custom property in log4j2.xml
it run ok when I run the project in idea, but failed when I package the code into root-fat.jar.

xml config file:
![image](https://user-images.githubusercontent.com/16422345/41904744-c5311f8e-796b-11e8-8d53-cbf8912cd4ab.png)
and the plugin code:
![image](https:

[2018-06-26 10:55] loginin commented on #385
the dependency:
<project.log4j2.version>2.11.0</project.log4j2.version>
<project.slf4j.version>1.7.2</project.slf4j.version>
<project.logback-classic.version>1.1.5</project.logback-classic.version>
<project.vertx.version>3.5.1</project.vertx.version>

[2018-06-26 14:30] tsegismont commented on #385
Can you please ask your question the Vert.x user forum? This does not look like a Vert.x issue, rather a packaging issue. Not everyone in the community subscribes to GitHub.

See https://vertx.io/community

[2018-06-26 14:30] #385 closed, assigned to nobody

[2018-06-28 02:22] bnlambert opened #386 "Handling sub domain routing"
I wish to know if vert-x3 supports subdomain routing and how it handles it.
For example sub1.domain.com, how do I obtain sub1 from such a request made to vert-x3 app?

[2018-06-28 08:30] tsegismont commented on #386
Can you explain what you mean with subdomain routing?

[2018-06-28 08:43] bnlambert commented on #386
For example, given a that a request is coming from admin.domain.com, can vert-x3 provide 'admin' as one of it params?
Or
If the domain of incoming request is of the format `*.domain.com`, how can I determine if '*' is set and what is the value if it exist in vert-x3?
thanks

[2018-06-28 09:10] tsegismont commented on #386
There is no builtin param, but you could use a `VirtualHostHandler` and put the info in the `RoutingContext`:

[code]

Add this at the top of your router definitions and then later in your route handlers:

[code]

[2018-06-28 09:20] bnlambert commented on #386
Wow thanks. Just to confirm. Can it also be used like this

[code]

Add this at the top of your router definitions and then later in your route handlers:

r```
outer.get("/somepath").handler(routingContext -> {
String virtualHost = routingContext.put("virtualHost");
// Check virtual host and handle request
}));

[code]

[2018-06-28 13:35] tsegismont commented on #386
Yes, you can use wildcards when creating a `VirtualHostHandler`.

[2018-06-28 13:37] tsegismont commented on #386
Closing at it seems your questions are answered. If you need more info please follow up on the Vert.x user forum. See https://vertx.io/community

[2018-06-28 23:44] michaelpog opened #387 "HTTP/2 is not working in Vert.x 3.5.2 Version, when 2 requests are sent"
In Vert.x 3.5.2 when I set up a groovy HTTP server and Java HTTP client, and try to send 2 consecutive HTTP post requests through HTTP/2, only the first request gets a response.
Here is the reproducer
https://github.com/michaelpog/http2reproducer

If you switch the version of Vert.x to 3.5.1 and below, the issue does not occur.

Example of tcpdump with 3.5.2:
[code]
Output from client:
[code]

tcp

[2018-06-29 06:16] vietj commented on #387
this seems due to HTTP upgrade for H2 since this is not using SSL

[2018-06-29 07:16] vietj commented on #387
fixed by https://github.com/eclipse/vert.x/issues/2519

[2018-06-29 07:16] #387 closed, assigned to nobody

[2018-06-29 07:31] castx1981 commented on #310
I have exactly the same requirements as @mllrmat, to be more specifically, I would like to have a service running in backgroud to render emails with templates and send out, there is no RoutingContext involved in this case.

[2018-06-29 08:57] tsegismont commented on #310
@pmlopes I asked @castx1981 to comment on this issue. It seems the use case is not isolated. How about looking into it for 3.6?

[2018-06-29 13:06] pmlopes commented on #310
We can decouple the engines, however the base interface is on web so it always pulls it as a dependency, we could introduce a new interface just in common with map and deprecate the old one on 4.x?

[2018-06-29 14:14] tsegismont commented on #310
Sounds good but what do you mean with "just in common"?

[2018-06-30 05:57] pmlopes commented on #310
I mean recreate the interface from `vertx-web` in `vertx-web-common` otherwise if you just want to use a template engine you won't need to bring the full dependency tree from web to your project

[2018-07-01 21:26] kevinstembridge opened #388 "Allow the debugInfo JsonObject from ServiceException to be sent to the browser via websocket"
When I return a ServiceException from a call to a Service I can add a JsonObject containing debug info.

https://vertx.io/docs/apidocs/io/vertx/serviceproxy/ServiceException.html

However, this information is not sent in the response to the client-side Javascript service proxy. I would like to include a structured error message rather than just a String. For example, an object representing validat

[2018-07-02 08:58] tsegismont commented on #388
Would you mind to investigate why the info is not conveyed to the browser and what's missing?

[2018-07-02 09:36] tsegismont commented on #310
@pmlopes I think I missed the news about this module. Can you briefly explain why it was created and why _BodyCodec_/_MultipartForm_ moved there? I'm trying to understand why the templ engines shouldn't be in their own module (not necessarily in a different repo)?

[2018-07-02 19:13] pmlopes commented on #310
Those components never moved, they were there since day 1. The idea was that body codecs could be used by routing context to parse uploads and multipart could be shared with mail client to reduce duplication. This code was added with the web client. My idea to add the interface there would be to avoid having more modules.

[2018-07-02 21:03] kevinstembridge commented on #388
I'm happy to do some investigation but could you give me a pointer on where to start looking? What part of the codebase is responsible for converting the AsyncResult from the service call into the content sent down the websocket?

And you seem to imply that this is a bug rather than a feature request. Is that the case? What is the expected behaviour?

[2018-07-03 05:38] vietj commented on #388
I think that the main issue is the event bus bridge only knows `ReplyException` and cannot know `ServiceException` since it's a subclass of `ServiceException`. So for this to work, some kind of overloading should be used and have the `ReplyException` to handle itself the creation of a `JsonObject` representing the error that would be overriden by the `ServiceException`

[2018-07-03 05:40] vietj commented on #388
So for this we need to have

- `ReplyException` define a `toJson()` method that returns the `JsonObject`
- have the event bus bridges (SockJS and TCP) use it
- override `toJson()` in `ServiceException` to add the validation error

[2018-07-03 12:59] tsegismont commented on #310
Ok, thanks for the details. But why just the interface? If users need, for example, Vert.x Freemarker for implementation, they will still depend on `vertx-web`, won't they? I must be missing something obvious, sorry

[2018-07-03 17:18] pmlopes commented on #310
I think the link can be broken. The `templ-` modules should depend on common instead of web, the original interface becomes deprecated and adapts the calls to the map version of the API. I haven't tested or checked it but I think it could be done.

[2018-07-04 13:14] tsegismont commented on #310
OK, I just added this to the 3.6 milestone, can you please move it to vertx-web with Waffle?

[2018-07-06 13:12] ghost opened #389 "Vertx 3.5.2 HttpServer response pending"
If i access ```request.netSocket().writeHandlerID()``` before sending http response, browser waits and waits for response it never comes if i remove this line everything works. Is this expected behavior? here is sample code

[code]

[2018-07-06 14:17] vietj commented on #389
why are you doing this ?

[2018-07-06 14:18] vietj commented on #389
you should send the response before getting the NetSocket.

when you get the NetSocket, this removes the HTTP handlers from the pipeline and so the only way you can get this to work is to send a response manually in the NetSocket

[2018-07-06 14:34] ghost commented on #389
I am using `writeHandlerID` as unique request id to put request in HashMap and later on when i will get DB response will use that `writeHandlerID` to get request from HashMap. I used this in my TCP server but in HTTP Server it was creating pending issue. I will use UUID
Thanks

[2018-07-06 15:07] vietj commented on #389
yes you should use your own UUID, getting the NetSocket from a request means that you will exclusively use the NetSocket for further network interactions.

[2018-07-06 15:07] #389 closed, assigned to nobody

[2018-07-08 00:48] wesbiggs commented on #300
I agree with @ralleal; this behavior is confusing and could be easily addressed by only removing the first character if it is a '/'.

It also seems impossible to specify a template that's not in a subdirectory. I've tried using "" (the empty string), ".", and "/" for the templateDirectory argument, all to no avail. Arguably, having templates at the root level is unwise, but it broke our code when

[2018-07-09 22:55] michaelpog opened #390 "HttpClient must use the http scheme for non SSL connections"
When upgrading to Vert.x 3.5.3.CR1 and enabling HTTP_2 in HTTP client. The request scheme in the HTTP server is HTTPs even when the request from the HTTP client to HTTP server is HTTP.

Reproducer https://github.com/michaelpog/http2reproducer
1. Run HTTP server
2. Run HTTP client.
Observe HTTP server output:
[code]
3. Change line :
[code]
in HTTP client  to
[code]
4. Rerun HTTP client
5. Observe c

[2018-07-10 09:17] vietj commented on #390
it's actually a client problem and not a server problem

[2018-07-10 09:32] vietj commented on #390
fixed by https://github.com/eclipse/vert.x/issues/2533

[2018-07-10 09:32] #390 closed, assigned to nobody

[2018-07-10 12:28] pmlopes commented on #237
There are already several projects that offer this functionality, so I'm closing this issue. It is not the goal of this project to compete against the community but allow it to grow!

[2018-07-10 12:28] #237 closed, assigned to nobody

[2018-07-10 13:00] pmlopes commented on #382
or instead just have a configurable initial cache header value

[2018-07-10 18:14] michaelpog commented on #390
Awesome, thanks!

[2018-07-12 14:01] #384 closed, assigned to vietj

[2018-07-13 10:01] chrisjleu opened #391 "Allow customization of thread name prefix"
No way to change the thread names from for example:

`vert.x-eventloop-thread-0`
`vert.x-worker-thread-17`

It's a minor thing but something equivalent to [Thread.setName()](https://docs.oracle.com/javase/1.5.0/docs/api/java/lang/Thread.html#setName(java.lang.String)).

[2018-07-13 10:14] vietj commented on #391
what is the use case ?

[2018-07-13 10:14] vietj commented on #391
several vertx instances ?

[2018-07-13 18:23] chrisjleu commented on #391
Use case is obfuscation. Sometimes one wants to use a technology that one _knows_ is the right one for the job and will yield better results all round. However one frequently runs up against architectural gatekeepers, often with their own agenda, often just ignorant, that insist on doing things another way for no good reason.

Your use-case sounds better though, I didn't think of that one but it m

[2018-07-22 20:00] lonerzzz opened #392 "Vert.x FutureTask/ThreadPoolExecutor usage eats exceptions"
I was hitting an issue with the KafkaConsumer plugin wherein the messages were not being received and after digging into it, I discovered that the combination of FutureTask run() method implementation and ThreadPoolExecutor does not pass along the exception. The FutureTask API has a setException method that is called in response to an exception and sets the 'outcome' variable to the caught excepti

[2018-07-24 13:53] laurentvaills commented on #282
Hi @rodolfodpk ,
I am also interested into using Caffeine and Vertx together. But I don't understand why you closed the issue. How did you solve it ?

Regards,
Laurent

[2018-07-24 22:52] michaelpog opened #393 "NullPointerException in Vert.x 3.5.3"
After deploying our application on Vert.x 3.5.3 I have seen quite a few log lines that indicate a NullPointerException.
[code]
After running JFR I see the location of the NullPointerException as this:

[code]
(So it actually looks like it's in netty)
Unfortunately I do not have a reproducer

[2018-07-25 00:12] rodolfodpk commented on #282
Hey @laurentvaills
The main requirements I had when I opened it:
1) Local cache (not distributed)
2) Lazy entry loading (to implicitly load elements not in cache)
3) Expiration policies (to evict older cache entries and save RAM)
4) to fit well the Vertx async api

So far, I decided to wrap the cache operations within a vertx executeBlocking and using https://github.com/jhalterman/expiringmap inst

[2018-07-25 07:16] laurentvaills commented on #282
Thanks for your details.

Actually Caffeine has both synchronous and asynchronous cache implementation: https://github.com/ben-manes/caffeine/wiki/Population#asynchronously-loading

Hazelcast is mostly interesting if you need a distributed cache. I've played a bit with it few years ago and that was really simple to use.

Regards,
Laurent

[2018-07-27 08:39] z672355589 opened #394 "eventbus SEVERE: Unhandled exception java.lang.NullPointerException"
2018-07-27 16:38:29,709 [vert.x-eventloop-thread-0] WARN  io.netty.channel.DefaultChannelPipeline - An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception.
io.netty.channel.ChannelPipelineException: io.vertx.core.net.impl.NetServerImpl$2.handlerAdded() has thrown an exception; removed.

[2018-07-27 08:43] z672355589 commented on #394
version：3.5.2
ClusterManager：zookeeper

[2018-07-27 09:06] tsegismont commented on #394
Can you provide a small reproducer ? Thanks

[2018-07-27 09:42] z672355589 commented on #394
I found nothing exception with version 3.4.2

[2018-07-27 09:50] z672355589 commented on #394
Let me write a demo。I have a try

[2018-08-01 22:18] ryanlamore commented on #246
@vietj : I don't think you understood me correctly.  I'm saying it should **NOT** be created in a static block.  As it is using a BufferedInputStream.  The problem still exists.

[2018-08-02 05:31] vietj commented on #246
@ryanlamore that's something that is beyond control of Vert.x (SSL engine initialization), this happens during the startup phase of your application (so if you use bare Netty, you will have the same issue).

if you have concerns, you can wrap the initialization in an executeBlocking call.

[2018-08-02 05:31] #246 closed, assigned to vietj

[2018-08-02 15:20] ryanlamore commented on #246
@vietj : I totally disagree with you.  Isn't [io.vertx.core.net.impl.SSLHelper](https://github.com/eclipse/vert.x/blob/master/src/main/java/io/vertx/core/net/impl/SSLHelper.java#L106) owned by vertx?  All I'm saying is when you statically call this method (SSLContext.getInstance("TLS").context.createSSLEngine()), you end up calling a blocking API.  The only way to get around this is to wrap [Vertx

[2018-08-02 17:45] vietj commented on #246
@ryanlamore have you experienced actual issues due to this ?

[2018-08-03 07:42] vincensiusadi opened #395 "error on vertx sendMail, io.vertx.core.impl.ContextImpl - Unhandled exception java.lang.NullPointerException: null"
hello i cannot catch null error on sending email
my code is like this :
[code]
log error :

[code]
vertx version : 3.5.3
i cannot found what error is this, i cannot catch the error on "doOnError" please help.
Thanks

[2018-08-03 10:28] tsegismont commented on #395
You can set your own exception handler on the verticle context: https://vertx.io/docs/apidocs/io/vertx/core/Context.html#exceptionHandler-io.vertx.core.Handler-

But it seems the root cause is suppressed here. Can you debug to find what is the null object?

[2018-08-03 11:51] vincensiusadi commented on #395
i just try this, but still cannot catch the error
[code]

[2018-08-03 13:36] tsegismont commented on #395
Right, if the cause was present I believe it would have printed by the default exception handler. Any progress with debugging?

[2018-08-03 14:03] ryanlamore commented on #246
@vietj : Besides error stack traces in our logs, no.  But we take our logs very seriously and it's unfortunate that we just have to **live** with these stack traces.  I'm happy to make the fix and send the PR.  If I do so and you like the change, can we get it merged into the codebase for some future release?

[2018-08-04 02:02] vincensiusadi commented on #395
can you give an example code how to debug with default exception handler ? i confused how code it in my code

[2018-08-04 07:29] vietj commented on #246
@ryanlamore it is complicated to find the right solution to this problem, what do you have in mind ?

[2018-08-06 07:49] cescoffier commented on #325
It has been fixed in the website, but seem broken since 3.5.0
https://github.com/vert-x3/vert-x3.github.io/tree/master/docs.

The latest released didn't update the website correctly. Will fix it Today.

[2018-08-06 10:04] tsegismont commented on #395
I meant using a debugger (with a NullPointerException break point for
example)

[2018-08-06 12:34] cescoffier commented on #325
Fixed, the documentation of previous versions is available on:

https://vertx.io/docs/$version

For instance:

* https://vertx.io/docs/3.5.1
* https://vertx.io/docs/3.5.2

[2018-08-06 12:34] #325 closed, assigned to cescoffier

[2018-08-08 12:27] pmlopes commented on #153
We can't really use `Cookies` or `Authorization` with SockJS as it could open a XSRF exploit, this is easily achievable with:

[code]

[2018-08-08 15:25] vincensiusadi commented on #395
hi,  i catch the error, but different :

[code]
this is random error when i send milion emails,
what error is this?

[2018-08-09 14:03] tsegismont commented on #395
Closing, now tracked in https://github.com/vert-x3/vertx-mail-client/issues/95

[2018-08-09 14:03] #395 closed, assigned to nobody

[2018-08-24 10:14] injecteer opened #396 "Websocket client with ssl:true -> NotSslRecordException"
The code in vert.x 3.5.3

[code]
produces

If ssl is set to false, the websocket is created normally.

See https://groups.google.com/d/msg/vertx/PK-OcoEEZYU/UpkJEjWFDwAJ for further info

[2018-08-24 12:07] vietj commented on #396
it seems your server does not support SSL, can you provide a reproducer ?

[2018-08-24 12:31] vietj commented on #396
this is because you are missing the default 443 port, your client options should have a "defaultPort: 443" declaration.

[2018-08-24 12:31] #396 closed, assigned to nobody

[2018-08-27 13:35] wem commented on #187
Hi

I can't promise, but maybe it's possible for me to do a contribution on this. I can tell you more within a week.

[2018-08-27 15:34] vietj commented on #187
that would be great, server or client ?

I think client makes more sense for building IoT gateways with vertx.

[2018-08-27 16:52] wem commented on #187
I was thinking about to build it on top of califorium-core https://www.eclipse.org/californium. It's lightweight too as i saw and it's an eclipse project as well. How looks this idea to you?
They have both, server and client against the same API (one Maven dependency). Therefore i think it would be possible to make both.

Later it maybe can make sense to implement the LWM2M for it (and the MQTT as

[2018-08-27 22:30] vietj commented on #187
@wem vertx like califorium uses Netty, so that should be doable given the netty versions are compatible

[2018-08-28 09:53] vietj opened #397 "Codegen interface constant declaration support"
Support for declaring constant in `@VertxGen` annotated interfaces, e.g

[code]

The generators can implement this feature by using the return type / callback code generation and publishing a constant of their choice:

[code]

[code]

[2018-08-28 10:02] vietj commented on #397
see https://github.com/vert-x3/vertx-codegen/issues/93

[2018-08-28 13:53] #397 closed, assigned to nobody

[2018-08-30 08:35] lenovobenben opened #398 "There is an error in vert.x and hazelcast,help!!!"
Our project uses vert.x(3.3.3) , hazelcast(3.6.3) . Micro-services RPC  appear a bug.

the class file is exist! Why is this happening?

the log:
-------------------------------------------------------------------
2018-08-29 18:23:21.597  WARN  [hz._hzInstance_1_dev.IO.thread-in-0] com.hazelcast.logging.Slf4jFactory$Slf4jLogger.log(Slf4jFactory.java:66) - [localhost]:5706 [dev] [3.6.3] Unhandled ex

[2018-09-01 13:16] codemonstur opened #399 "Vert.x does not compile with Graal AOT"
I would like to use the Graal AOT to compile vert.x. I do this:
- create a standard maven project
- add vertx-core 3.5.3 as a dependency
- add a simple main:

    public static void main(final String... args) {
        Vertx.vertx()
            .createHttpServer()
            .requestHandler(request -> request.response().end("Hello, World!\n"))
            .listen(8080);
    }

- use the shader to

[2018-09-02 08:45] vietj commented on #399
we have people succeeding building native graal images with vertx, can you rather go on the vertx google group to raise your issue and get help ?

[2018-09-02 08:45] #399 closed, assigned to nobody

[2018-09-03 11:36] pmlopes commented on #399
@codemonstur I've created a simple template that can get you started here: https://vertx-starter.jetdrone.xyz/ give it a name and tick the box `native image`.

The generator only works with stable releases so in order to get this working you will need to update the versions of the dependencies from `3.5.3` to `3.6.0-SNAPSHOT` until there are `3.6.x` releases.

Once you have a project skeleton you

[2018-09-04 13:31] #310 closed, assigned to nobody

[2018-09-04 13:31] #300 closed, assigned to nobody

[2018-09-06 21:57] lfmunoz opened #400 "How do I enable CORS headers on VertxOptions so I can probe prometheus from a Web Application?"
I have a vertx application, and I have enabled metrics and prometheus and it works. I want to make a request from a Web Application but I keep getting CORS error:

[code]

How do I enable CORS headers on VertxOptions so I can probe prometheus from a Web Application?
Note this isn't a web application, the embedded web server is simply used to enable Prometheus.

This is what I currently have:
[code

[2018-09-08 13:07] codemonstur commented on #399
That starter website is really nice! I looked at the configuration that it generates and I'm both amazed and a little disheartened. Its great to be able to use vert.x but I wonder how long this will remain stable if so many custom settings are needed.

At the moment though I can't get a driver for a relational db to work with Graal so unless I do a project with only Redis as a backing db I can't r

[2018-09-08 16:08] pmlopes commented on #399
The reactive pg client works without issues with postgres. The flags you see are not really for vertx, if you look closely they are massaging substrate vm to process netty classes properly.

[2018-09-09 20:26] tejavenkatlanka commented on #373
jponge  can you guid me i will work on it

[2018-09-11 06:52] vietj opened #401 "Vert.x 3.5.4 umbrella issue"
List of back-ported bugs:

- vertx-core
  - [x] [HttpClient connection should be resumed when response ends](https://github.com/eclipse/vert.x/issues/2593)
  - [x] [Improve the ALPN detection to work on latest JDK 11](https://github.com/eclipse/vert.x/issues/2625)
  - [x] [Fix FileResolver for OSGi bundle resources](https://github.com/eclipse/vert.x/pull/2549)
  - [x] [NullPointerException when re

[2018-09-12 13:35] kerko commented on #401
It would be great if we could backport this fix: https://github.com/vert-x3/vertx-micrometer-metrics/pull/43

[2018-09-12 14:31] vietj commented on #401
it makes sense to me, @jotak can you take care of this ?

[2018-09-15 08:33] kurt-o-sys opened #402 "reply always null when sending from browser (using sockJS)"
I'm having issues to make the sockjs eb-bridge to work: the reply I get in the client (browser) is always null. When I send the same message on the eventbus from a verticle without sockJS-bridge, I get the right reply. So it seems the messages are blocked somehow, although I thought that reply messages weren't blocked.

This is some code (from a js verticle):

[code]

The api-verticle:
[code]

ind

[2018-09-15 08:39] kurt-o-sys commented on #402
ok, solved the first problem: the callback takes 2 args: first one is error, second one is reply... it would be good to update the docs.

[2018-09-15 08:39] #402 closed, assigned to nobody

[2018-09-15 14:52] jponge commented on #373
@tejavenkatlanka The only suggestion I may have is to adopt a structure similar to that of the Vert.x guide for Java developers, where you have code and text in sub-project `README` files.

Good luck!

[2018-09-17 13:42] vietj opened #403 "Jackson upgrade to 2.9.6"

[2018-09-18 06:20] #403 closed, assigned to vietj

[2018-09-18 10:13] tejavenkatlanka commented on #373
Thanks for your response @jponge  should i write test case for vertx-guide-for-java-devs or other vert module

[2018-09-18 12:51] jponge commented on #373
I suggest you start something from scratch in your own repository, with samples that make sense rather than taking those from the Java guide.

[2018-09-19 11:39] wem commented on #187
Hello
Sorry for my late reply.
Unfortunately it's not possible for me to contribute on this issue because lack of time. I will go with MQTT as IoT protocol.

[2018-09-20 20:19] tsegismont commented on #398
It looks like some classes did not make it to the fat jar.

[2018-09-20 20:35] tsegismont commented on #400
I don't believe it is possible with the embedded server. If you have an existing Vert.x HTTP server, I would recommend to use it instead: https://vertx.io/docs/vertx-micrometer-metrics/java/#_binding_metrics_to_an_existing_vert_x_router

[2018-09-20 20:35] #400 closed, assigned to nobody

[2018-09-21 16:19] tsegismont commented on #316
@michalsida is this workaround still needed after the fix for vert-x3/vertx-hazelcast#90 is merged in master?

[2018-09-25 17:19] nitish24p commented on #383
I am getting the same issue..
in the the webClientOptions i havent done setSSl to true, but my abs url is an https one. I still get the same error..

[2018-09-26 07:20] vietj opened #404 "Stack osgi upgrade for major modules"
- [x] vertx-core
- [x] vertx-web
    - [x] vertx-web
    - [x] vertx-web-client
    - [x] openapi
    - [x] handlebar template engine
    - [x] freemarker template engine
- [x] vertx-sql-common
- [x] vertx-jdbc-client
         - with Hikari connection pool
- [x] vertx-auth
     - [x] vertx-auth-common
     - [x] vertx-auth-htdigest
     - [x] vertx-auth-htpasswd
     - [x] vertx-auth-jdbc
     - [

[2018-09-26 20:08] vietj opened #405 "Update CI for stack"
Projects to upgrade:

- [x] vertx-codegen
- [x] vertx-core
- [x] vertx-web
- [x] vertx-junit5
- [x] vertx-rabbitmq-client
- [x] vertx-sql-common
- [x] vertx-unit
- [x] vertx-docgen
- [x] vertx-jdbc-client
- [x] vertx-mongo-client
- [x] vertx-service-proxy
- [x] vertx-health-check
- [x] vertx-kafka-client
- [x] vertx-codetrans
- [x] vertx-proton
- [x] vertx-reactive-streams
- [x] vertx-redis-client

[2018-09-26 22:12] tsegismont commented on #378
Closing, now tracked by vert-x3/vertx-web#1013

[2018-09-26 22:12] #378 closed, assigned to tsegismont

[2018-09-27 08:27] #404 closed, assigned to cescoffier

[2018-09-27 08:28] cescoffier commented on #404
OSGi metadata have been pushed to the listed projects.

[2018-09-27 12:50] brianwrf opened #406 "Potential XXE vulnerability in vertx-web"
Howdy,

Just found a potential XXE vulnerability in vertx-web as show below, it seems function `isValid` didn't add any protection from XXE vulnerability when parsing XML document.

https://github.com/vert-x3/vertx-web/blob/2ce5bd4f3ca5a8f81d952d5c7b3d555dea5c41e6/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/XMLTypeValidator.java#L34

Follow the OWASP guide below which

[2018-09-27 12:58] brianwrf commented on #406
Created a new issue for vertx-web instead.
<https://github.com/vert-x3/vertx-web/issues/1021>

[2018-09-27 12:58] #406 closed, assigned to nobody

[2018-09-27 12:59] tsegismont commented on #383
@nitish24p can you try to run the JVM with the ` -Dvertx.disableDnsResolver=true` sysprop?

[2018-09-27 15:04] nitish24p commented on #383
Yea it works with that but that's not the root cause of the problem. I did a tcp dump of the dns via wireshark, and the vertx client was making a call to some weird dns server ip, which was causing the not resolved exception. The browser was hitting the correct dns servers as configured by my ISP but the vertx client was calling some random dns server ip.. Don't know why though

[2018-09-27 17:36] benishak opened #407 "IllegalStateException cannot register channel with OpenJDK 11"
I'm using latest version of Vert.x
and compiled successfully my application with OpenJDK 11+28

My application start fine but as soon Vert.x received a request it shows that warning and the whole Vertx server get restarted and returns Server Internal Error

Same code runs fine when compiled and run with Java 8 (Oracle)

### Expected behavior
Should be able to register channel

### Actual behavior

[2018-09-27 20:24] tsegismont commented on #383
Can you take a look at https://vertx.io/docs/vertx-core/java/#_host_name_resolution ?

Vert.x by default uses an async DNS resolver. DNS servers should be the system list of servers. I suspect these were not found and Vert.x fallbacks to Google DNS servers (`8.8.8.8` and `9.9.9.9`).

Can you tell me which DNS server IP you saw?
What is your operating system?

[2018-09-28 07:50] tsegismont commented on #316
Closing as  vert-x3/vertx-hazelcast#90 should remove the need for creating many multimaps.

[2018-09-28 07:50] #316 closed, assigned to tsegismont

[2018-09-28 11:47] yozhag opened #408 "Deadlock while Pump from Flux/Flowable to Response"
Hi, I'm facing deadlock when streaming data using Pump. The source is Aync Azure client from Microsoft (not sure it's relevant) which uses Netty thread pool underneath. By looking at Pump's dataHandler's where dead lock occurs I can hardly see how it can allow 2 different theads (vertx one and netty one in my case) to execute concurrently. My code is trivial same as in documentation
[code]

so I'm

[2018-09-29 08:31] vietj commented on #408
it sounds rather like an issue in the vertx-reactive-streams project, can you open this issue here instead ?

[2018-09-29 19:25] yozhag commented on #408
Sure, done that https://github.com/vert-x3/vertx-reactive-streams/issues/12#issue-365160076

[2018-09-30 20:31] JuKu opened #409 "Connect Timeout doesnt works"
Currently, if i set a connect timeout, it doesn't has any effect, the timeout doesn't works.

[code]

So it should abort after 500ms, but it doesn't, i think there is a bug in connect timeout.

[2018-09-30 20:33] JuKu commented on #398
@lenovobenben It's not the best option, but you can make it work, if you include hazelcast itself:
https://mvnrepository.com/artifact/com.hazelcast/hazelcast/3.10.5

Then he should be able to find this class. Or use an older version of vert.x .

[2018-10-01 23:15] luengnat commented on #401
any plan to update netty/grpc?

[2018-10-02 05:55] vietj commented on #401
unfortunately, not in 3.5.4, 3.6.0 will be released within a few weeks from now.

[2018-10-02 06:32] vietj opened #410 "Update parent poms for Java 11"
Some plugins seems to have issues with Java 11, like the current javadoc plugin version.

[2018-10-03 07:38] #401 closed, assigned to nobody

[2018-10-07 13:02] lenovobenben commented on #398
@JuKu
the error happened only once !   Probability is very low.
I tried to reproduce it ,  but failed.
I have given up.

Thank You !

[2018-10-08 02:36] NevilleYeung opened #411 "[Connection was closed] exception occurs occasionally"
We use vertx in this project as http client and server. Client and server are using the same vertx project in a process. Version is 3.5.0 .
https://github.com/apache/incubator-servicecomb-java-chassis/tree/master/transports/transport-rest/transport-rest-vertx
https://github.com/apache/incubator-servicecomb-java-chassis/tree/master/transports/transport-rest/transport-rest-client

Now we got a probl

[2018-10-08 11:46] tsegismont commented on #398
@lenovobenben thanks for letting us know

[2018-10-08 11:46] #398 closed, assigned to nobody

[2018-10-08 11:59] lenovobenben commented on #398
@tsegismont
The env is Production.
So , I think it is a bug .
very Strange! ! !

[2018-10-18 13:31] wwhai opened #412 "How to get vertx mqttClient info?"
I want to design a mqtt server with vertx MqttServer,Now I have complated a demo,This demo contains
 some simple function for remote mqtt client to connect.
I have a question, how to get client info which have already connected?
I can not found a API to get this info, please help me.
this is core code:
`
 MqttServer mqttServer = MqttServer.create(vertx);

 List clientList =mqttServer.getClientList

[2018-10-19 00:43] vietj commented on #412
it seems like a missing feature, WDYT @ppatierno ?

[2018-10-19 10:57] ppatierno commented on #412
Yeah it seems a new feature. @wwhai what kind of information would you like to see for a client? All the ones provided by the `MqttEndpoint` interface?

[2018-10-19 11:04] wwhai commented on #412
Such as the number of the online mqtt client or more detail, such of client's current state, etc;
All of those are provided in Activemq,In Activemq we can sub a special topic to get current clients.
I hope vertx-mqtt also provide the same interface,It can help us to monitor the client number in realtime.

[2018-10-19 11:13] wwhai commented on #412
I hope next version MqttEndpoint interface or MqttServer can provider a method such this:
List <Client>list=server/endpoint.getAllClient();
for(list)......
Though this interface we can get detail info what are realtime needs.

[2018-10-19 11:50] ppatierno commented on #412
I could think about providing the list of clients even because connection/endpoint(s) objects are already taken in memory but in any case, consider that ActiveMQ is a broker. The MQTT server is not a broker so it's out of its scope providing too much.

[2018-10-19 11:56] ppatierno commented on #412
FYI I have just opened this one https://github.com/vert-x3/vertx-mqtt/issues/107

[2018-10-19 16:33] vietj commented on #412
thanks @ppatierno let's close this issue in favor of the new one

[2018-10-19 16:33] #412 closed, assigned to nobody

[2018-10-20 15:14] #407 closed, assigned to nobody

[2018-10-21 10:41] wwhai opened #413 "How to refuse client subscribe?"
Recently I face a problem:
I use vertex-mqtt design a server, now some client which want to subscribe topic will be deny.but I don't know how to do this function.
I hope in `endpoint.subscribeHandler`event can provide a interface can deny client who want to sub a special topic.
such this:
 List<MqttTopicSubscription> topicSubscriptions = subscribe.topicSubscriptions();

[2018-10-21 22:37] tsegismont commented on #413
@ppatierno do you know if this is possible?

[2018-10-23 09:36] wwhai commented on #413
I think this function is useful for a security mqtt service.
I hope you can enhance this interface future.

[2018-10-23 09:49] ppatierno commented on #413
@wwhai @tsegismont it's already possible doing that as described by the MQTT protocol.
On the `MqttEndpoint` you have `subscribeAcknowledge` method in order to send the SUBACK to the connected client. You have to provide the list of granted QoSs. The `MqttQoS` enum has the three level of QoS and `FAILURE` to deny the subscription to the client.

[2018-10-23 14:24] apanasevich opened #414 "Network issues and Timed out waiting for group information to appear"
Hi there.

I've created a simple [example](https://github.com/apanasevich/vertx-cluster-test/tree/master) to play with cluster mode. I run two nodes in the cluster with manual deployment of verticles. After a successful start I turn off the network from one node for five minues and turn it on after that. The cluster seems to be created again, but [LoggingVerticle](https://github.com/apanasevich/ve

[2018-10-23 18:56] tsegismont commented on #413
@ppatierno thank you!

[2018-10-23 18:56] #413 closed, assigned to ppatierno

[2018-10-23 19:02] ppatierno commented on #413
@tsegismont you are welcome!

[2018-10-23 19:08] tsegismont commented on #414
Seems related to https://github.com/vert-x3/vertx-hazelcast/issues/90. Upgrade to 3.5.4 and it should fix your issue.

[2018-10-23 19:08] #414 closed, assigned to tsegismont

[2018-10-24 04:30] wwhai opened #415 "how to use this API?"
@Fluent
    MqttEndpoint subscribeAcknowledge(int var1, List<MqttQoS> var2);

    @Fluent
    MqttEndpoint unsubscribeAcknowledge(int var1);

[2018-10-24 05:17] vietj opened #416 "Resolve distributed build dependency"
Currently the stack build has a cyclic dependency that does not appear when building projects separately:

[code]

with the cycle:

vertx-health-check -> vertx-service-discovery -> vertx-hazelcast -> vertx-health-check

I've resolved temporarily it in the simplest manner I could find : I removed the dependency from vertx-health-check to vertx-service-discovery

This happens mainly because we have

[2018-10-24 05:18] vietj commented on #416
assigned @tsegismont and @cescoffier so you have a look at the issue and suggest a better resolution than the simplest one I could find: https://github.com/vert-x3/vertx-health-check/commit/c3a110116c7095faaedafbd09338318076f838ea

please discuss here.

[2018-10-24 09:14] apanasevich commented on #414
Thank you for advice, I confirm that the problem is fixed.

[2018-10-24 13:31] tsegismont commented on #416
@vietj note the same issue applies with `vertx-infinispan`

[2018-10-24 13:37] tsegismont commented on #416
How about moving the Infinispan and Hazelcast health checks to the `vertx-health-check` repo?

[2018-10-24 13:43] tsegismont commented on #415
@wwhai take a look at [Handling client subscription/unsubscription request](https://vertx.io/docs/vertx-mqtt/java/#_handling_client_subscription_unsubscription_request)

[2018-10-24 13:43] #415 closed, assigned to nobody

[2018-10-24 14:54] vietj commented on #416
that would make sense to me, WDYT @cescoffier ?

[2018-10-25 14:03] wwhai opened #417 "I need help!"
I have learned vert-Mqtt Server long time.but at recently I found some problem,because too many so I can't list here.
Hope one can help me who are the mqttServer's author or developer.
Very thanks.

[2018-10-25 14:07] wwhai commented on #417
I am a Chinese developer ,my Email is 751957846@qq.com,if who can help me please send e-mail to this address.

[2018-10-25 16:21] Sammers21 commented on #417
@wwhai, I think the best way to solve these problems is to create an issue for each of them in the related repository.

[2018-10-26 03:54] wwhai commented on #417
Thank you,last night I read the document of vertx-mqtt by careful,I found this vert-mqttServer dosn't for my design,It isn't a standard mqtt broker,so it can't suit a broker's function ,or maybe I should consider other mqtt broker such Activemq or HiveMq,etc.

[2018-10-26 10:36] tsegismont commented on #417
@wwhai right, this module is for building your own broker, not a ready to use one.

[2018-10-26 10:37] #417 closed, assigned to nobody

[2018-10-29 18:27] cescoffier commented on #416
Yes, we can do this and make the health check project a multi-module project:

[code]

WDYT?

[2018-10-29 19:03] vietj commented on #416
makes sense to me.

I can give a try this week before the first CR.

[2018-11-05 08:36] vietj commented on #416
actually now I think about it, I am not inclined to do that because it means that

- one cannot make a cluster manager release independently of health-check
- health check has a dependency on 2 cluster managers and a bug in one of these cluster manager might prevent a release of the health check module

[2018-11-05 08:38] vietj commented on #416
I think instead we should try to break the link from service-discovery to hazelcast (I don't know the nature of it for now), I believe that most integration should be done in cluster managers when it happens because those are terminal nodes of the stack build graph.

[2018-11-05 08:41] cescoffier commented on #416
Hazlecast is used for testing service discovery when running in clustered mode.

[2018-11-05 08:47] vietj commented on #416
yep I understand that, could we test like we do with vertx-web ?

[2018-11-05 08:48] vietj commented on #416
vertx-web clustered session integration tests have been moved to cluster managers

[2018-11-05 09:03] cescoffier commented on #416
That would be very weird to test the _default_ backend of service discovery in the cluster managers:

1. it would duplicate the test, while it does not stress any particular hard topic
2. if we go this way, all tests testing in clustered mode will end up into the cluster managers - so the cluster managers will potentially depend on everything.

[2018-11-05 09:18] vietj commented on #416
I think you should look at how it is done in vertx-web and the cluster managers.

Conversely it's weird to have this tested for Hazelcast and not Infinispan, Ignite and Zookeeper.

[2018-11-05 09:30] cescoffier commented on #416
I picked the one that was considered as the default one.

[2018-11-05 09:31] cescoffier commented on #416
I don't think putting tests in the cluster-managers is a good idea, especially for this case where we just want to check it works for this specific use case.

[2018-11-05 09:33] vietj commented on #416
I think that for checking this feature functionnally, using the fake cluster manager is correct to be used

[2018-11-05 15:14] tsegismont commented on #416
Agreed. Such tests participate in building a "tck" for cluster manager implementations.

[2018-11-05 15:21] cescoffier commented on #416
Is the fake cluster manager using codecs?

[2018-11-05 15:22] cescoffier commented on #416
Can we artificially increase the latency?

[2018-11-05 17:35] vietj commented on #416
for which operations ?

[2018-11-09 18:33] lfmunoz opened #418 "JsonObject doesn't deserialize after being sent through eventbus"
[code]

This works but when I do the exact samething but pass it through the event bus it doesn't work

[code]

Looks like a bug, why doesn't this work. Any work arounds?

[2018-11-11 19:13] cescoffier commented on #342
Most of them have been provided, we can close this issue and open issue specifically in each repository.

[2018-11-11 20:05] #342 closed, assigned to cescoffier

[2018-11-13 07:10] yiming33 opened #419 "java11 Unsafe"
udpate java8 to java11

java.lang.UnsupportedOperationException: Reflective setAccessible(true) disabled
	at io.netty.util.internal.ReflectionUtil.trySetAccessible(ReflectionUtil.java:31)
	at io.netty.util.internal.PlatformDependent0$4.run(PlatformDependent0.java:224)
	at java.base/java.security.AccessController.doPrivileged(Native Method)
	at io.netty.util.internal.PlatformDependent0.<clinit>(Pla

[2018-11-13 08:03] vietj commented on #419
which version of Vert.x ?

[2018-11-15 09:22] jponge commented on #419
Can you also show us some of the code you wrote @yiming33?

[2018-11-19 07:40] #416 closed, assigned to cescoffier, tsegismont

[2018-11-21 07:36] vietj opened #420 "Upgrade Jackson to 2.9.7"

[2018-11-21 08:13] artemiokost opened #421 "Need to add polyglot support for io.vertx.ext.web.api"
### Version

* vert.x web: 3.6.0.CR1

### Context

Need to add reactivex support for io.vertx.ext.web.api, kotlin, etc....

[2018-11-21 08:16] #420 closed, assigned to vietj

[2018-11-21 08:32] vietj commented on #421
I will move this issue to https://github.com/vert-x3/issues/issues/

[2018-11-21 13:40] artemiokost opened #422 "forEach method in io.vertx.reactivex.core.MultiMap"
Maybe it makes sense to implement the forEach method in MultiMap. After context.request().headers() need to invoke .getDelegate() method.

[2018-11-21 15:26] slinkydeveloper commented on #421
Pull requests:
- [x] https://github.com/vert-x3/vertx-rx/pull/166 (docs override in https://github.com/vert-x3/vertx-web/pull/1076)
- [x] https://github.com/vert-x3/vertx-lang-kotlin/pull/95
- [x] https://github.com/vert-x3/vertx-lang-js/pull/82
- [x] https://github.com/vert-x3/vertx-lang-groovy/pull/65
- [x] https://github.com/vert-x3/vertx-lang-ruby/pull/36

[2018-11-21 18:06] vietj opened #423 "Missing polyglot vertx-mail-service and vertx-consul-service"
Currently, we are missing these that were omitted when the generation was reworked

[2018-11-21 18:20] #423 closed, assigned to nobody

[2018-11-22 09:09] tsegismont commented on #422
Thanks for reporting.

I'm closing as duplicate of https://github.com/vert-x3/vertx-rx/issues/61

There is an issue tracking the larger problem (interfaces implemented by non Rx objects) planned for 3.6: https://github.com/vert-x3/vertx-rx/issues/132

[2018-11-22 09:09] #422 closed, assigned to nobody

[2018-11-23 09:54] #334 closed, assigned to nobody

[2018-11-26 08:28] vietj opened #424 "Netty stack upgrade"
- Netty 4.0.30.Final
- Tcnative 2.0.17.Final

[2018-11-26 08:29] #424 closed, assigned to vietj

[2018-11-27 05:49] yiming33 commented on #419
3.5.3

[2018-11-27 05:50] yiming33 commented on #419
Just new vertx in main method
New vertx    throws an exception

[2018-11-27 05:52] yiming33 commented on #419
Now I roll back the Java version to 8,everything is back to normal.

[2018-11-28 21:24] vietj opened #425 "Upgrade to RxJava 2.2.4"

[2018-11-28 21:24] #425 closed, assigned to vietj

[2018-11-29 08:05] vietj opened #426 "Vert.x 4 initial module pruning"
A few modules are to be removed in Vert.x 4:

- [vertx-client-services](https://github.com/vert-x3/vertx-client-services/issues/2)
- [vertx-jca](https://github.com/vert-x3/vertx-jca/issues/15)
- [vertx-rx-groovy](https://github.com/vert-x3/vertx-rx/issues/167)
- [vertx-rx-js](https://github.com/vert-x3/vertx-lang-js/issues/86)
- [vertx-mysql-postgresql-client](https://github.com/vert-x3/vertx-mysq

[2018-11-29 18:00] keuller opened #427 "vertx-batch"
I'd like to propose a new module to work with Batch.

Currently we're building a Data Platform and there is no module to work with Batch processing. Our solution was integrate Vertx/Quartz, but we face some problems, e.g. Vertx has it own worker thread which is different from Quartz.

It would good Vertx provides a specific module for Batch processing. I'm willing to help with or share our experie

[2018-11-29 18:08] #426 closed, assigned to nobody

[2018-11-29 18:12] vietj commented on #427
@keuller get in touch with us on the vertx-enquiries list (email available on vertx.io)

[2018-11-29 18:16] keuller commented on #427
@vietj Thanks.

[2018-12-03 08:33] vietj opened #428 "Vert.x 3.6.1"
Umbrella issue, add here the issues that will fix in 3.6.1
Estimated release date 17/12/18

- vertx-codegen
  - [x] [vertx-codegen OSGI module can't be resolved in Apache Felix](https://github.com/vert-x3/vertx-codegen/pull/225)
- vertx-core
  - [x] [Deprecate the HttpClient request/response methods that use an Handler](https://github.com/eclipse-vertx/vert.x/pull/2744)
  - [x] [HttpClientRequest

[2018-12-03 10:02] vietj opened #429 "Incorrect handler asynchrony report"
We do have incorrect handlers in the vertx-stack v3 that don't play well with generators and will be an issue for v4 `CompletionStage`API. This issue aims to list them and find a solution to address them

- [x] `HttpClient` request/response methods
  - `WebClient` provides better API since 3.3
  - rewrite these methods in v4
- [x] `HttpClient` websocket methods
  - rewrite these in v4
  - introduc

[2018-12-03 21:09] dano opened #430 "vertx-tcp-eventbus-bridge is missing generated code"
The vertx-tcp-eventbus-bridge library doesn't have generated classes for RxJava1, RxJava2, ruby, js, etc. It looks like this is mostly a Vert.x 3.6.0 regression, though I think at least the RxJava2 bindings were missing in 3.5.3 as well.

[2018-12-05 12:46] Falx opened #431 "Unnamed module reads package io.vertx.reactivex from both vertx.rx.java2 and vertx.rx.java2.gen"
Making a basic project with vertx 3.6.0 where rxjava2 is used, I get the next errors:
Error:java: the unnamed module reads package io.vertx.reactivex from both vertx.rx.java2 and vertx.rx.java2.gen

Is there still a split package then? This blocks modularization of our vertx based applications.

[2018-12-05 12:56] vietj commented on #431
can you try excluding `vertx.rx.java2.gen` ?

[2018-12-05 12:56] vietj commented on #431
see https://github.com/vert-x3/vertx-rx/issues/168

[2018-12-05 12:59] Falx commented on #431
How do you mean? In the pom.xml?
Because there I only have this:

[code]

[2018-12-05 13:03] vietj commented on #431
use a Maven exclusion on

[code]

[2018-12-05 13:19] Falx commented on #431
That gets me further, thanks.
But then when I want to use the `io.reactivex.rxjava2/rxjava` dependency (to get acces to the  Single class). I get the next error:
[code]

[2018-12-05 13:41] vietj commented on #431
can you make sure that all your modules have been updated ?

it seems that your Vertx version is not 3.6.0

[2018-12-05 13:44] vietj commented on #431
actually it seems that you need

vertx-rx-gen in your path

so you need to add it back because it was excluded by the exclusion

can you do that and report ?

[2018-12-05 13:58] Falx commented on #431
Ok, nice, for now adding in vertx-rx-gen seems to fix it.

[code]
So this should be fixed in 4.0.0 then? Or earlier?

[2018-12-05 14:18] vietj commented on #431
we will try to fix this for 3.6.1

[2018-12-05 14:18] vietj commented on #431
thanks for reporting

[2018-12-05 16:09] tsegismont commented on #418
@lfmunoz can you provide a reproducer? I'm curious how it works in the first snippet. With the Vert.x mapper config, `Instant` should be serialized as an ISO string.

That being said, @pmlopes I'm not sure why we have a serializer config for Instant but no deserializer config. Same goes for byte array. Is there a reason why you didn't add it in https://github.com/eclipse-vertx/vert.x/commit/3ac6c8

[2018-12-05 16:18] pmlopes commented on #418
@tsegismont that is because of the RFC only defines serialization not the otherwayaround as the encoded value is a string so it is hard to tell for non typed languages what kind of data it should be. We could add it as we're on java.

[2018-12-05 16:19] pmlopes commented on #418
@lfmunoz the lack of `BigDecimal` comes from `jackson`. If we enable BigDecimal then all floating point values will be of type `BigDecimal` you can do this now by accessing the `mapper` in the `Json` class and setting:

[code]

Then it will work **BUT** will break everything you expected to have as `float` or `double`

[2018-12-05 16:27] tsegismont commented on #418
@pmlopes well the deserializer applies only when you use `mapTo` so if the user tries to set a string to an Instant field, I think we're fine.

[2018-12-05 16:27] tsegismont commented on #418
@pmlopes I'll go ahead and try to push a PR

[2018-12-05 17:11] tsegismont commented on #418
@pmlopes here's the PR https://github.com/eclipse-vertx/vert.x/pull/2754

[2018-12-12 21:07] wamshawn opened #432 "Why eventbus can't use consul to service registration and discovery"
In this [page](https://vertx.io/docs/vertx-service-discovery/java/#_additional_bridges) .
Wrote ‘’Only http-endpoint is supported for now.‘’
But when without consul bridge,  supported?
That means only supported in Hazelcast Cluster, IS IT？
I know it is a long connection, NOT A HTTP.
But using a connection pool will be much graceful. # #

[2018-12-13 08:31] #430 closed, assigned to nobody

[2018-12-13 13:57] tsegismont commented on #432
@cescoffier any idea?

[2018-12-13 14:16] cescoffier commented on #432
The documentation just means that right now only services with the type "http.endpoint" are imported.
So, if in your Consul you have a service, it will be imported. If it detects it as an HTTP endpoint, it will compute the right set of metadata (SSL, location...).

[2018-12-13 16:36] wamshawn commented on #432
got it, it is a bridge.
So I can register a Vertx HTTP endpoint into consul services, instead of using discovery service to publish a record.
the consul bridge will import the http endpoint into Hazelcast.
is that doable? let me try it.
cause, i want to use golang to make a http gateway server with consul.

[2018-12-14 03:01] wangbf commented on #172
A udp problem.
I want make a udp server with vertx, so I wrote some code use the official code:
DatagramSocket socket = vertx.createDatagramSocket(new DatagramSocketOptions());
socket.listen(1234, "0.0.0.0", asyncResult -> {
  if (asyncResult.succeeded()) {
    socket.handler(packet -> {
      // Do something with the packet
    });

    // join the multicast group
    socket.listenMulticastGroup(

[2018-12-14 03:02] wangbf opened #433 "A udp problem."
I want make a udp server with vertx, so I wrote some code use the official code:
DatagramSocket socket = vertx.createDatagramSocket(new DatagramSocketOptions());
socket.listen(1234, "0.0.0.0", asyncResult -> {
if (asyncResult.succeeded()) {
socket.handler(packet -> {
// Do something with the packet
});

// join the multicast group
socket.listenMulticastGroup("230.0.0.1", asyncResult2 -> {
    Syst

[2018-12-14 08:04] vietj commented on #433
can you provide a reproducer project ?

[2018-12-14 08:04] #432 closed, assigned to nobody

[2018-12-14 08:07] wangbf commented on #433
I just fix this problem, I use this method:
public DatagramSocket listenMulticastGroup(String multicastAddress, String networkInterface, String source, Handler<AsyncResult<DatagramSocket>> handler)

I give this method a _networkInterface_  param explicit, and it works.

[2018-12-14 08:22] vietj commented on #433
ok, that being said it would be better to have a better errort reported in vertx, can you show your failing code ?

[2018-12-14 08:29] wangbf commented on #433
I got these only:
java.lang.NullPointerException: networkInterface
      at io.netty.channel.socket.nio.NioDatagramChannel.joinGroup(NioDatagramChannel.java:410)
      at io.netty.channel.socket.nio.NioDatagramChannel.joinGroup(NioDatagramChannel.java:369)
      at io.netty.channel.socket.nio.NioDatagramChannel.joinGroup(NioDatagramChannel.java:363)
      at io.vertx.core.datagram.impl.DatagramSoc

[2018-12-16 12:51] ramzee2017 opened #434 "Running with ignite causes vertx application to hang"
The description of the problem:
My setup looks like the following. I have a bunch of microservices implemented using Vertx Java and deployed on docker swarm consisting of 3 manager and 2 worker nodes. Apache Ignite is used as the cluster manager solution for the different microservices, potentially running on different swarm nodes, to be able to send messages to each other over the event bus. Once

[2018-12-18 08:12] #428 closed, assigned to nobody

[2018-12-21 09:07] vietj opened #435 "Vertx 3.6.3"
This is the umbrella issue for 3.6.3

- vertx-core
  - [x] [HTTP2 request/response exception handler should not be called when response is ended](https://github.com/eclipse-vertx/vert.x/issues/2803)
  - [x] [Document that executeBlocking should not be used for long blocking operations](https://github.com/eclipse-vertx/vert.x/issues/2801)
  - [x] [Jackson 2.9.8 upgrade](https://github.com/vert-x3/i

[2018-12-23 23:24] denyshorman opened #436 "Event loop does not invoke some waiting handlers"
Hi.

I created simple Verticle and 2 classes that works within created verticle.

[code]

[code]

In `Trader` class I have subscribed to `tickerStream` and `orderBooksStream` and expect to see some output in onNext handlers.
Actually, I see some values after start of the application from both onNext handlers.
But after some time (~15 seconds) when websocket server starts pushing more and more data

[2018-12-24 16:26] MrXionGe opened #437 "A Question about Transaction For Mongo&MySQL"
I'm from an old note.--Here--https://groups.google.com/forum/?fromgroups=#!topic/vertx/duFVIcSR0zg%5B1-25%5D
This is a small idea. About transaction...
In future versions. Will we add some new methods? For simpler transaction usage.
And I didn't find a good way to use transactions in VertX.
Recently I've been using VertX and Mongo.VertX much more interesting than SpringBoot.It's just that there's

[2018-12-25 11:35] denyshorman commented on #436
Researched this issue in detail - not related to vertx (Project Reactor's issue).
Closing this issue.

[2018-12-25 11:35] #436 closed, assigned to nobody

[2019-01-02 09:41] tsegismont commented on #408
Closing, moved to the right repo.

[2019-01-02 09:41] #408 closed, assigned to nobody

[2019-01-02 11:49] tsegismont commented on #437
Closing as duplicate of https://github.com/eclipse-vertx/vert.x/issues/2781

[2019-01-02 11:49] #437 closed, assigned to nobody

[2019-01-06 13:49] ManuelMos opened #438 "AzureAdAuth Certificate Exception"
Hi,

i try to use AzureAdAuth Discovery and get an CertificateException:

`Future{cause=java.security.cert.CertificateException: Could not parse certificate: java.io.IOException: Empty input}`

I removed my site and tried it with the default site and used the graph ClientId still getting the same exception.

My code looks like:

`OAuth2ClientOptions optsDisc = new OAuth2ClientOptions();`
`optsDisc

[2019-01-07 09:12] jiangchuan185 opened #439 "vertx-kakfa 回调中所使用的线程与调用kafka-client的线程不一致"
当调用 write()方法写入kafka时
KafkaProducer<K, V> write(KafkaProducerRecord<K, V> record, Handler<AsyncResult<RecordMetadata>> handler);

//构造方法
public KafkaWriteStreamImpl(Context context, Producer<K, V> producer) {
    this.producer = producer;
    this.context = context;
  }
上面这段代码是初始化KafkaWriteStreamImpl，并传入一个context，这个context中调用构造方法时，
context中的eventloop对象中的Thread还没初始化，当vertx execute(runnable)后,contex

[2019-01-07 13:16] artemiokost opened #440 "Vert.x higher when 3.6.0 (3.6.1 and 3.6.2) is not generate reactivex service"
Maybe I missed something, but after update from 3.6.0 to 3.6.2 reactivex proxy service is not generated. This feature was very helpfull. When I switch only vertx-rx-java2 module version to 3.6.0 all good.

[2019-01-07 13:48] vietj commented on #440
this feature is still supported but I think you need to annotate the service with `@VertxGen` in addition of `@ServiceProxy`

[2019-01-07 14:05] artemiokost commented on #440
Oh thanks for quick reply), but I have always used this annotation like:
[code]
But today I have update my project to 3.6.2 and after annotation processing all reactrivex/service folders in each project where lost. And like I said, when I roll back to 3.6.0 all generates again.

[2019-01-07 14:11] vietj commented on #440
ok, it looks like a regression

[2019-01-07 14:13] vietj commented on #440
can you add the dependency to vertx-rx-java2-gen artifact ?

[2019-01-07 14:14] vietj commented on #440
I think you must be missing this one actually

[2019-01-07 14:14] vietj commented on #440
I think we should properly document how to generate rxjava services with proxy

[2019-01-07 14:42] HugoCrd commented on #440
Hi @vietj !
We also experience this issue on our side.
I just tried adding `vertx-rx-java2-gen` (as below) and it doesn't change anything.

[code]

What would you need from us to help finding the issue?
Best!

[2019-01-07 14:45] vietj commented on #440
I think that a PR in vertx-examples to update the service-proxy-examples/service-consumer to add rx support would be a good thing, so we can use it as integration test

[2019-01-07 15:02] HugoCrd commented on #440
My bad, we do use rxJava 1 so we had to include

[code]

Everything's fine now.
Something changed as we didn't have to include this dependency before. But it's definitely documented in https://vertx.io/docs/vertx-service-proxy/java/ :

I think adding a little more about it here would definitely help

[2019-01-07 15:26] artemiokost commented on #440
Thanks alot @vietj ! Now after adding `vertx-rx-java2-gen` all works perfect!

[2019-01-07 15:27] #440 closed, assigned to nobody

[2019-01-07 15:31] vietj commented on #440
ah thanks for reporting, I'll update the xample anyway as this use case is more often used than we thought initially

[2019-01-08 06:55] ManuelMos commented on #438
I obviously had a version conflict here.
I setall my dependencies to 3.6.2 and now it works. Just took me a bit to figure out how to handle the discovery and that i don't need to create a new OAuth2Auth object with AzureAdAuth after the discovery.

` OAuth2ClientOptions optsDisc = new OAuth2ClientOptions();`
` opts.setClientID("6731de76-14a6-49ae-97bc-6eba6914391e");`
`  AzureADAuth.discover(vertx

[2019-01-08 06:55] #438 closed, assigned to pmlopes

[2019-01-11 08:21] #350 closed, assigned to nobody

[2019-01-11 08:22] #418 closed, assigned to nobody

[2019-01-11 08:23] #362 closed, assigned to nobody

[2019-01-15 07:48] Shaliluya opened #441 "vertx3-eventbus-client need update"
vertx 3.6.0 use the handle method instead of the accept method but vertx3-eventbus-client not update
so it not used I hope update vertx3-eventbus-client

[2019-01-18 11:15] vietj opened #442 "Jackson 2.9.8 upgrade"

[2019-01-18 14:23] #442 closed, assigned to vietj

[2019-01-22 19:37] tunovic commented on #419
Have related exception as DEBUG:
[code]
Vert.x 3.6.2 with Java 11. Has this to do with Netty Java 11 support?

[2019-01-23 10:57] vietj commented on #419
have you checked Netty issue tracker if that's reported as well ?

[2019-01-23 14:05] Ngosti2000 commented on #374
Were you able to sort this out.. am experiencing the same and there seems to be no response from the vertx team

[2019-01-23 21:04] MitchAman opened #443 "Allow customization of LoggerFormat used by LoggerHandler"
It would be nice if there was more customization available for the LoggerFormat used by the LoggerHandler.  The LoggerFormat current has three fixed options:
[code]
It would be nice to have a way to mix-and-match which fields I would like in my format (and their ordering).

[2019-01-24 08:39] vietj commented on #443
@pmlopes can you take care of managing this issue ?

[2019-01-24 13:52] karianna commented on #435
https://github.com/vert-x3/vertx-mongo-client/pull/170 ready to land

[2019-01-24 15:20] vietj commented on #435
@karianna I think we should keep the PR for 3.7 instead as this will break rxjava2 generated API by replacing `Single` by `Maybe`, WDYT?

[2019-01-24 15:30] vietj commented on #435
I'll add it in the breaking changes for RX2 for 3.6.3

[2019-01-25 03:46] yiming33 opened #444 "Can't create more than max_prepared_stmt_count statements"
![image](https://user-images.githubusercontent.com/19584310/51723763-52a0da00-2095-11e9-80e6-fe3f4bfdcbe0.png)

In my process of using vertx-mysql-postgresql-client, I found a problem. Every time I use the prepared statement, mysql's Com_stmt_execute will be +1, but Com_stmt_close will not be +1, so there is a problem: when Com_stmt_execute is greater than the maximum After the value, the error in

[2019-01-25 03:51] yiming33 commented on #444
I don't know why vertx doesn't close automatically. Recently the database has been prompted:
Can't create more than max_prepared_stmt_count statements (current value: 16382)

[2019-01-25 03:52] yiming33 commented on #444
Every time we set the max_prepared_stmt_count value to be larger, but this is not a reasonable solution.

[2019-01-25 19:32] codepitbull commented on #444
Thanks for the reproducer.
I nailed down the issue in the underlying driver.
https://github.com/mauricio/postgresql-async/issues/195

I can't do anything from here because I can't access the prepared statement from outside the driver.
This issue will never be resolved since Mauricio stopped working on the driver.

That's why we introduced the new Kotlin based driver which will replace the scaled b

[2019-01-25 19:32] #444 closed, assigned to nobody

[2019-01-27 08:39] oshai commented on #444
I created an issue in jasync-sql: https://github.com/jasync-sql/jasync-sql/issues/82
You're welcome to follow it and comment there.

[2019-01-28 11:32] oshai commented on #444
@yiming33 the fix is in jasync version 0.8.65 (still need vertex to update to that version and release it). As a workaround, you could also try to reduce the connection idle time because when the connection is closed all it's prepared statements are deallocated by the database.

[2019-01-30 08:50] ruget opened #445 "ServiceVertxProxyHandler do not manage Enum symmetrically if toString() is overwritten"
Hello,

`ServiceVertxProxyHandler` generated from service proxy module handle Enum with:
- `.valueOf()` to marshall from json msg
- `.toString()` to  unmarshall to json msg

If `.toString()` is overwritten, we are losing the symmetry.

Should we have `.name()` instead to unmarshall Enum?

This ticket might be related to https://github.com/vert-x3/vertx-codegen/issues/174

Thanks

[2019-01-30 09:44] vietj commented on #445
yes with a test thanks!

[2019-01-31 07:26] #435 closed, assigned to vietj

[2019-01-31 15:11] ruget commented on #445
Here a test: https://github.com/ruget/vertx-445-reproducer

[2019-02-01 13:41] ruget commented on #445
I've tried to propose something here https://github.com/vert-x3/vertx-service-proxy/pull/84

[2019-02-08 15:12] pertyjons opened #446 "Java 11, ConcurrentModificationException in VertxMetricsImpl.createHttpClientMetrics"
Hi,
Noticed a new error after testing Java 11 again after the recent updates to 3.6.2 and 3.6.3 with the Metrics client reporters.

If you start several vertices with WevClient.create you get a ConcurrentModificationException in the computeIfAbsent in vertxMetricsImpl:
[code]

Here is the full stacktrace:

[code]

I'm attaching an maven example archive to reproduce the error running "OpenJDK 64-Bi

[2019-02-11 12:00] wkgcass commented on #444
My test shows that there won't be any problem for non-stitched-sql strings:

The prepared statement will be reused if the sql string is exactly the same, which is the recommended by most books or guides.

The created prepared statements are the same as the code, so the space complexity is always O(1), unless you stitches strings into a sql based on requests.

[code]

PSVM.java

[code]

run sql to

[2019-02-16 10:56] #363 closed, assigned to vietj

[2019-02-28 11:05] endeavour commented on #220
Is there any update on this?

[2019-02-28 12:57] vietj commented on #220
not yet

[2019-02-28 12:58] vietj commented on #220
I'll close this issue as there is one issue tracking this in vertx-core https://github.com/eclipse-vertx/vert.x/issues/2585

[2019-02-28 12:59] #220 closed, assigned to nobody

[2019-03-01 09:53] pmlopes commented on #149
Closing as there's no activity.

[2019-03-01 09:53] #149 closed, assigned to nobody

[2019-03-01 09:55] pmlopes commented on #164
vertx projects can either be listed in the awesome project or proposed to the reactiverse.io org.

[2019-03-01 09:55] #164 closed, assigned to nobody

[2019-03-01 19:17] pmlopes commented on #137
Currently we don't support spec from source, and it's not on the current scope, perhaps this could be a community project.

Will close for inactivity.

[2019-03-01 19:17] #137 closed, assigned to pmlopes

[2019-03-01 19:25] Jotschi commented on #137
@pmlopes I also believe that OpenAPI has a wider acceptance by now.

[2019-03-07 08:16] gmariotti opened #447 "Travis CI dependencies caching"
This issue is for tracking all projects that need to have their `.travis.yml` updated based on [this discussion](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vertx-dev/dYAxWHuYB6o/sj9trzyaBwAJ)

In practice it means adding the following lines

[code]

Projects:
- [x] vertx-amqp-client
- [x] vertx-kotlin-lang
- [x] vertx-web
- [x] vertx-junit5
- [x] vertx-rabbitmq-client

[2019-03-07 09:47] b3lowster opened #448 "I cannot get service discovery record from hazelcast cluster"
There is a project with two services https://github.com/b3lowster/samples_for_blog/tree/master/rx_sd_java_vertx I run them as a cluster (based on hazelcast)
In one service I create and publish a discovery service record but in the other one I cannot find this record from discovery service.
It might not be a problem but I cannot to find a solution

Thanks in advance

[2019-03-08 10:19] pmlopes commented on #163
Thishas been handled by the new org on github: https://github.com/vertx-howtos

[2019-03-08 10:19] #163 closed, assigned to nobody

[2019-03-19 08:50] lukehutch opened #449 "JsonObject/JsonArray need compound query syntax"
Currently `JsonObject` methods like `JsonObject::getBoolean` take only a field name, and look up the field directly in the embedded `Map` instance. It would be nice if `JsonObject` supported syntax like `outerObject.innerObject`. This could be implemented recursively, removing one path segment at a time, with `.` as a delimiter.

Probably there should also be support for `JsonArray` indexing, e.g.

[2019-03-27 12:28] DemianTinkiel opened #450 "io.vertx.core.VertxException: Thread blocked spam"
Hi,

I'm trying to debug my tests and every time I stop at a break-point I get

[code]

I know this is a normal part of vertx and I have tried using
`-Dvertx.options.blockedThreadCheckInterval=999999
-Dvertx.options.maxEventLoopExecuteTime=9999999
`
as well as adding `<logger name="io.vertx.core.impl.BlockedThreadChecker" level="OFF" />` to my logback configuration but nothing seems to stop vertx

[2019-03-31 20:58] b3lowster opened #451 "A fatal error has been detected"
[code]
[hs_err_pid18470.log](https://github.com/vert-x3/issues/files/3027142/hs_err_pid18470.log)
[hs_err_pid14782.log](https://github.com/vert-x3/issues/files/3027143/hs_err_pid14782.log)

[2019-03-31 21:11] b3lowster commented on #448
Not an issue

[2019-03-31 21:11] #448 closed, assigned to nobody

[2019-04-01 07:44] tsegismont commented on #451
A small reproducer would help

[2019-04-01 07:55] b3lowster commented on #451
@tsegismont Would you like to have access to my project ?

[2019-04-01 08:09] tsegismont commented on #451
Not the whole project. Just a small reproducer.

[2019-04-01 08:25] b3lowster commented on #451
[reactive_vertx.zip](https://github.com/vert-x3/issues/files/3028371/reactive_vertx.zip)
I guess to reproduce you need to have a whole project. There are three project the issue was happened in gateway part

[2019-04-01 08:30] tsegismont commented on #451
It's going to be difficult to run the whole project.

Configure your system to enable coredumps and then
https://www.oracle.com/technetwork/java/javase/crashes-137240.html#gdywn

Le lun. 1 avr. 2019 à 10:25, b3lowster <notifications@github.com> a écrit :

[2019-04-02 08:08] vietj opened #452 "Missing vertx-amqp-client generation"
Currently, the vertx-amqp-client is integrated in the stack but has no generation in rx, kotlin, etc....

[2019-04-02 09:06] #452 closed, assigned to vietj

[2019-04-03 06:11] BorisJineman opened #453 "A dead-lock problem about HttpClientRequestImpl and Http1xClientConnection"
Hi team,

We were facing a dead lock problem when we use Vertx's HttpClient,
we searched this problem around, but not found any related documentations or discussions,

So I go here for seeking helps, hope team can help me to investigate it and check if there is any bugs.

*Background*
We want to pump an upper stream to a HTTP client's write stream.
So there are some codes like bellow,
[code]

In t

[2019-04-04 04:27] CreazySlider opened #454 "context.request().remoteAddress().host() May appear NullPointException."
context.request().remoteAddress().host(); This code may appear NullPointException.But I don't know which one of the apis is this exception.

[2019-04-04 08:57] vietj commented on #454
is that your code or code in vertx ?

[2019-04-04 08:57] #454 closed, assigned to nobody

[2019-04-05 14:52] CreazySlider commented on #454
"context.request().remoteAddress().host();"  --this is vertx's apis."context" is "Routingcontext".

[2019-04-05 14:55] CreazySlider commented on #454
NullPointException occurred when I wanted to use this code to get the browser's ip address.

[2019-04-05 15:54] vietj commented on #454
if that's you code you should separate this into multiple statements so you know where these is an NPE appearing

[2019-04-05 17:10] CreazySlider commented on #454
yes,I have already done the idea you said.Is NPE occurring because vertx's api is unstable?

[2019-04-09 09:47] vietj commented on #454
no I want to undestand which part of the expression raise the NPE

[2019-04-09 14:41] CreazySlider commented on #454
This is what I want to know.I have split this expression apart.And Npe has only appeared 5 times so far.

[2019-04-09 18:28] RobertBrown3 opened #455 "Documentation about use of SSL with Vert.x is missing some critical information"
If someone wishes to create a web client that connects to Vert.x Web using HTTPS, there is the danger of the developer seeing "handshake failures" due to cipher suites that don't match.  While the documentation on how to get a Vert.x server to communicate over SSL is fairly straightforward, there are no instructions or examples on how to configure a Vert.x based server so that it can access and us

[2019-04-09 20:15] vietj commented on #455
@RobertBrown3 are you interested in contributing such doc ?

[2019-04-09 20:59] RobertBrown3 commented on #455
Actually:

   I would love to -- except that I have no idea how to do it.

   I am trying to find out, and have performed a few failed experiments, but before I can document how to set ciphers in a Vert.x server I need to find or figure out how to do so...

-Robert Brown III

---- On Tue, 09 Apr 2019 13:15:41 -0700 Julien Viet <notifications@github.com> wrote ----

https://github.com/RobertBrown3

[2019-04-09 21:45] vietj commented on #455
@RobertBrown3 actually when you connect to a remote server, you don't want to specify cipher suites that matches the server, you want to specify cipher suites that matches your own criteria, i.e you don't want to match all ciphers including weak ones.

You said _there is the danger of the developer seeing "handshake failures" due to cipher suites that don't match_, actually this is a feature and n

[2019-04-10 05:43] RobertBrown3 commented on #455
Thank you for the information you provided. It is very useful.

It does not, however, solve the problem I am pointing out.

I recognize that the "danger" I am pointing out is a feature of the cipher system. I called the handshake failures a "danger" because there is no documented way to match the "criteria" that you want to match between the client and server.

The problem isn't about the need to

[2019-04-10 08:39] vietj commented on #455
when you said "web client" I though it was vertx `WebClient`

On the server side you can also set the list of cipher suites that your server will use.

If you don't set any enabled cipher suite then it will use all the ciphers the JVM provides.

[2019-04-12 08:56] vietj commented on #453
can you provide a reproducer ?

[2019-04-12 08:56] vietj commented on #453
can you re-open this issue in eclipse/vertx/vert.x repository ?

[2019-04-12 08:57] vietj commented on #453
I think this bug was fixed in vertx master, can you try with Vert.x 4.0 ?

[2019-04-12 08:58] vietj commented on #449
we currently have a PR for json pointers, I believe this could work too

[2019-04-12 15:36] vietj opened #456 "Netty upgrade to 4.1.34.Final"
Upgrade following dependencies:

- Netty to 4.1.34.Final
- TC native to 2.0.23.Final

[2019-04-12 21:25] BorisJineman commented on #453
Hi @vietj ,

I just created a test to reproduce this problem,
I tested with v3.7.0 v3.6.2 and the latest master branch in Vert.x repo,

This problem can be reproduced on both v3.7.0 and v3.6.2.
But the good news is that it CANNOT be reproduced with the codes on the latest branch (might be Vert.x 4.0).

So I think this problem should have been addressed in Vert.x 4.0. Thus, I think we can close thi

[2019-04-12 21:26] BorisJineman commented on #453
(by the way, I'm not familiar with the processing of how to deal with issues registered at here. so who will click the close button of this issue?)

[2019-04-13 08:35] vietj commented on #453
thanks @BorisJineman I think I know which commit has been done in master that fixes the issue, I will use your reproducer as basis for writing a test.

it should be fixed in 3.7.1

[2019-04-15 07:17] vietj commented on #453
for record the full stack trace:

[code]

[2019-04-15 12:55] vietj commented on #453
see https://github.com/eclipse-vertx/vert.x/issues/2907

[2019-04-23 12:29] #456 closed, assigned to vietj

[2019-04-26 02:03] CreazySlider commented on #454
I already know which expression raise the NPE.--context.request().remoteAddress()

When I split the code into multiple statements, I found that the NPE occurred by remoteAddress().

[2019-04-26 06:25] vietj commented on #454
so the request is null ?

[2019-04-26 06:27] CreazySlider commented on #454
request.remoteAddress() is null.

[2019-04-26 09:10] 13779983327 opened #457 "vertx3.7 Redis connection is broken"
RedisOptions options = new RedisOptions();
		options.setEndpoint(SocketAddress.inetSocketAddress(6379, "127.0.0.1"));
		options.setPassword("123");
		Redis.createClient(vertx, options).connect(onConnect -> {
			if (onConnect.succeeded()) {
				System.out.println("redis connect success");
                         else {
				System.out.println("redis connect fail");
			}
               });

The IP,

[2019-04-26 09:15] 13779983327 commented on #457
If redis does not set a password and does not call this code [options.setPassword("123");], the connection is fine

[2019-04-26 15:26] 13779983327 commented on #457
I found a bug:
io.vertx.redis.client.impl.RedisClient.connect,In this method,If the select method is not completed,connected is false,but authenticate method call client.send,Would be an error.

  if (!connected) {
      // this avoids entering the socket exception handler as it is well known
      // that the transport is broken.
      handler.handle(Future.failedFuture("Redis connection is broke

[2019-04-29 12:24] Jofairden opened #458 "vertx-web-graphql docs are broken"
**Woops, posted in the wrong location. Feel free to close**
https://github.com/vert-x3/vertx-web/issues/1254 <-- Good location

[2019-04-29 12:25] #458 closed, assigned to nobody

[2019-04-29 15:17] glassfox opened #459 "vertx 3.7 redis client - thread safe issue"
Hi Guys,
Looks like the new Redis client not thread safe.

following the test:

[code]

and log:

[code]

[2019-04-29 15:32] glassfox opened #460 "vertx 3.7 context data dismissed"
After upgrade to vertx 3.7 - following flow do not working:
1. in vertx start, saved some object to vertx context data
2. http request handling (via Router) do not contain previously saved vertx context data.

[2019-04-29 17:53] glassfox commented on #459
moved to
[https://github.com/vert-x3/vertx-redis-client/issues/153](https://github.com/vert-x3/vertx-redis-client/issues/153)

[2019-05-01 07:57] Jofairden commented on #450
Hey, you can do something like this for debugging:
```Vertx.vertx (VertxOptions().setBlockedThreadCheckInterval(1000 * 60 * 60))```

[2019-05-01 08:02] DemianTinkiel commented on #450
Isn't that the same as using
 -Dvertx.options.blockedThreadCheckInterval=999999

[2019-05-01 11:57] Jofairden commented on #450
Maybe, but codewise has worked for me.

[2019-05-03 07:24] slinkydeveloper commented on #449
@lukehutch look at https://github.com/eclipse-vertx/vert.x/pull/2898 and feel free to comment

[2019-05-03 07:39] #445 closed, assigned to nobody

[2019-05-03 08:00] lukehutch commented on #449
@vietj @slinkydeveloper Thanks, that's exactly the sort of thing I was hoping for. Although I have to say that the escaping `~0` and `~1` for `~` and `/` respectively are super weird.

I was going to suggest using the query logic in `jq`:

https://stedolan.github.io/jq/

[2019-05-03 08:08] slinkydeveloper commented on #449
@lukehutch I know but that's how the rfc6901 was designed :smile: We decided to adopt it more than others because we don't want any complex query system inside vertx-core and we need it for $ref resolution in new packages we are developing for vertx 4.
There are good json querying libraries out there that can be plugged to support vert.x json structures (e.g. https://github.com/burtcorp/jmespath-j

[2019-05-03 08:35] lukehutch commented on #449
@slinkydeveloper Since a `jmespath-jackson` and `jmespath-gson` backends already exist, maybe a `jmespath-vertx` backend could be written to plug into the vertx `JsonObject` / `JsonArray` classes. (I haven't looked at `jmespath` closely enough to know if that even makes sense though :-) )

Really there just needs to be a quick and simple query syntax that doesn't require the user to write custom j

[2019-05-03 09:23] lukehutch commented on #449
I just submitted https://github.com/eclipse-vertx/vert.x/pull/2931 with a simple query API for `JsonObject` / `JsonArray`.

[2019-05-06 04:24] #453 closed, assigned to vietj

[2019-05-07 10:20] hu-chia opened #461 "cannot I use maven invoke vertx?"
We use maven and testng build and invoke our unittest, therefore I try report my unittest result to a http server using `vertx.createHttpClient()`.
this is the error message:
[code]

[2019-05-07 10:20] hu-chia opened #462 "cannot I use maven invoke vertx?"
We use maven and testng build and invoke our unittest, therefore I try report my unittest result to a http server using `vertx.createHttpClient()`.
this is the error message:
[code]

[2019-05-07 12:05] tsegismont commented on #462
Duplicates #461

[2019-05-07 12:05] #462 closed, assigned to nobody

[2019-05-07 12:12] tsegismont commented on #461
Can you share a small reproducer (class, test class and how to run)? Thanks

[2019-05-07 12:49] hu-chia commented on #461
this is my testng listener, it was invoked by `mvn test` command, I omitted some of not important code.
actually, there also is error occurs to Google Guava. I don't know is testng or maven runtime environment result in error.
[code]

[2019-05-09 15:45] tsegismont commented on #461
Can you please share a full reproducer (even simplified) ? As it's most likely a classpath issue, the snippet above won't help.

[2019-05-10 03:37] hu-chia commented on #461
I upgraded my maven plugins and vertx, at the newest version of them, webclient can work correctly.
thanks for your concerning, please close this issue.

[2019-05-12 22:07] rdcoe opened #463 "reactivex service"
#440 points out that a new dependency must be added to allow @ProxyGen to create reactivex services:

    <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-rx-java2-gen</artifactId>
            <version>${vertx.version}</version>
    </dependency>

 but this dependency is not included in the vertx-dependencies bom:

    <dependency>
          <groupId>io.vertx</gro

[2019-05-14 22:51] reisandbeans commented on #457
This might be related to https://github.com/vert-x3/vertx-redis-client/issues/152

[2019-05-16 06:25] 13779983327 commented on #457
OK,Thank you!

[2019-05-16 09:02] neterium-dev opened #464 "Micrometer exception"
Hi,

when my vertx cluster starts, I sometimes have this exception if I want to directly send a message. It does not happen afterwards. The issue is that the exception is raised in the beginHandleMessage, so the handle itself is not called.

Here's the stack trace:

[code]

Maybe that, in VertxEventBusMetrics::beginHandleMessage, you should check if handler is null first? Looks like it's possible

[2019-05-16 09:47] tsegismont commented on #464
Can you please report this in the vertx-micrometer-metrics repo? Thank you!

[2019-05-16 09:51] neterium-dev commented on #464
Sorry for submitting in the wrong place.
Here's the link:
[(https://github.com/vert-x3/vertx-micrometer-metrics/issues/78)]

[2019-05-16 09:51] #464 closed, assigned to nobody

[2019-05-16 11:04] tsegismont commented on #464
@neterium no worries. Thanks again.

[2019-05-18 07:42] RyougiNevermore opened #465 "Dose PostgreSQL Client support epoll?"
When i use epoll, An error has occurred when the PostgreSQL Client was called.
So what can i do to fix it.
[code]

[2019-05-20 00:24] luramarchanjo opened #466 "Does Vert.x will support NATS"
I think it would be nice to see some support for [NATS](https://nats.io/)

[2019-06-02 14:22] vietj opened #467 "SQL Client integration"
Integration of the `Vert.x SQL Client` project as tech preview in 3.8

[2019-06-02 14:23] #467 closed, assigned to vietj

[2019-06-05 08:53] javenwang commented on #282
Hi @laurentvaills, should we use `buildAsync()` with `AsyncCacheLoader` instead of `CacheLoader`? The latter calls `asyncLoad()` method with default Executor, `ForkJoinPool`, which may break Vert.x's threading model.

[2019-06-05 09:20] tsegismont commented on #282
When configure Caffeine, you could provide an `Executor` that invoke the async loader on the verticle context.

Would you like to contribute a post about the trick on the Vert.x blog?

[2019-06-05 19:23] rodolfodpk commented on #282
@tsegismont What if the loading computation involves a blocking IO operation (pure jdbc, etc) ?

[2019-06-06 07:45] tsegismont commented on #282
@rodolfodpk the code will be invoked on a Vert.x context so you can invoke
executeBlocking and complete the async loader eventually

[2019-06-06 09:15] javenwang commented on #282
hi @tsegismont , I don't know if I do it in the right way, and here is [my solution](https://stackoverflow.com/questions/55270732/how-do-i-correctly-launch-kotlin-coroutines-to-implement-a-caffeine-asyncloading/56471133#56471133):

Define an extension function of `CoroutineVerticle`

[code]

Create our cache within `CoroutineVerticle`

[code]

Use the cache

[code]

I always avoid to use `executeB

[2019-06-08 12:22] InfoSec812 opened #468 "Service Proxies Documentation Does Not Mention Required `package-info.java` and associated annotations"
When writing service proxies in Vert.x, the packages where those services are created need a `package-info.java` file with appropriate annotations so that the code generation will work. In the Service Proxy docs, this is not mentioned and it should be. I would suggest adding docs around create the `package-info.java` and using the `@ModuleGen` annotation

[2019-06-11 14:53] vietj opened #469 "Promise for Vert.x"
Currently the `io.vertx.core.Future` type represents a future action and exposes both a read and write interface for it.

This type should only be a read view and we introduce a `Promise` interface that provides its write view. In other words, one should complete a `Promise` and be notified by its `Future` view.

In 3.8 the `Future` interface will remain completable for backward compatibility. How

[2019-06-11 16:18] #469 closed, assigned to nobody

[2019-06-18 14:32] vietj opened #470 "Jackson upgrade to 2.9.9"

[2019-06-18 15:18] #470 closed, assigned to nobody

[2019-06-19 06:48] apat59 commented on #455
hi,
out of curiosity are you using infinispan cluster manager?
We're observing a similar issue but it only happens with inifinispan cluster manager and not hazelcast.
Setting ssl debug we noticed many ciphers suite were **disabled** while using infinispan cluster manager
Ignoring disabled cipher suite: TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA
Ignoring disabled cipher suite: SSL_DHE_DSS_WITH_3DES_EDE_CB

[2019-06-20 02:08] rodolfodpk commented on #282
@tsegismont Do you mean something like this? (it works)

[code]

When I ran it, it passed and printed:

[code]

[2019-06-20 07:06] slinkydeveloper commented on #447
Done

[2019-06-20 07:06] #447 closed, assigned to nobody

[2019-06-20 07:07] #461 closed, assigned to nobody

[2019-06-20 08:07] tsegismont commented on #282
Your test passes, but I wouldn't use the Netty EL group as executor, because when you're implementing a verticle, you want to have async cache loading executing on the verticle context.

I used Caffeine in a benchmark for GraphQL. Here's how the cache is created:

https://github.com/tsegismont/graphql-server-benchmark/blob/master/Java/vertx-graphql-java/src/main/java/com/github/graphql/server/benc

[2019-06-20 20:06] tmulle opened #471 "Vert.x 3.7.1 - Possible UDP/IP6 issue - NoRouteToHost"
Hi,

I think I found a bug with UDP/IP6 on Java and was wondering if you could clarify.

I'm using **Vert.x 3.7.1** on **MacOS Mojave** with
[code]

I'm trying to just simply echo back what I send on a DatagramSocket and send it right back to the sender.

But, I keep getting "No Route To Host".
When I use UDP/IP6 in straight Netty it works just fine..and I see the data returned back.

Also, if I u

[2019-06-24 11:25] #459 closed, assigned to nobody

[2019-06-24 12:26] vietj opened #472 "Vert.x stack futurisation"
This issue keeps track of the futurisation of the Vert.x stack, it's an umbrella issue

- milestone1
   - [x] [vertx-core](https://github.com/eclipse-vertx/vert.x/issues/2998)
- milestone2
   - [x] [vertx-redis-client](https://github.com/vert-x3/vertx-redis-client/pull/165)
   - [x] [vertx-auth](https://github.com/vert-x3/vertx-auth/pull/284)
   - [x] [vertx-web](https://github.com/vert-x3/vertx-w

[2019-06-27 15:25] java-stranger opened #473 "Vert.x 3.7.0 HttpRequest sendForm() does not return when host is not available"
Hello!

I'm using Vert.x in Java with Amazon Corretto 11.0.3.

I have a weird issue starting with version 3.7.0 (3.6.3 works fine): HttpRequest send methods which transmit data in the request body (sendForm(), sendJson(), sendBuffer() etc. - all except send()) would never return, if the host is not available.

For example, the following code never returns, if there's no server on localhost:4012:
[

[2019-07-10 05:26] prajeesh360 opened #474 "Maximum worker pool size"
Hi All ,

I am pretty new to programming using Vert.X, In my program I am having some worker verticle's with multiple instances. The problem I am having is that how can I arrive at the maximum worker pool size that i can set based on the configuration of the machine. Also about how much instance of a verticle I can deploy based on the worker pool size ( Whatever blog I have come across I have seen

[2019-07-10 15:08] argaha opened #475 "Json Serializer timeout in vert.x 3.6.+ and 3.7.+"
Json serialer is not terminating.

reproducing:
[vertxProject.zip](https://github.com/vert-x3/issues/files/3378131/vertxProject.zip)

[2019-07-12 08:48] vietj opened #476 "Upgrade jackson-databind to 2.9.9.1"
Patched version for CVE-2019-12814

[2019-07-12 08:49] #476 closed, assigned to vietj

[2019-07-15 03:42] lygoing opened #477 "Webclient is very slow when handle large xml response body."
java: 1.8
vertx: 3.7.1
os: windows 10

code:
[code]
request body size: 1KB
response body size：1MB

output print: > 10000ms

If I change the request to reduce the size of the response body, it becomes very fast.

help me.
thanks

[2019-07-15 07:31] vietj commented on #477
do you have a reproducer ?

[2019-07-16 08:38] Sparcks commented on #297
Hi @WangHansen , seems that nobody answered your question. You may probably have found the reason (or not), but I do wanted to reply as I had the same "issue".

If you close the socket without a parameter, it will automatically use code 1005. this means: 'No Status Received'. You can find all codes here: https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent#Status_codes

So you have to give

[2019-07-16 08:47] vietj commented on #297
thanks for helping @Sparcks I'll close the issue

[2019-07-16 08:47] #297 closed, assigned to nobody

[2019-07-18 01:14] lygoing commented on #477
@vietj
Sorry, I have never responded to you; I think I have found the cause of the problem. Because my network here is too slow, I have added the following configuration to the program and it has become very fast.
[code]

[2019-07-18 07:45] vietj commented on #477
thanks for reporting.

[2019-07-18 07:45] #477 closed, assigned to nobody

[2019-07-23 18:51] micah-williamson opened #478 "java.nio.channels.ClosedChannelException with SSL and Postman"
I have a complete minimum working example of a vertx server that will throw a `ClosedChannelException` if a request is made to it via Postman. From the point of view of postman, the request doesn't appear to have failed- the response is received as expected. It's only the vertx server that is throwing this error.

It is only happening once per new connection. Consecutive calls through postman won'

[2019-07-24 12:43] UglyHobbitFeet opened #479 "GraphQL Subscriptions generate an 'Internal Server Error'"
I am trying to get a GraphQL subscription working with Java/Vert.x and to have the results shown in GraphiQL. I see all the System.out.println statements in the console, but GraphiQL is not displaying any results because the server is generating an 'Internal Server Error' message. I am using vert.x 3.8.0 jars

Schema:

    type Subscription {
        test: String
    }

Vert.x Verticle

    privat

[2019-07-26 01:49] rverma-nikiai opened #480 "Publish a vertx kinesis client"
Hi team,
Kinesis is getting adopted at more and more libs, apache spark, flink, springboot all have kinesis integration. I request for a vertx-kinesis client. I would recommend using kinesis connect library (kcl) v2 since that was built over http2.

PS kcl2 support rxjava out of box.

Thanks

[2019-07-26 13:19] vietj commented on #480
that's interesting, thanks

[2019-07-26 13:49] #405 closed, assigned to vietj

[2019-07-29 15:11] tsegismont commented on #479
Duplicates https://github.com/vert-x3/vertx-web/issues/1334

[2019-07-29 15:11] #479 closed, assigned to nobody

[2019-08-01 13:01] wbkys commented on #476
Exploiting the Jackson RCE: CVE-2017-7525

[2019-08-05 09:09] argaha commented on #475
Hi @vietj ,

vert.x 3.8.0 has been released already but issue is still not fixed. Any updates on when we can expect this to be fixed?

[2019-08-05 15:48] cvgaviao commented on #472
in which moment of futurisation plan will the Future interface extend CompletionStage?

[2019-08-05 16:26] vietj commented on #472
Hi,

I think that's something we can think about.

At the moment I would rather keep Vert.x Future as is and add a toCompletionStage method on it rather than extending it.

Julien

[2019-08-06 18:16] arnavdesai82 opened #481 "RSocket"
While there is support for gRPC in Vert.x , RSocket is an interesting and fast way to communicate between reactive microservices. I am hoping Vert.x would consider adding support for RSocket as well.

http://rsocket.io/

On that note - is there any commonalities between the R2DBC spec/drivers for Relational DB and the new Vert.X driver coming in 4.0 ?

[2019-08-07 19:03] esteiner opened #482 "OperationResponse"

[2019-08-07 19:03] #482 closed, assigned to nobody

[2019-08-07 19:04] esteiner commented on #482
not intended

[2019-08-09 19:11] gillbates opened #483 "Redis Cluster always connected to 127.0.0.1"
Hi Vertx Devs,

when I try following code with vertx 3.8.0:

`
Vertx vertx = Vertx.vertx();
RedisClient redis = RedisClient.create(vertx, new RedisOptions().setSentinels(List.of("192.168.5.20:8400", "192.168.5.20:8401", "192.168.5.20:8402")).setMasterName("MASTER_NAME"));
        Future<JsonArray> future = Future.future();
        redis.keys("*", future);
        future.setHandler(res -> {

[2019-08-09 22:28] bysensa commented on #434
@ramzee2017 Hi. As far as I understand your problem is that the Apache Ignite instance starts after vertx creates a BlockedThreadChecker instance that defines a thread lock at the time when the IgniteClusterManager instance is called by the join method in which the Ignite instance is created. Ignite takes a few seconds to start, depending on the configuration. You can either create an instance Ign

[2019-08-13 13:57] pmlopes opened #484 "[Task] Clean up deprecated code that is older than 3 releases"
Deprecated code older than 3 releases (older or equal to 3.6.0) shall be removed from the master branches as agreed by the project governance. To simplify the task all `@Deprecated` introduced before `2018-11-28 21:54` shall be removed.

* [ ] [https://github.com/vert-x3/vertx-web/issues/1351](vertx-web)

[2019-08-14 15:17] DemianTinkiel opened #485 "Access-Control-Allow-Origin header missing in response when using WebApiServiceGen"
I have a server starting as

[code]
and I have a swagger ui  loading from the same openapi.json

If I do `POST /api/foo` in swagger ui I get `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3002/api/evaluations. (Reason: CORS header 'Access-Control-Allow-Origin' missing).`
and looking at the response headers I see
[code]
which explains

[2019-08-16 11:04] dawinter commented on #475
Hi

this issue blocks the upgrade to a newer vert.x versions that become a security risk.
Looks like argaha provided sample code to be able to recreate it.
Is there anything missing that we could provide?

@vietj Do you have any idea who can work or when the issue can be fixed?
Thanks.

[2019-08-16 12:08] vietj commented on #475
it's not clear what the issue is by the description, there is a reproducer though

[2019-08-16 12:29] dawinter commented on #475
@argaha See update from Julien, Can you update the issue description and and describe the issue more in detail, error condition, expected good condition, may steps to reproduce / how to use the attacted reproduce package.

Thanks

[2019-08-17 12:43] vietj opened #486 "Netty upgrade to 4.1.39.Final"
- Netty to 4.1.39.Final
- TC Native to 2.0.25.Final

[2019-08-17 12:48] pmlopes commented on #485
I believe the issue is that the CORS handler is added after the swagger API to the router, @slinkydeveloper can we create a router factory providing an initial router? This way we could add the CORS first then allow the factory to do the rest of the work?

[2019-08-17 13:35] #486 closed, assigned to vietj

[2019-08-19 16:10] vietj commented on #475
I found the issue in the `JsonParser`, there will be a patch likely tomorrow

[2019-08-20 06:14] vietj commented on #475
fixed by https://github.com/eclipse-vertx/vert.x/issues/3076

[2019-08-20 06:14] #475 closed, assigned to nobody

[2019-08-20 07:41] dawinter commented on #475
@vietj Great, thanks for your immediate help.

[2019-08-27 11:46] jhult commented on #419
See https://github.com/netty/netty/issues/7817 for more info.

[2019-08-28 10:13] zhaozhou11 opened #487 "Future<T> future() problem"
My case is:

Future future = Future.future();
future.setHandler(res ->{
    System.out.println("currThreadId4=" + Thread.currentThread().getId());
    System.out.println("result:" + ((Future)res).succeeded());
});
Future.<String>future(f -> exceptionFuture(f)).compose(res -> {
    System.out.println("res=" + res);
    throw new NullPointerException("TTTT");
},future)

when function "exceptionFutur

[2019-08-29 08:31] edewit commented on #159
I have this issue as well, I have a strong feeling it's something I'm doing wrong. But I've created this [gist](https://gist.github.com/edewit/e60c0fdf4ba2aeb9bf7699c01adda611) to reproduce the problem

[code]

[2019-08-29 08:44] tsegismont commented on #159
@edewit Hi! If your application is fat JAR, don't use the `vert-x3` image. See http://vertx.io/docs/vertx-docker/#_deploying_a_fat_jar

[2019-08-29 08:51] edewit commented on #159
@tsegismont you are right it's a fat-jar that solves that thanks

[2019-09-13 09:19] #311 closed, assigned to nobody

[2019-09-15 03:32] 1017727621 commented on #481
Yes I agree  It's so fast and better than http

[2019-09-16 04:34] kobevaliant opened #488 "Does JsonArray has methods for put value at some index?"
Hi,
I thought such methods are necessary, but I didn't find

[2019-09-16 15:57] vietj opened #489 "OSGi descriptor pruning"
Vert.x 4 will not maintain OSGi descriptor support. The main reasons are

- difficult to maintain across all vertx repositories
- various impact on the build (like the work-around necessary in vertx-rx)
- nearly impossible to test properly without a complicated setup

[2019-09-16 16:08] #489 closed, assigned to vietj

[2019-09-18 08:39] spafka opened #490 "Add use Define NettyHandler"
Current RecordParser is quietly pool, i think user could use user define  channelhander when init channel。and this could set from NetServerOptions。and init it on ServerBootstrap.

[2019-09-18 08:42] tsegismont commented on #490
Please take a look at http://www.julienviet.com/advanced-vertx-guide/#integrating-netty

[2019-09-18 08:43] #490 closed, assigned to nobody

[2019-09-19 16:32] mahendya1002 opened #491 "vertx server response is slow via eventloop thread with high tps (400 request per secs)"
Here is log sample

2019:09:16:12:10:09.529 INFO **vert.x-eventloop-thread-3** HttpRequestMessageHandler c881062d4473 1323279575  HttpRequestMessageHandler start for Path **/v1/test/abc**

2019:09:16:12:10:09.532 INFO **feature-worker-thread-pool-74** DoSomethingImpl c881062d4473 1323279575 Time taken 2 ms to retrieve the data for feature name: abc

2019:09:16:12:10:09.719 INFO **vert.x-eventloop-

[2019-09-25 00:57] kobevaliant opened #492 "How to put a bytes data into MultipartForm instead of file?"
Hi, I have already a buffer in memory, should I write it in a file then call binaryFileUpload method?

[2019-09-25 08:51] tsegismont commented on #492
@kobevaliant I believe it's not supported by Netty. Can you confirm @vietj ?

[2019-09-26 07:44] #488 closed, assigned to nobody

[2019-09-26 13:29] tsegismont commented on #472
@vietj how about adding the `toCompletionStage` method in milestone4 ?

[2019-09-26 14:59] vietj commented on #472
I would like actually to come up with several proposals for Future

[2019-09-27 11:09] pmlopes commented on #127
Logging is no longer a concern of vertx-core. Users are advised to use own logger.

[2019-09-27 11:09] #127 closed

[2019-09-27 11:12] pmlopes commented on #138
Router can properly handle sub routers now and has a `getRoutes()` which allows traversing the router routes. This makes this issue irrelevant. Please reopen if needed.

[2019-09-27 11:12] #138 closed, assigned to nobody

[2019-09-27 11:14] pmlopes commented on #139
Due to lack maintainers and proper testing OSGi metadata is removed from all modules on master.
Which makes this issue not fixable.

[2019-09-27 11:14] #139 closed, assigned to nobody

[2019-09-27 11:15] pmlopes commented on #227
Due to lack maintainers and proper testing OSGi metadata is removed from all modules on master.
Which makes this issue not fixable.

[2019-09-27 11:15] #227 closed, assigned to nobody

[2019-09-27 11:19] pmlopes commented on #188
Fixed in core.

[2019-09-27 11:19] #188 closed, assigned to nobody

[2019-09-27 11:20] pmlopes commented on #189
Rx2 is already implemented.

[2019-09-27 11:20] #189 closed, assigned to nobody

[2019-09-27 11:25] pmlopes commented on #239
Logging is no longer a concern of core, users are advised to add a logger to the classpath which will solve this issue.

[2019-09-27 11:25] #239 closed, assigned to nobody

[2019-09-28 06:12] vietj opened #493 "Update to jackson 2.10.0"

[2019-09-30 10:59] hutchig commented on #481
Is there already material out there that compares Vert.x today with what RSocket support would add so that we could understand what user benefits this feature would bring?

[2019-09-30 14:57] vietj commented on #481
Which protocol RSocket aims to replace ?

[2019-09-30 16:23] arnavdesai82 commented on #481
RSocket is an OSI layer 5/6 so it would be something even lower than gRPC.
More details -->https://medium.com/netifi/differences-between-grpc-and-rsocket-e736c954e60
I believe its main purpose is to reduce to communication overhead in between services in addition to providing a reactive way for communication.
While I could not locate material for Vert.x specifically, there is some decent material

[2019-09-30 19:52] vietj commented on #481
@arnavdesai82 I've read quickly what RSocket does and indeed it provides a very bare bones event-bus (Vert.x) like protocol on top of a reliable unicast transport. The closest thing we do have in Vert.x is the event-bus protocol.

So as I see it

- we could support RSocket with a simple Vert.x integration so RSocket client/server work in a Vert.x application (i.e they use Vert.x resources and conc

[2019-10-01 13:22] arnavdesai82 commented on #481
I will be honest and totally admit that I had not thought about it being used within the event bus, my initial thought process was for supporting communication (using the RSocket protocol) in between microservices hence a simple implementation within the library (of a client & server) would suffice.

Now that you have mentioned it though , the replacement for the Event-Bus transport also sounds pr

[2019-10-01 15:38] vietj commented on #481
@arnavdesai82 I believe that `RSocket` is definitely missing a programming model (as it is not the intent), I don't foresee developers using it for building their application instead of HTTP / gRPC or messaging (Kafka).

[2019-10-01 16:07] arnavdesai82 commented on #481
That's interesting because in all the examples I have seen , the most basic example is the Request/Response method of communication which is exposed via RSocket.
For instance, this example done using Spring (I only use them here as an example) supports multiple ways of communication.  It also has a streaming example.
https://www.baeldung.com/spring-boot-rsocket

I see this form of communication be

[2019-10-01 16:22] vietj commented on #481
In the example you provide, there is a programming model on top of RSocket which is provided by Spring annotations and magic.

The `MarketDataRSocketController` is annotated with `Controller` and `MessageMapping` I think serialise and unserialise the `MarketData` and `MarketDataRequest` beans. Without this `RSocket` is very low level.

I don't understand what you mean by _replacing HTTP transparen

[2019-10-01 17:52] arnavdesai82 commented on #481
I think you hit what I was trying to say within your second paragraph. The RSocket integration I had originally envisioned was for the purposes of simplifying the implementation details of request/response especially as you have already stated that RSocket is very low level for most users.

While Spring does hide away all the details behind 'magic' , for Vert.x I still feel it would worth to abstr

[2019-10-03 12:21] olivier-duval opened #494 "start(Future<>) shoud be a start(Promise<>)"
Hello,

I hard some hard time trying to make AbstractVerticle.start(Future<>) method work... because every attempt to complete the Future was failing. I had to track down the code to see that the argument is not really a Future<> but a Promise<>. After casting and using the right method, everything worked like a charm !

So I guess that there has been some changes in this implementation (using 3.8

[2019-10-03 13:08] tsegismont commented on #494
In 3.8.1, AbstractVerticle#start still takes a `Future`, not a `Promise`. So I'm not sure what you mean.

https://github.com/eclipse-vertx/vert.x/blob/3.8.1/src/main/java/io/vertx/core/AbstractVerticle.java

In master (4.0) it is actually a `Promise`.

https://github.com/eclipse-vertx/vert.x/blob/master/src/main/java/io/vertx/core/AbstractVerticle.java

I'm not sure which problem you had because b

[2019-10-04 16:05] dawinter opened #495 "JsonParser in combination with Flowable does not return Parsing exception in error case"
Hello,
we use the JSONParser in combination with Flowable in the request flow.
The user sends JSON documents and it is processed by the JSONParser.
If the user sends corrupt JSON, the process usually got an exception via onError and could sends a 400 error to client. After updating to Vertx3.8.1, the onError never triggered and the request goes into a timeout.

We investigated the issue and could

[2019-10-08 07:58] AnthonyRuffinoDH opened #496 "Typo in the redis docs"
On this page of the documentation: https://vertx.io/docs/vertx-redis-client/java/

The following text appears:

"The automatic reconnect is not part of the redis client has it will force a behaviour that might not match the user expectations, for example:"

It should read:

"The automatic reconnect is not part of the redis client as it will force a behaviour that might not match the user expectati

[2019-10-08 16:59] dawinter opened #497 "Upgrade dependency Netty to 4.1.42 due to Security Vulnerability in 4.1.39"
Current vertx version 3.9.2 defines dependency to netty 4.1.39.
Please can you upgrade to netty 4.1.42 due to CVE-2019-16869.
Thanks. @vietj

[2019-10-09 08:09] vietj commented on #497
we need to open a CQ for this first

[2019-10-09 08:09] vietj commented on #497
I will do it asap

[2019-10-09 08:15] vietj commented on #497
see https://dev.eclipse.org/ipzilla/show_bug.cgi?id=20926

[2019-10-10 19:00] dawinter opened #498 "vertx-circuit-breaker java CircuitBreaker interface has breaking change 3.8.1 > 3.8.2"
The method signature from of the io.vertx.reactivex.circuitbreaker.CircuitBreaker execute method changed from

public <T> io.vertx.reactivex.core.Future<T> execute(Handler<io.vertx.reactivex.core.Promise<T>> command)
to
public <T> void execute(Handler<io.vertx.reactivex.core.Promise<T>> command, Handler<AsyncResult<T>> handler)

But the 3.8.2 breaking changes list https://github.com/vert-x3/wiki/w

[2019-10-11 23:16] vietj commented on #498
the method:

[code]

still exist in 3.8.2

[2019-10-11 23:17] #498 closed, assigned to nobody

[2019-10-12 11:30] dawinter commented on #498
Are you sure that `io.vertx.reactivex.circuitbreaker.CircuitBreaker` has a method with  `<T> Future<T> execute(Handler<Promise<T>> command)`? The version I can download has only `public <T> void execute(Handler<io.vertx.reactivex.core.Promise<T>> command, Handler<AsyncResult<T>> handler)`

[2019-10-12 11:49] dawinter commented on #498
But I see what you mean. The doc describes the non reactive version. Unfortunately the reactive version had a breaking change that is not in the breaking changes list :)

[2019-10-13 11:20] vietj commented on #498
oh right indeed, this is because we need to use `@GenIgnore` to ignore the method and thus there is no RX generation. I'll update the wiki page thanks.

[2019-10-16 09:16] #497 closed, assigned to nobody

[2019-10-16 09:50] dawinter commented on #497
Great thanks.

[2019-10-17 09:30] vietj commented on #495
thanks for the reproducer, having a look.

[2019-10-17 09:30] vietj commented on #495
thanks for the explanation too

[2019-10-17 09:31] vietj commented on #495
I think we need to look at two things:

- the stream resume failure should be caught in vertx-rx
- in JsonParser since we are already parsing, the `checkPending()` should not trigger parsing in a reentrant way

[2019-10-17 09:32] vietj commented on #495
I will do a fix for the vertx-rx and hopefully it will solve the solution, the second point might take more time to study.

Also likley the handle method should not throw an exception and the error should always be done on the exception handler whatsoever.

[2019-10-17 10:08] vietj commented on #495
see https://github.com/vert-x3/vertx-rx/issues/212

[2019-10-17 10:09] vietj commented on #495
see also https://github.com/eclipse-vertx/vert.x/issues/3149

[2019-10-17 10:09] #495 closed, assigned to vietj

[2019-10-17 10:10] vietj commented on #495
thanks for the reproducer and thorough analysis.

[2019-10-22 13:58] hutchig commented on #481
It was only "use RSocket protocol as an Event-Bus transport replacement" that I was wondering about, so the programming model would initially remain as Vert.x services/events and the things built on that (Quarkus/SmallRye reactive messaging?).

One might think that this would be just 'box ticking' with something that is trendy, particularly without any comparative measurements of performance gains

[2019-10-22 14:04] vietj commented on #481
@hutchig I think performance wise it would not make a difference (this is of course very speculative based on the fact that the EB protocol is simple and efficient (prefixed based binary protocol like HTTP/2 or RSocket itself)). One improvement that RSocket currently does have that is not in Vert.x EB Protocol is the fragmentation of payload in multiple packets, that can be an issue when sending/r

[2019-10-23 10:20] OlegDokuka commented on #481
Hello everyone . RSocket core team engineer there.

The intent of RSocket is to eliminate all the gaps of previous generation Application protocols like HTTP (1 1.1 2 ) which were not designed for doing microservices communication (mostly browser stuff).

RSocket in nutshell provides a wide communication model including common patterns like Request-Response, Request-Streams, Bidi-Streaming, Fire-A

[2019-10-23 10:27] OlegDokuka commented on #481
To clarify, RSocket could be a separate way of doing interaction between services in vert.x and could be a way to wire P2p communication within a cluster. What I would propose as a good startpoint is implementing `ServerTransport` / `ClientTransport` interfaces within Vert.X and expose straightforward configuration which can give an RSocket Client/Server capabilities for ordinary engineers.

Let m

[2019-10-23 12:29] tago-SE opened #499 "Windows vertx.bat not found when setting up HelloWorld"
Not sure if this is the right place but I'll try.

I've followed the instructions from https://vertx.io/blog/vert-x3-says-hello-to-npm-users/ - installed vertx distro and done the npm commands listed but the path is not found to vertx or vertx.bat when i execute "npm start".

""./node_modules/.bin/vertx.bat run server.js"? --> Cannot find path '$basedir/../vertx3-min/vertx/bin/vertx.bat"

Stackove

[2019-10-28 04:32] pmlopes commented on #499
This is a bug on the npm package. They probably never worked on windows. The scripts have a different behavior on windows where they always get wrapped so the bat file gets rewritten calling the shell one because npm assumes always that the shell script is a js file.

The fix requires a rewrite of the script in js and use that as script

[2019-10-29 19:44] vietj opened #500 "Vert.x 4.0 umbrella issue"
High level issue for tracking Vert.x 4 issues

### 4.0

* [x] Future API improvements
* [x] gRPC compiler rewrite using Salesforce compiler
* [x] Redis web session store
* [x] SQL Client auth
* [x] HTTP client rework
* [x] Move the MVEL codegen template to vertx-lang-ruby
* [x] Service proxy future removal
* [x] Prune verticle deployment metrics
* [x] Clustering
  * [x] SPI redesign
  * [x] ISPN 1

[2019-10-29 20:20] onthegit opened #501 "Vertx Async StackTrace"
Hello,

how would  I get the correct stack trace (where the code originally originated  from) with Vertx?  All I get is netty and vertx related stacktrace. Example:
Future<RowSet<Row>>  getData() {
mysql.query("SELECT * From table", r->{
       if (r.succeeded()) {
        promise.complete();
       } else {
          promise.fail(r.cause());   //it is here where  I want to get the stack trace of

[2019-10-29 21:11] onthegit commented on #501
After some researching it looks like this is not available in vertx.
But for me the following worked:
I changed the code to have middleware that gets the current line and class name->method on each fail along the chain that is appended to the original cause() - where the promise failed.

[2019-10-29 21:18] #501 closed, assigned to nobody

[2019-10-31 02:25] AdamMcM commented on #149
@pmlopes @nickscodes This is an old topic, but I am wondering if there is still interest in this topic.   I have recently had a project where we used servlet 3.0 async to pass down to a vertx app.  It worked well.  If there is still interest in this topic, I may have some time to generalize it and contribute it back to the community.  My guess is that the vast majority of Java devs still want to k

[2019-12-02 13:26] stodge commented on #433
Is the network interface supposed to be "eth0" or the equivalent?

[2019-12-05 14:32] slavaatsig commented on #150
Any updates? I am really lacking this feature. Eager to try interacting with event-bus from an Android app.

[2019-12-06 09:25] rainmanhhh opened #502 "CompositeFuture uses raw type of Future"
static CompositeFuture all(List<Future> futures) {
    return CompositeFutureImpl.all(futures.toArray(new Future[futures.size()]));
  }

should be

 static CompositeFuture all(List<Future<?>> futures) {
    return CompositeFutureImpl.all(futures.toArray(new Future<?>[0])); // recommended to use empty array in jdk6+
  }

[2019-12-11 15:27] #421 closed, assigned to slinkydeveloper

[2019-12-11 15:31] pmlopes commented on #148
Webclient can handle multi part data:

https://vertx.io/docs/vertx-web-client/java/#_writing_request_bodies

[2019-12-11 15:31] #148 closed, assigned to nobody

[2019-12-11 15:41] #286 closed, assigned to nobody

[2019-12-11 15:44] #340 closed, assigned to nobody

[2019-12-11 15:46] pmlopes commented on #364
Matching is now lock free.

[2019-12-11 15:46] #364 closed, assigned to nobody

[2019-12-11 15:52] pmlopes commented on #382
Setting headers before the handler will be respected, which voids this request.

[2019-12-11 15:52] #382 closed, assigned to nobody

[2019-12-11 15:53] #386 closed, assigned to nobody

[2019-12-11 15:53] #393 closed, assigned to nobody

[2019-12-11 15:54] #394 closed, assigned to nobody

[2019-12-16 10:35] tuhuynh27 opened #503 "[Vert.x/Gradle/Java/Help] How to build specific verticle"
I'm using Vert.x with Gradle and Java, how to build multiple verticles (each verticle to a .jar file) in the same code base:

I also use the Gradle starter with this default config:

[code]

Thank you.

[2019-12-16 17:50] jponge commented on #503
In this case you'd better use sub-projects

[2019-12-17 03:52] lcnap opened #504 "vertx config 3.8.4 about FileConfigStore"
it look like scan cache file,not the classpath file after the first scan.
so the listener receiving configuration changes would not work.

[2019-12-17 04:33] tuhuynh27 commented on #503
Do you know an example sub-projects repository example with Gradle or a tutorial for doing this, I only see the sub-project with Maven 😃

[2019-12-17 07:31] #503 closed, assigned to nobody

[2019-12-17 09:15] pmlopes commented on #374
With vert.x 4.0.0 OSGi metadata will not be included anymore with the distributed jars.

[2019-12-17 09:15] #374 closed, assigned to nobody

[2019-12-17 09:16] pmlopes commented on #176
With vert.x 4.0.0 OSGi metadata will not be included anymore with the distributed jars.

For JSON we now allow custom CODECs and have support out of the box for JacksonCore or Jackson Databind

[2019-12-17 09:16] #176 closed, assigned to nobody

[2019-12-17 10:05] tsegismont commented on #504
Can you please elaborate? Give a small reproducer with details about how to package and run?

[2019-12-17 19:27] scgm11 commented on #330
is this still happening?

[2019-12-17 20:16] pmlopes commented on #496
Thanks!  Fixed on master

[2019-12-17 20:16] #496 closed, assigned to nobody

[2019-12-17 20:42] pmlopes commented on #483
Not reproducible on master.

[2019-12-17 20:42] #483 closed, assigned to nobody

[2019-12-18 04:44] tuhuynh27 opened #505 "Vertx - Codegen Service Proxy flow"
I'm using Codegen & Service Proxy to create service call between two verticle in a cluster (via the service proxy - event bus).

But, if serverA want to call serviceB, then service A must include the `serviceBInterface` in the serviceA's source code, so I have to include the serviceB project this in gradle `compile project(':b-service')` which lead to a **circular dependency exception**.

How can

[2019-12-19 14:14] bailly-idmgroup-com opened #506 "Optional"
Hi everyone,

I was wondering if there is a vertx equivalent for java.util.Optional which could be used over service proxy, json communication.
For example a service could provide that sort of mapping:
- fetchOne(String sql, JsonArray params, Handler<AsyncResult<Optional<JsonObject>>> resultHandler)
- fetchOne(String sql, JsonArray params, Handler<AsyncResult<Optional<MyDataObject>>> resultHandler

[2019-12-19 15:15] jotak commented on #506
I was thinking about something quite similar too: some way to decompose the handler into one handler for success and one for error (a bit similar to the `runCatching` of kotlin). This is quite a common pattern. So that when the success handler is called we're guaranteed to have a result.

But I don't know, if it adds yet another way of doing the things, that might be counter-productive for a clean

[2019-12-19 15:54] vietj commented on #506
that exist if you use the RxJava2 version of the API that will return Maybe<T> instead of Single<T> . We are not planning adding a similar type in Vert.x

[2019-12-19 15:55] vietj commented on #506
e.g https://vertx.io/docs/apidocs/io/vertx/reactivex/ext/mongo/MongoClient.html#rxFindOne-java.lang.String-io.vertx.core.json.JsonObject-io.vertx.core.json.JsonObject-

[2019-12-19 18:21] bailly-idmgroup-com commented on #506
Then do you think it is possible to have an interface equivalent to @DataObject so it's easy to implement independantly an Optional class ? Obviously I can create one wrapping jsonObject only which might cover lot of case, but I think it's plan for @DataObject to enlarge the type of data it can cover

[2019-12-20 10:08] vietj commented on #506
I don't understand what you mean @bailly-idmgroup-com , can you give an example ?

[2019-12-20 11:06] bailly-idmgroup-com commented on #506
Sure
Currently I should be able to do something like it
`
package com.idmgroup.ao.web.utils;

import io.vertx.codegen.annotations.DataObject;
import io.vertx.core.json.JsonObject;

@DataObject(generateConverter = true)
public class Optional {

    private JsonObject value = null;

    public Optional() {
        super();
    }

    public Optional(JsonObject json) {
        OptionalConverter.fromJ

[2019-12-20 12:51] aesteve commented on #480
Have you considered using: https://github.com/reactiverse/aws-sdk ? It makes the official AWS SDK compatible with Vert.x (including KinesisClient).

Let us know if you have any issue.

[2019-12-21 09:42] vietj commented on #506
what would the `DataObject` interface do ?

[2019-12-21 10:31] bailly-idmgroup-com commented on #506
hum there is something wrong with the code tag the second class header should be :
public class Optional\<D extends DataObject\> implements DataObject
the interface would just be interpreted like the @DataObject. enabling for generic interpretation.
All the wonderful black magic done in codegen ...

This could be useful also for a dao for example:
`package com.idmgroup.ao.web.utils.test;

import j

[2019-12-23 10:11] tuhuynh27 commented on #505
Hi, any body help :(

[2019-12-30 01:57] ShawshankLin commented on #481
How's it going?

[2020-01-02 08:26] BornToRain commented on #505
u can create api and impl 2 module.api module only define interface,impl module  to imple the interface.
u only need  **compile(":api")**  in build.gradle

[2020-01-02 11:40] #505 closed, assigned to nobody

[2020-01-02 11:42] tsegismont commented on #505
Closing as this is not a Vert.x issue

[2020-01-02 20:43] onthegit opened #507 "Sequential composition in vertx from list of items"
I am trying to execute sequential composition of futures in Vertx Java. I have an array (it could also be a list with unknown number) that I need to loop through and call the db server via reactive mysql (that is on vertx) This is the code:
`
    DbTransferRecord[] arrayData = new DbTransferRecord[4];

arrayData[0].setID(1);
arrayData[0].setName("John");
arrayData[0].setLastName("Smith");
arrayDat

[2020-01-03 08:57] tsegismont commented on #507
Duplicates https://github.com/eclipse-vertx/vert.x/issues/3241

[2020-01-03 08:57] #507 closed, assigned to nobody

[2020-01-04 04:15] BornToRain opened #508 "vert.x instance how to get work verticle numbers"
i want dynamic  setWorkerPoolSize = work verticle numbers * cpu.
[code]

[2020-01-07 13:54] tsegismont commented on #508
What do you mean with `work verticle numbers`? The number of instances of a single worker verticle?

[2020-01-09 07:13] BornToRain commented on #508
no, the number of worker verticle is not the number of worker verticle instances.

ex:
[code]

[2020-01-09 14:57] tsegismont commented on #508
I'm confused, your this last snippet shows you want to set the number of instances of the `HelloVerticle` worker verticle.

[2020-01-13 10:47] Kirik0u opened #509 "vertx-guice don't support vert.x 3.8.x"
Hi,

i'm here because i noticed that vertx-guice 2.3 don't support vertx 3.8 and precisly the using of Promise in verticle start and stop methods.

My project just works fine when i'm using a version of vertx below 3.8 (with Future) but since i made my changes to use promises, my verticle doesn't start anymore.

When i test to remove the use of vertx-guice, it works, but i need it, so this is not

[2020-01-13 12:50] vietj commented on #509
can you report this to the vertx-guice project ?

[2020-01-13 13:18] Kirik0u commented on #509
i would like to but i can't find it

[2020-01-13 13:25] vietj commented on #509
what are the maven coordinates of the project you are using ?

[2020-01-13 13:34] Kirik0u commented on #509
maven coordinates ?? I don't know what it means ... sorry

But I find out that vertx-guice instanciate his own verticle but use Future instead of Promise. And then call the super verticle start methods with Future.

It means that vertx needs to update this dependancy.

[2020-01-15 16:23] tsegismont commented on #509
@Kirik0u please report to https://github.com/ef-labs/vertx-guice

Vert.x Guice is a community effort not supported by the core team.

[2020-01-15 16:23] #509 closed, assigned to nobody

[2020-01-16 14:10] tsegismont opened #510 "Deprecate createNonShared methods"
For consistency with other Vert.x creation methods, deprecate `createNonShared` methods in favor of new `create` methods.

This applies to:

- [x] Mongo Client https://github.com/vert-x3/vertx-mongo-client/commit/04e8e4d363afc01d675897b9cbd51acd205c6a41
- [x] JDBC Client https://github.com/vert-x3/vertx-jdbc-client/commit/cfd0466e12c84eb9d73e1170827ead1a272abb2d
- [x] Cassandra Client https://gith

[2020-01-16 15:09] #510 closed, assigned to tsegismont

[2020-01-20 09:00] vietj opened #511 "Remove VertxGen annotated types from overload checking"
Currently the overloaded checker uses annotated `@VertxGen` class when doing overload check because vertx-lang-js uses the JavaScript type `object` to model such type which makes dispatch to Java ambiguous to check against other `@VertxGen` annotated objects or JSON object.

In turns that for some time each `@VertxGen` generated type has the Java class instance as a `_jclass` that is easy to acces

[2020-01-20 09:08] #511 closed, assigned to vietj

[2020-02-06 03:48] hcheng2002cn opened #512 "Dynamic set HTTP option"
Need to setup WebClient http connection  pool size dynamically, anyway we can do it ?

Thanks
hong

[2020-02-06 08:51] tsegismont commented on #512
This is not possible. As a workaround you could create a `WebClient` wrapper that delegates to an actual `WebClient` instance. Then when you need to change the pool size, you switch the delegate instance with a newly configured one.

[2020-02-06 08:51] #512 closed, assigned to nobody

[2020-02-07 14:38] lukjel opened #513 "RedisClientImpl - handlePubSubMessage is not using address from options"
There is a code (156):
[code]

in my opinion, it should look like:
[code]

[2020-02-13 10:05] vietj opened #514 "Upgrade to Netty 4.1.45.Final"
- Netty 4.1.45.Final
- Netty Tcnative 2.0.28.Final

[2020-02-13 10:06] #514 closed, assigned to vietj

[2020-02-24 05:39] yn-tadpole opened #515 "io.vertx.core.file.impl.FileResolver.resolveFile() has a bug"
### Questions

io.vertx.core.file.impl.FileResolver.resolveFile(fileName) use a ClassLoader to resolve resource. It always return null when getResource() has been called. Because the fileName which send to resolveFile alway starts with '/'.

The resolveFile method will been used in StaticHandler and HttpServerResponse.

It will cause an error when sending the file to the client, the first time it

[2020-02-26 17:08] sliechti-ib commented on #364
@pmlopes  after what release is the matching lock free?
Currently experiencing it on 3.2.1

`Name[vert.x-eventloop-thread-2]Thread ID[49] Deadlocked on Lock[io.vertx.ext.web.impl.RouteImpl@cb2189f] held by thread [vert.x-eventloop-thread-5] Thread ID[52] Thread stack [
io.vertx.ext.web.impl.RouteImpl.matches(RouteImpl.java:233)
io.vertx.ext.web.impl.RoutingContextImplBase.iterateNext(RoutingContex

[2020-02-28 09:35] pmlopes opened #516 "Guava update to 25.1-jre"
Upgrade `guava` across all stack to `25.1-jre`

[2020-03-02 09:15] #506 closed, assigned to nobody

[2020-03-02 16:08] vietj opened #517 "Move the MVEL codegen template to vertx-lang-ruby"
Currently the only usage of MVEL template of codegen is in vertx-lang-ruby. We can move this to vertx-lang-ruby directly as there is no need to maintain it in codegen anymore.

[2020-03-02 16:17] #517 closed, assigned to vietj

[2020-03-03 08:53] vietj opened #518 "Jackson upgrade to 2.10.2"

[2020-03-03 09:27] #518 closed, assigned to vietj

[2020-03-03 15:21] pmlopes commented on #516
Updates have been performed across the stack for `master` and upcoming `3.9` branches.

[2020-03-03 15:21] #516 closed, assigned to nobody

[2020-03-03 17:38] vietj commented on #516
thanks @pmlopes

[2020-03-17 12:24] vietj commented on #515
your issue description is not clear enough, according to your saying, you say that the classloader returns null but this null value is checked the line after.

I spent some time trying to figure out what possible issue could happen here and I did not find.

can you post a stack trace or a more accurate description of the issue (_it causes an error_ which error ?) ?

[2020-03-17 12:24] #515 closed, assigned to vietj

[2020-03-23 22:36] DaveO-Home opened #519 "vertx 3.8.5 fat jar"
This may not be a fat jar problem - looks like a 3.8.5 problem.
I get the same results when executing `build/scripts/dodex-vertx`

Note: gradlew run - works

executing `java -jar build/libs/dodex-vertx-3.8.5-all.jar` produces `[SEVERE] Failed to deploy verticle dmo.fs.vertx.Server io.vertx.core.impl.launcher.commands.RunCommand`

executing `java -jar build/libs/dodex-vertx-3.8.5-all.jar start`  pr

[2020-03-24 10:15] tsegismont commented on #519
Can you compare your config with
https://github.com/vert-x3/vertx-gradle-starter

Le lun. 23 mars 2020 à 23:37, DaveO <notifications@github.com> a écrit :

[2020-03-24 14:45] DaveO-Home commented on #519
My project is on npmjs - dodex-vertx. You can install or view on github.  I run on Fedora  31, it was working as of 1+ weeks ago.  I'm thinking maybe it's the Java VM -
`openjdk version "1.8.0_242"
OpenJDK Runtime Environment (build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (build 25.242-b08, mixed mode)`
I've tried Vertx 3.8.4 and  down-graded gradle to 5.4.6 with the same results.
However, I also

[2020-03-24 16:05] DaveO-Home commented on #519
I ran the starter kit as is and it worked. Old versions of vertx and shadow plugin.
Upgraded starter kit to vertx 3.8.5 and plugin to 5.2.0 and failed with same results above.
And gradlew run worked just fine....

[2020-03-24 18:05] DaveO-Home commented on #519
Solved - with my previous tests/development I had an enviroment variable set.  In my Server class I was assuming it was set;
`private static String development = System.getenv("VERTXWEB_ENVIRONMENT") .toLowerCase();`
It was failing on null pointer but not reporting it!

[2020-03-24 18:05] #519 closed, assigned to nobody

[2020-03-25 08:53] tsegismont commented on #519
Thanks for letting us know

Le mar. 24 mars 2020 à 19:05, DaveO <notifications@github.com> a écrit :

[2020-03-25 13:22] InfoSec812 opened #520 "Vert.x Service Proxy documentation does not mention necessary @ModuleGen & package-info.java"
### Version

3.8.2

### Context

The documentation for Vert.x Service Proxies does not mention the need for a `package-info.java` annotated with `@ModuleGen`, but in order to compile you need it.

### Do you have a reproducer?

N/A

### Steps to reproduce

N/A

### Extra

N/A

[2020-03-25 19:49] UglyHobbitFeet commented on #276
Any update on this?

[2020-03-26 11:50] #520 closed, assigned to nobody

[2020-04-01 07:40] takeseem opened #521 "Vertx.close().setHandler() the handler is never do, because of the eventloop is shutdown."
### Questions

[code]
the `Future<Void> Vertx.close()` must be Deprecated, because the return Future never handle, the eventloop is shutdown when Vertx.close().

my right code is use `close(Handler)`, it's worked.
[code]

### Version

4.0.0-milestone4

### Context

[code]

### Do you have a reproducer?

### Steps to reproduce

### Extra

* Ubuntu 18.04.4 LTS
* OpenJDK 64-Bit Server VM (build 14+36

[2020-04-01 14:38] BillyYccc commented on #521
I think this is duplicate of https://github.com/eclipse-vertx/vert.x/issues/3232 and has been fixed in `master` branch, can you try with `4.0.0-SNAPSHOT`?

[2020-04-02 11:11] #521 closed, assigned to nobody

[2020-04-02 11:16] takeseem commented on #521
It's fix in `4.0.0-SNAPSHOT` .
Thanks.

[2020-04-03 12:57] takeseem opened #522 "BlockedThreadChecker.log not work in 4.0.0-SNAPSHOT, but 3 is work ok."
### Questions

I'm build a new framework with Vert.X 4, but I fond it's look not stable.
although I love 4.x, but now I must be back to 3.x .
**What's the 4.x release time?** that time I will back to try 4.x.

- bug1: `BlockedThreadChecker.log` not work in 4, but 3 is work ok.
log4j2 2.13.1,  includeLocation="true"
in eclipse debug: [StackLocator.calcLocation(StackLocator.java:79)](https://github.

[2020-04-04 07:56] vietj commented on #522
Vert.x 4 is still a work in progress, you can use instead published milestones which have been reported quite stable and avoid snapshots. If you report issues we will fix them of course. We believe to start stable beta within a couple of months but we cannot give precise estimations it might go faster or slower, given at the same time we need to work also on Vert.x 4 new web site.

[2020-04-04 07:57] vietj commented on #522
Can you provide a reproducer project for the bugs, it will be easier to figure out.

[2020-04-04 07:57] #522 closed, assigned to nobody

[2020-04-06 03:24] takeseem opened #523 "BlockedThreadChecker.log not work in 4.0.0-x, but 3.x is work ok."
### Questions

#522 had be close and I can't to reopen, I have to create this.

First thanks for your answer,  and hear 4.0 will released a few months :)
I will continue in Vertx 4 work.

- `BlockedThreadChecker.log` not work in **4.0.0-milestone4** and **4.0.0-SNAPSHOT**, but 3.9.0 is work ok.
I create a **demo project,** this test code is https://github.com/takeseem/takeseem-demo-vertx/blob/mast

[2020-04-06 12:39] vietj commented on #523
thanks I will have a look at the reproducer

[2020-04-06 12:44] vietj commented on #523
in this project the class `StackLocator` is in the log4j-api 2.13.1 jar

[2020-04-06 12:46] vietj commented on #523
this class is present using multi release jar feature:

[code]

[2020-04-06 12:54] vietj commented on #523
it is a bug in log4j : https://issues.apache.org/jira/browse/LOG4J2-2809

[2020-04-06 12:55] vietj commented on #523
there is no release with this fix yet.

[2020-04-06 12:55] #523 closed, assigned to nobody

[2020-04-06 12:55] vietj commented on #522
resolved as a bug in lo4j.

[2020-04-11 12:50] afloarea opened #524 "Provide Automatic-Module-Name attribute in MANIFEST.MF"
#### Feature Description

Provide Automatic-Module-Name attribute in MANIFEST.MF file.

#### Use cases

Provides a reliable module name, instead of using the name derived from the JAR file, without having to target Java 9+ and/or use module-info java/class file. This can be used until there is a module-info file.

#### Contribution

If this feature request were to be approved I would be happy to w

[2020-04-11 13:57] vietj commented on #524
I believe we cannot use package names because some package have the ext name and some don't, which is inconsistent. So I would like module to be rather named after the related Maven artifact, likely prefixed with `io.vertx` instead of `vertx-`, e.g

- `vertx-core`: `io.vertx.core`
- `vertx-web`: `io.vertx.web`
- `vertx-web-client`: `io.vertx.web.client`

That being said, are we allowed to have a m

[2020-04-11 16:12] afloarea commented on #524
I believe that there is no issue with having automatic modules/submodules, such as `io.vertx.web` and `io.vertx.web.client` as long as they do not have any split packages between them.

A thing to note: Say you have 2 artifacts/jars/libraries A and B which have a split package P (they both have classes in package P).

If they do not have a module name (via MANIFEST property) and are placed on the

[2020-04-11 21:16] vietj commented on #524
So the rule _Creating a module with a particular name takes ownership of that package name and everything beneath it._ is not a JPMS rule to satisfy as I understand it ?

[2020-04-12 11:46] afloarea commented on #524
No, I believe it is not. You are right.

[2020-04-12 12:43] vietj commented on #524
ok, so let's get first a proposal for providing automatic module names to vertx jars (when it makes sense) and then we can see how this can be achieved in the stack which will require to update the vertx-parent pom

[2020-04-12 17:39] afloarea commented on #524
I am not sure I understand. I think your suggestion is good, that is, the module name would be `io.vertx.${processed-artifact-name}`, where the processed artifact name would be the artifact name without the `vertx-` prefix and with `-` converted to `.` (i.e. the `vertx-jdbc-client-<version>` jar would have the module name `io.vertx.jdbc.client`)

[2020-04-13 06:27] vietj commented on #524
by proposal I mean list all module names according to this convention and then see discuss this in community to see if there are issues with that

[2020-04-13 18:24] afloarea commented on #524
Ok, well here is the list so far ( I will edit this comment to keep the list up to date based on your suggestions )

## Core
Component | Artifact id | Automatic Module Name
--- | --- | ---
Vertx core | vertx-core | io.vertx.core

## Web
Component | Artifact id | Automatic Module Name
--- | --- | ---
Vertx web | vertx-web | io.vertx.web
Vertx web client | vertx-web-client | io.vertx.web.client
Vert

[2020-04-14 09:41] vietj commented on #524
I think there are a few names we shall override, e.g

- `io.vertx.reactive.streams` -> `io.vertx.reactive_streams`
- `io.vertx.sql.client` -> `io.vertx.sqlclient` or `io.vertx.sql_client`
- `io.vertx.dropwizard.metrics` -> `io.vertx.dropwizard_metrics`
- `io.vertx.micrometer.metrics` -> `io.vertx.micrometer_metrics` or `io.vertx.micrometer`

etc...

[2020-04-15 16:51] afloarea commented on #524
I have updated the reactive streams entry.

Which of the 2 sql client options would be preferred?

In my opinion, it would be helpful to keep the metrics module names consistent. That is, `io.vertx.micrometer` & `io.vertx.dropwizard` or `io.vertx.micrometer_metrics` & `io.vertx.dropwizard_metrics`. Again, which of these would be preferred?

Also, what should be the work flow? Should work start whe

[2020-04-15 16:57] vietj commented on #524
I think we can do both in parallel.

For the packaging, can we study the modification of the `vertx-parent` to have the automatic module name applied optionally ? i.e if we define a property in the pom.xml then there is an automatic module otherwise it is left outside (I believe there are some module that won't benefit from automatic module name such as vertx-lang-groovy).

[2020-04-15 16:58] vietj commented on #524
Perhaps for keeping track of this we should use the wiki, is that possible to get PR on a GitHub wiki ?

[2020-04-15 18:32] afloarea commented on #524
Thank you for the prompt response @vietj . I will look into the change to the `vertx-parent` and raise a PR on the GitHub wiki and get back to you.

[2020-04-15 21:23] vietj commented on #524
please do an RFC like page in wiki

[2020-04-17 11:33] afloarea commented on #524
I have created the RFC page, but I cannot push it to a remote branch in order to create PR because I do not have permission. I assumed that [this](https://github.com/vert-x3/wiki/wiki) is the wiki.

I have also looked into changing the parent pom so that when a property in the child pom is defined, then the module name is applied. Unfortunately, I could not find a way for this to work, since maven

[2020-04-22 19:49] dratler commented on #182
this is still relevant ?

[2020-04-22 20:32] pmlopes commented on #182
Hi yes. Would you like to contribute? We need to look at what metrics we would like to have and add the collector on the right place.

[2020-04-24 15:22] vietj commented on #524
@afloarea where are your changes ?

[2020-04-24 17:45] afloarea commented on #524
I have cloned the wiki and created a local branch on my machine but I cannot push the branch because I do not have permission to push to the wiki repo.
Is there a different way to contribute that I am not aware of?

[2020-04-24 19:01] vietj commented on #524
let me investigate how the wiki thing work :-)

[2020-04-25 07:09] vietj commented on #524
what if a problem should not have an automatic name ? e.g we have some jars which will never be modules.

[2020-04-25 07:10] vietj commented on #524
@afloarea unfortunately the wiki access management of GitHub is quite weak, so the best I think is that you edit this issue content instead of commenting and we continue using this issue to discuss

[2020-04-25 09:33] dratler commented on #182
Hi @pmlopes ,
which git repo is using this one : ?
- https://github.com/vert-x3/vertx-stack
- https://github.com/vert-x3/vertx-micrometer-metrics
- https://github.com/vert-x3/vertx-dropwizard-metrics

or other ?

[2020-04-25 09:37] vietj commented on #182
for doing this, we should find how metrics can be used, i.e currently Vert.x core provides an SPI for metrics.

We need to see how this integrates with this.

So I think we need to

1. define what are the metrics we want to expose
2. verify how Vert.x core metrics can be reused for this or be modified

[2020-04-25 09:41] vietj commented on #182
More generally speaking, this defines a generic need for clients that require to expose metrics.

Vert.x core defines an SPI for HTTP client metrics and I believe we see how this can be reused and made more generics, i.e here I am thinking at the notion of:

1. pooling (i.e pool usage)
2. client request queuing metrics
3 latency of a request
4. client request latencies : which is the queuing laten

[2020-04-25 13:21] afloarea commented on #524
I agree, not every jar file needs an automatic module name.
My proposal is that based on the component/project table, a name is approved and marked as approved in the table. After that, a PR is made for only that component that will edit the pom.xml file of that project/component only. The PR would simply add an `<automatic.module.name>` property in the `<properties>` section of the pom.xml and ad

[2020-04-25 13:58] vietj commented on #524
+1 Adrian

[2020-04-25 16:15] dratler commented on #182
Hi @vietj ,
As I understand the SPI os located within https://github.com/vert-x3/vertx-stack.
I haven't found class with the name `HttpClientMetrics`, I have found the interface within the javadocs files https://vertx.io/docs/apidocs/.
can you help me with the github repo, I can't find it

[2020-04-26 20:30] dratler commented on #182
Hi @vietj ,
I have dag a little bit and here are my findings :
| file Name | Metrics Recommendation |
| :----: | :----: |
| HttpClientMetrics | 1. poll usage <br/> 2. latency of a request <br/> 3. error reporting |
| TCPMetrics | 1. poll usage <br/> 2. latency of a request <br/> 3. error reporting |
| VertxMetrics| 1. poll usage <br/> 2. latency of a request <br/> 3. error reporting |
| EventBusMe

[2020-04-27 07:07] vietj commented on #182
@dratler the SPI is in vertx-core package : `io.vertx.core.spi.metrics`

[2020-04-27 07:55] vietj commented on #182
I think we could start by having `HttpClientMetrics` being

1. being decoupled from HTTP protocol
2. not extend anymore `TCPMetrics` so it can be used when Vert.x does not control the TCP layer (e.g JDBC)

[2020-04-27 08:03] vietj commented on #182
I will try doing such decoupling in a branch and then we can see how this can be reused in redis

[2020-04-27 09:10] dratler commented on #182
Hi @vietj ,
I would like to then I can better understand what you have in mind or you can post if via GIST.

[2020-04-27 10:04] vietj commented on #182
@dratler yes it would be good, I would like to have in Vert.x core `HttpClientMetrics` interface to become `ClientMetrics` instead so it can be used by `HttpClient` like today but also by other clients such as this Redis client.

This requires some changes in the SPI and the implementations of the interface but it seems worth to be done in master.

Does it make sense to you ?

[2020-04-27 11:05] dratler commented on #182
HI @vietj ,
Can we append the new methods\functions to SPI ?
I don't want to delete methods been used, I think for first part I would like to append.

[2020-04-27 11:18] vietj commented on #182
Hi,

it is not clear what you mean :-)

[2020-04-27 12:11] dratler commented on #182
Hi @vietj ,
you said the following :

 I would like to add more functionalities and not delete functionalities for start.

[2020-04-27 13:57] vietj commented on #182
@dratler ok, do the best you can we'll see after

[2020-04-27 19:08] dratler commented on #182
Hi @vietj ,
I have found within class `ClientHttpEndpointBase`
the following comment : `private final HttpClientMetrics metrics; // Shall be removed later combining the PoolMetrics with HttpClientMetrics`
do you think it's preferred ?

[2020-04-27 20:14] rajansada opened #525 "VERT.x 3.8.5 upgrade throwing error - io.vertx.core.VertxException: Connection was closed"
Hi vert.x team:

We upgraded out vert.x from 3.5.4 to 3.8.5 and observed code snippet2 failed with error
  "io.vertx.core.VertxException: Connection was closed"
Please NOTE : On vert.x 3.5.4 both code snippets work.
We used JDK 1.8.2 on local mac laptop and on linux servers and observed same error after upgrade of vert.x.

Please let us know what could be wrong.  we tried debugging but couldn't un

[2020-04-28 08:43] vietj commented on #182
@dratler please have a look at this branch https://github.com/eclipse-vertx/vert.x/tree/client-metrics

this is what I think we need to use, however I don't know how yet report request/response information in a way it can be used by metrics implementation without the need to downcast the generic requests and responses to the specific implementations

however this would report client activity in a

[2020-04-28 08:48] vietj commented on #182
note we have a similar issue with tracing.

[2020-04-28 08:52] vietj commented on #182
maybe also from client perspective we don't need to report such accurate data on the client and thus we could only focus on URL and endpoint pool size + queuing

[2020-04-28 08:53] vietj commented on #182
or we can do it specifically for HTTP and not care for other than just having an mere String for the request that would be the URI for HTTP and SQL statement for SQL, etc...

[2020-04-28 08:55] vietj commented on #524
can you edit this topic and move here the table and add checks ?

[2020-04-28 09:14] vietj commented on #525
can you provide a reproducer project with Maven so we can reproduce easily ? thanks

[2020-04-28 20:55] dratler commented on #182
Hi @vietj ,
beside of dummy `DummyVertxMetrics.class` I have found, I would like to start with this task, where do you recommend I should start reading code?
and if it's missing then where do you recommend I should start?

[2020-04-29 17:29] afloarea commented on #524
Of course. You are referring to the table from above, right? When you say 'add checks' do you want me to add checkboxes or do you want me to mark some entries as checked / confirmed name.

I was thinking that you could confirm some of the names and I would update the table and with your approval I would start working on a PR for the confirmed names and possibly provide a link to the PR in the tabl

[2020-04-30 06:28] vietj commented on #524
@afloarea I mean in the first message of the issue you created
by check box I mean using this:

* [ ] foo
* [ ] bar

[2020-04-30 19:32] afloarea commented on #524
@vietj I have moved the table to the top and I have added check boxes as you suggested.

[2020-05-06 14:04] vietj opened #526 "Netty 4.1.49.Final upgrade"
- netty 4.1.49.Final (supports Java 8 ALPN backport)
- tcnative 2.0.30.Final

[2020-05-06 14:12] #526 closed, assigned to nobody

[2020-05-06 16:13] afloarea commented on #524
Hey @vietj . I have went ahead and raised a PR for adding automatic module name for vertx-core -> https://github.com/eclipse-vertx/vert.x/pull/3401

Could you please confirm other module names so that I may start working on those as well? Is it ok to carry on with the web category?

Also, would it be possible to shorten the contribution flow? I saw that for small changes it may be possible to cont

[2020-05-07 07:49] vietj commented on #524
@afloarea for the name I think we need to do a meeting with the team and discuss that, e.g I feel that for clients we should maybe name to `io.vertx.client.mongo` rather than `io.vertx.mongo.client`

[2020-05-07 15:07] vietj commented on #524
@afloarea I've setup an hangout meeting next Monday to agree on the name of modules, if you give me your email you can join the meeting

[2020-05-07 15:36] afloarea commented on #524
@vietj Thank you for the invite. My email is adrianfloarea07@yahoo.com

[2020-05-07 16:03] vietj commented on #524
you should receive an invite.

[2020-05-11 13:15] vietj commented on #524
See https://github.com/vert-x3/vertx-auth/issues/388

[2020-05-11 13:17] vietj commented on #524
See https://github.com/vert-x3/vertx-sql-common/issues/69

[2020-05-11 21:12] vietj commented on #524
@afloarea vertx 4 projects have been updated with new parent pom

[2020-05-12 12:17] max-grigoriev opened #527 "Errors when cachePreparedStatements is set to `true`"
Vertx version: 3.9.0
Postgres: 9.6 (11.1)
JDK: Correto 11.0.7

When I enable prepared statement cache I received errors in my integration tests
`io.vertx.pgclient.PgException: prepared statement "0000001" does not exist`

[code]

The problem is discovered when we run a couple of similar queries at the same time and then try to execute another one:
[code]
when I change `Flux.merge` to `Flux.concat`

[2020-05-12 14:57] vietj commented on #527
@max-grigoriev can you provide a reproducer project ?

[2020-05-12 15:26] BillyYccc commented on #527
I'm not sure if it's related to
https://github.com/eclipse-vertx/vertx-sql-client/issues/590, would you
like to try 3.9.1-SNAPSHOT and see if the problem still happens?

On Tue, May 12, 2020 at 10:58 PM Julien Viet <notifications@github.com>
wrote:

[2020-05-12 16:13] max-grigoriev commented on #527
I can't reproduce this issue in `3.9.1-SNAPSHOT`.

Do you have ETA for 3.9.1?
Thanks

[2020-05-12 16:46] afloarea commented on #524
Thanks @vietj . I have updated the PR for vertx-core. I will proceed in a similar fashion with the web artifacts.

[2020-05-12 23:18] BillyYccc commented on #527
The artifacts should be staged in these two days soon.

[2020-05-12 23:18] #527 closed, assigned to nobody

[2020-05-14 16:43] wmorrison365fr opened #528 "HTTP2 request does not return if `Http2ServerResponse#trailers()` called and response is handled inside an `Executor` or `runOnContext`."
### Questions

N/A

### Version
3.9.0

### Context
I encountered an exception which looks suspicious while ...

handling a request within the context of an `Executor` (which is also demonstrable running within `Vertx#runOnContext` within an `Executor`). In short, the client does not fully receive the response and it does not return.

The issue is demonstrated with an HTTP2 `curl` request. Superfic

[2020-05-15 08:28] vietj commented on #528
@wmorrison365fr this seems to be a flush issue

when the response is sent asynchronously then the stream will end the stream with an HEADER frame because of the trailers (even if it's empty) and writing a trailer frame async does not have a flush operation which will not flush the frame to the encoder and thus hang.

we will try fixing that soon.

[2020-05-15 08:46] vietj commented on #528
See https://github.com/eclipse-vertx/vert.x/issues/3414

[2020-05-15 09:01] #528 closed, assigned to nobody

[2020-05-15 09:36] wmorrison365fr commented on #528
Thanks a lot for the feedback and explanation @vietj. Looking forward to 3.9.2 then.

[2020-05-15 10:15] vietj commented on #528
that will actually be 3.9.1, the change was small enough to fit in this release

[2020-05-16 06:13] vietj commented on #524
@afloarea I updated the tables with more approvals

[2020-05-16 06:13] vietj commented on #524
can you point out the pending PR to merge ?

[2020-05-17 08:05] afloarea commented on #524
@vietj The PR should appear on this issue. They are just above your comment where you say that you updated the tables.

Currently vertx-mongo-client has been merged, the redis, cassandra and jdbc clients have an open PR and the web artifactis also have an open PR, but I guess that is on hold until the openAPI gets merged.

Also, I have seen that you approved more service discovery artifacts. I for

[2020-05-17 08:11] vietj commented on #524
@afloarea I don't see any pending PR linked in this document, am I missing something ?

[2020-05-17 08:12] afloarea commented on #524
@vietj

![image](https://user-images.githubusercontent.com/20104805/82139256-3c410380-982f-11ea-855b-6240144abf29.png)

I am also updating the table as we speak.

[2020-05-17 08:14] afloarea commented on #524
@vietj  I have updated the table

[2020-05-17 12:19] afloarea commented on #524
@vietj I noticed you added Distro Stack Manager under 'Internal Magick'. Is this different than the stack manager under 'Devops'? Or did I made a mistake by putting it there?

[2020-05-17 15:48] vietj commented on #524
I just meant that stack manager is something we don't really care about.

[2020-05-18 09:43] pmlopes commented on #524
@afloarea I've just merged the `vertx-jwt` into `vertx-auth-common` as discussed in the issue. I think you are now able to work the `vertx-auth` modules without a problem!

[2020-05-18 14:31] vietj commented on #524
@afloarea can we try getting the property in the parent pom for multi module projects when it is possible ?

[2020-05-18 17:23] afloarea commented on #524
Thanks @pmlopes . I have raised a PR for auth.

@vietj Yes, I actually don't know why I didn't do that in the first place 😅. I have updated the auth and service discovery to use the parent pom. I will update the others as well

[2020-05-18 17:48] afloarea commented on #524
@vietj @pmlopes I can't build the jars for vertx-web anymore, so I coudn't test with the parent pom.
It fails to compile because it can't find io.vertx.ext.jwt.*.
I also merged from upstream vertx-web but it still failed

[2020-05-18 18:37] pmlopes commented on #524
Ah, that's my bad, there's a reference to a class from the merged modules in auth. I'll fix it...

[2020-05-18 18:44] pmlopes commented on #524
web should be building correctly now...

[2020-05-18 19:02] afloarea commented on #524
I tested web with parent pom and I updated the PR. Thank you @pmlopes :+1:

[2020-05-19 11:14] kfir-bar opened #529 "Broken link on Vertx JUnit 5 page"
Hi,
At https://vertx.io/docs/vertx-junit5/java/ - at the end of the page,
there is a link "Vert.x Junit 5 Web Client" - which is broken.

Regards,
Kfir Bar.

[2020-05-19 14:27] vietj commented on #524
I believe I merged all the open PR @afloarea keep the PR flow coming in :-)

[2020-05-20 21:08] vietj commented on #524
Merged all submitted PR's @afloarea

[2020-05-21 05:01] pipinet commented on #481
https://github.com/smallrye/smallrye-reactive-messaging/issues/524

[2020-05-21 17:31] afloarea commented on #524
@vietj I have raised PRs for most of the approved names.

The ones missing are for kotlin. I have a question about that: should I only add for kotlin lang and coroutines? or should I wait for the kotlin.gen one as well. Also, what about the vertx-kotlin-compiler? I did not add it to the table but I noticed it in the repository.

Also, the vertx-codegen was a bit different than the others because i

[2020-05-22 07:42] vietj commented on #524
for kotlin I think for now indeed we only add kotlin lang and coroutines indeed -  I merged all open PR's

[2020-05-22 10:37] avgustinmm opened #530 "Extend AsyncMap supported key/values types with codecs"
#### Describe the feature

At the moment AsyncMap-s provided by SharedData have key and value type restrictions: primitive types, java.io.Serializable and io.vertx.core.shareddata.impl.ClusterSerializable. None of these could be used for POJO objects that doesn't implement Serializable (ClusterSerializable is internal interface - so it's very unlikely someone to implement it).
Support for AsyncMap

[2020-05-22 10:48] avgustinmm commented on #530
Sorry.  I just realized that I've posted this feature request in wrong project. I've just posted it at https://github.com/eclipse-vertx/vert.x/issues/3421.
Please, remove  this issue if possible

[2020-05-22 15:29] vietj commented on #524
kotlin done

[2020-05-24 08:18] afloarea commented on #524
@vietj since all the approved names have merged PRs, what's next? I assume this issue will remain open until the postponed/under discussion names are resolved too, right?

Also, if you want, I could also have a look at merging the vertx-sql-common into vertx-jdbc-client.

[2020-05-24 08:55] vietj commented on #524
for sql-common, I will have a look soon.

besides, I think what we need now is to capture the current state in a wiki page and write some documentation that defines the expectations and possibly at some point we need an how-to with JPMS for Vert.x 4 using automatic module names (https://how-to.vertx.io) that could be based on 4.0.0-milestone5 (cc @jponge)

[2020-05-24 08:55] vietj commented on #524
I will create a wiki page with the current names soon I think in the vertx wiki

[2020-05-25 07:40] vietj commented on #524
Here is the wiki page https://github.com/vert-x3/wiki/wiki/JPMS

[2020-05-25 15:17] #530 closed, assigned to nobody

[2020-05-27 06:52] #494 closed, assigned to nobody

[2020-05-27 23:16] kodierer opened #531 "Bugs in the Code-Examples"
Hi, please have al look in the Code-Example after the header: "Sequential composition" on the core-manual. URL: [https://vertx.io/docs/vertx-core/java/](url)
It seems to be wrong.
Sincerly
Frieder Moßmann
Germany

[2020-06-02 09:30] tsegismont commented on #531
Can you elaborate?

Le jeu. 28 mai 2020 à 01:16, kodierer <notifications@github.com> a écrit :

[2020-06-08 15:08] vietj commented on #524
I will close this issue for Vert.x 4

[2020-06-17 05:50] SubhamSinghal opened #532 "java.lang.IllegalArgumentException: Invalid type: class com.codahale.metrics.Timer$Context to put in async map"
I have created a vertx AsyncMap< Long, Context > where I store dropwizard timer for a specific jobId. But when I put any value to map I am getting "java.lang.IllegalArgumentException: Invalid type: class com.codahale.metrics.Timer$Context to put in async map" error.

Code for map initialization:
[code]

code for putting timer to map:
`tempAsyncMap.put(jobId, jobWaitTimer.time(), completionHandler

[2020-06-17 13:15] tsegismont commented on #532
Answered on SO https://stackoverflow.com/a/62429735/2133695

[2020-06-17 13:15] #532 closed, assigned to nobody

[2020-07-01 01:05] khteh opened #533 "Vert.x 3.9.1 verticle deployment error due to io.vertx.core.impl.logging.LoggerFactory"
I am using Vert.x 3.9.1 and when I run `java --add-opens java.base/jdk.internal.misc=ALL-UNNAMED -Dio.netty.tryReflectionSetAccessible=true -jar target/restapi-1.0-fat.jar`, it fails to deploy the verticle with the following error:
[code]

[2020-07-01 09:16] tsegismont commented on #533
Can you please share a small reproducer? Thank you

[2020-07-01 09:29] khteh commented on #533
https://github.com/khteh/RestAPIDocker.Vertx

[2020-07-01 15:19] tsegismont commented on #533
Can you please provide instructions to run the project?

Le mer. 1 juil. 2020 à 11:29, Teh Kok How <notifications@github.com> a
écrit :

[2020-07-01 17:02] injecteer opened #534 "IllegalStateException at ErrorHandlerImpl"
In my code (3.9.1) I'm using the ErrorHandler like so:

`router.errorHandler 500, ErrorHandler.create()`

Sometimes I'm getting an annoying exception, which actually conceals the real error details:

java.lang.IllegalStateException: Response has already been written
	at io.vertx.core.http.impl.HttpServerResponseImpl.checkValid(HttpServerResponseImpl.java:628)
	at io.vertx.core.http.impl.HttpServer

[2020-07-01 23:53] khteh commented on #533
It's in the first post: `java --add-opens java.base/jdk.internal.misc=ALL-UNNAMED -Dio.netty.tryReflectionSetAccessible=true -jar target/restapi-1.0-fat.jar`

[2020-07-02 01:07] khteh opened #535 "Java Vert.x JDBC client runtime load error: Could not load driverClass com.mysql.cj.jdbc.Driver java.lang.ClassNotFoundException: com.mysql.cj.jdbc.Driver"
### Questions
I have the following dependency in pom.xml:
[code]
My MySQL server is `8.0.20`. Running my Java Vert.x application from the command line `vertx run com.restapi.vertx.Launcher -cp target/*` bumps into the following runtime exception:
[code]
### Version

Which version(s) did you encounter this bug ? 3.9.1

### Context
Using JDBC in Java Vert.x application to access MySQL 8.0.20

* Link

[2020-07-02 07:10] khteh commented on #533
Running `mvn test` bumps into the same exception:
[code]

[2020-07-02 09:14] tsegismont commented on #533
You have set the `vertx-jdbc-client` version to `4.0.0-milestone5` in your POM, whereas the rest of the Vert.x modules (in particular `vertx-core`) are set version `3.9.1`.

These versions are incompatible. Change the vertx-jdbc-client version to `3.9.1` and the issue will go away.

[2020-07-02 09:14] #533 closed, assigned to nobody

[2020-07-02 09:16] tsegismont commented on #535
I just tried your reproducer (#533) and after changing the `vertx-jdbc-client` version to 3.9.1, the app started and the JDBC driver was found.

[2020-07-02 09:18] tsegismont commented on #535
Closing this as there is no Vert.x issue. Please post further questions to the Vert.x user group (see https://vertx.io/community/).

[2020-07-02 09:18] #535 closed, assigned to nobody

[2020-07-02 09:30] khteh commented on #535
Which command did you use? Using `vertx` CLI (`vertx run com.restapi.vertx.Launcher -cp target/*`) doesn't work but `java` does.

[2020-07-02 09:31] khteh commented on #535
I have fixed the version to 3.9.1 but `vertx run com.restapi.vertx.Launcher -cp target/*` still bumps into the same exception:
[code]

[2020-07-20 20:09] kartikone commented on #485
Hi, just ran into this issue. Was wondering if there are any workarounds?

Edit: After a long search, I found in another issue that adding order(0) before the handler will allow the CORS handler to work correctly. I believe this issue can be closed now @pmlopes

[2020-07-21 07:39] SwaroopBandari opened #536 "Buffer size on matching with the Content-Length Header"
Total buffer in HttpServerRequest Handler in body handler is not maching with the content-length header .

[2020-07-21 14:53] jkurzanski opened #537 "Timed out locks are not evicted immediately"
Hi,
When a call to vertx().sharedData().getLocalLockWithTimeout finishes with a time out, this lock is not removed from LocalAsyncLocks.waitersMap. In the handler we doesn't receive a reference of this lock to release it by ourself.

It has been reproduced on Vertx 3.8.5.

Here is a small unit test to reproduce it.

[code]

Regards

[2020-07-22 08:27] yn-tadpole opened #538 "FileResolver.unpackFromFileURL"
When file caching is disabled (by set FileSystemOptions.setFileCachingEnabled (false) or -Dvertx.disableFileCaching=true).
Every time a static resource is requested, the file will be written to the vertx cache directory, which often causes the file to be occupied and an exception is thrown.

io.vertx.core.VertxException: java.nio.file.FileSystemException:
...(filePath)...: The process cannot acces

[2020-07-22 09:23] tsegismont commented on #538
Looks related to https://github.com/eclipse-vertx/vert.x/issues/3510

[2020-07-22 12:51] skedin opened #539 "Official website document error"
Don't know where to leave the message, so I leave it here.
In the documentation of RabbitMQ Kotlin (and maybe same for other languages), I believe a `start` function for the client after `val client = RabbitMQClient.create(vertx, config)` is necessary, so that we can declare the queue.

[2020-07-23 10:56] tsegismont commented on #539
@skedin would you mind reporting this to the [RabbitMQ client](https://github.com/vert-x3/vertx-rabbitmq-client/issues) ? Thank you.

A PR is welcome, the examples are located in: https://github.com/vert-x3/vertx-rabbitmq-client/blob/master/src/main/java/examples/RabbitMQExamples.java

(It's not Kotlin but our CI then translate them to all supported languages)

[2020-07-30 18:50] #345 closed, assigned to vietj

[2020-07-30 18:57] #457 closed, assigned to nobody

[2020-08-03 07:18] develrulez opened #540 "JWK doesn't support certificate chain"
Hi, as stated in https://vertx.io/docs/apidocs/io/vertx/ext/jwt/JWK.html, the certificate chains (x5c) in a JWK only allow a single element chain. Why so? Our company's OIDC compliant server has a certificate chain with all the CAs embedded. But the class io.vertx.ext.jwt.JWK throws an exception in this case...

[code]

Couldn't it just pick the first certificate ignoring the others in the chain a

[2020-08-03 07:32] dirien commented on #540
we can confirm this behaviour.

[2020-08-03 07:54] pmlopes commented on #540
Webauthn supports this. I'll refactor oauth2 to also support it.

[2020-08-03 08:38] develrulez commented on #540
Wonderful, would it also be possible to create a fix for the 3.9.x stream? Because I don't know if the Quarkus people are ready for a major release change of 3.9.x to 4.x in the near future.

[2020-08-03 11:46] pmlopes commented on #540
I can't promise anything on that field as webauthn is a 4.0 feature, it all depends on how hard is to backport.

[2020-08-03 14:30] #540 closed, assigned to pmlopes

[2020-08-03 14:31] pmlopes commented on #540
The main branch for 4.0.0 was already supporting chains, I've ensured that the validation is consistent (and performed the same way across all handlers)