[2020-08-04 02:53] yn-tadpole commented on #538
It's not a duplicate question.
The problem is actually this:

Let's assume that the static folder structure is as follows.

/static/
/static/js/... (20 files)
/static/imgs/...(100 files)
/static/index.html

When cache is disabled, every request for index.html file will cause all files in js and imgs folders to be re copied to the vertx-cache/... folder.
If index.html References to other files in i

[2020-08-05 07:26] hamak opened #541 "HTTP Server goes down when accessing mp3 with StaticHandler"
### Questions

When I build a simple HTTP server using StaticHandler and GET the mp3 and mp4 files deployed in "webroot" from the web browser, the following exception is output and the server goes down. It may not occur due to the difference in the file, but the file that occurs always occurs.

HTML and JPEG files will be responded without any problems.

[code]

### Version

3.9.1 and .2

### Extr

[2020-08-08 13:01] vinhio opened #542 "Can not get request parameter"
I create a post/route with request path /login. But at server-side can not get  request parameter. Please see the image

![2020-08-08_19-58](https://user-images.githubusercontent.com/7539391/89711032-e4d7ad00-d9b1-11ea-9d89-bf2517c80817.png)

[2020-08-10 13:02] tsegismont commented on #538
Can you please share a small reproducer?

[2020-08-10 13:35] tsegismont commented on #542
Can you share some code and shell commands so that we can try to spot the issue? Screenshots in general are useless.

[2020-08-10 14:21] tsegismont commented on #541
Can you share a minimal reproducer? This exception usually indicates that the client closed the connection abruptly, so it does not help much to understand the problem.

[2020-08-16 18:24] amiracam opened #543 "Jruby deployment options not setting for worker verticles"
I have setup a simple verticle which I'm configuring as a standard verticle but from which I will use a blockingHandler which is supposed to use a worker thread pool instead of the event loop. It actually does indeed use a thread pool , however I can't seem to change its default pool size.

This is the setup:

options = {'workerPoolName' => 'DEFAULT', 'workerPoolSize'=> 5}

$vertx.deploy_verticle

[2020-08-17 09:53] tsegismont commented on #543
Can you please provide the snippets and commands to reproduce? Thank you

[2020-08-17 20:23] amiracam commented on #543
hi, in coding up a simplistic version of the project that I could share , I realized what the issue is , I was inadvertently creating two instances of vertx, i.e. the verticle responsible for the http service was not being set with the worker options but rather the verticle doing the deployment of the http service verticle

[2020-08-17 20:24] #543 closed, assigned to nobody

[2020-08-18 03:42] PrintTree opened #544 "EventLoop strange phenomenon"
I‘m new to Vert.x,and write some code like simple example,and I find a strange phenomenon of EventLoop thread.

[code]

[code]

When I start application,the console print the core number as 12,and 12 server start messages printed as I expected.

12
server start org.x.HttpServer@4637a165
server start org.xHttpServer@15838c55
server start org.x.HttpServer@2c4a18da
server start org.x.HttpServer@50cda

[2020-08-18 03:53] PrintTree commented on #544
Well,one thing I known is that my jmeter thread group has 4 thread,and there are only 4 thread handle request.When I set jmeter thread number to 6,there are 6 thread handle request! But I'm still wondering why only six event loop threads have been created?

[2020-08-18 05:39] PrintTree commented on #544
From more test,I found that EventLoop thread number is determined by setEventLoopPoolSize and setInstances method.Most importantly, setting odd and even numbers makes a big difference.First I setInstances(24) and remain unchanged.Then I setEventLoopPoolSize(20),setEventLoopPoolSize(21),setEventLoopPoolSize(27).These settings create different numbers of threads 10,21,24.

[2020-08-18 05:43] PrintTree commented on #544
And my Maven GAV is

        <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-web</artifactId>
            <version>3.9.2</version>
        </dependency>

        <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-jdbc-client</artifactId>
            <version>3.9.2</version>
        </dependency>

[2020-08-18 07:15] parit commented on #544
I think you need to call startPromise.complete() in if(ar.succeeded()) { ... } block to indicate the tool-chain above that the verticle is deployed.

[2020-08-18 07:19] parit commented on #542
so this is for 3.7.1 I think it is same for future versions but you need to use
BodyHandler.create().setMergeFormAttributes(true) as a handler for your post requests first and then you can use request.params()

[2020-08-18 07:55] PrintTree commented on #544
Thanks,I call that method and then it works.
But EventLoopThread problem still there. I think it has something to do with netty's thread creation mechanism,and I'm looking at netty's source code to find out why.
In any case, this is very strange, because I set the size of the thread pool, but the number of threads in it is not the same as what I specified.

[2020-08-18 08:32] tsegismont commented on #543
Thanks for letting us know

[2020-08-18 08:38] tsegismont commented on #544
There are 4 threads handling requests because, even if you deploy 6 instances of your worker verticle, you've configured the worker pool size to 4.

I would recommend to read the intro to Vert.x for Java devs: https://vertx.io/docs/guide-for-java-devs/

Then for questions such as this one, it's better to send them to the user forum (see https://vertx.io/community) because not everyone in the commu

[2020-08-18 08:38] #544 closed, assigned to nobody

[2020-08-18 09:13] PrintTree commented on #544
Unfortunately, I think the request handling is in EventLoopThread because the response show that. The response like this:
`I'm org.x.HttpServer@fc79dd9 thread: Thread[vert.x-eventloop-thread-12,5,main] router: RouterImpl@16806481{vertx=io.vertx.core.impl.VertxImpl@4444fe7c, state=RouterState{routes=null, orderSequence=0, errorHandlers=null, modifiedHandler=null}}`
It shows that the current thread

[2020-08-18 09:29] tsegismont commented on #544
Sorry for the confusion. Indeed it's not a worker verticle but a standard verticle.

So because you deploy 6 instances of the verticle, Vert.x assigns a different event loop to each of them. This is why you see 6 event loop threads handling requests even if the maximum is 12.

Then if you see only 4 of them handling requests while running JMeter, it may be because it creates 4 long lived HTTP conn

[2020-08-18 10:34] PrintTree commented on #544
I post a question on stackoverflow [https://stackoverflow.com/questions/63466734/how-does-vertx-create-eventloop-thread](url)
Firstly,I want to know how vertx create threads(It creates the wrong number of threads).Thanks for your help!

[2020-08-18 17:27] PrintTree commented on #544
I read source code and maybe find an answer: [https://stackoverflow.com/questions/63466734/how-does-vertx-create-eventloop-thread/63473649](url)
I will create a new issue.

[2020-08-18 17:33] PrintTree opened #545 "missing EventLoop thread"
The issue I mentioned before was closed, so I mentioned it again.
See detail from [https://stackoverflow.com/questions/63466734/how-does-vertx-create-eventloop-thread/63473649](url)

I post a question and give an answer.I hope an expert can fix this problem or tell me the correct way to use it.

[2020-08-25 15:04] vietj opened #546 "Upgrade to Netty 4.1.51.Final"

[2020-08-25 15:04] vietj commented on #546
There is a regression with uncached rotational DNS server selection : https://github.com/netty/netty/issues/10499

[2020-08-25 15:07] #541 closed, assigned to nobody

[2020-08-25 15:07] vietj commented on #541
Feel free to reopen with more context or a reproducer

[2020-08-27 09:44] TorRanfelt opened #547 "EventBus could use something like registerDefaultCodecWithoutWire"
I might be an outlier, but I only have one instance of Vert.x (although with many verticles and some thread-pools), so I don't need to neither decode nor encode from wire. Not that it is difficult to get rid of the boiler plate as my code shows, but it feels like it should be an inherent option. - Maybe it shouldn't even be necessary to register a codec if this is all you want.

[code]

[2020-08-27 11:12] yxder opened #548 "RedisAPI.zadd fail to add the secondray score &member"
### vertx.version=3.9.2

### Steps
redisAPI.zadd(Arrays.asList("anykey", "1598248800", "member1", "1598248700", "member2"), r->{})

result: only "1598248800", "member1" added to zset

[2020-08-27 11:23] TatianaBuica opened #549 "MultiMap is overriding my entries"
The fact that the index is calculated like this (in `CaseInsensitiveHeaders`), it overrides my entries.
[code]

It is intended to not allow you to have more than 17 entries and override them?
If so, could you please let me know what can I use instead?

[2020-08-27 11:30] vietj commented on #549
@TatianaBuica did you find a bug ? do you have a reproducer ?

[2020-08-27 11:41] TatianaBuica commented on #549
When I am trying to make the following insert into a `MultiMap`, keys _doorsUser_ and _encryptionAlgorithm_ are always fighting for index 4.
[code]

The fact that the index is calculated as I mentioned above, it is a bit confusing and I am not sure if this is a bug.

[2020-08-27 16:35] vietj commented on #549
is there a bug ? i.e is data overwritten when you use the `MultiMap` ?

it's expected to have collision inside the implementation, that's how hash tables work https://en.wikipedia.org/wiki/Hash_table#Collision_resolution

[2020-08-27 16:35] vietj commented on #549
I ran the code you provided:

[code]

and I got

[code]

[2020-08-27 16:35] #549 closed, assigned to vietj

[2020-08-28 08:01] vietj commented on #537
@tsegismont does it ring a bell ?

[2020-08-31 09:11] tsegismont commented on #547
You could extend the EventBus class and override the default send/publish
methods. Instead of using an empty DeliveryOptions, set the codec name.

Then you'd have a single codec to register.

Le jeu. 27 août 2020 à 11:44, TorRanfelt <notifications@github.com> a
écrit :

[2020-09-01 09:45] tsegismont commented on #537
@jkurzanski the waiters list should be cleared after the lock is released. If it isn't there's a bug but I can see that in the code.

What's your use case for having that much concurrent lock acquisitions?

[2020-09-01 13:04] jkurzanski commented on #537
Hi @tsegismont, the unit test is exaggerated to reproduce the issue.
We use the getLocalLockWithTimeout to synchronise an access to a ressource, by multiple concurrent http requests. It's fine, if the lock acquisition fails. We handle it gracefully.
But as the map is not cleaned, that lead to a memory leak which force us to restart the JVM after few weeks in production.

[2020-09-01 13:18] tsegismont commented on #537
@jkurzanski can you make sure the lock is released after it's been acquired? Otherwise indeed the list of waiters is not cleaned.

[2020-09-01 13:47] jkurzanski commented on #537
That's the issue : if getLockWithTimeout fails, I don't receive any reference to the lock so I can't release it by myself.

[2020-09-01 14:14] tsegismont commented on #537
I meant can you make sure the lock that was successfully acquired is released? The next waiters aren't processed (and thus removed) until then.

I'm asking because in the snippet above the comment says there are 50K locks in the map before releasing the map. They shouldn't be there after the lock is released.

[2020-09-01 15:16] jkurzanski commented on #537
<img width="983" alt="image" src="https://user-images.githubusercontent.com/64907801/91869604-63a0cc80-ec76-11ea-8b42-c0b437210609.png">

When I inspect the waitersMap after after having released the first lock, the 50k subsequent failed locks are still here.

[2020-09-02 00:56] hjx27000cs opened #550 "VertxNetServerMetrics connected NullPointerException"
堆栈：
java.lang.NullPointerException: null
	at io.vertx.micrometer.impl.VertxNetServerMetrics$Instance.connected(VertxNetServerMetrics.java:65) ~[punk_gate-jar-with-dependencies.jar:?]
	at io.vertx.micrometer.impl.VertxNetServerMetrics$Instance.connected(VertxNetServerMetrics.java:56) ~[punk_gate-jar-with-dependencies.jar:?]
	at io.vertx.core.http.impl.HttpServerChannelInitializer.lambda$configureHt

[2020-09-02 06:20] vietj commented on #550
do you have a reproducer ?

[2020-09-02 07:31] hjx27000cs commented on #550
没有

[2020-09-04 14:51] TorRanfelt commented on #547
Good idea.

Even though I don't set CodecName I often use DeliveryOptions (e.g. for SendTimeout), so I have to do something like:

[code]

However, I use many different overloads of send, publish, request and reply, and I will have to make a new version of each one of them. Keeping all these updated as Vert.x develops might get annoying.
I think having a bunch of vertx.eventBus().registerDefaultCo

[2020-09-05 16:46] tim-coder opened #551 "native-image-maven-plugin"

[2020-09-05 16:46] #551 closed, assigned to nobody

[2020-09-07 08:17] #547 closed, assigned to nobody

[2020-09-10 06:26] vietj commented on #537
do you have reproducer code @jkurzanski ?

[2020-09-10 06:28] vietj commented on #537
there is one actually here :-)

[2020-09-10 07:18] vietj commented on #537
I created a patch for master to eagerly remove timed out lock from the waiters list instead of waiting for the lock owners to subsequently release the locks, can you have a try @jkurzanski ? https://github.com/eclipse-vertx/vert.x/issues/3570

[2020-09-11 08:12] vietj commented on #537
@jkurzanski this has been fixed, this is not really a leak per se because lock will be garbaged when the lock makes progress, so I will rename the issue to more accurately describe the issue

[2020-09-11 08:13] #537 closed, assigned to nobody

[2020-09-15 09:35] vietj opened #552 "Upgrade Netty to 4.1.52.Final"
- Netty 4.1.52.Final
- TC native 2.0.34.Final

[2020-09-15 14:03] vietj commented on #552
on hold as, this requires to upgrade vertx-grpc and some tests are not passing when trying to force the upgrade in grpc-netty from 4.1.51.Final to 4.1.52.Final

[2020-09-23 09:02] hjx27000cs commented on #550
The recent upgrade to 3.9.2 is still an occasional occurrence.

Is there any way to fix this problem, because this bug will directly card the main thread

[2020-09-23 15:48] wmorrison365fr opened #553 "WebSocket closeHandler no longer sending close frames on `httpServer.close()`"
### Questions

As per the question raised [here](https://groups.google.com/g/vertx/c/q1RcCnLVQZM) regarding to changes made in Vert.x 3.9.3 around websocket close handling.

In Vert.x 3.9.2, closing a websocket would result in a close frame being sent to the client (to instruct it to close). With version 3.9.3, this code seems to have changed significantly. We observed that when we do an abrupt se

[2020-09-30 12:30] #429 closed, assigned to vietj

[2020-09-30 12:30] #367 closed, assigned to nobody

[2020-10-04 15:49] hkontschak opened #554 "With vertx 4.0.0.Beta3 it's not posible to decode a POJO"
Decode a given JSON buffer to a POJO of the given class type runs in to exception
Exception:
io.vertx.core.json.DecodeException: Failed to decode
	at io.vertx.core.json.jackson.JacksonCodec.cast(JacksonCodec.java:346)
	at io.vertx.core.json.jackson.JacksonCodec.fromParser(JacksonCodec.java:183)
	at io.vertx.core.json.jackson.JacksonCodec.fromBuffer(JacksonCodec.java:73)
	at io.vertx.core.json.Json

[2020-10-05 06:15] vietj commented on #554
you need to add jackson-databind to your classpath

[2020-10-05 06:15] #554 closed, assigned to nobody

[2020-10-05 08:05] #534 closed, assigned to nobody

[2020-10-05 08:15] pmlopes commented on #538
@tsegismont and @yn-tadpole, this may look like a very ineffective piece of code, but it is like this by design. Let me explain it a bit further, disable the file cache isn't a feature users do on a live system, usually it is a development feature, where you want to be able to change resources at runtime and the changes are visible without a restart.

So when the the cache is disabled and the `/in

[2020-10-05 08:18] pmlopes commented on #542
Yes, you're missing the `BodyHandler.create()`, the merge form attributes is `true` by default, so in this case it has no effect.

[2020-10-05 08:18] #542 closed, assigned to nobody

[2020-10-05 08:18] pmlopes commented on #536
Can you provide a reproducer?

[2020-10-05 08:20] pmlopes commented on #493
We're already on 2.10.2

[2020-10-05 08:20] #493 closed, assigned to nobody

[2020-10-05 08:36] pmlopes commented on #548
The issue doesn't happen on 4.0.0

[2020-10-05 08:36] #548 closed, assigned to nobody

[2020-10-05 08:36] pmlopes commented on #548
Please see the added test, the issue is not reproducible

[2020-10-05 08:41] pmlopes commented on #443
This issue is solved by using the new API `LoggerHanderl.customFormatter()` for example:

[code]

[2020-10-05 08:41] #443 closed, assigned to nobody

[2020-10-05 08:49] pmlopes commented on #175
GridFS has been added on vert.x 4.0.0

[2020-10-05 08:49] #175 closed, assigned to nobody

[2020-10-05 08:51] pmlopes commented on #142
junit5 is already supported.

[2020-10-05 08:51] #142 closed, assigned to nobody

[2020-10-05 10:19] pmlopes commented on #529
Currently there isn't such link anymore.

[2020-10-05 10:19] #529 closed, assigned to nobody

[2020-10-05 11:49] pmlopes commented on #153
We can now apply a authorization handler to the bridge.

[2020-10-05 11:49] #153 closed, assigned to nobody

[2020-10-05 12:45] vietj commented on #484
Should never be fixed

[2020-10-05 12:49] #472 closed, assigned to nobody

[2020-10-05 13:05] #410 closed, assigned to nobody

[2020-10-05 13:31] slinkydeveloper commented on #485
@DemianTinkiel @kartikone To add the CORSHandler you can use the root (vert.x 3.9)/global (vert.x 4) handlers feature of router factory

[2020-10-06 11:58] vietj opened #555 "Upgrade Jackson to 2.11.3"
- Jackson core 2.11.3        : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=22680
- Jackson databind 2.11.3    : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=22681
- Jackson annotations 2.11.3 : https://dev.eclipse.org/ipzilla/show_bug.cgi?id=22682

[2020-10-08 13:19] #555 closed, assigned to nobody

[2020-10-08 18:06] vietj commented on #553
closed by https://github.com/eclipse-vertx/vert.x/issues/3597

[2020-10-08 18:06] #553 closed, assigned to vietj

[2020-10-11 04:45] frank9527889 opened #556 "Failed to send eventbus message."
### Questions
 Failed to send eventbus message.

### Version
all

### Context
  Connecting to server ef468d8c-fbd8-44cb-9b5d-01d692e02f69 failed io.netty.channel.AbstractChannel$AnnotatedConnectException: Connection refused: /172.16.0.173:34003

 When the connection fails, the nodeinfo information is not cleared, resulting in obtaining the unavailable node information. Failed to send an eventbus m

[2020-10-14 08:49] aesteve opened #557 "Get Proxy configuration from system (env. variables or JVM properties)"
#### Describe the feature

Vert.x has ` ProxyOptions` but doesn't take into account the system configuration:
* Env. variables
  * `http_proxy`
  * `https_proxy`
  * `no_proxy`
* JVM properties
  * `https.proxyHost`
  * `https.proxyPort`
  * `http.proxyHost`
  * `http.proxyPort`
  * `http.nonProxyHosts`

#### Use cases

For every application working behind a (changing) corporate proxy, the creatio

[2020-10-14 12:49] tsegismont commented on #556
Please reopen this bug in the repository corresponding to the cluster that you use. Would be helpful if you could add some snippets/reproduction instructions. Thank you

[2020-10-14 12:49] #556 closed, assigned to nobody

[2020-10-20 13:48] vietj opened #558 "Decouple event-bus JavaScript release from stack"

[2020-10-21 00:59] lonelyleaf opened #559 "java.lang.ClassCastException when subscribe mqtt topic"
### Questions
After mqtt established connection and subscribe topic the client throws excption

[code]

### Version

vertx 3.9.4

### Context

jdk11
gradle 6.6

[log.txt](https://github.com/vert-x3/vertx-mqtt/files/5407788/log.txt)
![mqtt-bug1](https://user-images.githubusercontent.com/9879800/96568020-0df1b380-12fa-11eb-9cb1-c2b864ffc970.png)
![mqtt bug2](https://user-images.githubusercontent.com

[2020-10-21 02:26] lonelyleaf commented on #559
I tried to extract my code from multi-module gradle project to a single-module project using the same dependencies,and the client works fine(no excpetion throwed). What's the possible case of `ClassCastException`?

[2020-10-21 03:39] runnermann opened #560 "Netty Dependencies identified with a CVSS score of 9.1 during org.owasp:dependency-check"
While attempting to upgrade to vertx 4.0.0-milestone4, our project failed during compile time: The org.owasp dependency-check-maven reported that the netty dependency had a CVSS score was 9.1. The report provided the following:

Dependencies: netty-transport-4.1.42.Final.jar

CVE-2019-20444

HttpObjectDecoder.java in Netty before 4.1.44 allows an HTTP header that lacks a colon, which might be inte

[2020-10-21 06:42] pmlopes commented on #560
@runnermann the latest beta is `4.0.0.Beta3` please try that instead as that milestone was releases more than 9m ago and it was just a showcase of the 4.0.0 branch at that time.

[2020-10-21 08:04] vietj commented on #559
can you provide a reproducer project ?

[2020-10-21 09:33] #560 closed, assigned to nobody

[2020-10-21 09:38] vietj opened #561 "Release simplification"
Release process simplification for Vert.x 4 line (https://github.com/vert-x3/wiki/wiki/Release-Process)

- custom [home-brew third party repository](https://docs.brew.sh/Taps)
- https://github.com/vert-x3/vertx-bus-bower decouple from stack release (using a different version based on the protocol instead of the version implementing the protocol) that is deployed to NPM and WebJars
- un-necessary B

[2020-10-21 11:03] vietj commented on #557
thanks @aesteve it is interesting. I think we could support static method for creating proxy options but we would not use them by default

[2020-10-21 14:55] jponge commented on #561
LGTM

[2020-10-21 19:11] pmlopes commented on #561
Bower has deprecated itself more than 3 years ago:

https://bower.io/blog/2017/how-to-migrate-away-from-bower/

Maybe it's time we also stop releasing it with 4.0.0

With the current tools, npm, yarn, webpack, parcel, etc... https://github.com/vert-x3/vertx-stack/tree/master/stack-npm/src/main/npm/client is enough. Same for webjars. Webjars can refer to npm packages if needed.

So I'm proposing to

[2020-10-21 19:19] pmlopes commented on #561
For the npm part we can also stop the min and full distributions. They are broken for Windows users due to the way npm handles scripts.

[2020-10-22 01:09] runnermann commented on #560
Yes! Thanks that solves the issue. No reported CVS. :)

[2020-10-22 07:20] vietj commented on #561
@pmlopes what is the use case distributing vertx with NPM ? is it related to vertx-lang-js ?

[2020-10-22 07:20] vietj commented on #561
or perhaps it's the only way to get a vertx distribution on windows ?

[2020-10-23 04:50] pmlopes commented on #561
No, it was yet another option to distribute the "distribution" just like home brew.

[2020-11-06 11:32] #485 closed, assigned to slinkydeveloper

[2020-11-09 16:56] jponge opened #562 "Possible JWT handler regression"
Running the code of https://github.com/jponge/vertx-in-action/tree/master/part2-steps-challenge I have failures with the JWT web handler (all other tests pass).

The tests that fail are those where a user shall be identified using JWT:

<img width="1559" alt="Screenshot 2020-11-09 at 17 37 46" src="https://user-images.githubusercontent.com/25961/98571053-680be600-22b4-11eb-9858-0df803375477.png">

[2020-11-09 19:27] pmlopes commented on #562
@jponge the goal to keep all user object internal state consistent between all auth modules was that:

* `principal` contains unmodified/undecoded data that can at any moment be used to create the object
* `attributes` contains decoded data/data that can mutate during a session

This means that the property you're looking for, now lives on `ctx.user().attributes()` I can try to revert it back/keep

[2020-11-09 20:04] jponge commented on #562
These are book examples, I cannot make a fix since that code is in print, so we need to have `principal` return the token attributes entries like it used to be a few weeks back.

It's probably worth being consistent in OAuth as well.

The best is to keep the old behaviour, introduce `.attributes()`, and document that `principal` will no longer return the entries at some point in the future.

[2020-11-09 21:46] jponge commented on #562
Can we have it in 4.0.0.CR2?

[2020-11-10 05:49] pmlopes commented on #562
Sure, I'll get it done today

[2020-11-10 09:02] jponge commented on #562
Fixed in `vertx-auth` / `master`, waiting for `4.0.0.CR2`

[2020-11-10 09:02] #562 closed, assigned to pmlopes

[2020-11-13 12:30] vietj opened #563 "Vert.x 4 GH actions CI"
- [x] workflow template that can be reused within the organizations
  - [x] vert-x3
  - [x] eclipse-vert
  - [x] custom SVG icon
- [ ] build requiring customizations
   - [x] vertx-core
      - [x] CI deployed
      - [x] Windows test
   - [x] vertx-sql-client
   - [x] vertx-hazelcast
   - [x] vertx-grpc
   - [x] vertx-web
   - [x] vertx-zookeeper
   - [x] vertx-auth
   - [x] vertx-redis-client

[2020-11-17 13:13] pmlopes commented on #540
@dirien I've pushed to the 3.9 branch of `vertx-auth` a fix to allows certificate chains in JWKs endpoints. Can you run some tests on your side?

[2020-11-19 14:22] elfogre opened #564 "Vert.x 4 RC1 HttpContext null clientRequest bug"
Hello!

I'm upgrading a working project from vert.x3 to vert.x4 to use your new tracing capabilities and I found a bug in web client.

We have a handler to store cache responses during DISPATCH_RESPONSE Phase. We get some info from HttpContext.clientRequest in vert.x3 without problem, but now in vert.x4 our HttpContext.clientResponse is null in DISPATCH_RESPONSE. Doc says it should be non null: on

[2020-11-19 14:41] elfogre commented on #564
Also in SEND_REQUEST phase is null.

[2020-11-20 07:56] vietj commented on #564
could you provide a reproducer project ?

[2020-11-26 14:22] tsegismont commented on #563
On GH Actions, I've noticed we cache the whole repository. On Travis we used to exclude what's in `{repo}/io/vertx`

This might be the reason we had a failure on GraphQL Apollo tests last week after updating `BodyHandler` in `vertx-web`

Perhaps we should do this:

[code]

[2020-11-28 10:36] dangerLT opened #565 "Reactive MySQL Client ,column type json ,use the rowset to tabke column vvalue is mistaken code"
### Questions
Reactive MySQL Client ,column type json ,  when the column value contains chinese , use the rowset to tabke column vvalue is mistaken code
row.getString()'value is
my db charset is utf-8  mysqlPool'option charset is utf-8 too.
### Version
mysql version is 8.0.22
vertx'dependencies is 3.94
os = windows10
jdk  is  graalvm-ce-java11-windows-amd64-20.3.0

[2020-11-28 12:24] BillyYccc commented on #565
I think it has been fixed in https://github.com/eclipse-vertx/vertx-sql-client/issues/790 recently, can you try `3.9.5-SNAPSHOT` to see if it works for you?

[2020-11-29 10:32] yn-tadpole commented on #538
You are right :)

[2020-11-29 10:32] #538 closed, assigned to nobody

[2020-11-30 02:24] dangerLT commented on #565
I  try 4.0 milestone 5 , the column value contains the chinese word , the client'result still is mistaken code

[2020-11-30 10:22] BillyYccc commented on #565
The changes are not included in the milestone5 release, you can try 4.0.0.CR2 instead.

[2020-12-01 01:37] dangerLT commented on #565
yes be fixed in 4.0.0 CR2 , THANKS!!!!

[2020-12-01 01:38] #565 closed, assigned to nobody

[2020-12-01 12:20] pmlopes commented on #524
@vietj I've just noticed that as we missed `vertx-bridge-common` in web a jpms application will fail to build if it attempts to configure the eventbus sockjs bridge as the classes are not made public.

[2020-12-01 13:31] pmlopes commented on #524
I've re-open it because we faced a issue with:

https://github.com/vert-x3/vertx-bridge-common/pull/6

Can we settle on a name for it?

`io.vertx.bridge.common` or `io.vertx.eventbus.bridge.common` ?

[2020-12-01 15:25] develrulez commented on #540
Hi @pmlopes, please excuse the late response. I've missed your hint for the fix. It works perfectly well with the version 3.9.5-SNAPSHOT. Thanks a lot! When can we expect a release of this version and more important an update of `vertx-auth` in a new Quarkus version?

[2020-12-01 15:48] pmlopes commented on #540
Hi @develrulez releases are managed by @vietj , maybe he may give an estimate on a date

[2020-12-04 01:56] NamTranHong commented on #302
I also faced this problem. Anyone can do it successfully?

[2020-12-04 09:43] tsegismont commented on #302
Can you provide a simple reproducer?

[2020-12-04 16:25] #561 closed, assigned to nobody

[2020-12-04 16:25] #558 closed, assigned to nobody

[2020-12-07 20:39] #484 closed, assigned to nobody

[2020-12-07 20:40] vietj commented on #564
please provide a reproducer

[2020-12-07 20:41] #563 closed, assigned to nobody

[2020-12-07 20:42] #500 closed, assigned to nobody

[2020-12-07 20:45] vietj opened #566 "Vert.x 4 Roadmap"
### Other stuff

* [ ] Migrate vertx-auth to FDN

### 4.x, x > 3

* [ ] Java concurrency review
* [ ] Web Template engines cache behavior is inconsistent across engines
* [ ] Vert.x examples
  * [x] Use futures
  * [x] Move large examples to how-tos
  * [ ] Remove usage of CLI
  * [ ] Remove or replace deprecated examples (jdbc-client, old redis client, etc...)
  * [ ] Build passes without depreca

[2020-12-07 20:54] jponge commented on #500
🥳  🎈

[2020-12-15 11:11] pmlopes opened #567 "Deprecation of vertx3-eventbus-client NPM module"
For every release of the vert.x stack there has been a release of `vertx3-eventbus-client` npm module. This module source hasn't changed for years. In fact, it only triggers downstream users to rebuild applications without any code changes other than rev'ing up the dependency versions.

For this reason, users are advised to update their dependencies to the new module:

https://www.npmjs.com/packag

[2020-12-15 11:21] pmlopes opened #568 "Deprecation of NPM vertx-{full|min}"
In  vert.x 3.x there 2 modules that are released to npm with every release of the stack. These npm modules are:

* https://www.npmjs.com/package/vertx3-full
* https://www.npmjs.com/package/vertx3-min

## Rationale

These 2 modules have a problem that prevents them from being properly usable from Microsoft Windows operating systems.

The limitation comes from the way npm handles the binary scripts,

[2020-12-15 11:34] #567 closed, assigned to nobody

[2020-12-15 11:34] #568 closed, assigned to nobody

[2020-12-19 16:03] hunghlh98 commented on #302
You should use the same function on register and unregister, this work on my case. Hope this help!

[2021-01-05 13:30] InfoSec812 opened #569 "Improve Infinispan clustering docs by adding details around requirements for firewalls, mDNS, etc..."
#### Describe the feature

Per discussions with @tsegismont -

This is a documentation improvement based on experiences I have had with Vert.x users and clients. Many get frustrated that examples of Infinispan clustering do not work on their computers when running MacOS or Windows. This is often caused by the built-in or company mandated firewalls and security software.

#### Use cases

- When a d

[2021-01-05 13:31] InfoSec812 opened #570 "Improve Hazelcast clustering docs by adding details around requirements for firewalls, mDNS, etc..."
#### Describe the feature

Per discussions with @tsegismont -

This is a documentation improvement based on experiences I have had with Vert.x users and clients. Many get frustrated that examples of Hazelcast clustering do not work on their computers when running MacOS or Windows. This is often caused by the built-in or company mandated firewalls and security software.

#### Use cases

- When a de

[2021-01-16 17:21] dratler commented on #182
Hi @vietj
I have a basic PR for getting all Redis metrics.
for ``https://github.com/eclipse-vertx/vert.x/tree/client-metrics`` I'm getting 404 page not found therefor I have worked by look and feel for InfoDb and HttpClientMetrics.
is that a good Idea ?

[2021-01-18 08:39] vietj commented on #182
@dratler now this branch is merged in master so it should work

[2021-01-18 09:15] #546 closed, assigned to nobody

[2021-01-18 09:15] vietj commented on #546
See https://github.com/vert-x3/issues/issues/552

[2021-01-18 09:15] #552 closed, assigned to vietj

[2021-01-18 09:37] #564 closed, assigned to nobody

[2021-01-18 09:38] vietj commented on #564
no reproducer provided

[2021-01-20 10:54] gmcrobert opened #571 "Buffer should throw IndexOutOfBoundsException reading beyond the logical end"
### Version

Which version(s) did you encounter this bug ? Vertx 4.0

### Context

If you create an empty Buffer using `Buffer.buffer()` and then append some data, you can read beyond the logical end of the buffer.

### Do you have a reproducer?

An Empty buffer correctly identifies that it is wrong to read past the logical end of the buffer so this test passes:

    @Test
    void correctBufferBe

[2021-01-20 13:06] vietj commented on #571
did you check with Vert.x 3 ?

[2021-01-20 16:12] domherro commented on #282
@tsegismont Hi.

Maybe i misunderstood something. If the executor is the eventloop-thread (based on the code in your last reply) for the async caffeine support buildAsync method, what´s the difference with the non-async cache build method? I mean, that portion of code will be executed in the eventloop thread for non-async caffeine cache. If caffeine is fast when perform operations, the performance

[2021-01-20 16:52] vietj opened #572 "Upgrade to Netty 4.1.58.Final"
And tcnative 4.1.36.Final

[2021-01-20 17:40] gmcrobert commented on #571
Version 3.9.5 displays the same behaviour.

[2021-01-20 19:09] gmcrobert commented on #571
So it looks like this problem arises because the `get...` methods map directly to the Netty `ByteBuf` equivalent methods which don't honour the `readIndex/writeIndex` and `readableBytes` but do honour the end of the physical buffer. In Netty, the `read...` methods do honour the `readIndex/writeIndex` and `readableBytes` so will throw an `IndexOutOfBoundsException` but the behaviour of the reads ar

[2021-01-21 09:57] tsegismont commented on #282
@domherro you need the async build method if loading the value involves an async method call (for example sending a query to a dabase). If loading the value is a matter of simple computation, then indeed the async build is not needed.

[2021-01-21 15:15] oleg-kiriyenko opened #573 "Vertx 3.9.5 tries to connect failed node"
### Questions

After node fails vertx still tries to connect (send message) to the failed node.

### Version

3.9.5 on Windows 2012R2

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

No. Only log of vertx and hazlecast.

### Steps to reproduce

1. Start vertx cluster
2. Disconnect one node
3. Send request to the active node. It will send it

[2021-01-21 15:21] tsegismont commented on #573
Can you please open this issue in `vertx-hazelcast` ? Thank you.

Also, we'd need some basic information in order to reproduce: snippets, how the application is packaged/started/stopped.

[2021-01-21 15:21] #573 closed, assigned to nobody

[2021-01-22 13:30] oleg-kiriyenko commented on #573
https://github.com/vert-x3/issues/issues/573#issuecomment-764716939

I managed to reproduce an issue in small project if I add my own node listener to the cluster manager.
I need it because I have some complex logic of cluster leader selection and standard HAManager doesn't fit my needs.
How is it possible to overcome an issue? To have own cluster node listener for application needs.

[code]

[2021-01-28 13:39] vietj commented on #571
@gmcrobert I agree with you - I will check the behavior on Netty side for the getXXX methods and get back to this

[2021-01-28 13:43] vietj commented on #571
Actually as I read it, indeed getXXX method only cares about capacity and not the reader or writer index.

I need to check how this behaves with buffer having a different reader index too.

[2021-01-28 14:38] vietj commented on #571
so I think we will add checks using the writer index of the buffer instead of the capacity

[2021-01-28 14:51] vietj commented on #571
See https://github.com/eclipse-vertx/vert.x/issues/3775

[2021-01-28 15:40] #571 closed, assigned to vietj

[2021-01-29 08:06] #572 closed, assigned to vietj

[2021-01-29 08:43] tsegismont commented on #573
Indeed, you shouldn't replace the Vert.x node listener.

You could create a Hazelcast instance from your config and register your own membership listener.

[2021-01-29 09:03] oleg-kiriyenko commented on #573
I solved a problem with the hack. Is it possible to add API addNodeListener/removeNodeListener

My hack is. It could be used to extend API.

[code]

[2021-02-12 09:33] vietj opened #574 "Netty 4.1.60.Final upgrade"
- CQ https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23039
- checked against gRPC 1.35.0

[2021-02-16 16:39] vietj opened #575 "Metrics regression"
Currently vertx-dropwizard-metrics build fails because custom options cannot be loaded from the options as they are replaced sometimes with a new instance.

This build shows the issue : https://github.com/vert-x3/vertx-dropwizard-metrics/runs/1908022188?check_suite_focus=true , e.g

[code]

It can be reproduced by simply running this test locally too.

I think we are missing a corresponding test i

[2021-02-16 21:24] tsegismont commented on #575
@vietj this is not a regression from my patch (actually the [PR](https://github.com/eclipse-vertx/vert.x/pull/3810) is not merged yet)

The problem comes from:

https://github.com/eclipse-vertx/vert.x/blob/d9f1b16272c1d79828ca7d970352f3c3eb461a11/src/main/java/io/vertx/core/spi/VertxMetricsFactory.java#L44

It doesn't work because the `toJson` method in `DropwizardMetricsOptions` does not take sev

[2021-02-16 21:25] vietj commented on #575
ok I'll ahve a look myself then

On Tue, Feb 16, 2021 at 10:24 PM Thomas Segismont <notifications@github.com>
wrote:

[2021-02-18 11:32] vietj commented on #575
thanks @tsegismont you are totally right: https://github.com/vert-x3/vertx-dropwizard-metrics/issues/104

[2021-02-18 11:32] #575 closed, assigned to tsegismont

[2021-02-18 12:33] injecteer opened #576 "Add asBoolean() to AsyncResult make use in Groovy more consise"
Now to check the AsyncResult instances for success the following code is used:

[code]
I would be good to add a default method to AsyncResult interface to mirror succeeded():

[code]
according to [Groovy Truth](https://groovy-lang.org/semantics.html#Groovy-Truth) to make Groovy code look simpler to read:

[code]

[2021-02-18 13:34] vietj commented on #576
can that be done with an extension method in groovy ?

On Thu, Feb 18, 2021 at 1:33 PM injecteer <notifications@github.com> wrote:

[2021-02-18 13:45] injecteer commented on #576
You mean with global AST transformation? Yes, sure

The amount of code is going to be relatively big comparing to default interface method though

[2021-02-18 16:23] vietj commented on #576
I think the best would be to cnotribute this as an extension method  in
vertx-lang-groovy in Vert.x 4

we already have extension methods there for Groovy:

https://github.com/vert-x3/vertx-lang-groovy/blob/master/src/main/java/io/vertx/lang/groovy/VertxExtensionModule.java

On Thu, Feb 18, 2021 at 2:46 PM injecteer <notifications@github.com> wrote:

[2021-02-18 23:40] injecteer commented on #576
https://gist.github.com/injecteer/945af9faf519f65a4801a13f2cad2d93

[2021-02-18 23:41] injecteer commented on #576
I tried shortly the method in Gist and it works like a charm

[2021-02-19 09:08] vietj commented on #576
Do you mind doing a PR ?

On Fri, Feb 19, 2021 at 12:41 AM injecteer <notifications@github.com> wrote:

[2021-02-19 10:21] injecteer commented on #576
Have a look please.

[2021-02-19 14:33] #576 closed, assigned to nobody

[2021-03-10 08:48] #574 closed, assigned to vietj

[2021-03-31 14:23] GustavoGramajo commented on #418
@pmlopes i tried setting Json.mapper.enable(DeserializationFeature.USE_BIG_DECIMAL_FOR_FLOATS) but it keeps failing to deserialize the message from the bus (i have a BigDecimal in the message). I'm using Quarkus 1.13.0, which seems to use Vertx 3.9.5; if necessary i could provide a reproducer. Thanks for your time!

[2021-04-19 10:01] hero-zhanghao commented on #481
Hello, everyone, I want to know the progress. Will RSocket be supported in the future?

[2021-05-11 13:11] clsaa opened #577 "ConnectionHolder - Connecting to server failed"
Hi, I use EventBus of VertX to realize the P2P communication between cluster nodes, but sometimes the following exceptions will be reported in the communication between nodes.
This problem is particularly evident after the cluster is restarted, and it is common for several nodes in the cluster to fail to connect.

MyConfig：

 EventBusOptions eventBusOptions = new EventBusOptions()

[2021-05-17 08:36] tsegismont commented on #577
When you restart some nodes it is possible that:

- a node is removed from the node info after it has been selected as the destination for a message
- a node is stopped before having replied to all the messages it received

Consequently, your system must be prepared for message loss if using `send` (fire and forget). If you use `request` (request/reply), you may implement a retry strategy when a t

[2021-05-17 08:36] #577 closed, assigned to nobody

[2021-05-18 11:06] vietj opened #578 "Netty 4.1.64.Final upgrade"
- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23323
- https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23325

[2021-05-18 11:56] #578 closed, assigned to nobody

[2021-05-31 07:45] slinkydeveloper opened #579 "Support unstable APIs in stable packages"
#### Describe the feature

Define a way to support in Vert.x unstable APIs.

#### Use cases

Plenty of times, while developing new Vert.x APIs in stable packages, I've found myself requiring to create some api as unstable, in order to let the community try it and gather feedback.

I propose to add an annotation like `@Unstable`, just for documentation purpose, to tag the new APIs that still needs

[2021-05-31 09:06] vietj commented on #579
I do support this, in addition we should have an optional message in the API to give more context.

The API should handle also other level like package or class/interface

[2021-06-01 10:18] pmlopes commented on #579
Yes I'd prefer to see:

[code]

Plus codegen should be able to extract this information to the `MethodInfo` type so extensions could use this information too.

[2021-06-01 11:55] tsegismont opened #580 "Documentation for Reactive programming"
In various docs we have a section for Reactive programming with RxJava 2.

For example:

- https://vertx.io/docs/vertx-cassandra-client/java/#_rxjava_2_api
- https://vertx.io/docs/vertx-pg-client/java/#_rxjava_2_api

Given RxJava 2 is no longer maintained, I think we should update those to RxJava 3.

In most cases it consists in changing titles/wording, not examples themselves.

- [x] vertx-rx htt

[2021-06-01 12:06] vietj commented on #579
right.

"this method is unstable and might break anytime, use with caution"

could be the default message :-)

On Tue, Jun 1, 2021 at 12:18 PM Paulo Lopes ***@***.***>
wrote:

[2021-06-04 16:32] tsegismont commented on #580
@vietj I built `vertx-stack/stack-docs` and checked the changes. Tell me if you want to review the PRs or if I shall go ahead and merge.

[2021-06-07 06:30] vietj commented on #580
LGTM

[2021-06-07 07:28] #293 closed, assigned to nobody

[2021-06-07 07:28] vietj commented on #293
reopen with a new PR that fixes it with ECA valid

[2021-06-07 08:46] #580 closed, assigned to tsegismont

[2021-06-08 13:49] #12 closed

[2021-06-08 13:50] #16 closed

[2021-06-08 13:53] #42 closed

[2021-06-08 21:02] #98 closed

[2021-06-08 21:07] #172 closed, assigned to nobody

[2021-06-15 19:06] techsavvyme commented on #225
RFC 2817 specifies the two port solution is not practical and was specifically written to prevent multiple 2 port solutions.  This problem rears its head specifically when using IPP (an Apache HTTP module written to support IPP).  Apache HTTP "SSLEngine optional" directive does not appear to work properly when RFC 2817 section 3.2 Mandatory Upgrade is sent by IPP client. Apache responds with Secti

[2021-07-01 11:10] #197 closed, assigned to nobody

[2021-07-01 11:13] #330 closed, assigned to nobody

[2021-07-01 11:14] #373 closed, assigned to nobody

[2021-07-05 23:36] angelsanzn commented on #566
Could you provide a bit more info about the scope of the Oracle client item?

[2021-07-06 08:51] vietj commented on #566
we are planning this for 4.2

On Tue, Jul 6, 2021 at 1:36 AM Ángel Sanz ***@***.***> wrote:

[2021-07-06 11:20] angelsanzn commented on #566
Hi Julien, thanks for the prompt reply. My question was about the scope of the feature. Is it a full Oracle DB client which does not use JDBC?

[2021-07-06 11:33] vietj commented on #566
this is actually a wrapper of Oracle JDBC Reactive Extensions
(https://docs.oracle.com/en/database/oracle/oracle-database/21/jjdbc/jdbc-reactive-extensions.html#GUID-1C40C43B-3823-4848-8B5A-D2F97A82F79B)

it is not possible to perform or implement wire level access for
Oracle for legal or technical reasons.

On Tue, Jul 6, 2021 at 1:20 PM Ángel Sanz ***@***.***> wrote:

[2021-07-27 15:28] vietj opened #581 "Netty 4.1.66.Final upgrade"
- Netty 4.1.66.Final
- tcnative 2.0.40.Final

[2021-07-27 15:28] #581 closed, assigned to vietj

[2021-08-03 15:36] overshareware commented on #524
Is there any information on the status of the rxjava packages? They're listed as 'postponed' but I can't find any more information on why or if that will be resolved?

[2021-08-03 18:07] vietj commented on #524
I don't remember why we didn't do it for rxjava

[2021-08-03 18:07] vietj commented on #524
I'd like to remember the reason and get the context

[2021-08-18 08:03] #121 closed

[2021-08-18 08:03] #110 closed

[2021-08-18 08:47] tsegismont commented on #110
For the record, this is possible since Vert.x 4.0 (using a custom delivery strategy).

[2021-08-19 06:51] vietj opened #582 "Update to docgen 0.9.4"
Docgen 0.9.3 does not work anymore with latest Java builds as it uses un-exported jdk.compiler classes resulting in compilation failures:

[code]

0.9.4 gets away from these compilation.

[2021-08-19 06:52] #582 closed, assigned to nobody

[2021-08-19 07:58] vietj opened #583 "Netty 4.1.67.Final upgrade"
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=23660

[2021-08-19 07:58] vietj commented on #583
Should be back-ported to 4.1 branch.

[2021-08-29 16:44] InfoSec812 commented on #343
@dhoffer I'm in the process of improving the support for this type of workflow. Have a look at the [Archetype](https://github.com/redhat-appdev-practice/openapi-vertx-archetype) I am working on which leverages [OpenAPI Generator](https://openapi-generator.tech) to create the models. I'm also working on improving the Generator for Vert.x such that this will all be mapped using [Web API Services](ht

[2021-08-29 16:55] InfoSec812 opened #584 "Improvements For Web API Services"
#### Describe the feature

Modify the Web API Service code generators to support responses with custom exceptions. Right now, in an implementation of the service interface, if I call the provided handler with a custom exception the information in the message is never surfaced.

Example:

[code]

The resulting REST response created by `ErrorHandler` does not retain that custom error message. It app

[2021-08-30 09:00] #583 closed, assigned to vietj

[2021-08-31 07:27] pmlopes commented on #584
@InfoSec812 this is definitely something we should improve. Currently, we started to use `HttpException` as the “default” exception type in vert.x web to signal exceptions with an associated HTTP status code. It seems we didn't consider the full stack.

If we could make these 2 exceptions, a hierarchy, then we could solve the problem by itself.

Given that service exception lives in `vertx-service

[2021-09-02 13:18] vietj commented on #584
is there a way to have service-proxy ship directly the code using `ServiceException` ?

[2021-09-02 13:19] vietj commented on #584
it looks like a bug to me do you have a simple reproducer ?

[2021-09-02 14:59] InfoSec812 commented on #584
@vietj Yes, here is a reduced and simplified [reproducer](https://github.com/InfoSec812/vertx-web-api-exception).

[2021-09-24 22:28] CryptoBugi opened #585 "Improvement of multipart/form-data validation based on OpenAPI 3 contract"
**Describe the feature**

At the moment, validation of a multipart/form-data request containing a JSON part is only incompletely supported: The validation of form attributes (name + Content-Type) is performed, but the JSON content itself is not checked. By implementing this feature, an eventually existing JSON part shall also be validated according to the OpenAPI spec.

Example:

For the following

[2021-09-26 13:37] InfoSec812 commented on #585
@CryptoBugi - I have reviewed the code and right now it works as documented here: https://vertx.io/docs/vertx-web-openapi/java/#_multipartform_data_validation

I see what it is that you are asking for beyond what is currently supported and while I think it's possible it will be some time before I could implement such a change. For anyone else looking at this, I believe we could add a new branch he

[2021-09-26 13:56] InfoSec812 commented on #585
Oh! One concern I would raise is that if we implement this, it would also make sense to support XML and potentially any other OpenAPI 3 supported data format. That could get difficult to maintain. The alternative is for the implementing developer to create their own validations where needed for multipart files.

[2021-09-26 14:02] InfoSec812 commented on #585
Here's what I am thinking might be a good starting point:

[code]

[2021-09-26 22:06] rhino-harley opened #586 "Support custom deserialization in OpenAPI support"
Currently the OpenAPI support provided by vert.x converts an OpenAPI JSON payload into a JsonObject. When an application then wants to map this to some POJOs for internal representation, then they must call json.mapTo(POJO.class). This is inefficient, as the object must be mapped once from JSON to JsonObject and then once from JsonObject to POJO. It would be nice if API supported body.getObject(Cl

[2021-09-27 14:14] InfoSec812 commented on #586
@rhino-harley I'm pretty sure there would be no gain in efficiency as the underlying operations would remain the same. Jackon's ObjectMapper would still be doing the same steps/operations. Unless @pmlopes or @vietj or @jponge or @tsegismont have a different perspective, I believe that `ctx.getBody().mapTo(POJO.class)` makes the most sense.

[2021-09-29 15:23] pmlopes opened #587 "Revisit the callback APIs in OAuth2/OTP/Webauthn, they are quite error prone and easily forgotten."

[2021-09-29 15:26] pmlopes commented on #587
Web security handlers require the use of HTTP callbacks, the setup is not complex but it has a big developer experience problem.

1. When a developer forgets a callback the application does start as expected but doesn't work as expected
2. The handlers require an origin or url in the setup but this is not used until a callback it setup
3. the verification of the callback path and the origin isn't

[2021-09-30 01:14] rhino-harley commented on #586
@InfoSec812 Using plain old jackson, if I register a custom deserializer, I can interpret the JsonToken tree directly without have to create either JsonNode or JsonObject objects. Using your suggestion we would be first parsing into a JsonObject tree and then having to map it separately which is less efficient. I was thinking something more like `ctx.getBody(POJO.class)`. Thoughts?

[2021-09-30 11:48] pmlopes commented on #587
To illustrate the problem, consider the following application:

[code]

From a developer point of view, there are 2 major concerns here. The creation of the handler requires a URL origin to inform about the callback location: `http://localhost:8080/callback`. This URL must refer to a route in this application, but in fact it is currently only used to validate the origin of the incoming requests.

[2021-09-30 12:28] InfoSec812 commented on #586
OK, I tried to implement what it is you are asking for and it would require adding a hard dependency on some new libraries to `vertx-web`. Specifically, we would need to add Jackson Databind. Something you might consider trying instead might be:

[code]

That will bypass the intermediate Json/JsonObject/JsonArray objects.

[2021-09-30 12:56] InfoSec812 commented on #586
I tried implementing this and writing some tests around it, but I am getting a strange error from the traditional method:

When I call:

[code]

I get a `DecodeException` with the message:

[code]

Branch can be found here: https://github.com/InfoSec812/vertx-web/tree/Issue-586-_-Custom_body_deserialization_from_Buffer

[2021-09-30 16:56] InfoSec812 commented on #586
OK, that branch and the associated unit tests work now. That said, based on discussions on Discord the dependency on jackson-databind was explicitly removed from `vertx-web` and is not likely to be added back for a feature which can be implemented by a developer in a single line. @rhino-harley I suggest you use the solution mentioned above which bypasses the intermediate Json object.

[code]

[2021-09-30 17:14] InfoSec812 commented on #586
I just finished some microbenchmarking as well. The results were pretty clear. The performance difference between `JacksonFactory.INSTANCE.codec().fromBuffer(ctx.getBody(), TestPojoA.class)` and `ctx.getBodyAsJson().mapTo(TestPojoA.class)` is pretty much negligible. Slight memory increase which is only noticeable on my machine after 10000 iterations.

[2021-09-30 20:33] rhino-harley commented on #586
Thanks for trying this out so quickly. Interesting that there isn't much difference in there benchmark. How big were the messages that you benchmarked with? In my line of work (payments) we often have messages that are deeply nested with thousands of fields.

[2021-10-01 11:32] InfoSec812 commented on #586
I used a pretty simple object. The size of the JSON that you're using definitely could impact things. That said, the solution you can use to avoid the intermediate state is via `JacksonFactory` and it's a one-liner.

[2021-10-09 20:53] InfoSec812 commented on #586
@pmlopes or @tsegismont or @vietj - I believe you can safely close this issue

[2021-10-09 20:54] #586 closed, assigned to nobody

[2021-10-12 12:02] vietj opened #588 "Netty 4.1.69.Final upgrade"

[2021-10-14 08:59] vietj commented on #588
Bare testing with vertx-core reports a few issues that need to be addressed:

[code]

fixed by https://github.com/eclipse-vertx/vert.x/commit/96e1ce4738bdf2fe7d3ffc30487b2040664b3afd

[2021-10-14 14:21] tsegismont commented on #341
@jponge can you elaborate about where you thought the doc should be improved?

[2021-10-14 15:31] jponge commented on #341
We can close this one :-)

[2021-10-14 15:31] #341 closed, assigned to jponge

[2021-10-14 16:15] tsegismont commented on #579
We discussed this with @vietj today. We agreed to do something simple: adding the `@interface` annotated with `@Documented` so that the information is conveyed to the Vert.x API docs.

[2021-10-15 08:53] #588 closed, assigned to vietj

[2021-10-18 12:27] #579 closed, assigned to tsegismont

[2021-10-26 07:41] #192 closed, assigned to nobody

[2021-10-30 19:33] junnhk opened #589 "Infinispan got error with SqlAuthentication"
Hi Vertx team,

We are using Vertx on our private project, and we got the error.

Our environments:
1. Vertx : 4.2.0/4.1.5
2. Java : 17/11
3. Linuxmint 20

We created a Service Proxy for user to sign-up and sign-in, the constructor of implementation class of Service interface has following code:

[code]

The build was as normal but when we run fat jar then we got this error

[code]

**This happene

[2021-10-30 19:37] junnhk commented on #589
We got same above error when we created our own hashingPassword function instead of using SqlAuthentication.

[2021-11-01 18:39] ravindrahv opened #590 "Vertx MailClient 'createShared' is broken as of 3.x (3.9?)."
### Questions

Hello,

It has been observed that the 'createShared' implementation of Vertx is broken - in that the client tends to mix-up (interleave) the SMTP commands - MAIL FROM / RCPT TO / DATA sections (with regard to the RFC) under shared socket scenarios.

### Version

Which version(s) did you encounter this bug ?

3.x (Exact version is not known. Likely its 3.9. However, believe this shou

[2021-11-01 19:50] #590 closed, assigned to nobody

[2021-11-01 19:50] ravindrahv commented on #590
Created issue under vertx-mail-client !
https://github.com/vert-x3/vertx-mail-client/issues/171

[2021-11-02 10:46] KirillMoskvin commented on #550
Just run into the same issue on 3.8.3, is there any updates on this?

[2021-11-02 13:37] vsigler commented on #481
I'm going to do a ping as well since it's been 6 months since the last one. Do we expect rSocket support to happen in near future?

[2021-11-03 06:52] vietj commented on #550
do you have a way to reproduce it @KirillMoskvin ?

[2021-11-03 15:25] tsegismont commented on #589
It seems `infinispan-commons` JAR has a `/META-INF/services/java.net.spi.URLStreamHandlerProvider` file which contains:

[code]

But the corresponding class in not available in the JAR, only in `infinispan-commons-jdk11`.

Is that a known issue @tristantarrant?

[2021-11-03 15:57] tristantarrant commented on #589
[code]
Are you by any chance creating a uberjar and forgetting to enable the `Multi-Release: true` in the `META-INF/MANIFEST.MF` file ?

[2021-11-03 16:20] tsegismont commented on #589
Thank you @tristantarrant

@junnhk can you confirm?

[2021-11-03 17:16] junnhk commented on #589
@tsegismont sure, after re-packaging fat jar with missing class, the app worked properly.

[2021-11-03 17:16] #589 closed, assigned to tsegismont

[2021-11-12 15:07] junnhk opened #591 "gRPC - consistency of plugin versions (protoc, protoc-gen-grpc-java)"
Recently, we have participated Vertx-gRPC to apply to our project. When implementing plugin of protoc and protoc-gen-grpc-java, we got confusion of versions which will be used to compile successfully ?

Our environment
Vertx : 4.2.0
Java: 17/11
Maven
Linuxmint 20

[code]

As the guide from Vertx's docs, it said, protoc.version is 3.2.0 and protoc.gen.version is ${vertx.grpc.version}. That was uncl

[2021-11-16 15:54] pmlopes opened #592 "Revisit router internals to avoid misconfigurations (e.g.: shaded routes)"
Vert.x router is a simple sequence of routes that get evaluated in order.

This simplicity works, yet it requires users to be aware of shading of routes, for example:

[code]

Given the request: `/foo/bar`

Both routes are valid, but should we consider `bar` as `:id` or `*`?

The behavior is undefined and currently it's solved by the order the route has been added.

This would be fine, except, we

[2021-11-24 15:11] pmlopes commented on #587
Another idea is to create explicit methods in the route, for example:

[code]

Having such granularity allows the route object to properly order the handlers:

1. `authn` and if there are any required callbacks, register before itself in the router
2. `authz`
3. user handler(s)

Configuration can be guaranteed to be correct vs:

[code]

Which silently will fail as there's no user yet as `authz` is

[2021-12-10 11:03] pmlopes commented on #587
I've been playing around with the current API and noticed that if we have a marker interface:

[code]

and add those to all callback related handlers we can have a callback action when the handler is added to the router. At this moment, we can mount the callbacks with the same order as the main handler, which will enforce that it will be added right before the main handler itself.

This will ensur

[2021-12-17 14:01] pmlopes opened #593 "Upgrade jackson to 2.13.x across the stack"
Currently, we have jackson "locked" to 2.11.x. This allows us to not break any json encode/decode across all vert.x components.

With the release of java 17 as LTS, users are starting to migrate to it and notice that the current jackson databind doesn't support `Records`: https://github.com/vert-x3/vertx-web/issues/1841

One solution is to upgrade to jackson 2.12.x (which is already 1 minor versio

[2021-12-17 14:22] pmlopes commented on #593
This issue depends on upgrading the dependencies of:

https://github.com/vert-x3/vertx-service-discovery/blob/e990b72d3e28d83b2264b0cbfc5258bb8aaeb6f0/vertx-service-discovery-bridge-docker/pom.xml#L141-L145

Perhaps switching to: https://github.com/docker-java/docker-java/blob/master/docs/transports.md

From Jersey to HttpClient5 (the "next" default) then the jackson transitive dependency is remov

[2021-12-20 09:51] pmlopes commented on #593
As the only blocked is fixed, 3.13.1 will be the new default version for jackson.

[2021-12-20 09:51] #593 closed, assigned to nobody

[2021-12-20 09:52] pmlopes commented on #593
Fixed by https://github.com/vert-x3/vertx-dependencies/commit/ea3690d31c77a50861fa1a8fde7b6de76a60bcda

[2021-12-21 07:18] laurentvaills commented on #293
Hi guys.
Any news on this problem?
@vietj I was not able to find that new PR that you were talking about.

We ran into that issue recently.

[2021-12-21 08:22] vietj commented on #293
this https://github.com/eclipse-vertx/vert.x/pull/2114

[2021-12-21 08:28] vietj commented on #293
I'll have a look myself today

[2021-12-21 08:38] laurentvaills commented on #293
Ok then that's the one I found, I thought there was another one.
Thanks to have a look Julien.

[2021-12-21 08:54] vietj commented on #293
- https://github.com/eclipse-vertx/vert.x/pull/4212
- https://github.com/eclipse-vertx/vert.x/pull/4213
- https://github.com/eclipse-vertx/vert.x/pull/4214

[2022-01-09 13:10] geoand commented on #566
@vietj what would be the best place to add `PcapWriteHandler` to the pipeline? Asking because when I added it in the same place as the `LoggingHandler`, things did not work becayse `PcapWriteHandler` needs to implement the `channelActive` method.

[2022-01-10 13:07] vietj commented on #566
it is not clear what you mean ?

[2022-01-10 13:10] geoand commented on #566
I am wondering what the proper place in Vertx is for adding the `PcapWriteHandler` to the Netty processing pipeline is.
If I just add it in the same places where `LoggingHandler` is being setup, then `PcapWriteHandler` results in NPEs because its `channelActive` method has not been called (I presume because it was added too late).

[2022-01-10 13:15] vietj commented on #566
that sounds weird, do you have a stack trace ?

[2022-01-10 13:16] geoand commented on #566
I'll have to build everything again and capture it. I'll to do that later on today or tomorrow.

[2022-01-10 13:17] vietj commented on #566
do you have a branch you can share too ?

[2022-01-10 13:22] geoand commented on #566
https://github.com/geoand/vert.x/tree/4.2.2-custom is what I had done.

But in order to get that working, I needed to also patch Netty and implement `handlerAdded` in `PcapWriteHandler` to simply do what `channelActive` does

[2022-01-10 13:37] vietj commented on #566
so the issue is that the handler is added too late and some handlers like logging handler do support it, but not the pcap write handler, is that right ?

[2022-01-10 13:41] geoand commented on #566
Exactly, that is how I understood the issue

[2022-01-10 13:42] vietj commented on #566
did you try subclassing the handler and have the handlerAdded call the channelActive method as workaround ?

[2022-01-10 13:45] geoand commented on #566
I didn't, but I assume that could work.

[2022-01-10 13:46] vietj commented on #566
just to see if that works

[2022-01-10 13:50] vietj commented on #566
nevertheless it would be good to have this handler in netty lazily handle things

[2022-01-10 13:50] geoand commented on #566
Yup, for sure. I'll take another look tomorrow

[2022-01-10 13:51] vietj commented on #566
also this handler is final, so it could work with a wrapper I think

[2022-01-11 06:43] geoand commented on #566
I have asked on https://github.com/netty/netty/issues/10385 to see if it's safe to implement `handlerAdeed`  as well. I asked because I was seeing some weird behavior which I am not sure is due to me doing something wrong, or `handlerAdded` being incompatible with `PcapWriteHandler`

[2022-01-17 09:41] pmlopes opened #594 "Create a Security audit handler"
Given the current focus of the industry on security, We should create a new simple handler that allows auditing of security events as documented by OWASP:

* https://owasp.org/www-project-security-logging/
* https://owasp.org/www-project-security-logging/migrated_content

The code handler should create a formatted logging string, inspired by:

* http://audit.qos.ch/
* https://logging.apache.org/lo

[2022-01-17 13:52] geoand commented on #566
`handlerAdeed` seems to be safe, but I am having problems writing the client and server capture to the same file so I've asked again on the netty issue.

[2022-01-17 14:44] vietj commented on #566
can the file path be specified ?

[2022-01-17 14:46] vietj commented on #566
I think the file name should be specified when creating the client or the server with something like a pattern in options ?

[2022-01-17 14:47] geoand commented on #566
Yes absolutely.

In what I have  now, if the server and client files are different, the capture works properly.

But I really wanted to have the capability to use the same file for all capturing. We'll see if it can happen or not.

[2022-01-17 14:57] vietj commented on #566
I think can we use something like a `Function<SocketAddress, AsyncFile>` on `NetClient`, `NetServer` etc... that would be configured with options by default.

[2022-01-17 14:58] vietj commented on #566
so default would be to use options, but user can specify a function for ultimate flexibility

[2022-01-17 15:04] geoand commented on #566
👍🏼

I'll wait and see what the Netty folks say about using a single file and then come back to this.

[2022-01-20 14:07] vietj opened #595 "Guava upgrade to 30.1.1-jre"

[2022-01-20 14:08] #595 closed, assigned to nobody

[2022-01-20 14:43] pmlopes commented on #595
Fixed by:

* https://github.com/vert-x3/vertx-grpc/pull/109
* https://github.com/vert-x3/vertx-stack/pull/130
* https://github.com/vert-x3/vertx-zookeeper/pull/123
* https://github.com/vert-x3/vertx-http-service-factory/pull/14
* https://github.com/vert-x3/vertx-service-discovery/pull/161
* https://github.com/vert-x3/vertx-health-check/pull/37
* https://github.com/vert-x3/vertx-maven-service-facto

[2022-01-28 11:54] geoand commented on #566
I found a few more cycles to take another look at this and actually it seems like the only issue is to properly manage writing the data from multiple sources into the output file.

Now I just need to think of what the proper way of doing that would be

[2022-01-28 14:49] geoand commented on #566
https://github.com/eclipse-vertx/vert.x/pull/4260 is a first draft of what I have in mind

[2022-01-30 17:09] InfoSec812 opened #596 "RxJava 1 bindings for new modules are no longer generated"
### Version

4.2.3

### Context

When I add the `io.vertx:vertx-rx-java:4.2.3` dependency, I expect that there should be a class something like:

`io.vertx.rxjava.ext.web.openapi.RouterBuilder` which can take `io.vertx.rxjava.core.Vertx` as an argument to it's 'rxCreate` method.

### Do you have a reproducer?

No

### Steps to reproduce

1. Add the `vertx-rx-java` and `vertx-web-openapi` dependenc

[2022-01-31 09:44] tsegismont commented on #596
It's seems only the RxJava 2 and 3 bindings are generated: https://github.com/vert-x3/vertx-rx/search?q=vertx-web-openapi

[2022-01-31 09:56] tsegismont commented on #596
Actually, this is a duplicate of https://github.com/vert-x3/vertx-rx/issues/256

Please upgrade to RxJava 3 (RxJava 1 nor 2 are not supported anymore)

[2022-01-31 12:32] InfoSec812 commented on #596
Ahhhh! Then I highly recommend a big noticeable message on the
documentation pages first them.

Deven

On Mon, Jan 31, 2022, 4:56 AM Thomas Segismont ***@***.***>
wrote:

[2022-01-31 13:35] tsegismont commented on #596
On this one? https://vertx.io/docs/vertx-rx/java/

[2022-01-31 13:44] InfoSec812 commented on #596
I see no notice there...
![image](https://user-images.githubusercontent.com/99691/151804525-6a3fac50-e03f-46dc-a133-6c47d835b990.png)

[2022-01-31 15:56] tsegismont commented on #596
I meant: what do you think about adding a notice on vertx-rxjava 1 doc ?

[2022-01-31 16:06] InfoSec812 commented on #596
Yes, I think that makes a great deal of sense if it truly is end-of-life.

[2022-02-01 14:59] InfoSec812 opened #597 "Improvement: Allow OpenAPI Event Bus address to be specified for an entire API tag"
#### Describe the feature

it occurs to me that the way in which RouterBuilder.mountServicesFromExtensions() functions may not be "optimal". Right now, each operation can have a different eventbus address, but in practice that makes no sense. Operations would be associated with a Tag/API grouping, and as such would likely use the same eventbus address for the whole Tag/API group.

For example, whe

[2022-02-01 15:26] pmlopes commented on #597
So, if understand it right, you would prefer to not see all the repetition we currently have:

[code]

The

[code]

And rely on a tag to pick that adress and compute the method from the `operationID`, right?

[2022-02-01 15:30] pmlopes commented on #597
This means we need to change the function:

https://github.com/vert-x3/vertx-web/blob/master/vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3Utils.java#L134-L170

To allow the new behavior

[2022-02-01 15:33] InfoSec812 commented on #597
Yes, I think that would be a great option. Then from a generated class with `@WebApiServiceGen`, I could use `ServiceBinder` with that and just iterate over the tags to bind those classes to the event bus. Otherwise, I have to try to iterate over every operation in the OpenAPI structure. I will look at putting together a PR and tests for the changes. Thanks for the pointer to the function!

[2022-02-03 14:43] vietj opened #598 "Tech preview removal"
Some projects are now mature enough to leave tech preview

- [x] MS SQL Client
- [ ] Opentracing
- [ ] WeB API Service
- [x] ISPN session store

[2022-03-01 09:56] #596 closed, assigned to nobody

[2022-03-03 09:59] tsegismont opened #599 "Migrate vertx-auth to FDN"

[2022-03-03 10:00] #599 closed, assigned to nobody

[2022-03-24 14:44] tsegismont opened #600 "Upgrade HdrHistogram to 2.1.12"
This is to avoid infinite loops like reported in https://github.com/vert-x3/vertx-circuit-breaker/issues/55#issuecomment-1077530622

- [x] Cassandra Client https://github.com/vert-x3/vertx-cassandra-client/commit/09cf83a143fcecb2fe76c4047af40b3e2cb8bc3f https://github.com/vert-x3/vertx-cassandra-client/commit/af4bb1f46ee53c126f23919cafe45cc5dd2fff08
- [x] Micrometer Metrics https://github.com/vert

[2022-03-24 15:04] #600 closed, assigned to tsegismont

[2022-03-25 10:40] #587 closed, assigned to nobody

[2022-04-06 18:24] #592 closed, assigned to nobody

[2022-04-19 07:01] thced commented on #487
@pmlopes This seems to be already solved by [d14f8328](https://github.com/eclipse-vertx/vert.x/commit/d14f832823c4e08dd692f9b70fc91a2ac03ebc13)
Close?

[2022-04-25 13:02] tsegismont commented on #487
@thced this is outdated. Thanks

[2022-04-25 13:02] #487 closed, assigned to nobody

[2022-05-11 07:01] #232 closed, assigned to nobody

[2022-05-11 07:12] #450 closed, assigned to nobody

[2022-05-17 20:57] vietj opened #601 "Netty 4.1.77.Final upgrade"

[2022-05-17 20:58] #601 closed, assigned to vietj

[2022-06-01 19:09] InfoSec812 opened #602 "PgConnectOptions.fromUri drops extra parameters passed in the URI"
### Version

4.2.7

### Context

This was noticed when using the Reactive PostgreSQL client with a Quarkus application

### Do you have a reproducer?

We have shared a reproducer with @vietj interally at Red Hat and I have created a unit test which demonstrates the error and will post the link below in the comments

### Steps to reproduce

1. Use PgConnectOptions.fromUri with a URI which contains

[2022-06-01 19:12] InfoSec812 commented on #602
Unit test which succinctly demonstrates the error: https://github.com/InfoSec812/vertx-sql-client/blob/vertx-issue-602-pgconnectoptions-fromuri-extra-params/vertx-pg-client/src/test/java/io/vertx/pgclient/PgConnectOptionsTest.java#L192

[2022-06-01 20:21] Sanne commented on #602
@vietj see also : https://github.com/quarkusio/quarkus/issues/25914#issuecomment-1144096024
HTH

[2022-06-02 09:05] vietj commented on #602
fixed by https://github.com/eclipse-vertx/vertx-sql-client/issues/1197

[2022-06-02 09:05] #602 closed, assigned to nobody

[2022-07-18 09:40] photomorre commented on #594
Considering the recommended security markers:
`log.info(SecurityMarkers.SECURITY_FAILURE, "Access control check just failed");
log.info(SecurityMarkers.SECURITY_AUDIT, "This must be saved in the audit log as well as the application log");
log.info(SecurityMarkers.SECRET, "This needs to be encrypted before it gets logged");
 `
 I feel that we are missing a specific tag for GDPR data - personal data

[2022-07-30 17:28] murphye opened #604 "Support GraalVM Reachability Metadata to Simplify Native Compilation"
#### Describe the feature

Please see https://github.com/oracle/graalvm-reachability-metadata

The Vert.x project could submit the metadata required for all Vert.x projects to build out of the box with GraalVM, no reflection config required per https://how-to.vertx.io/graal-native-image-howto/.

#### Use cases

GraalVM Native Image compilation.

#### Contribution

Vert.x team.

[2022-07-30 17:30] murphye commented on #604
java11 binary also has the same problem

[2022-09-12 13:54] jagadeeshkoka commented on #466
is this supported or not?

[2022-09-16 15:01] tsegismont commented on #466
No it's not

[2022-09-16 15:02] #466 closed, assigned to nobody

[2022-09-28 02:24] T-baby commented on #566
I think the http 3 implementation should be prioritized over[ grpc transportability](https://github.com/vert-x3/vertx-grpc/issues/83), that http3 has become the standard now.

[2022-10-24 09:56] vietj opened #605 "Update to protobuf-java 3.21.7"

[2022-10-24 15:55] #605 closed, assigned to nobody

[2022-10-24 15:56] vietj opened #606 "Update to protobuf-java 3.21.7"

[2022-10-24 16:06] #606 closed, assigned to nobody

[2022-11-02 15:03] bbemis017 commented on #605
Hi,

are there any updates on when this could be released? NVD is reporting the version of protobuf that vertx currently uses as a high vulnerability https://nvd.nist.gov/vuln/detail/CVE-2022-3171

[2022-11-03 07:56] vietj commented on #605
we will release 4.3.5 next week

[2022-11-08 23:07] yeikel commented on #605
@vietj Can we include this too? https://github.com/vert-x3/vertx-grpc/pull/134

[2022-11-23 21:52] pipoupiwam commented on #297
Thanks @Sparcks !

A list of status codes for websockets : https://github.com/Luka967/websocket-close-codes